[2016-12-29 16:32] caarlos0 opened #1 "improve main.go"

[2016-12-29 16:32] caarlos0 opened #2 "add caveats?"

[2016-12-29 16:33] caarlos0 opened #3 "remove pkg/errors usage (wrong import)"

[2016-12-29 16:33] caarlos0 opened #4 "check if file exists before trying to add it to the package?"

[2016-12-29 16:34] caarlos0 opened #5 "allow ldflags customization?"

[2016-12-29 20:01] #3 closed

[2016-12-30 12:02] caarlos0 opened #7 "windows support?"

[2016-12-30 12:02] caarlos0 commented on #1
part of it is done in #6

missing a `--help` or something maybe?

[2016-12-30 12:03] caarlos0 commented on #4
maybe a default files section and those files could be checked?

[2016-12-30 13:53] caarlos0 opened #8 "send metrics somewhere?"
just to know how many people are actually using it 👍

[2016-12-30 17:40] caarlos0 opened #10 "create packages with fpm"
See: https://www.reddit.com/r/golang/comments/5l3i9b/deliver_go_binaries_as_fast_and_easy_as_possible/dbsrx16/

[2016-12-30 18:33] parnmatt commented on #7
The author can correct me if im wrong, but Windows should just work.

Looking at the code it uses **`GOOS`** AND **`GOARCH`** internally.

By default it will only use `darwin` and `linux`, but you can use any **`GOOS`**, like `windows`.

Just specify the os in the build list of the yaml configuration file.

[See here for all valid inputs](https://golang.org/doc/install/source#environment)

[2016-12-30 18:38] caarlos0 commented on #7
Yep, but I'm not adding the binary with the `.exe` suffix... that's the only thing missing I believe...

Besides that, yeah, `GOOS=windows` should just work indeed =)

[2016-12-30 18:58] #7 closed

[2016-12-31 05:43] ryanbreed commented on #10
yeah, only thought on using fpm vs scaffolding some rpm spec templates is that fpm would add a whole other language runtime dependency to the mix. stealing it's brainjuice for packaging and just calling rpmtools directly would eliminate the need for keeping yet another ruby runtime around (which i don't particularly mind). another example would be [pleaserun](https://github.com/jordansissel/please

[2016-12-31 08:31] titpetric opened #13 "post-hook for modifying built binaries"
Some projects package resources into binaries with the form of a zip file. Most trivially, this is done like this:

[code]

I digress about specifics, but the point is that packages like [go.rice](https://github.com/GeertJohan/go.rice) and others add this binary/zip data into executables built by go. The packaging/embedding of them differs a bit, alas some post hook would be nice if one wants to f

[2016-12-31 10:53] dz0ny commented on #10
https://github.com/dz0ny/cdeb :) Needs a bit of work, currently only naive approach is supported (via data directory)

[2016-12-31 11:43] caarlos0 commented on #4
done in #9

[2016-12-31 11:43] #4 closed

[2016-12-31 12:13] caarlos0 commented on #13
Seems like a valid suggestion. Thanks!

[2016-12-31 12:16] caarlos0 opened #15 "upload to bintray"
maybe it is a cool feature to add...

[2016-12-31 12:21] caarlos0 opened #16 "document main.go version with ldflags usage"

[2016-12-31 15:46] caarlos0 opened #20 "add CHANGELOG* to patterns of files to add"

[2016-12-31 15:59] #1 closed

[2016-12-31 16:06] #20 closed

[2016-12-31 20:15] caarlos0 opened #24 "add support for custom env variables during build"
is this a needed feature?

[2016-12-31 21:37] bep commented on #13
I have not looked closely if this is already covered, but I guess this could also be used for a custom naming scheme. I'm looking at this to use with Hugo, and we have made up some names to make it easier for the users to understand (i386 => 32-bit etc.).

[2017-01-01 13:53] bpicode commented on #15
...it is IMO. Bintray has a very nice API and many cool features beyond plain binary storage [1, 2]. In order to unlock some these one may have to add opkg/deb/rpm packaging to GoReleaser.

[1] https://blog.bintray.com/2016/07/12/developing-for-openwrt-bintray-has-an-opkg-for-you/
[2] https://blog.bintray.com/2014/12/16/hosting-debian-packages-on-bintray-rocks/

[2017-01-01 18:40] caarlos0 commented on #24
Yeah, makes sense.

Thanks

[2017-01-01 18:40] #24 closed

[2017-01-02 08:58] JulienBreux opened #26 "Just to say: Big Thx!"
Just to say: Big Thx!

[2017-01-02 08:59] #26 closed

[2017-01-02 11:55] caarlos0 commented on #26
Glad you like it ;D

Thanks!

[2017-01-03 01:08] denji opened #36 "ARM flags GOARM"
* https://github.com/golang/go/wiki/GoArm

# Supported architectures

Go supports the following ARM architectural families.

| **Architecture** | **Status** | **GOARM value** | **GOARCH value** |
|:-----------------|:-----------|:----------------|:-----------------|
| ARMv4 and below  | sorry, not supported | n/a   | n/a              |
| ARMv5            | supported  | GOARM=5         | GOARCH=arm

[2017-01-03 02:41] schollz opened #37 "panic: Duplicated key '_' in struct config.ProjectConfig"
Great project!
I'm trying to use it on my program which has a `main.go`, github.com/schollz/bol. My goreleaser.yml is:

[code]

and I keep getting an error:

[code]

[2017-01-03 09:44] #37 closed

[2017-01-03 09:44] caarlos0 commented on #37
Sorry, my bad.

Fixed in 4369eb3

[2017-01-03 14:15] schollz opened #38 "GithubRelease failed: POST https://api.github.com/repos/.../releases: 401 Bad credentials []"
How do you let releaser use the Github credentials?

[2017-01-03 14:18] jspc commented on #38
There's an env var `GITHUB_TOKEN` which I'll make sure is better documented.

Perhaps a branch to default to the creds is appropriate too.

[2017-01-03 14:22] schollz commented on #38
Thanks, [found the Github docs](https://help.github.com/articles/creating-an-access-token-for-command-line-use/).

[2017-01-03 14:22] #38 closed

[2017-01-03 14:24] jspc commented on #38
Sorry, I just realised that's a nonsense statement, I'm working on aws creds elsewhere and completely mucked that up. I was thinking github had some default creds location.

That being said; perhaps some global config for types, keys is sensible

[2017-01-03 14:24] jspc commented on #38
@schollz- I'll make sure that's there too

[2017-01-03 15:25] caarlos0 opened #39 "Document GITHUB_TOKEN"

[2017-01-03 15:26] caarlos0 commented on #39
Refs 38

[2017-01-03 15:26] caarlos0 commented on #39
#38

[2017-01-03 19:29] zet4 opened #40 "Am I doing this wrong?"
So I decided to free up some time and built a small experiment repo where I tried to build a minimal docker image with travis but now I also wanted to add a release for tags, problem is it just won't build, I used the snippet provided in readme, here's a link to travis [build log](https://travis-ci.org/zet4/go-travis-docker-test/builds/188629592).

[2017-01-03 19:54] jspc commented on #40
@zet4 - thats interesting, I get the same thing locally:

[code]

I suspect the pushed version isn't quite right. I've restarted the release build. Give it a go in a couple of minutes and report back.

[2017-01-03 20:08] jspc commented on #40
@zet4, @caarlos0 found the issue: https://github.com/goreleaser/releaser/commit/40de5c5c644d69c3d33a6d0cf16e539a0f40423b#commitcomment-20351067

Give me five minutes to sort it out.

[2017-01-03 23:46] caarlos0 commented on #40
Just pushed tag v0.2.5, this should fix the issue...

[2017-01-03 23:53] #40 closed

[2017-01-03 23:54] caarlos0 opened #42 "replace oses and arches by goos and goarch?"
Seems more brainless... oses and arches may be confusing...

[2017-01-04 08:31] zet4 opened #44 "Custom naming archive"
I would like to be able to name the final archive myself, maybe use text/template ? For example I want to name the archive `counter-test-v0.2.2-Windows_x86_64.tar.gz`, currently I would have to generate the config using a template myself, it would be nice if it was to do that with config itself.

[2017-01-04 08:33] zet4 opened #45 "Consider using zip for windows builds"
Currently releaser builds archives for all 3 destinations as tar.gz, windows doesn't support opening these archives out-of-the-box and requires 7-zip to be installed, which to normal users might be troublesome, consider adding option to archive files for windows as zip.

[2017-01-04 08:36] jspc opened #46 "Global config file"
To help DRY up configuration, and to help with global options (perhaps a particular machine, developer expects to build mainly on ARM with BSD) I propose a global releaser.yml file.

It would look like:

[code]

Note the addition of a github token. This would allow the omission of the env var, and without the concern of committing it to source control given this file is outside of the repo.

It wo

[2017-01-04 08:46] jspc opened #47 "`releaser --init`"
Generate a skeleton `releaser.yml` file based on the `origin` remote of the repo.

This wont be a perfect tool; `origin` almost certainly wont point to the correct place when forking and working within `GOROOT`, but it ought to work well enough for new projects and to provide sensible values for CIs

[2017-01-04 11:51] caarlos0 commented on #47
Seems like a good feature to have.

[2017-01-04 11:51] caarlos0 commented on #45
makes sense. Thanks!

[2017-01-04 11:52] caarlos0 commented on #44
yeah, I think this was asked by other people too, so this is surely a must.

thanks!

[2017-01-04 11:53] caarlos0 commented on #46
I'm not sure I understand why this is needed... can you elaborate a little bit more?

[2017-01-04 12:00] jspc commented on #46
It all depends on use case, but for where people have control over a CI box (I'm thinking of on my jenkins slaves) or where they only expect to run locally there are a couple of reasons where this would be useful:

`GITHUB_TOKEN` will largely not change, so using an env var isn't as useful as it could be. It would help people who tend to build for specific environments/ usecases that aren't just O

[2017-01-04 12:17] caarlos0 commented on #46
@jspc hmm, I think I understood now.

Yeah, makes sense indeed.

[2017-01-04 12:18] jspc commented on #46
I'll open an RFC PR later, it's largely working but I'll wait for your templating so I don't get into merge hell

[2017-01-04 14:17] caarlos0 commented on #46
@jspc sounds good, I plan to finish my PR tonight or tomorrow morning (gmt-3)

[2017-01-04 17:37] sairam commented on #10
Adding link to [fpm](https://github.com/jordansissel/fpm) directly instead of redirecting through reddit link

[2017-01-04 17:38] jspc commented on #10
@sairam I think the reddit link is to give context for the issue

[2017-01-06 10:02] zet4 opened #49 "Multiple Binaries / Path to source"
So creating another issue based on my use-cases of goreleaser,
Ran into issue of getting goreleaser to work with [whats-this/owo.go](https://github.com/whats-this/owo.go) where I have `owo.go/cmd/gowo`, CLI application in a nested folder, goreleaser doesn't see it from root and fails to run because root directory which itself is the library doesn't have a main.go.

Currently to release gowo I had

[2017-01-06 12:22] caarlos0 commented on #49
Hi @zet4,

This is already supported.

See https://github.com/goreleaser/releaser#build-customization:

[code]

[2017-01-06 12:52] zet4 commented on #49
Not entirely though, if I had multiple tools inside a repo I would still have this issue.

[2017-01-06 13:10] caarlos0 commented on #49
Oh, indeed, this is not supported yet...

[2017-01-06 14:33] caarlos0 commented on #49
@zet4 I was thinking about it: is this a good practice? Do you know any more projects that do this?

[2017-01-06 14:35] caarlos0 opened #50 "Homebrew formulae improvements"
The homebrew tap is a little hacky to support linuxbrew (getting os from uname).

I was thinking:

- is linuxbrew support really required?
- is anyone still using i386 macs?

Maybe we could simplify it by just using the `Darwin_x86_64` build directly.

[2017-01-06 15:37] caarlos0 commented on #45
@zet4 check #52

[2017-01-06 15:54] zet4 commented on #45
Sure that sounds good 👍

[2017-01-06 17:17] caarlos0 commented on #50
also check https://github.com/Linuxbrew/brew/issues/220

[2017-01-07 05:07] jorinvo commented on #49
One way would be to allow passing a list to `main`:

[code]

I also think this is a use case for many projects.
For tools it might be less common but for products you often have more than one binary in a repository.

[2017-01-07 05:13] jorinvo commented on #50
Also would be nice to add the `sha` value to the formula.
Right now I get a warning when installing:
[code]

[2017-01-07 10:48] caarlos0 commented on #49
@jorinvo this would also break the `binary_name` option...

I'll have to think better about this...

[2017-01-07 19:28] jorinvo commented on #49
@caarlos0 good point!
Still would be a nice feature in the future  :)

[2017-01-07 19:51] embano1 opened #54 "Create initial release?"
Hi,

not sure if I got this wrong, but the first "curl -s https://raw.githubusercontent.com/goreleaser/get/master/latest | bash" only works for me when there´s already two tags with at least one commit diff present. The error is "exit status 128: fatal: Not a valid object name v1^" when there´s only one tag present.

What I want to achieve is

1) create new repo
2) create first release (e.g. only

[2017-01-07 20:01] caarlos0 commented on #54
@embano1 this is probably a bug, let me check

[2017-01-07 20:14] caarlos0 commented on #54
This indeed happens if you have only one commit and one tag.

I don't yet know how to solve this in a good way...

### how to reproduce

[code]

[2017-01-08 06:52] embano1 commented on #54
thank you for the quick feedback.
well, any idea how would i work around this issue then? not sure if it was also not working when there were two commits and just one tag, e.g. several commits going in the same (tag) v0.1 release.

[2017-01-08 21:07] caarlos0 commented on #54
@embano1 Yes, two commits work:

[code]

[2017-01-09 09:21] embano1 commented on #54
Ok, I can live with that as a workaround :)

[2017-01-09 14:40] caarlos0 commented on #54
Ok then. I'll leave it as-is.

thanks for the report anyway =)

[2017-01-09 14:40] #54 closed

[2017-01-09 14:52] #45 closed

[2017-01-11 16:11] #50 closed

[2017-01-11 17:03] #44 closed

[2017-01-11 17:31] caarlos0 commented on #13
@bep some custom naming is available since [v0.2.9](https://github.com/goreleaser/releaser/releases/tag/v0.2.9), but not yet what you're asking.

I'll think in a way of doing what you're asking, probably something like:

[code]

Not sure about the `translations` as name nor about the syntax itself... but seems like an ok way of doing this...

what do you think?

[2017-01-11 17:33] caarlos0 opened #56 "improve release changelog"
Ideas:

- get merged PR titles and link them instead of the commit
- lone commits (which were not merged within a PR) can be linked as it is today

[2017-01-11 17:36] caarlos0 opened #57 "rename goreleaser/homebrew-formulae to goreleaser/homebrew-tap"
It just reads better (IMHO):

[code]

Also change readme to comply with this rename.

[2017-01-11 18:01] bep commented on #13
"translations" is not a very good term -- maybe just "replacements", but I agree in general: As list of old/new replacement pairs.

[2017-01-11 21:01] caarlos0 opened #58 "add archive replacements support"
as described in https://github.com/goreleaser/releaser/issues/13#issuecomment-269882776 and https://github.com/goreleaser/releaser/issues/13#issuecomment-271934987

[2017-01-11 21:49] #58 closed

[2017-01-11 21:53] caarlos0 commented on #13
@bep version 0.3.0 supports the replacements as discussed. :)

[2017-01-11 22:10] #16 closed

[2017-01-11 22:11] caarlos0 commented on #5
`-X main.version=tagname` ldflag document in 87c5d8651bf6a981ef6b86af5a918f2dfad04a87.

[2017-01-11 22:29] caarlos0 commented on #5
@JoshuaKolden, @schollz and @jorinvo, can you check if #60 works well enough for your use cases?

[2017-01-11 22:51] #57 closed

[2017-01-12 04:40] schollz commented on #5
Thanks, it looks great

[2017-01-12 17:06] titpetric commented on #13
Guys, you slightly highjacked my original feature request. how about the OP? :)

[2017-01-12 21:21] caarlos0 commented on #13
@titpetric the post and pre-build hook are still a valid feature I guess..

[2017-01-12 21:24] #5 closed

[2017-01-12 21:25] caarlos0 commented on #5
@schollz thanks!

released in v0.3.2

[2017-01-12 21:52] #39 closed

[2017-01-13 11:13] caarlos0 opened #63 "create a website"
I already started something at https://github.com/goreleaser/goreleaser.github.io, but it's ugly.

If someone wants to do this, let me know =)

[2017-01-13 23:29] caarlos0 opened #64 "deal with existing releases"
If the user creates the release via the github web interface, goreleaser will fail trying to create it.

Maybe it's worth fixing...

[2017-01-14 12:23] jorinvo opened #66 "Brew releasing requires formula file to exist"
Brew releasing only works when the formula file already exist in the specified Git repository.
I added an empty file to make it work.
I think the problem is the use of `UpdateFile` here: https://github.com/goreleaser/releaser/blob/master/pipeline/brew/brew.go#L74
Maybe we can consider using `CreateFile` when the updating fails?

[2017-01-14 12:35] jorinvo opened #67 "Support for Homebrew formula in subdirectories"
As mentioned [here](https://github.com/Homebrew/brew/blob/master/docs/How-to-Create-and-Maintain-a-Tap.md#creating-a-tap) it's possible (and suggested) to keep formulas of a tap in a subdirectory.
Either there could be a new option to specify the `dir` to write to, or even simpler would be to add it to the current `repo` option:

To save it on the top level (as currently supported) nothing would c

[2017-01-14 12:42] caarlos0 commented on #66
This was fixed on https://github.com/goreleaser/releaser/commit/2aec3dff4201980c1412643e8ce037b85aff9049, but I think the code can be improved, I'll work on it.

[2017-01-14 13:00] jorinvo opened #68 "Mention that releasing uses Git tags"
... and that GoReleaser expects a tag to exist.

[2017-01-14 13:07] jorinvo commented on #66
Thank you! I discovered this before this version.
Can I close this issue then?

[2017-01-14 13:10] caarlos0 commented on #66
I just opened a PR improving the code, so it should be more robust now.

When I merge it this issue will close :)

You can take a look if you want: #70

[2017-01-14 13:11] #68 closed

[2017-01-14 13:12] #66 closed

[2017-01-14 13:13] caarlos0 commented on #67
Good idea, but I think its better declare it as:

[code]

Since `repo` is just the repository, not the path...

[2017-01-14 13:14] jorinvo commented on #67
@caarlos0 yes, you are right. Better to be explizit.

[2017-01-14 13:16] caarlos0 commented on #67
Nice, will work on it right now!

[2017-01-14 13:19] caarlos0 commented on #67
@jorinvo #71 🍺

[2017-01-14 13:23] jorinvo opened #72 "Clarify usage of Git tags"
The main use case for GoReleaser seems to be running it via CI for Git tags only.
However, nothing stops you from running it on any other branch.

By running it on another branch GoReleaser still uses the latest Git tag to name the release,
but for building it actually uses the source of the current active branch (if I don't miss anything here?).
Also, it's not possible to create a release that do

[2017-01-14 13:25] #67 closed

[2017-01-14 13:26] jorinvo commented on #67
@caarlos0 thank you for the fast solution. It's simple and straight forward to use!

[2017-01-14 13:38] #64 closed

[2017-01-14 13:51] jorinvo opened #74 "Make more configuration optional"
I also like the idea of a quick way to create a default config file (https://github.com/goreleaser/releaser/issues/47), but many projects probably have the same configuration and wouldn't even need any configuration file if the defaults are set right.

- I think in most cases the `repo` option could be parse from the `git remote`.

- Also, many Go binaries follow the convention of naming the binar

[2017-01-14 13:56] caarlos0 commented on #74
This is done in #61, I guess it is easy enough to just use that code...

It would probably work... do you want to try to do it?

[2017-01-14 13:58] caarlos0 opened #75 "We are using config as context"
The `ProjectConfig` is actually a mix of the config a "context", maybe we should refactor it...

[2017-01-14 14:11] jorinvo commented on #74
@caarlos0 sure!

[2017-01-14 14:43] caarlos0 commented on #74
@jorinvo I guess that if we make this two args optional, the `--init` would be kind of useless..

IMO you can [fetch that PR](https://help.github.com/articles/checking-out-pull-requests-locally/), remove the init command, add the other parts and open another PR 👍

[2017-01-14 14:45] jorinvo commented on #74
Sounds good! I'll have a look later :)

[2017-01-14 17:14] jorinvo opened #77 "Add lowercase versions to default files"
https://github.com/goreleaser/releaser/blob/master/config/config.go#L14

I know it's more common to have *readme* and *license* files with uppercase, but there are also projects out there using the lowercase versions.
I guess adding them wouldn't be a big deal and might come in handy for a few people.
What do you think @caarlos0?

[2017-01-14 17:15] caarlos0 commented on #77
I think it's valid!

Check #76 , I already improved it a little. Will do it there too...

[2017-01-14 17:17] jorinvo commented on #77
Thanks!

[2017-01-14 17:36] #75 closed

[2017-01-14 17:36] #77 closed

[2017-01-14 17:43] medhoover commented on #63
Hey Carlos,
Would love to help.

[2017-01-14 17:46] jorinvo opened #79 "Consistent project name"
Is it *releaser*, *release*, *Goreleaser*, *goreleaser*, *GoReleaser*,... ?

Also, the released binary is called `release` and the binary I get via `go get` is called `releaser`.
(Personally, I would prefer a `goreleaser` binary)

What do you think?

[2017-01-14 17:47] caarlos0 commented on #63
Hi @medhoover !

Glad to hear that!

Feel free to open a PR to  https://github.com/goreleaser/goreleaser.github.io and let me know if you need any help :)

[2017-01-14 17:51] caarlos0 commented on #79
I agree!

Let's rename the binary to goreleaser and in other places let's let it be GoReleaser.

What do you think?

[2017-01-14 18:02] jorinvo commented on #79
As long as it is consistent I think its a good choice :)

To get binary to be `goreleaser` in the `go get` way you would need to rename the whole repository though.

[2017-01-14 18:04] caarlos0 commented on #79
indeed, I need to go AFK now, I'll do it later =)

[2017-01-14 18:07] jorinvo commented on #79
No hurry :)

[2017-01-14 18:45] medhoover commented on #63
Thank you @caarlos0
Do you prefer static or Jekyll?

[2017-01-14 20:36] #74 closed

[2017-01-14 20:36] caarlos0 commented on #47
Since #74 I guess this is not needed anymore.

[2017-01-14 20:36] #47 closed

[2017-01-14 20:37] caarlos0 commented on #63
@medhoover feel free to do what you think it's best =D

[2017-01-14 20:57] caarlos0 commented on #79
Done, let's wait for what will break 😆

[2017-01-14 20:57] #79 closed

[2017-01-14 20:58] caarlos0 commented on #72
Yeah, right now it only releases tags...

I don't know what is best here... maybe this is a v2 thing...

[2017-01-14 21:01] caarlos0 opened #80 "Add a complete and commented goreleaser.yml.example"
I was thinking, maybe instead of showing everything that can be done in the README, we can add a `goreleaser.yml.example` with every section and comment everything there...

Maybe wrap it a unit test to prevent it from being outdated...

[2017-01-15 11:58] medhoover commented on #63
https://github.com/goreleaser/goreleaser.github.io/pull/1
:+1:

[2017-01-15 13:00] medhoover commented on #42
Why not using `os, arch` ?
Even better to support a combined syntax `-osarch linux/amd64`.
Taken from gox syntax https://github.com/mitchellh/gox#usage

[2017-01-15 13:10] caarlos0 commented on #42
@medhoover because `goos` and `goarch` are clearer..

`os` and `arch` doesn't explicitly tells in what form they should be.

`goos` and `goarch` do...

I like the `gox` syntax (`goos/goarch`). Will think more about it, maybe for version 2...

[2017-01-15 13:11] caarlos0 commented on #63
Looks great, thanks!

[2017-01-15 13:17] medhoover commented on #63
Welcome :)
btw, since you're currently working on enhancing the docs, why not creating a single docs folder the will be used for both of the website and the repo.
This way, we wont need to update the website whenever the documentation is changed.
More on this [here](https://github.com/blog/2233-publish-your-project-documentation-with-github-pages)

[2017-01-15 16:47] caarlos0 commented on #63
Maybe #81 will make this easier?

[2017-01-15 17:17] #42 closed

[2017-01-15 17:17] #80 closed

[2017-01-15 21:12] medhoover commented on #63
Definitly, Thanks!
I'll start working on it.

[2017-01-16 09:08] codeskyblue opened #83 "Build failed in travis when use goreleaser"
This is log <https://travis-ci.org/openatx/wdaproxy/builds/192289771>
[code]

[2017-01-16 09:32] #83 closed

[2017-01-16 10:43] caarlos0 commented on #83
refs #81

[2017-01-16 11:31] medhoover commented on #63
@caarlos0
What do you guys think about this docs structure:
1. Introduction
2. Quick start
3. Environment setup
4. Release customization with goreleaser.yml
5. Integration with CI
6. Publishing _"Homebrew and future others"_

[2017-01-16 11:33] caarlos0 commented on #63
@medhoover seems good to me...

Maybe publishing to homebrew makes more sense inside release customization item... what do you think?

[2017-01-16 11:48] medhoover commented on #63
Yes indeed, both shares the same topic.
Update:
1. Introduction
2. Quick start
3. Environment setup
4. Release customization
5. Integration with CI

Maybe we should tag others to check what do they think.

[2017-01-16 11:48] caarlos0 commented on #63
Sure!

Looks good!

cc/ @jorinvo @jspc

[2017-01-17 01:43] codeskyblue opened #86 "any idea about add dependencies of the brew Formula"
What about

[code]

[2017-01-17 10:12] caarlos0 commented on #86
seems like a good idea.

[2017-01-17 10:37] codeskyblue commented on #86
very nice job.

[2017-01-17 16:35] codeskyblue commented on #86
[code]

fail to use brew depencencies. repo <https://github.com/openatx/wdaproxy>

[2017-01-17 17:37] caarlos0 commented on #86
I forgot to add quotes..., 1min

[2017-01-17 17:39] #86 closed

[2017-01-17 17:45] caarlos0 commented on #86
v0.5.6 should be good.

[2017-01-17 17:45] caarlos0 commented on #86
Thanks for reporting the issue!

[2017-01-17 17:49] caarlos0 opened #90 "Add `conflicts_with` brew section"
That may be useful for some people.

[2017-01-18 09:15] jorinvo opened #92 "Update docs on how to avoid deploying multiple times"
When running Travis CI I like to test multiple OSes and maybe even different Go version.
However, only one of them should deploy the binaries.
My current solution is a test like this:
https://github.com/qvl/sleepto/blob/master/.travis.yml#L9

I don't know if we should mention this in the docs.

Also, what I don't like about this solution is, that it deploys as soon as this particular CI run was su

[2017-01-18 09:30] jorinvo opened #93 "Change `binary_name` to `binary`"
Wouldn't this still be descriptive enough, especially since it is in the `build` sub-section of the configuration file now?

[2017-01-18 09:40] jspc commented on #93
To avoid breaking builds we ought to build some alias/synonym mechanism into the config package where `binary_name` is a deprecated alias of `binary` to give people time to change it.

Which I suspect would have been useful when the yml format changed last (I've been away so I've not been up to date with PRs or I'd have shouted up).

[2017-01-18 10:22] jorinvo commented on #93
@jspc agreed. Even though this makes beta version iteration way slower, looking at how many people already use GoReleaser we should be careful to not break other builds...

On the other hand we should find the best solutions possible before committing to an API.

One good help would be to change the recommended usage of GoReleaser to link to a specific release version instead of having everyone al

[2017-01-18 10:24] jspc commented on #93
@jorinvo give me an hour to put together a PoC, but I think aliasing can be done very easily without affecting iteration speed.

Versioning would be very, very smart- lets have a look at how https://github.com/goreleaser/get can be improved for this.

[2017-01-18 10:30] jorinvo commented on #93
@jspc for the current issue aliasing shouldn't be too difficult.
However, the big restructuring in #71 would have been not that simple I guess.

I think it's a good idea to add an alias for `binary_name`. We should just maybe make a comment and deprecate some aliases in the future.

[2017-01-18 10:32] jspc commented on #93
Aliasing, deprecation and the prior PR are all pretty trivial. Let me finish this PR and I'll show you.

[2017-01-18 11:03] caarlos0 commented on #92
I think there is no much alternative besides doing an `if` like you did...

You can make it more readable, though:

[code]

It can be indeed a good idea to add it to the README...

[2017-01-18 11:07] caarlos0 opened #94 "get/latest could be better"
We can put `https://github.com/goreleaser/get/blob/master/latest` as a asset on our jekyll site, so the url become cleaner, e.g.: `http://goreleaser.github.io/get` (instead of `https://raw.githubusercontent.com/goreleaser/get/master/latest`)

[2017-01-18 11:12] jspc commented on #92
I've got a machine somewhere doing builds and releases for a project. The machine listens to CI builds (via callback mechanism) and, when all expected builds have completed, releases.

You could do that.

Outside of that there's nothing in the travis docs that suggests a better way.

[2017-01-18 13:12] jorinvo commented on #94
Also see https://github.com/goreleaser/goreleaser/issues/93#issuecomment-273438717, we should not only offer the `latest` version. Should give users the choice to keep using one stable version.

[2017-01-18 13:18] caarlos0 commented on #94
@jorinvo that makes sense, maybe we should update docs then.

Using `go get` indeed makes more sense...

[2017-01-18 13:21] caarlos0 commented on #94
About getting an specific version, I guess `gopkg.in` kind of solves that, no?

[2017-01-18 13:30] jorinvo commented on #94
@caarlos0 Nice! I didn't know about `gopkg.in` before :)
Should we reference it as the goto way of using GoReleaser?
Or should we stick with the `latest` option as default? As soon as we are stable on 1.0 I think we should commit to a stable API in any case...

[2017-01-18 13:32] caarlos0 commented on #94
@jorinvo I think that for now we can use `go get ` or leave as is.

As soon as v1 is released, we can change docs to use `http://gopkg.in/goreleaser/goreleaser.v1`, that way people using `go get` will still get the latest version, but can change it to v1 if needed.

[2017-01-18 13:37] jorinvo commented on #2
Was this about Homebrew or is this another issue?

[2017-01-18 13:39] caarlos0 commented on #2
I think this was done already, since we now have the `caveats` option under `brew`.

Closing

[2017-01-18 13:39] #2 closed

[2017-01-18 13:40] jorinvo commented on #72
@caarlos0 I think releasing tags is definitely the most useful thing and I don't think we even need to support other use cases.

However, currently you can only correctly release a tag when you switch to the tagged branch before running GoReleaser.
If I'm on my `master` branch, for example, and I have one commit more there than my latest tag, The binary will be built including this one new commit.

[2017-01-18 13:43] caarlos0 commented on #72
Hmmm, that makes a lot of sense... If not that, at least exiting 1 to let the user know...

`git checkout` the tag may not be so simple, since there can be unchanged files, etc...

[2017-01-18 13:44] caarlos0 commented on #72
I'll move it to v1

[2017-01-18 13:48] caarlos0 commented on #8
I think this is also important, so we can better measure the impact of changing things.

Do any of you guys know something free were we can send stuff like:

- project name
- goreleaser version
- goreleaser.yml info (goos, goarch, ... ?)

I was thinking about setup a free redis somewhere... but feels like a overkill...

[2017-01-18 13:50] jorinvo commented on #8
Personally, I would prefer to keep the binary free of additional HTTP calls.
Also, we should never fetch private information like the project name or even the goreleaser.yml configuration.

The star count and https://github.com/goreleaser/goreleaser/graphs/traffic already give some insights in the popularity of the projects 😉

[2017-01-18 13:54] caarlos0 commented on #8
@jorinvo well, makes sense... I hadn't thought about this as a privacy invasion, but, yeah, makes sense.

Let's just close this.

[2017-01-18 13:54] #8 closed

[2017-01-18 13:56] jorinvo opened #95 "#goreleaser Slack channel"
I create a Channel on https://gophers.slack.com/.
If you don't have an account you can join at https://invite.slack.golangbridge.org/.

This might be helpful for discussions and questions not fit for issues.

Maybe we can link to it in the readme?

[2017-01-18 14:05] caarlos0 commented on #95
Yes, nice, please do 🗡

[2017-01-18 14:30] jorinvo commented on #49
I think we should include this in v1.0.

I would suggest to add a `builds` key.
If you like to have multiple binaries you could. specify `builds` instead of `build`.
`builds` would be a list of objects containing the same options as `build`.
This way you can change all options for each binary independently.
Probably also good to only allow one at a time - `build` OR `builds`.

[code]

OR

[code]

[2017-01-18 14:31] jorinvo commented on #95
I'll add it after #91 :)

[2017-01-18 14:36] jorinvo commented on #13
What do you think about adding a `before` and `after` option to the `build` section?
Each of them would be a string which is evaluated as shell input.
This way you could do some small one-line logic or you could call another executable for more complicated tasks.

[2017-01-18 15:07] jorinvo commented on #72
I will look into this.

[2017-01-18 15:22] caarlos0 commented on #13
Yes, I was thinking about doing just that 😀

[2017-01-18 17:46] medhoover commented on #94
About the version link, a solution for the version issue is currently being prepared.
[The Saga of Go Dependency Management](https://blog.gopheracademy.com/advent-2016/saga-go-dependency-management/)

[2017-01-18 17:47] caarlos0 commented on #94
@medhoover yeah, but that could take a while...

[2017-01-18 17:49] medhoover commented on #92
How about a separate release branch?

[2017-01-18 18:06] caarlos0 commented on #92
what do you mean?

[2017-01-18 18:22] medhoover commented on #92
Set the Travis config to release the build on a specific branch other than master. This branch will be used only for releases.
[code]
Not sure how this can be wired to be executed at the end of other tests, but it can limit the release to a single build.

[2017-01-18 18:33] caarlos0 commented on #92
But the problem here seems to be the OS matrix, I don't see how having a branch for releases would help in that case...

[2017-01-18 18:38] caarlos0 commented on #49
@jorinvo yeah, that makes sense... in that case we would also have two brew formulas, right?

[2017-01-18 18:39] caarlos0 commented on #49
Just realized that this is now easy to do since we now have `binary_name` inside the `build` section 👍

[2017-01-18 18:50] medhoover commented on #92
Sorry, I thought this was about limiting deployment to a single build rather than doing the same release it to all OS :)

[2017-01-18 19:53] jorinvo commented on #49
@caarlos0 but you're right that then you still couldn't define brew `caveats` and dependencies separately..

[2017-01-19 00:15] caarlos0 commented on #49
yeah, there is that..

maybe we can do something different, like:

[code]

what do you think?

[2017-01-19 00:16] caarlos0 commented on #49
or maybe it's just easier to define multiple gorelaser.yml files and call goreleaser two times:

[code]

[2017-01-19 00:26] caarlos0 commented on #49
Works like a charm: https://github.com/caarlos0/test/releases/tag/v1.0.1

[2017-01-19 00:47] caarlos0 commented on #49
hey @zet4 , does having multiple `goreleaser.yml` files solves the issue for you?

If yes, IMO, we can close this :)

[2017-01-19 00:59] caarlos0 commented on #93
@jspc since you're working on this, I'll assign the issue to you :)

[2017-01-19 07:46] zet4 commented on #49
@caarlos0 yeah that could work, I guess I will close this then

[2017-01-19 07:46] #49 closed

[2017-01-19 07:49] jorinvo commented on #49
@caarlos0, I didn't consider this an option because I thought people still want to bundle the different binaries in the same archive file.
We can still think about another solution as soon as someone actually needs it :)

[2017-01-19 09:41] jspc commented on #93
:+1:

[2017-01-19 10:40] caarlos0 commented on #49
@jorinvo Yeah, if the objective is to build multiple binaries and release them both in the same package and brew formula, then the previous noted solution would work...

[2017-01-19 10:40] caarlos0 commented on #49
I'll implement that so we can test how it works :)

[2017-01-20 21:02] #72 closed

[2017-01-21 22:04] caarlos0 commented on #13
Hey @titpetric , can you check if #101 would solve the problem for you?

Suggestions are welcome btw :D

[2017-01-22 12:33] medhoover opened #102 "Updating documentation after using "go get" in docs"
The introduction states that no packages is required for using GoRelesaser,
[code]
Maybe this should be updated to convey with the use of `go get`:
[code]

[2017-01-22 12:50] caarlos0 commented on #13
mistaken ref closed the issue, reopened

[2017-01-22 14:56] #102 closed

[2017-01-23 11:33] #13 closed

[2017-01-23 11:48] caarlos0 commented on #94
I guess we can close this one...

[2017-01-23 11:48] #94 closed

[2017-01-23 13:30] titpetric commented on #13
Thanks, I think it will do nicely :)

[2017-01-24 11:09] joeblew99 opened #105 "building Desktop installers"
I was wondering if you would take a PR for building Desktop installers ?

The main golang build pipeline has code in it to make proper installers for Windows and OSX and Linux- Not all the code they use is needed, but some of it is.
Travis is the perfect place to do these types of builds too, because to build these final installers requires being on the actual OS.

[2017-01-24 11:19] caarlos0 commented on #105
Travis doesn't run on windows...

Installers might be useful for some kind of apps... if you can do it in a new pipe without too many hacks, sure, I might accept it 🍻

[2017-01-24 18:06] #95 closed

[2017-01-24 19:31] #92 closed

[2017-01-25 03:54] caarlos0 opened #108 "source pipe: print `git status` and current HEAD when it fails"
I find myself adding a `git status` before calling goreleaser just to see what's wrong...

[2017-01-30 00:37] caarlos0 commented on #10
For everyone interested, please check #109 =D

[2017-01-30 08:40] jorinvo opened #110 "Release to GitLab"
As @bernardoVale mentioned  #on Slack it would be nice to support releasing to GitLab.
There is a Go package for the API https://github.com/xanzy/go-gitlab.
Since we also plan on adding Bintray support in #15 we might be able to combine some of the releasing logic.

[2017-01-30 16:36] #10 closed

[2017-01-31 11:58] #108 closed

[2017-02-01 18:05] caarlos0 commented on #90
also for fpm now =D

[2017-02-02 10:44] #90 closed

[2017-02-07 00:25] caarlos0 opened #116 "V1 Release Planning"
We still have [some issues open for v1](https://github.com/goreleaser/goreleaser/milestone/1):

- #110 (Release to Gitlab) and #15 (upload to bintray): I don't know if we should do this right now, but I'm worried about the API changes it might bring to us. Maybe we should define how our API should look like in those cases and let it be that way in this release, so the next it would be just a matte

[2017-02-08 15:34] jorinvo commented on #110
Currently we parse the default repository to push to from the *git remote*.
We explicitly check for "github" (https://github.com/goreleaser/goreleaser/blob/master/pipeline/defaults/remote.go#L21).
But we could also make this more general and map from the detected remote to a service.

This would allow using GitLab without any configuration.

But for Bintray we would need additional configuration.

[2017-02-08 16:14] jorinvo opened #117 "Automatic tagging"
At least two people I talked to mentioned that they wish `goreleaser` would automatically create a tag for them.

I guess there are quiet a few people out there not running GoReleaser on CI.
When running it manually, it would be definitely nice if running `goreleaser` would take a version number or something and create the tag for you.
I wish we can support this use case too.

Maybe we can add a c

[2017-02-09 11:22] caarlos0 commented on #117
In those cases, isn't it easy for people who use it this way to create a function or something like this:

[code]

About the validations:

- Ensures you are publishing from the master branch

Already implemented

- Ensures the working directory is clean and that there are no unpulled changes

Already implemented

- Reinstalls dependencies to ensure your project works with the latest dependency tre

[2017-02-09 13:37] jorinvo commented on #117
I knew about the "clean working directory" check but haven't seen that we also ensure being on master. Nice :)

Reinstalling dependencies and running tests are IMHO things we can not do reliably since there is no standard way to do those in Go.
I guess, since CI already covers those it's not a big issue though.

You are right that tag creation is something you can do in just a few lines (2 lines)

[2017-02-10 18:03] sagikazarmark commented on #56
I would like to add "turning off" changelog as an improvement here. For regular, small releases it's probably okay to have some log, but for larger term releases it might not fit that well. Also, some workflows might require the users themselves to update the change log file together with the change.

Maybe add a custom template option which can contain a custom text or a link to a changelog file?

[2017-02-10 18:05] sagikazarmark commented on #63
I would love to see a complete config example for reference somewhere. Not sure though if the website/docs is the perfect place for that as it can easily get outdated.

[2017-02-10 18:17] sagikazarmark commented on #117
I am not really sure either this adds that much benefits. Clearly adds some extra responsibility over "building and deploying" (this is what goreleaser actually does), which IMO makes the scope less obvious.

As @caarlos0 point, this can simply be solved by a user script. However, I don't think it's a good practice to give the control from the user to goreleaser: manually tagging a release is a cl

[2017-02-10 18:24] caarlos0 commented on #117
Yeah, I'll think about this for a while.

[2017-02-10 18:29] caarlos0 commented on #110
@jspc yeah, I have a WIP stash on my machine that does basically that...

The only problem I see (and was also present on my branch) is that this allows both github and gitlab repo to be setup and also doesn't support custom hosts (github enterprise, gitlab hosted, etc).

Maybe we should do something like this:

[code]

[2017-02-10 18:39] caarlos0 commented on #63
I'll probably do that in some kind of unit test 👍

[2017-02-10 18:43] jorinvo commented on #117
Sure, I also haven't thought this through all the way yet.
I just wanted to share the feedback I got from others and hope we find a good solution for it.

Maybe the right solution could also be to be more clear about this in the documentation and show new users a simple way to accomplish this with a line of shell script.

[2017-02-10 18:45] jorinvo commented on #110
@caarlos0 does this configuration format allow using multiple providers at the same time?
And what do you think about seeing Homebrew releasing on the same level as GitHub, GitLab, ...?

[2017-02-10 18:48] jorinvo commented on #56
I think a template might be too much.
If someone really needs to customise the release note they can do so manually on GitHub (or using another script).

[2017-02-12 11:00] zet4 commented on #110
If GitLab support was to be added, would Gogs/Gitea be supported as well?

[2017-02-12 12:54] jorinvo commented on #110
@zet4 would be great to support them as well!
Haven't looked into their API but as soon as we set up the architecture correctly it should be simple to add new providers.

[2017-02-15 21:14] caarlos0 commented on #117
I gave this a lot of thought, and I still think that it's better to not add this feature.

Of course, it would be easy and maybe useful for some people, but then it would also kind of make sense to add auto-tagging, dependency check, build, testing and whole ton of other stuff that are not part of the main use case of GoReleaser as I idealized it:

- I tag (either via command line or github itself

[2017-02-15 21:14] #117 closed

[2017-02-15 21:16] caarlos0 commented on #110
@jorinvo no... that's kind of the idea actually... I'm not sure if it is a use case to have the same repo in multiple providers and to release to all of them... what do you think?

[2017-02-15 21:16] caarlos0 commented on #110
@zet4 yeah, if there is an api, why not, right? 😄

[2017-02-16 11:58] jorinvo commented on #117
@caarlos0, sure :) As I mentioned I only wanted to discuss this with you since the issue came up a couple of times.
I guess the docs are already clear enough and include an example on how to create a tag. New users should be able to figure this out.

[2017-02-16 12:02] jorinvo commented on #110
@caarlos0 I think it's difficult do see which ways people intend to use the projects.
I would also want to use one provider at a time. Wouldn't mind keeping it simple for now.

One more thing: Is the `repo` sub-section in `release` necessary? Couldn't be the options directly part of `release`?

[2017-02-16 12:55] caarlos0 commented on #117
@jorinvo sure, in case docs aren't enough, we can fix that later =D

[2017-02-16 12:57] caarlos0 commented on #110
@jorinvo it's not necessary, but looks better IMHO...

For example, have a `release.host` property may not be clear enough... I think `release.repo.host` looks better in that sense...

Also, we may just use the same syntax in `brew` section, for example... and maybe other in the future...

[2017-02-16 14:20] jorinvo commented on #110
@caarlos0 sure, can leave it like this.

Have you started implementing GitLab support already or are you changing the general setup first?

If I can help implementing GitLab support or maybe Gogs/Gitea support, let me know!

[2017-02-16 16:12] caarlos0 commented on #110
@jorinvo I just have a wip in my stash, will see what I can commit already so we can split the work like you suggested (one work on gitlab support and the other on gogs, gittea, etc)

[2017-02-16 16:17] caarlos0 commented on #110
@jorinvo actually, my stash is just wrong right now.

I'll add just the config part today, and then we can split the work =)

[2017-02-22 11:38] codeskyblue opened #120 "Support add build flag -tags"
For example

[code]

[2017-02-22 11:40] codeskyblue opened #121 "How to do if I got multi file main.go and utils.go"
[code]

the goreleaser will only build `main.go` which will cause build error.

How can I do with goreleaser to do build `go build .`

How to write the right `goreleaser.yml` file?

[2017-02-22 12:16] caarlos0 commented on #121
Check the [build customization](https://github.com/goreleaser/goreleaser#build-customization) section in readme...

[2017-02-22 12:27] caarlos0 commented on #121
I'm not sure I understand what the question is... what is the problem regarding have a main and a utils go files...

[2017-02-23 12:29] caarlos0 commented on #121
ping @codeskyblue

[2017-02-23 12:32] #120 closed

[2017-02-23 12:39] caarlos0 commented on #120
Release 0.7.5 will provide that feature!

[2017-02-23 15:01] codeskyblue commented on #121
already updated the description

[2017-02-23 17:05] caarlos0 commented on #121
[code]

I guess this should work...

Can you try it?

[2017-02-23 18:33] caarlos0 opened #126 "Problem in inducing the use by go get"
[code]

Ref https://travis-ci.org/getantibody/antibody/builds/204689201

Apparently, github lib was updated. GoReleaser deps are locked by glide, but, when the user `go get` it, the last version of each dep is used.

We may need to explicitly induce the user back to download the last binary instead (or another solution maybe).

[2017-02-24 00:13] codeskyblue commented on #121
I will try today, should this be default setting

[2017-02-24 02:13] codeskyblue commented on #121
it works

[2017-02-24 02:13] #121 closed

[2017-02-24 11:40] jorinvo commented on #126
Yes, that's a general limitation of `go get`.

Maybe have to bring back the [goreleaser/get(https://github.com/goreleaser/get) script.
But if we do so I think we should support specifying a version.

For example as env var:
[code]

[2017-02-24 16:38] caarlos0 commented on #121
The default is `main.go`, as stated in the readme. Maybe we can change that though...

[2017-02-24 16:38] caarlos0 opened #128 "Build: change default main to `.` instead of `main.go`?"
Check #121

[2017-02-24 16:40] caarlos0 commented on #126
I agree.

The version by env var will be fairly easy to implement :)

[2017-02-25 01:26] codeskyblue commented on #128
add some doc to readme maybe enough, no need to change code

[2017-02-26 17:40] #126 closed

[2017-02-27 08:53] codeskyblue commented on #128
Well, I think change code is better now.

[2017-02-27 11:16] codeskyblue opened #131 "Publish to https://chocolatey.org/"
for windows quick install

[2017-03-01 13:41] titpetric opened #132 "Skip upload to GitHub"
I would like to build the binaries only, because either:

1. I'm not publishing them to GitHub but some other service (or may not even be using Git),
2. I'm separating build/release stages to run some tests/whatever before doing a release

Currently there are two requirements from goreleaser, in regards to this:

- we MUST set `release/repo` in yaml (or have a git repository available where we are

[2017-03-01 14:43] jorinvo commented on #132
With the new syntax (https://github.com/goreleaser/goreleaser/issues/110#issuecomment-279025617) we should allow something like:

[code]

I also think it would be helpful to add `build` and `deploy` sub commands as you suggested.
Maybe we can move this part to a separate issue?

[2017-03-01 14:48] titpetric opened #135 "Add helper commands"
Hello,

it would be helpful to add helper commands, that execute only part of the build/release processes. For example:

[code]

I'm thinking about it mainly from the perspective that sometimes I want only to make a build (but not a deploy), and that there should be some familiarity to git for example (git status, git push,...).

[2017-03-01 14:48] titpetric commented on #132
@jorinvo done, also recreated the PR just to verify Travis is building it. 👍

[2017-03-01 14:53] jorinvo commented on #135
Since a release can be different things than a `git push` in the future, I think it would be best to stick th the same naming as in the configuration file:
`goreleaser build` and `goreleaser release`.

What do you thinkg @caarlos0 ?

[2017-03-01 16:18] titpetric commented on #132
@jorinvo any chance of merging this in? I'm wrinting a [12FA book](https://leanpub.com/12fa-docker-golang) and would love to include goreleaser in it.

[2017-03-01 20:09] jorinvo commented on #132
@titpetric have to discuss this in #134 :)

[2017-03-02 17:18] #128 closed

[2017-03-04 21:50] #63 closed

[2017-03-04 22:07] caarlos0 commented on #135
check #136

[2017-03-04 22:08] caarlos0 commented on #132
check #136

[2017-03-06 02:44] #135 closed

[2017-03-06 02:44] #132 closed

[2017-03-17 23:46] sagikazarmark opened #141 "Dynamic data in ldflags"
A quite common usage of ldflags is to add the actual commit hash and the build date to the binary, so it can be used in showing version information for example.

Is there a way in the current version which would help me achieve this?

Modifying the file in CI is an option, but I would rather avoid such hacks.

Thanks in advance.

[2017-03-18 12:04] sagikazarmark commented on #141
Maybe supporting an [GORELEASER_]LDFLAGS environment variable would solve the problem.

[2017-03-18 14:10] jorinvo commented on #141
hi @sagikazarmark does [this](https://github.com/goreleaser/goreleaser#a-note-about-mainversion) help?
Otherwise you can only specify further ldflags via the configuration file. Would be more difficult to set a dynamic value that vaue.

[2017-03-18 14:53] sagikazarmark commented on #141
No, it doesn't really, as I want to set the commit hash and a build date. [This](https://github.com/binhq/githubin/blob/master/.travis.yml#L28-L39) is what I am doing at the moment, but I am not happy about it.

[2017-03-18 15:13] jorinvo commented on #141
@sagikazarmark I can see why you would like to improve on that 😉

An environment variable or cli flag would probably be a good idea.
However, this is kind of duplicating  the option from the configuration file.
What do you think @caarlos0?

*Aside:*
Personally I prefer tools being configured completely via cli flags. They are self-documenting and explicit. Global values for environment variables c

[2017-03-18 15:22] sagikazarmark commented on #141
Personally I also think that flags are better, the reason I suggested an environment var is exactly the same as why you did: it's already in use.

From an inheritance point of view a flag probably would be better, as it would be clear that a flag provided execution time overrides what you have in the config. The same with an env var is not that clear.

I would probably take a look at cobra and vip

[2017-03-18 15:50] caarlos0 commented on #141
Maybe allow the template in `ldflags` fields, and actually have the commit hash, date, etc available there?

[2017-03-18 16:15] sagikazarmark commented on #141
That would solve my problems for now, wonder if anyone has any other use cases.

BTW when I say commit hash I mean the short version, not sure if adding both makes sense.

[2017-03-18 18:28] pyed opened #142 "cmd/go: unsupported GOOS/GOARCH pair .../..."
consider the following `goreleaser.yml`

[code]

trying to releaser it will hit the following error
```cmd/go: unsupported GOOS/GOARCH pair windows/arm64```

isn't it supposed to skip unsupported pairs ?

[2017-03-18 23:40] caarlos0 commented on #142
check #143

[2017-03-18 23:51] pyed commented on #142
Wow, that wasn't actually implemented ! I thought it was some bug.

While you at it, I see that by default, omitting GOOS &. GOARCH will default them to `linux, darwin`, `amd64, 386`, What implied that default ? are they the most important ones ? why not build for all the GOOS's & ARCH's ? I mean, since Go made it so effortless and cheap to cross compile, Why not ?

or maybe introduce an `all` opt

[2017-03-19 00:00] pyed commented on #142
the `validate-goos-goarch` has some bug where it ignores your GOOS and GOARCH and just build for `linux, Darwin`, `amd64, 386`

[2017-03-19 00:31] caarlos0 commented on #142
@pyed the defaults are the most common GOOS and GOARCH pairs I guess...

[2017-03-19 00:33] caarlos0 commented on #142
Sorry, I didn't understand... what is the bug? Can you be more specific?

[2017-03-19 01:00] pyed commented on #142
Ignore what I said, it was some strange character that was breaking my .yml file

[2017-03-23 00:21] #142 closed

[2017-03-23 13:34] #93 closed

[2017-03-23 14:16] schollz opened #146 "Support for upx"
I've been [using `upx --brute` to reduce the size of my binaries](https://blog.filippo.io/shrink-your-go-binaries-with-this-one-weird-trick/) by 40%.

I'd like to use goreleaser in my releasing pipeline, but I found the post hook does not run at the right time to add `upx`.

I was wondering, would you be interested in specifically adding a flag for automatically running `upx` after building in gor

[2017-03-23 14:37] jorinvo commented on #146
Hi @schollz, the post hook exists to do exactly this kind of optimizations.
Could you give some details why it is the wrong time to add upx?

Would be nicer if we can make the hooks usable enough to support this instead of including this specific tool in GoReleaser itself.

[2017-03-23 15:34] schollz commented on #146
Agreed. Maybe you can help diagnose the problem with my hooks?

When my post hooks is just
[code]
it works. But since I want to run `upx` on every binary, I opted to put it in a script (`script.sh`):

[code]
and change the hook to
[code]

However, in this case it never runs the hook and the output of goreleaser is just

[code]

There is no other output and I can tell by the size of the binaries th

[2017-03-23 17:00] caarlos0 commented on #146
hmm, seems like a bug to me.

I'll look into it.

[2017-03-23 17:15] caarlos0 commented on #146
Adding it this way seems to work:

[code]

My `script.sh` looks like:

[code]

The problem is that it runs for all builds, instead of running one time only. I'll fix that.

[2017-03-23 17:46] schollz commented on #146
Awesome @caarlos0, thats great!

Would it be possible to also add more output for when when the hooks are run? Maybe just something like

[code]

`upx` is very slow, so it would be nice to know that it is actually running.

[2017-03-23 17:47] caarlos0 commented on #146
I added it in #148

[2017-03-24 12:51] #146 closed

[2017-03-29 19:25] titpetric opened #155 "Add command line arguments"
Hello,

There is one thing lacking from the documentation/README, is it possible to specify the location of the goreleaser.yml with some command line flag? I'd +1 this under features if it doesn't exist yet.

Can work on a PR in the next days if need be.

Best,
Tit

[2017-03-29 19:50] titpetric commented on #155
Suggestions:

* `-f [config]` - use custom yml config file location
* `--ignore-changes` - ignore any local git changes (current behavior is `git diff` and exit),

I will add more options as I find a need for them :). As I'm trying to just build the binary in the first place it would be good if this succeds regardless of the state of the git repository. People build software also in development, a

[2017-03-29 20:32] caarlos0 commented on #155
Hi!

- `-f` is actually `-c`: https://github.com/goreleaser/goreleaser/blob/master/main.go#L31
- `--ignore-changes` can be replaced with `--nr`, which  skips most parts of the process

[2017-03-29 21:41] titpetric commented on #155
So, documentation issue. Can the flags be listed with --help or -h, -?, other?

[2017-03-30 00:23] caarlos0 commented on #155
They are:

[code]

[2017-04-07 09:28] codeskyblue opened #157 "goreleaser show Unable to get goreleaser version. today"
I have been use goreleaser for a long time. One day, goreleaser suddenly can't work.

Here is details of log in travis <https://travis-ci.org/openatx/wdaproxy/jobs/219609992>

[2017-04-09 00:13] caarlos0 commented on #157
Thanks for reporting this, I'll have a look

[2017-04-09 00:15] caarlos0 commented on #157
@codeskyblue  It seems OK here... maybe it was some instability in Github API... can you re-run the job and check if it works, please?

[2017-04-09 00:42] caarlos0 commented on #155
`f` for config file alias added on v0.8.8

[2017-04-09 00:42] #155 closed

[2017-04-09 00:43] caarlos0 commented on #56
I agree @jorinvo.

Let's close this, if it becomes an issue we can alway do it later :)

[2017-04-09 00:43] #56 closed

[2017-04-09 00:45] caarlos0 commented on #131
I din't use Windows in a very long time, and never used cholatey.

Would you like to implement this feature?

[2017-04-09 00:50] codeskyblue commented on #157
it works when restart job

[2017-04-09 00:59] #141 closed

[2017-04-09 12:02] sagikazarmark opened #158 "LDFLAGS Date format ISO 8601"
The current Date format for ldflags introduced in 0.8.9 does not contain the time zone. IMO it should. Furthermore, sticking to a more widely accepted standard, like ISO 8601 would be a better choice.

[2017-04-09 13:22] caarlos0 commented on #158
You're right, I'll do that.

[2017-04-09 13:23] caarlos0 commented on #158
check #159 please

[2017-04-09 13:34] caarlos0 commented on #116
I believe all these points are solved.

When we are ready, we can merge #147 and release.

[2017-04-10 11:49] #158 closed

[2017-04-10 15:55] caarlos0 commented on #105
closing due to inactivity...

[2017-04-10 15:55] #105 closed

[2017-04-11 07:47] codeskyblue opened #161 "releaser to brew as a develop version"
Now, publish need to make a tag. What if some one want to install the develop version? What should I do?

[2017-04-11 14:29] esiqveland opened #162 "Upload checksums for binaries produced"
It would be nice if `gorelease` would also publish signatures or checksums, of the binaries produced.

[2017-04-11 15:06] caarlos0 commented on #162
Nice suggestion! Would be glad to see a PR with that =D

[2017-04-11 16:29] caarlos0 commented on #161
you mean, download and compiling the master branch on the users machine?

[2017-04-12 00:13] codeskyblue commented on #161
I mean compile master branch on travis

[2017-04-12 10:32] esiqveland commented on #162
I think this should be two features then. One for checksums (easy) and one for signatures (harder, requires config).

After having a look around it should be possible to make checksums as a pipe, and then either upload checksum files as artifacts or include the checksums in the release description text. Or ideally both.

I think checksums should be done first as it is easier to implement and gives

[2017-04-12 12:36] caarlos0 commented on #161
hmm, As far as I have seen out there, dev versions of formulaes usually are compiled in the users machine. The recipe have to define dependencies versions and all that... do you have an example of formula that works in the way you want? just so we can see how hard it is to implement it....

[2017-04-12 13:06] #161 closed

[2017-04-13 15:03] bep opened #163 "Installation instructions"
I get the "curl" variant, but it should really say something about how to install the binary locally in the quick start.

[2017-04-13 15:07] caarlos0 commented on #163
On OSX, you can `brew install goreleaser/tap/goreleaser`, on other platforms a `go get` should work...

[2017-04-13 15:10] bep commented on #163
`go get` does not work as there are dependency management involved.

[2017-04-13 15:13] bep opened #164 "Contribution section out of date"
The new deps tool uses TOML now:

[code]

[2017-04-13 15:14] bep commented on #163
But it isn't that important.

[2017-04-13 15:14] #163 closed

[2017-04-13 17:24] caarlos0 commented on #163
@bep indeed... I guess the contributing.md guide covers that though...

[2017-04-13 17:25] caarlos0 commented on #164
hmm, will fix that!

[2017-04-13 17:32] #164 closed

[2017-04-13 18:45] esiqveland opened #166 "Upload signatures for binaries produced"
Create and upload signatures for the binaries (or all files) produced.

This will probably involve some kind of config for signing key or method, like PGP for creating the signatures.

[2017-04-14 10:55] esiqveland commented on #162
I have two suggestions for this. One is checksumming the bundled archives, and one is checksumming each file produces, and including this checksum inside the archive. I think I like the first approach better as it lets you check the archive before unpacking it, which might not even work if the archive is corrupt.

This means I am scrapping this approach.
Getting the checksums to be uploaded during

[2017-04-14 14:36] caarlos0 commented on #162
@esiqveland yeah, the first approach seems to make more sense to me.

Just need to be careful to not breadk th ability to run goreleaser multiple times, as dicussed in #49.
It should be simple, just append to file and the second time goreleaser is ran it should update the checksums file, which will then contain the checksums for all the binaries produced...

[2017-04-14 15:33] caarlos0 commented on #162
I just fixed that TODO. Moving to the Checksumming now

[2017-04-14 16:12] esiqveland commented on #162
Alright, you can see my suggestion here:
https://github.com/goreleaser/goreleaser/pull/169

[2017-04-14 18:05] #162 closed

[2017-04-17 13:25] caarlos0 opened #176 "Better checksums"
Isn't kind of strange to have several `.checksums` files?

Maybe a `{{ .BinaryName }}_checksums.txt` with all checksums would be better...

What do you guys think?

[2017-04-17 13:25] caarlos0 commented on #176
cc/ @esiqveland @jorinvo @jspc

[2017-04-17 13:32] caarlos0 commented on #176
Something like this:

[code]

[2017-04-17 14:28] caarlos0 commented on #176
check #177

[2017-04-18 01:04] #176 closed

[2017-04-18 13:32] bep opened #179 "Version is empty on --nr flag"
Latest version, built from source.

[2017-04-18 13:36] caarlos0 commented on #179
yep, --nr skip a lot of things, including the git pipe, which discovers the version.

Check https://github.com/goreleaser/goreleaser/pull/136

I personally don't even like the `--nr` flag :P

[2017-04-18 13:44] bep commented on #179
Well, it is handy while testing your release process.

[2017-04-18 13:48] bep opened #180 "YAML error caught too late"
[code]

Seems like it's falling back to the defaults when no config could be loaded, but it sill prints an error at the end.

[2017-04-18 15:24] caarlos0 commented on #179
Yeah, the problem is that `--nr` is supposed to generate dev build, so maybe there isn't even a tag or the current branch is dirty, in which case it would break.

Also, it can be ran against a folder which isn't even a git repo.

[2017-04-18 15:29] caarlos0 commented on #180
Will look into that, thanks for the report!

[2017-04-18 15:35] bep commented on #179
Maybe another flag, then -- but I don't see who will use goreleaser for "dev builds" (whatever that is).

[2017-04-18 15:39] caarlos0 commented on #180
check #181

[2017-04-18 15:41] caarlos0 commented on #179
@bep, I didn't even wanted to add that flag in the first place.

I guess I'll improve this a little, maybe add a `--validate=false` option and each pipe can deal with it as they wish, will make the code better probably too.

[2017-04-18 15:42] #180 closed

[2017-04-18 16:11] caarlos0 commented on #179
please check #182 and let me know what you think...

[2017-04-18 16:29] bep commented on #179
Yea, that makes more sense.

[2017-04-19 06:34] bep opened #183 "Add hook to insert custom release notes"
First, great job on this!

I'm in the process of automating the semi-manual release process of Hugo with Goreleaser. None of the points mentioned below are blockers in that regard, and I think these are connected enough to warrant keeping them in this single issue.

* Release notes are very important for Hugo. A release may contain 200 commits, and while the commit log is nice and all, it doesn't

[2017-04-19 12:15] caarlos0 commented on #183
@bep Hi, I agree, the release notes are not optimal.

Just so I can fully understand, what exactly would the hook do?

Is the hook an executable (like https://github.com/skywinder/github-changelog-generator)? Or is it a text file with what you want as changelog already written down?

Thanks

[2017-04-19 12:30] bep commented on #183
I have not thought too hard about it, but in its simplest form, I guess a prepared text file would be nice enough (aka `goreleaser --release-notes=/mypath/release-notes-v1.01.txt`. My main motivation is to not have to re-invent the "update GitHub release"  part. I can understand you want to keep the "created by @goreleaser" part, and that is fine -- just append that at the end.

[2017-04-19 12:58] caarlos0 commented on #183
@bep nice, so, quite easy to implement. Will see if I can do that throughout the day :)

😄

[2017-04-19 19:29] #179 closed

[2017-04-19 20:24] caarlos0 commented on #183
@bep check #184 :)

[2017-04-19 21:36] caarlos0 commented on #183
@bep released https://github.com/goreleaser/goreleaser/tree/v0.11.0

[2017-04-19 21:37] caarlos0 commented on #183
About the draft option, I think it should be a config, not a flag.
I think people will always want to release drafts, check them, and then promote or discard them (at least that is what I would do).

What do you think, @bep?

[2017-04-19 21:41] bep commented on #183
Yes, for a given repository I think it will be always draft/direct publish. I assume that `goreleaser` will typically release without any user intervention, but projects with less frequent releases, Hugo being one example, typically would like to do some QA/spell checking etc. before they release.

[2017-04-19 21:55] caarlos0 commented on #183
One question: what should happen in the brew pipe when the release is a draft?

[2017-04-19 22:04] caarlos0 commented on #183
check #185 =)

[2017-04-21 03:16] blacktop opened #186 "invalid memory address or nil pointer dereference"
OSX 10.12.4

[code]

I have the `GITHUB_TOKEN` set.

[2017-04-21 08:36] goofansu opened #187 "goreleaser --nr cannot set Version"
[code]

[code]

[2017-04-21 13:16] bep opened #190 "Task printing even when tasks are disabled/not configured"
Ref. this log:

[code]

I have `--skip-publish` set and no brew configured. I would not expect the printouts above.

[2017-04-21 14:27] bep opened #191 "Allow more flexible GOOS/GOARCH combinations"
I'm in the process of moving the Hugo builds from goxc/manual to Goreleaser. And we build for many OSes (because we can!) ... But the restrictions put in place by `goxc` isn't currently possible to express in Goreleaser config, I think. The following does neither build nor make sense:

[code]

Looking at the [goxc tests](https://github.com/laher/goxc/blob/f8fbb3b8c4df6c161348ae8a0047d562fcde8855/p

[2017-04-21 14:34] caarlos0 commented on #191
yeah, I was thinking about it some days ago, maybe we should have only a `target` property or something like that in the format `goos-goarch` or something like that...

in this way, the user can specify what builds he want, but it'll be a little more verbose:

[code]

what do you think?

[2017-04-21 14:39] caarlos0 commented on #187
Hi @goofansu, you're probably using an old version of goreleaser. This flag don't exist anymore, it is now split between `skip-validate` and `skip-release` :)

Can you try the latest version please?

[2017-04-21 14:40] caarlos0 commented on #186
I'll have a look.

[2017-04-21 14:48] caarlos0 commented on #190
Yeah, this is logged on the main file, based on the pipe description. I'll add a `skipped because x` log when a pipe is skipped.

[2017-04-21 15:09] #190 closed

[2017-04-21 15:09] caarlos0 commented on #190
The log will now look as this:

[code]

Let me know if that's doesn't work for you.

[2017-04-21 15:17] caarlos0 commented on #191
Another question: does it makes sense to have darwin 386 builds?

[2017-04-21 15:24] bep commented on #191
Yes, that feels (almost) just as natural as having 386 Windows/Linux builds.

[2017-04-21 15:29] bep commented on #191
[code]

I think the idea is very good. But I suspect you will paint yourself into a corner with that magic "string pattern".

How about:

[code]

I'm not sure the above is valid YAML, but you get my point.

[2017-04-21 15:36] caarlos0 commented on #191
Maybe for now we can do something simpler, just remove the invalid builds like goxc does.

We can achieve this very easy by changing https://github.com/goreleaser/goreleaser/blob/master/pipeline/build/valid_os.go

What do you think?

[2017-04-21 15:36] caarlos0 commented on #186
@blacktop can you try v0.11.1 ?

[2017-04-21 15:41] bep commented on #191
I think that is a good first step and covers my needs. And it avoids rushing into some ugly API ...

[2017-04-21 15:42] caarlos0 commented on #191
@bep yeah, we can think more about this meanwhile and maybe do a real good api some time ;)

[2017-04-21 17:07] blacktop opened #198 "auto-create release tags"
It would be great if you parsed a VERSION file or allowed it to be supplied to the goreleaser.yml and it would auto create the `git tag` then we could add a `release` command to our Makefiles that would just run goreleaser.

Similar to the way that https://github.com/progrium/gh-release works.

[2017-04-21 17:13] caarlos0 commented on #198
you can still automate it with make release:

[code]

and then run it as:

[code]

or, from a file:

[code]
(or just make the cat inside the Makefile).

Anyway, it's not intended for goreleaser to create and push tags because that would add a lot of edge cases we would have to deal with, and, as I just shown, it is easy enough to automate without it :)

That being said, I'll close the issue. Thank

[2017-04-21 17:14] #198 closed

[2017-04-21 17:15] blacktop commented on #198
thanks for the great tool

[2017-04-21 17:16] blacktop commented on #186
works great thanks! 👍

[2017-04-21 17:16] #186 closed

[2017-04-21 18:15] bep opened #199 "Archive format per OS"
I'm comparing my before/after, and of course notice a discrepancy in the archive formats used:

[code]

[code]

My main concern here is the Windows users, who will not know what to do with a "tar.gz" file.

Would it be possible to override the archive format per OS?

[2017-04-21 18:33] caarlos0 commented on #199
Right now it isn't, unfortunately.

But I think it's a valid concern.

Maybe we could do something like:

[code]

What do you think?

[2017-04-21 18:41] bep commented on #199
That would be great. A switch to zip for all would not work for me either, as it would break lots of scripts using the Linux distribution.

[2017-04-21 18:47] caarlos0 commented on #199
@bep yeah, and some folks may not want to install unzip as well (because licenses and proprietary formats or whatever).

Will do that right away

[2017-04-21 19:19] #199 closed

[2017-04-22 08:53] bep opened #205 "Provide a make install"
With the new folder layout it's not possible to do a simple "go install" on the top level anymore, so it would be nice if the Makefile had a `go install` variant.

[2017-04-22 09:26] jorinvo commented on #205
Personally, I try to use a `cmd` sub-directory only for projects that consist of more than one binary and for projects where the main artefact is a _package_ instead of a binary.
The way I understand GoReleaser the main artefact is the `goreleaser` binary.
We can still provide the same functionality as a _package_ by moving the `goreleaser.go` file to `goreleaser/goreleaser.go`.
Is there any reaso

[2017-04-22 12:35] caarlos0 commented on #205
Wouldn't a `go get github.com/goreleaser/goreleaser/cmd/...` do?

[2017-04-22 12:40] caarlos0 commented on #205
@jorinvo not really, I was just trying to better organize the code...  AFAIK there isn't a pattern for that, I personally like to have the cmd package because I restrain myself to do cli stuff there... maybe it is dumb to do that, idk.

[2017-04-22 18:12] bep commented on #205
Maybe.

But it would also give you the _Usability Fail Award of the Year 2017 Award_ :-)

[2017-04-22 18:30] caarlos0 commented on #205
yeah, I added the task anyway :D

[2017-04-23 09:19] bep commented on #205
But I suspect most projects of this kind have a main func on the top level, making it "go gettable".

[2017-04-23 10:43] jorinvo commented on #205
@caarlos0 we could keep the cli logic in a sub-directory and still re-add a top level `main.go` simply referencing it. Would that help keeping things organised?

[2017-04-23 14:40] caarlos0 commented on #205
closed by #206

[2017-04-23 14:41] #205 closed

[2017-04-23 14:41] caarlos0 commented on #187
Well, it seems to work here, will close the issue.

[2017-04-23 14:41] #187 closed

[2017-04-23 14:43] caarlos0 commented on #46
can I close this one?

[2017-04-23 14:46] caarlos0 commented on #36
OK, so, here, we would have to add a `goarm` option together with `goos` and `goarch`, is that it?

[2017-04-23 14:46] caarlos0 commented on #116
More stuff entered v1, let's wait a little more.

[2017-04-23 14:46] #116 closed

[2017-04-23 14:47] caarlos0 commented on #166
hi @esiqveland , I don't remember seeing a project with this kind of thing... can you point some, so I can see how they do it?

[2017-04-23 14:55] esiqveland commented on #166
I was trying to think of the same thing, and I know I have seen it before, but I couldn't come up with any good examples!

I know some publish signatures for their artifacts in the java (maven) eco-system, as well as most linux distributions publish signatures for their packages so they can be verified before installing.

I'll see if I can come up with something better.

[2017-04-23 14:57] caarlos0 commented on #166
Yeah, I kind of remember have seeing something like that somewhere, don't remember where though 😆

[2017-04-23 15:01] esiqveland commented on #166
Some examples:

Maven Plugin: http://maven.apache.org/plugins/maven-gpg-plugin/

Debian: https://wiki.debian.org/Creating%20signed%20GitHub%20releases

Didn't have more time to look further into it right now!

[2017-04-23 15:12] caarlos0 commented on #166
hmm, so, basically, call `gpg --armor --detach-sign` for each artifact and upload the `artifact.asc` file...

[2017-04-23 15:50] bep opened #207 "The first release should contain all changes"
So given a new repository:

* Make lots of commits.
* Tag `v1.0.0`
* Run `goreleaser`

It doesn't find a previous tag (which is natural), and only lists changes from the previous commit (i.e. 1 change).

[2017-04-23 16:02] bep commented on #207
The obvious workaround is to create some inital eary `v0.0.1` tag.

[2017-04-23 16:14] denji commented on #36
@caarlos0 That's right, with `GOARCH=arm64` do not need to set a variable `GOARM` (only with `GOARCH=arm`)

[2017-04-23 19:34] caarlos0 commented on #207
@bep check #208

[2017-04-23 19:35] caarlos0 commented on #36
hmm, can't we just assume GOARM=7 all the times GOARCH=arm ?

[2017-04-23 20:07] denji commented on #36
* `GOOS=<CROSS> GOARM=5 GOARCH=arm` -  use software floating point; when CPU doesn't have VFP co-processor
* `GOOS=<CROSS> GOARM=6 GOARCH=arm` - use VFPv1 only; default if cross compiling; usually ARM11 or better cores (VFPv2 or better is also supported)
* `GOOS=<CROSS> GOARM=7 GOARCH=arm` - use VFPv3; usually Cortex-A cores
* `GOOS=<CROSS> GOARCH=arm64` - All ARMv8-A processors.
* `GOOS=linux GOA

[2017-04-23 20:39] esiqveland commented on #166
Yes, so if it is gpg based, one would probably have to configure the key id to sign with.
This should be your gpg publish key id.

I think there is a lib for go that could do this signing, so it doesn't have to depend on gpg executable.

[2017-04-24 01:40] #207 closed

[2017-04-24 03:59] goofansu commented on #187
Sorry I should give the version. It's 0.9.8, very old. Problem solved.

[2017-04-24 14:30] bep opened #210 "Version should strip leading "v""
See https://github.com/spf13/hugo/releases/tag/v0.20.3

I did not notice this until I tried to upgrade a site ... That we now have a "v" in the filename:

hugo_v0.20.3_Linux-64bit.tar.gz

I assume this is a bug in Goreleaser, or you should at least provide a way to remove that from the tag.

[2017-04-24 15:42] caarlos0 commented on #210
Bug. Once upon a time the `.Version` was the tag name, but it was later changed, and this behavior is probably not optimal since then.

I'll add a `.Tag` atribute to the name template, should fix the issue.

[2017-04-24 16:01] #210 closed

[2017-04-24 16:43] caarlos0 opened #212 "allow continuing a draft release"
when the release is a draft, store the state in a file or something, and allow it be loaded back with `--continue` and then publish the release and do other needed steps.

Right now the draft release will abort brew, for example, and the user would have to manually publish and etc.

refs #183

[2017-04-24 16:43] caarlos0 commented on #183
Will continue on #212

[2017-04-24 16:43] #183 closed

[2017-04-24 16:47] caarlos0 commented on #36
OK, so, no.

So, we can do something like this:

[code]

which would generate:

- linux-arm64
- linux-arm-v5
- linux-arm-v6
- linux-arm-v7

Does that work for you?

[2017-04-24 17:29] caarlos0 commented on #36
Check #213 please...

[2017-04-25 00:18] #36 closed

[2017-04-25 00:19] caarlos0 commented on #36
@denji can you check v0.14.0 please?

[2017-04-25 00:58] caarlos0 commented on #191
@bep

Assuming that we are already ignoring invalid combos, maybe it would make more sense to add a blacklist kind of option:

[code]

What do you think?

[2017-04-25 09:53] lucapette opened #215 "Proposal: goreleaser init"
I'm setting up goreleaser for a small project today and I thought it would be nice to have a small command that speeds up the setup. Something along the line of:

[code]

It could be as simple as creating a stub or we could try to guess some sensible defaults (not sure how easy is that). If you like the idea, I can give it a try in the coming days.

Thank you one more time for this awesome project

[2017-04-25 10:29] jorinvo commented on #215
We had this idea before. See #47. Back then we thought having sensible defaults can replace the need for a `goreleaser.yml` file.
There have been many new features added since then and now it seems like no project will use GoReleaser relying solely on the defaults.

I would welcome a simple *init* script that creates a configuration file with common options and some helpful comments.
What are your

[2017-04-25 10:34] lucapette commented on #215
Thank you for your answer @jorinvo and sorry! For some reason I couldn't find the existing discussion despite searching.

I'd be more than happy with a skeleton with good comments. I think it would still be a better user experience than copying the config from the README.

[2017-04-25 12:50] caarlos0 commented on #215
I think it's a good idea now!

[2017-04-25 15:12] jorinvo commented on #215
@lucapette If you like, you can give it a try then!
I think simply adding a `goreleaser.yml` file would be enough. No need for any interactive options at this point :)

[2017-04-25 15:22] bep commented on #215
It would also be good if that same sample config would be sent into an integration test of sorts, so we could have some guarantee that it is correct.

[2017-04-25 15:36] caarlos0 commented on #215
Yes, I thought about creating a sample file and a fake repo, and let it run every time the CI runs... but I didn't find a good way of validating it (without writing a lot of code at least)...

[2017-04-26 10:18] lucapette commented on #215
I will have some time tomorrow and I'll give it a try. Any preference on `goreleaser --init` `goreleaser init`? Maybe the former is a bit easier to implement.

As for the test, I think it may be simple enough to assert the output is a valid `goreleaser.yml` file with some default properties. I would love to do it at acceptance level with a fake repo but, as @caarlos0 says, it may be hard without h

[2017-04-26 10:41] bep commented on #215
Definetively. It should be its own subcommand, it only vaguely related to the main command -- and the implementation would look funky.

[2017-04-26 12:36] caarlos0 commented on #215
+1 on `goreleaser init`.

[2017-04-26 12:38] caarlos0 opened #217 "Add end-to-end tests"
The idea is to add an acceptance tests.

The idea was vaguely discussed in #215.

[2017-04-26 12:38] caarlos0 commented on #215
Yep, #217 🍻

[2017-04-26 13:13] bep commented on #217
I don't think I would name it "acceptance", as that indicates some kind of third-party (customer) approval. (integration test, end-to-end test ...)

[2017-04-28 07:00] zerok opened #222 "Support for not-tag-based releases/snapshots"
Hi :)

Related to #68 would it perhaps make sense to also support something like snapshot releases? I'm currently working on a project where I don't yet have any tags but would still love to use goreleaser for some test-builds.

Would it perhaps make sense to support something like a "SNAPSHOT-{commit-sha}" version if no tag can be found or explicitly passing a version as commandline argument?

[2017-04-28 12:08] caarlos0 commented on #222
Hi @zerok , you want to build a release to test locally?

If so, try `--skip-validate --skip-publish`

[2017-04-28 12:11] zerok commented on #222
@caarlos0 : Pretty much, yes :) Sadly, I've already tried these options before opening this ticket:

[code]

It might be an issue with `git describe` having changed its behaviour as this is also the output of running `git describe --tags` (which exits with status code 128).

[2017-04-28 12:13] caarlos0 commented on #222
hmm.. yeah, maybe we should allow it to fail when `--skip-validate` is set..

[2017-04-28 12:16] zerok commented on #222
@caarlos0 would you mind if I try creating a PR for that? Would like to help with code :)

[2017-04-28 12:17] caarlos0 commented on #222
@zerok sure, go ahead =D

[2017-04-28 12:20] zerok commented on #222
@caarlos0 Thank you :D I will try to get something done either by tomorrow or by Monday :)

[2017-04-28 16:30] caarlos0 commented on #215
Validated everything, seems ok!

[code]

properties are all right.

Will close this and release.

[2017-04-28 16:32] caarlos0 commented on #215
Just realized I forget to add docs...

[2017-04-28 17:07] caarlos0 commented on #215
v0.15.0 is out!

[2017-04-28 17:19] jorinvo commented on #222
@zerok Just keep in mind that skipping the test which checks if Git is currently using a tag as branch, will not fix the problem this check is trying to prevent:
Without this check you get the source from which ever branch is checked out locally but the version used by GoReleaser will be named like the latest tag available.
To prevent this, we could - as you suggested - set the version to somethin

[2017-04-28 17:21] zerok commented on #222
That's pretty much what I'm aiming for right now 😊

[2017-05-01 13:57] caarlos0 commented on #222
Done on v0.16.0!

Thanks @zerok and @jorinvo =)

[2017-05-01 13:57] #222 closed

[2017-05-01 14:15] caarlos0 commented on #215
added goreleaser init to docs!

Thanks all!

[2017-05-01 14:15] #215 closed

[2017-05-01 14:33] zerok commented on #222
Thank you, @jorinvo , @lucapette , and @caarlos0, for reviewing the code and merging 😃

[2017-05-02 22:08] #191 closed

[2017-05-03 22:20] #46 closed

[2017-05-10 06:17] kamilsk opened #225 "Invalid binary for alpine amd64 (x86_64)"
Host machine:

[code]

golang:alpine

[code]

golang:latest

[code]

The problem:

[code]

[code]

The reason is that `/lib64/ld-linux-x86-64.so.2` doesn't exist at alpine linux.

So, if I get 32bit app for alpine, then it is ok
[code]

---

[code]

So, could you also build binary for alpine ?

[2017-05-10 07:55] jorinvo commented on #225
Hi @kamilsk, I can reproduce the problem you described.

However, `amd64` is the right architecture for alpine linux. When I build GoReleaser locally, it is also possible to run it inside the alpine container.
[code]

I'm afraid this is an issue with the toolchain on Travis CI. Maybe it's related to the different cgo tooling.
We need to investigate further.

Travis:
[code]

My laptop:
[code]

[2017-05-10 08:17] kamilsk commented on #225
Yes, sure

Could you provide `readelf -l <your local binary> | grep "program interpreter"` ?

As I said before

but in your workflow (travis ci) it is used to build binary.
Related comment: https://github.com/gliderlabs/docker-alpine/issues/219#issuecomment-254741346

It is not critical for me, I can start using a build from sources instead of download binary.

[2017-05-10 08:29] jorinvo commented on #225
Sorry, seems like it's missing in the output here:
[code]

As this suggest there is some dynamic linking going on. Ideally, the binaries we produce from our Go programs are all static linked. See #226, maybe this can solve it. Have to try it out first though.

[2017-05-10 10:03] kamilsk commented on #225
yes, it works!

[code]

Thanks a lot for you useful tool! :)

[2017-05-10 10:07] caarlos0 commented on #225
@kamilsk can you try https://github.com/goreleaser/goreleaser/releases/tag/v0.17.2 ?

[2017-05-10 10:15] kamilsk commented on #225
@caarlos0, partially I test it by

[code]

But, yes, I will try it here https://github.com/kamilsk/shared/issues/188 (I am sure that everything will work) also

[2017-05-10 11:11] kamilsk commented on #225
I was wrong

[code]

[code]

inside container

[code]

can be repeated by

[code]

:(

[2017-05-10 12:05] jorinvo commented on #225
@kamilsk, I think what you thought was working, is the same behaviour that my local build also works.
Seems like the change didn't solve the problem. Guess we can revert https://github.com/goreleaser/goreleaser/pull/226.
I guess it is difficult to simulate the environment that's being used by Travis CI since, as @kamilsk demonstrated, building on another linux also worked without issues.

[2017-05-10 12:41] caarlos0 commented on #225
I'll run some tests and let you guys know.

[2017-05-10 13:02] caarlos0 commented on #225
I think it might be related to netgo. Will try it.

[2017-05-10 13:06] caarlos0 commented on #225
Actually, the `ldflags` field was in the wrong place. Launching v0.17.3

[2017-05-10 13:17] caarlos0 commented on #225
Travis now fails with:

[code]

[2017-05-10 14:24] caarlos0 commented on #225
Reproducing:

[code]

[code]

[2017-05-10 18:53] client9 opened #227 "Introducing godownloader - the inverse of goreleaser."
Hi,  not sure where to post this, so apologies if this isn't the right spot.

I love goreleaser and will be using it for a few tools I have.   But I got tired of writing crappy shell scripts to figure how to download a particular item off GitHub releases, so I wrote a program to write crappy shell scripts for me.

https://github.com/client9/godownloader

`godownloader` reads the `goreleaser.yaml f

[2017-05-10 19:17] caarlos0 commented on #227
Love it!

If want to donate, I'll be happy to accept and add you to the org =D

[2017-05-10 20:59] client9 commented on #227
fantastic... "it's better, together"   I'll attempt to change ownership to the goreleaser and see what happens.

[2017-05-10 21:10] client9 commented on #227
Hi @caarlos0 I don't have permission to transfer it to "goreleaser", so I would just make a new repo goreleaser/godownloader  and add me as contributor, and I'll just copy it over manually.  It's like 3 or 4 files so no problem.

[2017-05-10 21:12] caarlos0 commented on #227
let me add you to the org, then you can try again...

1m

[2017-05-10 21:14] caarlos0 commented on #227
@client9 you can accept the invite at https://github.com/goreleaser =)

[2017-05-10 21:18] client9 commented on #227
I'm in.

It's transfered.

and accepted a pull request to godownloader already!

closing -- thanks all!

[2017-05-10 21:18] #227 closed

[2017-05-11 00:01] tiago4orion opened #228 "ldflags per operating systems"
My project requires different ldflags for linux and OSX. Is there a way to setup this with goreleaser?
Sorry, I didn't find anything related.

[2017-05-11 00:54] dogancelik opened #229 "Support globbing for "archive: > files:""
`archive: > files:` setting should support globbing.
It only supports including files in root folder.

* If you do `public/`, it only creates the folder, **no files inside.**
* If you do `public/*`, it should only add immediate (only root) files of `public/` → **errors.**
* If you do `public/**`, it should add all files inside *public* folder → **errors.**

[code]

Goreleaser version: `0.17.3, com

[2017-05-11 01:28] caarlos0 commented on #228
There is no straightforward way, but you can create an specific goreleaser.yml for those cases and execute it with `goreleaser -f $FILE`...

[2017-05-11 03:23] caarlos0 commented on #229
can you check #231?

[2017-05-11 08:17] kamilsk commented on #225
folks maybe is it better to use `golang:alpine` or `golang:latest` to build goreleaser in travis ci ? https://docs.travis-ci.com/user/docker/

[2017-05-11 13:00] caarlos0 commented on #225
@kamilsk what I commented on https://github.com/goreleaser/goreleaser/issues/225#issuecomment-300478669 happens in that case too I guess

[2017-05-11 13:48] caarlos0 commented on #225
I think #232 may help us here

[2017-05-11 14:54] hellais commented on #49
This is currently the limiting fact for me using goreleaser for my releases. I have a single package where I would like to ship multiple binaries that each are generated from a separate `main.go`. I would like all the binaries to end up inside of the final `.tar.gz` so having separate `goreleaser.yml` files is not an option.

Could this issue be re-opened or should I file another one?

[2017-05-11 15:54] client9 opened #233 "checksum file formating is slightly off compared to standard linux tools"
Hi,

As part of https://github.com/goreleaser/godownloader/issues/5  I'm processing / parsing the checksum file that is generated.

It appears " the standard" is  HASH-TWOSPACES-FILENAME (one space as delimiter, one other space indicating something else.. it could be a '*' or '?' but no one seems to use them).

goreleaser is doing HASH-TAB-FILENAME  which sha256sum and all it variations do not lik

[2017-05-11 16:09] caarlos0 commented on #233
@client9 no particular reason. PR is welcome :D

[2017-05-11 16:26] caarlos0 commented on #225
Yeap, that was it:

[code]

OSX also still working:

[code]

I think I can close this now!

Thanks for the report and investigation, @kamilsk !
Thanks for the help @jorinvo !

[2017-05-11 16:26] #225 closed

[2017-05-11 16:30] caarlos0 commented on #233
I'll fix this right away

[2017-05-11 16:34] #233 closed

[2017-05-11 16:46] client9 commented on #233
rock

[2017-05-12 01:45] caarlos0 commented on #229
Done on v0.18.0

[2017-05-12 01:45] #229 closed

[2017-05-12 08:02] kamilsk commented on #225
yes, works fine! thanks a lot!

[2017-05-17 18:38] client9 opened #235 "Consider issuing warning or log message if no goreleaser.yml file found"
I have no numbers to support this, but I suspect "most repos use a gorelease.yml file if they use goreleaser"

Consider issuing a warning if `goreleaser.yml` is not found, and/or a verbose mode that says where it's getting the config from

I was confused since I named my file `.goreleaser.yml` (with dot) by mistake.

not a big deal but might help the next person.

[2017-05-17 18:45] caarlos0 commented on #235
Makes sense!

[2017-05-18 07:11] client9 opened #236 "behavior of archive naming with and without archive.replacements sections"
hello!

in goreleaser releases we have `Darwin` and `Linux` (capital letters) in the file names

[code]

ok, but why are they not `darwin` and `linux` given the `goreleaser.yaml file`?   Why are they not using the GOOS names (all lower case?).  I don't see any archive/overriders in the file:

https://github.com/goreleaser/goreleaser/blob/master/goreleaser.yml

[code]

I saw this previously in my o

[2017-05-18 10:13] jorinvo commented on #236
The names are currently taken from `uname`.  I guess the idea here is to have more human-readable names than the default goos/goarch values.

 of `uname -s` and `uname -m` respectively

But as you're pointing out the current defaults might not be the best naming either.

At the moment I always have a `replacements` section to change the naming.
Ideally we would find defaults a majority of the user

[2017-05-18 11:22] caarlos0 commented on #236
Yeah, the idea of defaulting to `uname` values is that you can `curl https://blah/myapp_$(uname -s)_$(uname -m).tar.gz` or something, like it is done [here](https://github.com/goreleaser/get/blob/master/get#L24).

Maybe the defaults are not ideal though.. we can discuss and change, of course :)

[2017-05-18 11:39] #235 closed

[2017-05-18 12:12] caarlos0 commented on #235
releasing v0.18.1

[2017-05-18 15:07] client9 commented on #236
Hi guys, totally get uname concept and get discussion!  From that it led me to understand the bug better.   I'll comment on defaults separately.

I think the "bug" (feature?) I bumped into is this:

If you *do not* use any archive/replacements, everything defaults to uname values.  That's what goreleaser is doing.  All good.

If you add *one* entry to archive/replacements, everything defaults to G

[2017-05-18 15:12] caarlos0 commented on #236
yeah, this looks broken, but is intended.

It would be OK if the defaults were always the goos/goarch/etc names... maybe we should remove the default replacements..

[2017-05-18 15:19] client9 commented on #236
hi @caarlos0

I do vote for the GOOS/GOARCH values since they are stable and consistent (and short).

If you don't have a replacements section, you know exactly what will be the output (GOOS values)

If you don't like that, you can over-ride exactly what you'd like.  No surprises in output (GOOS and anything you replaced)

Love the idea here:

curl https://blah/myapp_$(uname -s)_$(uname -m).tar.gz

[2017-05-18 15:21] client9 commented on #236
changed name to better reflect the discussion, since it's not a bug.

[2017-05-18 15:38] caarlos0 commented on #236
OK, I agree with defaulting to go values.

[2017-05-18 16:14] caarlos0 commented on #236
check https://github.com/goreleaser/goreleaser/pull/238

[2017-05-18 16:15] jorinvo commented on #236
Not related to the replacements, we could think about changing the default name template to include the version:
`name_template: "{{.Binary}}_{{.Version}}_{{.Os}}_{{.Arch}}"`

What do you think @caarlos0 @client9 ?

[2017-05-18 16:46] client9 commented on #236
@jorinvo Adding version is the first thing I do when setting up a new project.

[2017-05-18 19:07] caarlos0 commented on #236
Yeah, that may be a good thing to do indeed. Can you file another issue @jorinvo ?

[2017-05-18 19:07] #236 closed

[2017-05-18 19:24] jorinvo opened #239 "Include version in default name_template"
As mentioned [before](https://github.com/goreleaser/goreleaser/issues/236#issuecomment-302459131), it might be most common to also include the version in the name of the archive file.
We could change the default behavior accordingly.

[2017-05-18 19:53] caarlos0 commented on #236
v0.19.0 is out!

[2017-05-23 00:07] client9 commented on #239
I think this can be closed

[2017-05-23 01:10] #239 closed

[2017-05-23 01:10] caarlos0 commented on #239
indeed

[2017-05-23 15:16] suntong opened #242 "Git repository as release target"
So far goreleaser creates & put release executables into  GitHub release, right?

- Can it also [create .rpm packages (besides .deb) as well like this](https://github.com/mh-cbon/go-github-release/)?
- It'd be nice to [put the .deb or .rpm packages into repositories as well like this](https://github.com/mh-cbon/go-github-release/).
- and moreover, it is even better that [different tools can go int

[2017-05-24 22:01] jorinvo commented on #242
Yes, via fpm: https://github.com/goreleaser/goreleaser#fpm-build-customization

.deb and .rpm files are added, as you can see here https://github.com/goreleaser/goreleaser/releases/tag/v0.20.0

Please have a look at this discussion: https://github.com/goreleaser/goreleaser/issues/49

[2017-05-25 01:06] suntong commented on #242
That https://github.com/goreleaser/goreleaser/issues/49 talks about putting multiple binaries from the same package into a repo, right?

I'm talking about putting binaries from different projects into one central repo. Slightly, but different.

[2017-05-25 06:54] jorinvo commented on #242
@suntong a sorry, I got that wrong.
You mean instead of releasing to GitHub Releases you would like to release the files to a Git repository?

[2017-05-25 13:26] suntong commented on #242
Yeah, almost -- It'd be nicer to [put the .deb (or .rpm) packages into repositories like this to GH page](https://github.com/mh-cbon/go-github-release/), so anyone who like to use any of the tools I'm building, they just need to add my PPA _only once_, and the rest are just _as normal as_ `apt-get`.

[2017-05-25 13:31] jorinvo commented on #242
Ok, if you can not only specify the repository but also the branch, then it would work?

We could add Git repositories as release targets, the same way we plan for Gitlab and others.
We could borrow from the Homebrew releasing logic, since this also just uploads files to a repository.

[2017-05-25 13:38] suntong commented on #242
Yeah, @mh-cbon was able to successfully generate one, and I did a comparison once between it and my PPA, and it looks good.

[2017-05-25 13:48] jorinvo commented on #242
I will save this issue as a feature request for Git repository as a release target.
Not sure when we will get around to implement this though.
If you are interested, you are welcome to send a pull request.

[2017-05-25 13:56] suntong commented on #242
Alright, I'll talk with @mh-cbon, and if he is not interested, I'll see what I can do...

[2017-05-26 01:02] client9 opened #243 "Naked releases to GitHub (raw binary, no tar, no zip)"
I've seen a few places do this

https://github.com/mvdan/sh/releases

They just upload raw binaries, no tar, no zip.

Not urgent, low priority.  But nice to support, so that people could switch to goreleaser and keep their existing formats.

[2017-05-28 06:29] client9 opened #244 "ugly error message when build fails"
hello!

Had some failures and got these lines outputted:

[code]

maybe a `/` between OS and ARCH would be nicer.

[2017-05-28 07:35] client9 opened #245 "Improve signature in default changelog template"
The default signature includes:

[code]

Ok, but I don't know what `@goreleaser` is.  I checked twitter :-)  Maybe change to https://goreleaser.github.io ?

[2017-05-28 07:43] client9 commented on #245
ha.  I didn't notice @goreleaser was a link!  The GitHub style seems to be different on this page.

Ok this isn't as important now.

[2017-05-28 12:46] jorinvo commented on #245
So we should get https://twitter.com/goreleaser to catch all the other that get confused by this 😉

[2017-05-29 16:38] client9 commented on #245
There are a number of tickets to deploy to  BitBucket, BinTray, etc...   If this happens then "@goreleaser" pointing to GitHub won't make sense.   Not urgent

twitter... good idea.

[2017-05-29 17:18] caarlos0 commented on #245
@client9 yeah, I'll create an account.

[2017-05-29 17:31] caarlos0 commented on #245
Done: https://twitter.com/GoReleaser

[2017-05-29 19:51] nicpottier opened #249 "v0.20.1 breaks goreleaser"
Kinda meta, but v0.20.1 seems to break the standard way of grabbing go-releaser and running it since there's no tar.gz binaries built for various platforms.

Travis yelps:
[code]

Pretty sure this is due to the bad v0.20.1 build containing no binaries.

Might be nice to be able to pin to a single release in our build scripts so breaks in goreleaser don't blow up everybody's deployment pipelines?

[2017-05-29 19:53] caarlos0 commented on #249
weid, will check

[2017-05-29 19:55] caarlos0 commented on #249
hmm, weird, dep seems to have screw up something:

[code]

[2017-05-29 19:55] nicpottier commented on #249
See we can set $VERSION to get around this for anybody running into it, just set your travis VERSION env variable to: `v0.20.0`. (may be nice to have a prefix like `GORELEASER_VERSION` here)

[2017-05-29 19:59] caarlos0 commented on #249
@nicpottier yeah, you can set it like this:

[code]

this will only be valid for that line in this case. Don't need to prefix it with `GORELEASER_` IMHO...

anyways, I removed the broken tag while I fix the issue.

[2017-05-29 20:02] caarlos0 opened #250 "dep: WARNING: Unknown field in manifest: dependencies"
we should fix that probably.

refs #249

[2017-05-29 20:02] caarlos0 commented on #249
Done!

v0.20.1 should be good now!

[2017-05-29 20:02] #249 closed

[2017-05-29 20:40] jorinvo commented on #245
![screen shot 2017-05-29 at 22 39 15](https://cloud.githubusercontent.com/assets/738978/26561568/c063fa44-44bf-11e7-857c-64b4d2d8a7db.png)

[2017-05-29 20:42] caarlos0 commented on #245
Weird.

[2017-05-29 20:42] jorinvo commented on #245
Maybe need to confirm mail or something?

[2017-05-29 20:46] caarlos0 commented on #245
Need to confirm by phone for some reason. And of course, it won't work...

![image](https://cloud.githubusercontent.com/assets/245435/26561690/af306970-4496-11e7-80c8-e6e417a02089.png)

[2017-05-29 20:47] caarlos0 commented on #245
![image](https://cloud.githubusercontent.com/assets/245435/26561705/d140b024-4496-11e7-8737-9fb6e71cba25.png)

[2017-05-29 20:48] jorinvo commented on #245
Maybe it works in a different browser.

[2017-05-29 20:51] caarlos0 commented on #245
![image](https://cloud.githubusercontent.com/assets/245435/26561775/5fb98628-4497-11e7-9290-1f544fca65af.png)

i really hate twitter login et al.

[2017-05-29 20:52] jorinvo commented on #245
Maybe we don't need a Twitter account 😉

[2017-05-30 00:25] client9 commented on #245
Oh dear.  If you need a USA phone number let me know.

[2017-05-31 12:23] ripienaar opened #251 "sub directory inside the archive"
It's most common in open source that `project-1.2.3.tar.gz` would extract into `project-1.2.3/` rather than just into `.`.

Extracting into `.` is surprising and dangerous you might well extract over peoples files by accident.

Can you please add a option to do the same? If off-by-default then a flag in the yaml file to activate this behaviour would be great.

This is quite a long standing standar

[2017-06-01 00:55] client9 opened #252 "" -> Skipped invalid build target: darwinarm6""
This message needs improvement.   Definitely needs a slash between OS and ARCH

[code]

from

[code]

[2017-06-01 15:10] #252 closed

[2017-06-02 14:17] #250 closed

[2017-06-05 09:04] abduld opened #255 "linux ppc64le support"
Currently I get

`Skipped invalid build target: linux/ppc64le`

even if I have

[code]

Is it possible to enable ppc64le linux target.

thank you

[2017-06-05 11:12] jorinvo commented on #255
hm, @caarlos0, what's the reasoning behind https://github.com/goreleaser/goreleaser/commit/1938ae2ae92a1728116ebfcd455703e141d3240a?

[2017-06-05 11:31] jorinvo commented on #243
[code]

Would that work?

[2017-06-05 11:48] caarlos0 commented on #255
@jorinvo This issue: https://github.com/golang/go/issues/10087

Maybe we could enable it again, since now the user can manually exclude arches...

[2017-06-05 22:38] #255 closed

[2017-06-06 10:13] caarlos0 commented on #255
@abduld done in the last release, can you check, please?

[2017-06-06 16:10] suntong commented on #242
I don't have any knowledge on goreleaser, so let me first document how @mh-cbon did it, the whole process of building a `gh-pages` repository, which seems pretty straightforward.

- After [creating .deb package in the `before_deploy` step](https://github.com/mh-cbon/emd/blob/master/.travis.yml#L43),
- [In the `after_deploy` step of .travis.yml](https://github.com/mh-cbon/emd/blob/master/.travis.ym

[2017-06-07 17:29] client9 commented on #243
let me look here

[2017-06-07 17:34] client9 commented on #251
we would need to specify a directory format that could be customized.. probably another template format like name.

[2017-06-11 11:08] martinhoefling commented on #49
@hellais +1

[2017-06-11 16:14] caarlos0 commented on #49
@hellais @martinhoefling in this case I think it makes sense... I'll create a new issue for that case, since this one was slightly different.

[2017-06-11 16:17] caarlos0 opened #259 "Release multiple binaries"
Add a `binaries` or something like that to the config file.

The idea is in [this comment](https://github.com/goreleaser/goreleaser/issues/49#issuecomment-300814646) by @hellais:

[2017-06-11 16:19] caarlos0 commented on #49
check #259

[2017-06-12 13:43] suntong commented on #242
Hi @solvingJ, Saw your recent discussion on [go-github-release](https://github.com/mh-cbon/go-github-release) issues 10. Would you consider to contribute into this instead, please? I'm sad to see talented people working on their own islands instead of collaborating with the more popular ones.

[2017-06-12 16:15] solvingJ commented on #242
@suntong Welcome to OSS :)  I know what you mean about the sprawl of talent being an inefficient use of dev time on the whole, however it's a very complex situation.  These two projects demonstrate it well actually.

These projects have very different priorities and have different visions (different enough to warrant separation).  For example, I am not a Go developer, so this project doesn't apply

[2017-06-12 16:29] solvingJ commented on #242
Also, FYI, Bintray provides free hosting of OSS .deb and .rpm binaries in their native repository format. Not many people seem to know about it yet. I don't know if this project supports it, or has considered it, but it might be preferable to publishing to GitHub-releases OR trying to hack a travis account into a deb/rpm repo.  I've mentioned it to mh-cbon as well as I think it should be the defau

[2017-06-12 17:27] caarlos0 commented on #242
@solvingJ yep, we have a issue to support bintray: #15

[2017-06-12 17:34] caarlos0 commented on #242
Either way, I do not agree with the strategy of deploying artifacts to a git repo.

GitHub already has the releases section for this, and the git repo should ideally only contain code, no binaries at all, because the size of the repo will grow like hell and no one deserves to download a 2gigs repo to open a simple pull requests.

Moreover, I think that supporting bintray, gitlab releases and other

[2017-06-12 17:34] #242 closed

[2017-06-19 07:58] dominikschulz opened #261 "FPM builds only one package format"
The FPM builder is missing a loop variable capture and builds only on archive format.

[2017-06-19 11:43] #261 closed

[2017-06-20 16:25] jhaynie opened #263 "No buildable Go source files"
I'm using the latest release 0.20.4 trying to add goreleaser to a new project.  When I run using defaults created with `init` I get the following:

[code]

I'm using the libgit2 package in my project.  When i build using `go build ./` go builds a darwin binary fine. I can't seem to figure out why it's getting this error.  I also can't figure out how to turn on more debug logging.

Any ideas?

[2017-06-20 17:06] caarlos0 commented on #263
Hi @jhaynie, can you cat your `goreleaser.yml` file and paste it in here please?

[2017-06-20 17:40] jhaynie commented on #263
[code]

[2017-06-20 17:40] jhaynie commented on #263
essentially this is the template from `init`. I only changed the binary name

[2017-06-20 17:41] jhaynie commented on #263
interestingly, when i run `go build ./` and build the binary and transfer it to a clean machine, the binary as a linker issue around the libgit2. I guess it must be dynamically linking (which makes sense) this binary.  might be unrelated

[2017-06-20 17:59] caarlos0 commented on #263
@jhaynie can you try it removing the `-s -w` ldflags?

[2017-06-20 19:46] jhaynie commented on #263
same error.

[2017-06-20 20:02] caarlos0 commented on #263
it always fails for darwin/386, or fail for other targets too? Can you try removing this target and see if it works?

[2017-06-20 20:03] jhaynie commented on #263
yeah, i tried just linux and it fails for it too.

[2017-06-20 20:08] jhaynie commented on #263
it fails for all targets no matter which one i remove or keep. so i tried different combinations.

is there any sort of verbose logging we could turn on?

[2017-06-20 20:30] caarlos0 commented on #263
@jhaynie no, but it's a good thing to add

The build will basically be something like `GOOS=os GOARCH=arch go build -ldflags -o name .`, as you can see [here](https://github.com/goreleaser/goreleaser/blob/master/pipeline/build/build.go#L64).

Meanwhile, I'll open a PR adding a debug flag.

[2017-06-20 20:44] jhaynie commented on #263
ok, cool. once you create a PR i can test from it and see what we get

[2017-06-22 04:06] caarlos0 commented on #263
hey @jhaynie , sorry for the delay, can you check #264?

[2017-06-22 15:00] novusopt opened #266 "Upload to AWS S3"
Would be a nice feature to support upload to AWS s3 buckets.

[2017-06-22 17:14] caarlos0 commented on #263
@jhaynie latest versions have a `--debug` flag, can you try it?

[2017-06-24 19:09] caarlos0 commented on #259
This would actually break lots of things. My idea so far is:

[code]

So, `build` will lost the options `binary` and `main`. Name templates related to archiving and etc would look into the root `name` property. We would have to change the brew templates to consider multiple binaries inside a single archive.

What do you guys think?

[2017-06-24 19:11] caarlos0 commented on #244
this is fixed, right?

[2017-06-24 19:11] #244 closed

[2017-06-24 19:28] jorinvo commented on #259
I think adding `binaries` is a good idea.
But I think we should consider keeping `binary` and `main`, too.
Since the majority of projects have only one binary, they can keep using the simple version. Also, their builds won't suddenly break.
We can add `binaries` additionally and assert that only one of `binary` or `binaries` can be set at the same time.

[2017-06-24 20:18] caarlos0 commented on #259
Another option, which would also address #228, is to actually have multiple build sections...

[2017-06-24 20:26] jorinvo commented on #259
Yes, that would allow for more flexibility.
I would still argue, that we should make this additional to the current configuration.
Maybe we can add a `builds` section, which would be a list of the same options as in `build`.

[2017-06-24 20:40] caarlos0 commented on #259
yes, would actually be easier:

- if `build` is set and `builds` is empty, set the `build` item as an item into `builds`
- iterate `builds` everywhere `build` is used
- would still need to add the `project` property

[2017-06-25 19:10] hellais commented on #259
I second the option of having `builds` as it would allow for `binary` specific customisation. I also think it would not be nice to break backward compatibility for the existing users, so I think looking for both `builds` and `build` is wise.

I am not sure what you mean by this

[2017-06-29 21:24] fsouza opened #268 "Mistakenly things that the repo is in dirty state"
I use git short status (https://github.com/fsouza/dotfiles/blob/master/.gitconfig#L17) and it confuses goreleaser:

[code]

I currently work around this issue with ``--skip-validation``, but it would be good to see this fixed :D :D

Thank you for the awesome tool!

[2017-06-29 22:07] jorinvo commented on #268
GoReleaser also uses the short version: https://github.com/goreleaser/goreleaser/blob/master/pipeline/git/git.go#L135
I think the test fails because you have the `branch` option set.
I changed it to use the `--porcelain` flag which should be more stable.

[2017-06-29 22:59] caarlos0 commented on #268
fixed in v0.21.3

[2017-06-29 22:59] #268 closed

[2017-06-29 22:59] caarlos0 commented on #268
thanks for the report @fsouza, thanks @jorinvo for the quick fix!

[2017-06-29 23:30] fsouza commented on #268
![you-got-it](https://user-images.githubusercontent.com/108725/27714838-63c6823e-5d01-11e7-9e34-6b6c4abcd60e.gif)

[2017-07-01 15:24] damnever opened #270 "Is there a way to run goreleaser without git repo?"
Error message:
[code]

I cannot find out solution from README.

[2017-07-01 16:05] caarlos0 commented on #270
@damnever `--skip-validate` should do it...

[2017-07-01 16:29] damnever commented on #270
[code]

[2017-07-01 16:32] caarlos0 commented on #270
hmm, so you'll need to fill up all the defaults that are provided via git.

try `goreleaser init` and fill things up according to the readme...

but anyway, goreleaser was not made to be used without a git repo... so I don't know if it will work as expected..

[2017-07-02 01:28] caarlos0 commented on #259
@hellais can you take a look at https://github.com/goreleaser/goreleaser/pull/267 ? thanks!

[2017-07-02 01:28] caarlos0 commented on #228
@tiago4orion can you take a look at https://github.com/goreleaser/goreleaser/pull/267 ? thanks!

[2017-07-02 21:11] #245 closed

[2017-07-03 01:19] tj commented on #243
👍 this would be great, I usually just shove bins up as well, great tool though nice work!

[2017-07-03 02:51] damnever commented on #270
I make it worked, but `goreleaser init` also failed reading repo from git, is there any plan to make it work without git repo?

[2017-07-03 04:19] caarlos0 commented on #243
@tj this is WIP on #257, will try to release it in 2 days :)

[2017-07-03 04:43] caarlos0 commented on #270
Not right now, but, I'm curious, what is the use case? Are you using another SCM?

[2017-07-03 04:46] caarlos0 opened #274 "Create a issue and a pr templates?"
I guess it would be nice so we can ask some info beforehand (versions, etc)..

[2017-07-03 05:44] damnever commented on #270
If I have a project in development and I do not have a git repo currently, `goreleaser` won't work.

[2017-07-03 12:05] #259 closed

[2017-07-03 14:12] caarlos0 commented on #259
released on v0.22.0

[2017-07-03 14:12] caarlos0 commented on #49
released on v0.22.0

[2017-07-03 14:12] caarlos0 commented on #228
@tiago4orion should be possible now.

released on v0.22.0

[2017-07-03 14:12] #228 closed

[2017-07-03 14:31] tiago4orion commented on #228
Thanks @caarlos0, but we rolled our own release script in the meantime. I really liked your tool, probably we'll switch to it in the future.

[2017-07-03 17:04] caarlos0 commented on #228
no problem :)

thanks for reporting the issue anyway =)

[2017-07-04 07:01] vromero opened #275 "Consider configuration file to be `.goreleaser.yml` instead of `goreleaser.yml`"
This may or may not make sense in the go state-of-the-art, but it might help to unclutter the project root folders to have the configuration file default name as `.goreleaser.yml` instead of `goreleaser.yml` as:

- in unix it would be hidden, just like .travis.yaml, .gitignore and other not strictly code files
- in github it would be grouped (by ordering) with the rest of the not strictly code fil

[2017-07-04 07:29] bep opened #276 "Should use text/template for release notes"
Hugo uses examples in Markdown in the release notes, one example:

[code]

Since goreleaser uses `html/template` to handle these release notes, it escapes the brackets and quotes in the above example, and I have to manually edit the release notes to make it look right.

Not sure if there is a specific reason why not to just use `text/template` here, which, for us, would be a better choice.

https:

[2017-07-04 12:21] caarlos0 commented on #276
no particular reason, it's a bug.

[2017-07-04 12:46] caarlos0 commented on #275
yes, i've been thinking about it too...

right now it's possible via the `--file` flag, but we should make it work by default, I agree...

[2017-07-04 12:48] caarlos0 commented on #270
Hmm, got it.

I usually create a repo right away...

Anyway, the `init` command should probably ignore this kind of errors and just leave the field empty I guess...

[2017-07-04 12:55] #276 closed

[2017-07-04 13:06] caarlos0 commented on #276
fixed on v0.22.2 :)

[2017-07-04 17:48] vromero commented on #275
Yes but there are some inconveniences, as I can't pass `--file`  in : `curl -sL https://git.io/goreleaser | bash --file .goreleaser.yml`

Thanks

[2017-07-04 17:58] caarlos0 commented on #275
@vromero the syntax should be:

[code]

[2017-07-04 21:48] vromero opened #278 "Tar and symlinks"
Oftentimes it's necessary to distribute symbolic links withthin a unix distribution.

I'm my case I have an `uberexec` and a number of links to that exec (`commanda`, `commandb`) that would eventually trigger the same behaviour as `uberexec commanda` or `uberexec commandb`.

Due to the considerable size of a Go executable and the complexities of a multibinary project (e.g: Gogland do not support i

[2017-07-04 23:36] vromero commented on #275
Interestingly the homebrew part won't work complaning about homebre not configured. Renaming the file back to `goreleaser.yml` and removing `-s -- --file .goreleaser.yml` fix the problem.

[2017-07-04 23:59] caarlos0 commented on #278
Yeah, maybe. We don't actually call GNU tar though, we use the native Go implementation.

I'm sure it's possible to implement this, though...

[2017-07-05 00:00] caarlos0 commented on #275
@vromero which homebrew part?

[2017-07-05 00:15] caarlos0 opened #279 "throttle file uploads"
in the build pipe, we already do a pool to not build all possible builds at the same time.

We may do the same for release file uploads. On not-very-good internet connections it may help improve release time :)

[2017-07-05 00:57] caarlos0 commented on #243
@tj it is out, not yet working homebrew and fpm though. Working on that part :)

[2017-07-05 00:58] caarlos0 opened #280 "make fpm packages work with binary releases"
refs #257 and #243

[2017-07-05 00:59] caarlos0 opened #281 "make brew work on binary releases"
refs #257 and #243

not even sure if it's possible, even more if there are multiple builds + binary releases in place.

[2017-07-05 01:05] caarlos0 opened #283 "rm /dist if not empty"
since some people are running goreleaser locally, it might be good to check if `./dist` folder is empty, and, if not, warn about it and stop.

Also nice to have a flag a flag to just rm and move on...

[2017-07-05 01:05] #279 closed

[2017-07-05 01:37] tj opened #284 "Changelog transform command"
Hey hey!

I was thinking a clean way to implement changelog massaging without getting into templates would be to simply pass it through stdio of an optional command (shell).

Then something like `changelog: sort | grep -v docs` could group them together and filter some of the less important stuff.

<img width="707" alt="screen shot 2017-07-04 at 6 29 48 pm" src="https://user-images.githubuserconte

[2017-07-05 01:42] tj commented on #243
awesome, works! the brew stuff sounds awesome, I've never bothered with brew, definitely will now haha

[2017-07-05 02:12] caarlos0 commented on #284
hey @tj 🎉

hmm, right you can do it with ~~some~~ a lot of hacking:

[code]

I agree that this is not ideal though. The entire changelog is kind of crappy and very basic right now... I'm thinking about improving it by adding PRs merged, issues closed, contributors and that kind of fluffy stuff... For sure personalization would be in mind for all that =D

I was thinking about doing something like t

[2017-07-05 02:14] #283 closed

[2017-07-05 02:36] tj commented on #284
hmm yea I wonder where to draw the line, having some things baked in would be convenient. I'd be happy with even just being able to specify --release-notes in the config, then we can chuck that one-liner in there or maybe I'll write a little Go program to organize it a bit

[2017-07-05 02:40] tj commented on #284
Actually --release-notes is probably fine! Feel free to close if no one else wants it

[2017-07-05 02:54] vromero commented on #275
The creation of the formula:

[code]

[2017-07-05 02:55] caarlos0 commented on #275
@vromero you need to set the `github` property. Check https://github.com/goreleaser/goreleaser#homebrew-tap-customization

[2017-07-05 02:59] vromero commented on #275
I did, the only thing I different between a working run and a non working one is:

- *Non working*:  `.goreleaser.yml` and `--file in : curl -sL https://git.io/goreleaser | bash --file .goreleaser.yml`
- *Working*:  `goreleaser.yml`

It might be a environmental, but happened to me twice before I believed that it was happening.
I see you have a PR, I'll be happy to test when it is merged I'll let y

[2017-07-05 03:00] caarlos0 commented on #284
Nice!

FWIW I think hugo has some custom scripts as well, you can check the source or maybe ping <at>bep :P

I'll leave the issue here for now... will think more about it later :)

[2017-07-05 03:01] caarlos0 commented on #275
that's weird...

anyway, the feature tu support `.goreleaser.yml` natively is in the oven 👍

[2017-07-05 03:04] #275 closed

[2017-07-05 03:11] caarlos0 commented on #275
it's out, v0.24.0, enjoy!

[2017-07-05 03:18] caarlos0 commented on #243
I created new issues to deal with the things that are not working with binary releases right now.

Will close this since the initial thing is done :D

[2017-07-05 03:18] #243 closed

[2017-07-06 12:46] joeblew99 opened #287 "Birise tools"
Bitrise allows building golang based android and iOS apps.

It is easy for go reader to tap into because it is itself written in golang.

I am on my mobile but you will find it with a little googling.

They also have a full CI that you can run locally or use their cloud. It's super open.

They have a ton of other stuff I use tool like automatic mobile simulator setup and testing.

You can use it f

[2017-07-06 12:48] jorinvo commented on #287
Thank you.

[2017-07-06 12:48] #287 closed

[2017-07-06 13:20] jorinvo commented on #284
I like the current approach via `--release-notes`.
By dealing with plain files you are flexible to do unixy things as @caarlos0 showed above, which would be more difficult with a setting in the configuration file.
If we would add changelog options to GoReleaser, it would be hard to decide what should be added and what should be skipped.
I guess in many cases users also like to have a completely cu

[2017-07-06 13:22] caarlos0 commented on #284
probably yes...

[2017-07-07 13:37] caarlos0 opened #289 "Improve config validation"
We should be able to error when the config is invalid (e.g. typo on the key or wrong structure)

[2017-07-07 19:50] tj opened #290 "Binary diff support"
I'm not familiar with the existing formats or pkgs, but @c4milo was suggesting binary diffs for https://github.com/tj/go-update which is would be a really cool addition to tarballs. Would you be into supporting diffs along side the existing options?

[2017-07-07 20:21] caarlos0 commented on #290
Not sure what you're asking... you want to be able to upload a diff between binaries?

[2017-07-07 20:58] tj commented on #290
Yep. Looks like there are quite a few Go packages for it, it's not something I need right now but happy to research and contrib later if the maintainers are interested.

[2017-07-07 22:24] jorinvo commented on #290
It sounds like something that would be a good fit for the scope of GoReleaser.
As far as I understand, it would be implemented similar to checksums since it works on the created artifacts/binaries.
I guess it would be a useful feature, but I'm afraid I don't really understand what it's used for. @tj could you please explain a bit more what binary diffs are used for?
Can you use them to only send t

[2017-07-07 22:44] caarlos0 commented on #290
yeah, it seems useful for applying updates without having to download the entire binary... seems good indeed!

[2017-07-07 22:49] tj commented on #290
@jorinvo yep you'd just fetch the patches that are required to upgrade to the latest version. I haven't tried so I'm not sure how effective they'd be, but if ~90% of your project is external packages and stdlib it should be pretty good!

[2017-07-07 22:53] caarlos0 commented on #290
@tj Assuming that the user runs it often, probably yes...

[2017-07-07 23:41] tj commented on #290
haha yea, if it's really outdated probably better off having the updater grab the tarball

[2017-07-08 19:01] caarlos0 commented on #290
oops, closed the wrong issue.

[2017-07-08 19:01] #289 closed

[2017-07-09 15:34] gedex opened #292 "Override the commit author for brew"
The commit author is currently hard coded to [goreleaserbot](https://github.com/goreleaser/goreleaser/blob/e8bdba5752e3e3b6a2a9850c64d333e1e4f81be7/internal/client/github.go#L34-L35). Is it possible to override that via `.goreleaser.yml` or maybe just use `ctx.Config.Brew.GitHub.Owner`?

[2017-07-09 15:40] caarlos0 commented on #292
Is a feature worth adding I guess

[2017-07-10 06:54] bep opened #293 "Ignore suggestion"
So I expected this to work:

[code]

But I had to do:

[code]

Which in my head is a little bit surprising. It should at least be documented somehow.

[2017-07-10 12:13] #293 closed

[2017-07-10 12:15] caarlos0 commented on #293
v0.26.1 should have that fixed

[2017-07-10 17:41] whilei commented on #157
I'm running into the same issue. A restart worked once for me, but a second time it did not. Would of course rather not be restarting my jobs if I don't have to, either.

Might be worth adding a little debug output showing what, if anything, is returned from the Github API for this initial call yielding `Unable to get goreleaser version`.

[code]

[2017-07-10 17:44] caarlos0 commented on #157
do you have a `GITHUB_TOKEN` set for your build?

if not, it is accessing the API without a token, which has a very small rate limit. And you are sharing it with several travis users... so the failure is probably because of that.

We are working on solving this by generating the script on every release with the version hard coded, so we don't need to get the latest version for it to work. This may

[2017-07-10 17:53] caarlos0 opened #296 "Improve get script to not use the API"
To get the latest version, we may use a simple curl command like this instead:

[code]

No API access means no problems with rate limiting, solving intermittent errors like #157

We may do the same in godownloader. cc @client9

[2017-07-10 18:02] caarlos0 commented on #157
@whilei FWIW, I applied a quick fix that should fix the problem. You can see on issue #296

[2017-07-10 20:17] whilei commented on #157
Thanks for touching base so quickly!

The token is definitely set in the CI --
[code]
-- which makes me wonder if it's surely a rate limit problem, or perhaps something else? Not sure either way.

[2017-07-10 21:04] caarlos0 commented on #157
yeah, might be some other github limitation... either way it should be gone now.

[2017-07-11 00:18] caarlos0 commented on #281
I  was able to make it work with a single binary at least:

[code]

so the remaining problem is to do it with multiple binaries...

[2017-07-11 00:18] caarlos0 commented on #281
another idea would be to generate multiple formulas (one for each library)

[2017-07-11 00:19] caarlos0 commented on #281
Architectural problem for both this issue and the fpm one ( #280 ): we need to be able to get the "pretty name" of a binary (without versions and etc)...

[2017-07-11 00:27] caarlos0 opened #297 "Make godownloader a goreleaser pipe"
We discussed this already on slack a few days ago (I guess it was on slack).

Anyway, the idea is:

- most of the godownloader become a pipe on goreleaser, so the user may opt in to generate the `.sh` file and commit it;
- godownloader will still exists, basically calling importing goreleaser and using it (or probably parts of it) as a library;

So, as far as I can see, we need to:

- [ ] move a l

[2017-07-11 00:30] caarlos0 opened #298 "Refactory: we need to able to get the "pretty name" of a binary"
For both #280 and #281 we need to be able to "go back" to the pretty name of a binary.

Maybe a simple map on the context will do:

[code]

Right now it is not possible to do that.

[2017-07-11 01:17] whilei commented on #157
👍  Right on, have been keeping tabs on your new `curl`. Looks good to me and is working. Simple for the win.

Please feel free to resolve.

[2017-07-11 01:24] whilei opened #299 "AppVeyor / Windows compatibility?"
So I've been reading (erm... referencing..., erm, plagiarizing) your nifty `curl .... | bash` install script

[code]

And while I'm somewhat lazy and haven't actually tested it against AppVeyor/Windows -- my guess is it's won't work, since it's looking only for the `.tar.gz` release instead of the Windows `.zip` file.

I've gone so far in my own implementation to use the following to address the i

[2017-07-11 01:58] #157 closed

[2017-07-11 01:58] caarlos0 commented on #157
fixed on https://github.com/goreleaser/get/commit/421486cbf3a885f0d2fb934e0b45a918b3e0149a

[2017-07-11 04:06] whilei commented on #299
We could use something like:
[code]

It's ugly and I don't like it, but that 's what I'm using in other production environments (for testing)...

[2017-07-11 10:29] caarlos0 commented on #296
Works better than the previous version.

Closing...

[2017-07-11 10:29] #296 closed

[2017-07-11 11:12] caarlos0 commented on #298
Maybe:

[code]

So it will have

[code]

[2017-07-12 22:53] osteele commented on #263
I'm seeing this issue too. The presence of `import "C"` in a file seems to hide it from the build, so that any symbols defined in that file are unavailable.

I'm running on macOS Sierra 10.12.5.  My test repo is <https://github.com/osteele/goreleaser-issue>. It already has a tag v0.0.1, created via `git tag -af v0.0.1 -m "First release" && git push -n origin +v0.0.1`. Note that the `global` variab

[2017-07-12 22:58] osteele commented on #263
I extracted and ran the final command from the debug output, and this elicits the same error:

[code]

So it appears the issue is in cross-compiling to macOS (at least with my toolchain) to Linux, and not necessarily in goreleaser per se except maybe as a documentation issue.

[2017-07-13 00:57] osteele commented on #263
I get the same error on Travis, only it is able to build Linux but unable to build Darwin: <https://travis-ci.org/osteele/gojekyll/builds/253029404>

[code]

[2017-07-13 23:06] peeyushsrj opened #300 "Changelog issue, same commits shown."
I recently released two version. I found that changelog is showing commits from the beginning in succesive release too.

Screenshots are attached.
![v1 0](https://user-images.githubusercontent.com/5060113/28191418-d3c0d0ba-684d-11e7-8457-13e63028ab40.png)
![v1 1](https://user-images.githubusercontent.com/5060113/28191419-d3c5db1e-684d-11e7-9980-c14a1346cde7.png)

[2017-07-14 01:26] caarlos0 commented on #300
Could not reproduce.

Maybe you release the first tag via github and the second in your machine, and, for some reason, your local git repo didn't had the reference to v0.1.0?

Can you please paste the output of `git tag` and `git --version`?

[2017-07-14 01:32] caarlos0 commented on #299
let's see if more people need this.

for now it's not a priority for me, and I don't use windows so I can't even test any of this

[2017-07-14 01:34] caarlos0 commented on #292
Using `ctx.Config.Brew.GitHub.Owner` won't work, we should use both username and email in order to make it look good.

Maybe use the current logged in user?

[2017-07-14 01:35] caarlos0 commented on #292
Also: PRs welcome :D

[2017-07-14 09:40] peeyushsrj commented on #300
Both tags in local machine.
[code]
[code]

But I did have a tag before this. which I deleted on git repo and then local machine.

[2017-07-14 15:06] tisba opened #303 "Homebrew: Support for test?"
First: Thanks for this great tool! Especially the generation of homebrew formulas is awesome!

I was wondering though if there is currently a way to modify the formular output. We used to have a `test do … end` block (see e.g. https://github.com/stormforger/homebrew-forge/commit/d7edc7bc81678f5735a0984588511c709023ccbd):

[code]

This enables us to use travis and run `brew test $FORMULAR` (see htt

[2017-07-14 16:40] caarlos0 commented on #303
There is no way of doing it right now, but it is totally doable!

You can open a PR if you want :) If not, I'll do it when I have some free time.

[2017-07-14 17:53] tisba commented on #303
I'm quite new to golang, but I'm happy to give it a shot :)

[2017-07-15 06:30] jorinvo opened #304 "Add config for number of parallel builds"
As @arran4 mentioned in #189, there are valid cases where it is required to be able to limit the number of parallel builds.

[2017-07-15 10:43] peeyushsrj commented on #300
@caarlos0 Is it fixed?

[2017-07-15 12:46] caarlos0 commented on #300
@peeyushsrj couldn't reproduce... there are tests guaranteeing this works as expected... I really don't know where to look, everything seems right :/

can you try to cut another release and see if it works?

[2017-07-15 12:46] caarlos0 commented on #300
The only possible thing I could think is that your git version is a little old...

[2017-07-15 15:46] #298 closed

[2017-07-15 15:46] #280 closed

[2017-07-15 17:53] peeyushsrj commented on #300
Fine. I'll do another release, the way I did earlier to check it. Anyway it's lovely tool.

[2017-07-16 14:00] #304 closed

[2017-07-16 16:09] #303 closed

[2017-07-16 17:10] tisba commented on #303
Awesome! Thanks! <3

[2017-07-25 21:17] anthonyfok opened #314 "Is there a way to configure fpm to add extra files to a .deb or .rpm package?"
A full-fledged Debian package often contains more files than the compiled Go binary and changelog file.  Using hugo as an example, the Debian-maintained package contains the following files:

[code]

whereas the goreleaser-generated package contains:

[code]

I took a quick look at the documentation and in the source code, but wasn't able to see any settings in goreleaser.yml that would allow me t

[2017-07-26 08:29] anthonyfok commented on #314
Yes, and perhaps the ability to run command snippets during the build, e.g. `hugo gen man` and things like `mkdir`, `mv`, etc.  (hope there is no security concern with running external commands).

Many thanks for your enthusiasm and encouragement!

[2017-07-26 12:24] caarlos0 commented on #314
@anthonyfok nice!

on the build phase you can already call external commands (see pre and post build hooks).

Maybe we can do the same on fpm...

[2017-07-26 12:25] caarlos0 commented on #314
I'll split this issue in 2, since there are 2 features here =D

[2017-07-26 12:25] caarlos0 opened #316 "add custom name template for fpm packages"
check https://github.com/goreleaser/goreleaser/issues/314

[2017-07-30 19:20] hacdias opened #318 "Error compiling for openbsd/arm and freebsd/6"
Hey!

I'm getting some errors when compiling for openbsd/arm and freebsd/arm.

[code]

I was told it could be related to this tool so I decided to post this here.

[2017-07-30 20:48] caarlos0 commented on #318
So, can you run goreleaser with the `--debug` flag and paste the output here?

[2017-07-30 21:43] sanathkr opened #319 "Support both .goreleaser.yaml and .goreleaser.yml files as default config"
YAML spec prefers `.yaml` as the file extension - http://www.yaml.org/faq.html. It would be good to support both styles of extensions for the default config. Mind if I send a PR?

[2017-07-30 23:10] caarlos0 commented on #319
@sanathkr of course, please do :)

[2017-07-31 09:22] andygrunwald opened #320 "Add Docker-Image-Building / Push to Dockerhub (like Homebrew)"
goreleaser has support for Homebrew (to push new releases, after a release is done).
Docker is also a wide used tool. Maybe this would also make sense to implement a docker build + tag + push to the configured registry?

One disadvantage would be to couple goreleaser to Docker.
Maybe a "Hook"-System would be good. With this people can develop use cases to push releases to different sources. Anothe

[2017-07-31 09:48] hacdias commented on #318
[code]

[2017-07-31 09:49] hacdias commented on #318
If I ignore freebsd/arm6, it will fail on openbsd/arm6.

[2017-07-31 12:54] caarlos0 commented on #318
@hacdias can you try:

[code]

[2017-07-31 13:19] hacdias commented on #318
[code]

[2017-07-31 13:43] caarlos0 commented on #318
one last test:

[code]

(I removed the `-s -w` ldflags).

If it still fails, try to build removing the all the ldflags. And if it still fails after that, I think you can open an issue to the go folks :P

[2017-07-31 14:06] hacdias commented on #318
Hey, sure!

About the freebsd/arm error: https://github.com/golang/go/issues/21136

With your command:

[code]

Without the ldflags it works

[2017-07-31 14:38] caarlos0 commented on #318
OK, so, I can close this one, right?

[2017-07-31 14:49] hacdias commented on #318
Yes, sure. I'll open an issue about openbsd/arm6 on golang/go too. Only freebsd's was opened.

[2017-07-31 14:49] #318 closed

[2017-08-02 12:24] caarlos0 opened #322 "Name template for snap packages"
Our "final" pipes all have the option of templating the final name, maybe we should add this feature to snaps as well.

[2017-08-02 12:24] caarlos0 commented on #322
@elopio is there any kind of name enforcement by snapcraft? tl;dr: is it ok to do this?

[2017-08-03 15:22] mplx opened #323 "github release fails on windows platform"
When I'm running `goreleaser` on my ubuntu machine it works fine but on windows platform I've got trouble with file paths. It seems that on windows filenames are prefixed with the `dist\` directory and for upload its duplicated to `dist\dist\` resulting in `path not found` error.

windows7 amd64, go 1.8.3
[code]

linux (ubuntu 17.04 zesty), go 1.7.4
[code]

[Project](https://github.com/mplx/gosamp

[2017-08-03 17:38] caarlos0 commented on #323
seems like a bug... `dist` happens 2 times in windows: `dist\dist`

[2017-08-04 01:14] caarlos0 commented on #323
@mplx should be fixed on v0.28.1, can you test and let me know, please?

thanks for reporting the bug!

[2017-08-04 01:14] #323 closed

[2017-08-04 07:03] mplx commented on #323
tested v0.28.2 - works very well!

thanks for fixing it so fast :)

[2017-08-04 11:44] caarlos0 commented on #323
thanks for reporting @mplx  :D

[2017-08-04 12:26] caarlos0 opened #326 "Document snapcraft on readme"
it is not documented right now.

cc/ @elopio

[2017-08-04 14:32] elopio commented on #326
I'm on it.

@caarlos0 we have a blog that's very popular. Would you like to write a post in there talking about goreleaser and how it can now generate snaps? It's this one: https://insights.ubuntu.com/

[2017-08-04 14:35] caarlos0 commented on #326
@elopio I'll love to do that :D

[2017-08-04 14:36] elopio commented on #326
Nice! I think the easiest would be to write it in markdown. But you can send me an email to leo.arias@canonical.com, and I'll put you in contact with our marketing team, who can guide you further on publishing in insights.

[2017-08-04 17:01] caarlos0 commented on #326
@elopio OK, thanks 👍

[2017-08-05 01:05] #326 closed

[2017-08-07 08:16] lox commented on #131
I'd be interested in contributing this feature as it's something I need. Anyone have any pointers on the best way to build windows packages for golang binaries?

[2017-08-07 08:17] lox commented on #131
This looks relevant: https://github.com/mh-cbon/go-msi

[2017-08-07 15:31] elopio commented on #322
The file name is not important at all. The `name` field inside the .yaml needs to be `^[a-z0-9][a-z0-9+-]*$`.

[2017-08-08 00:07] suntong commented on #15
Be ready for some bumpy ride, as I've just discovered that bintray is down in the middle of the day:

![bintray is down](http://img.vim-cn.com/eb/f9ad8696aa8f85a478caed19b6a3bd367db5ee.png)

[2017-08-09 19:56] tj opened #331 "resource temporarily unavailable"
I'll try and dig into this later, looks like it's not happy with the concurrency, compiling from a Mac (system defaults). Big of an obscure error haha looks like maxing out procs maybe?

[code]

[2017-08-09 20:00] tj commented on #331
looks like lowering concurrency did the trick! `-p 1`

[2017-08-09 20:00] #331 closed

[2017-08-09 22:37] caarlos0 commented on #331
wow, I had never seen this error before 🏖

[2017-08-09 22:39] caarlos0 commented on #331
Yeah, seems like you ran out of procs indeed.

You can check the limits with:

[code]

also: https://github.com/golang/go/issues/18212 and https://github.com/golang/go/issues/18202

[2017-08-09 22:56] tj commented on #331
I think something went rogue leaking procs on my machine hahah, I ran into this again later with other commands

[2017-08-11 03:49] lrstanley commented on #314
Looks like most of this should be covered with https://github.com/goreleaser/goreleaser/pull/330 being merged. However, reviewing the FPM docs, it looks like there is another directive which we could take advantage of:

[code]

`--config-files` specifically only supports deb/rpm, and it passes these directly to the build configs of these. The advantages of each being:

* `files` directive
   * Fil

[2017-08-11 19:04] suntong opened #332 "Conditionally Replacements"
[code]

Can I do the replacement conditionally?
E.g., only rename `amd64: ` when `GOOS` is `windows`?

thx

[2017-08-11 19:17] caarlos0 commented on #332
hi @suntong

unfortunately no :/

[2017-08-11 19:17] caarlos0 commented on #332
you might be able to hack it into the name template though. It is parsed by go's `text/template`, so you can do `if` statements in there. :)

[2017-08-11 19:23] suntong commented on #332
Hmm..., I'll wait then.

The reason I'm asking is that

- Under Debian the amd64 packages are called `amd64`
- Under Window the amd64 executables are named `x86_64`
- and I don't know what they are called under Darwin

So hopefully someday we can satisfy all of them, but for the moment, I'll call them all `amd64` for now.

[2017-08-12 01:37] suntong commented on #15
I gave it a try and it is pretty straightforward -- the second blog entry listed by @bpicode, https://blog.bintray.com/2014/12/16/hosting-debian-packages-on-bintray-rocks/, is still good, despite that it is published in year 2014.

I.e., basically, for Uploading and Publishing Debian Files, the following is all it need, provided that you have created the Debian repo and package already:

    curl

[2017-08-14 07:02] drewsonne opened #333 "FPM deb build failing"
I'm having an error with fpm building deb packages on travis. I've tried locking my fpm version to a known working one, but that doesn't seem to be working.

The error I'm getting is
`
error={:timestamp=>"2017-08-14T06:53:54.886278+0000", :message=>"Debian packaging tools generally labels all files in /etc as config files, as mandated by policy, so fpm defaults to this behavior for deb packages. Y

[2017-08-14 08:04] jspc commented on #333
I'll have a look this morning

[2017-08-14 11:31] bobvanluijt opened #334 "Goreleaser can't find checksum.txt file"
Running the following command: `goreleaser --rm-dist --snapshot --skip-validate` results in the following error: `error=open dist/project_checksums.txt: no such file or directory`

Yaml file:

[code]

[2017-08-14 12:35] caarlos0 commented on #334
Hi @bobvanluijt , thanks for reporting!

Can you run it with `--verbose` and paste the output here please?

[2017-08-19 11:14] probonopd opened #338 "Also generate AppImage"
Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it executable](http://discourse.appimage.org/t/how-to-make-an-appimage-e

[2017-08-21 00:38] bep opened #342 "Brew tap not accepted in homebrew-core"
See: https://github.com/Homebrew/homebrew-core/pull/16943

[2017-08-21 00:54] caarlos0 commented on #342
yeah, rules for getting into the core are different. As they said, you must write a formula that builds your code from source...

this means you have to declare all dependencies and etc in the `.rb` file.

see for example, [termshare recipe](https://github.com/Homebrew/homebrew-core/blob/0cb1e13a226300da453d52eaf7941973eb14988e/Formula/termshare.rb).

as far as I understand, these formulas generat

[2017-08-21 01:02] bep commented on #342
I think that:

* When you state in your README that you support `brew`, people will expect their binaries to be gettable via `brew install` without additional "taps mumbojumbo". As this is clearly not the case, it should be stated in **bold** text.
*  I agree that building from source requires some additional config, but it is based on a source release. I think a better example would be https://gi

[2017-08-21 01:32] caarlos0 commented on #342
agreed! will fix that.

indeed it's better, didn't knew we could use `godep` and etc... good to know

I don't know much either and I agree the docs are not ideal as well as our docs are also not ideal.

[2017-08-21 01:37] caarlos0 commented on #342
Either way, I believe that, with some config, we might be able to generate valid formulas like this one you shared.

[2017-08-24 08:20] zerok opened #343 "Checksum file for each release?"
Hi :)

Would it make sense to offer the option to generate one checksum file per archive within the dist folder? My use-case is that I'd like to simply rsync my local dist folder up to out assets server which might already contain other releases that are not available locally. In this case I'd pollute the shared checksums.txt file and potentially remove entries for it by accident.

[2017-08-24 13:49] caarlos0 commented on #343
make sense!

would the file be named something like `name_of_the_archive_checksums.txt` or is there another name template that's common for this use case?

[2017-08-24 17:19] zerok commented on #343
I'm not yet sure if it would even make sense to group them per release and also support multiple algorithms:

[code]

[2017-08-25 12:42] caarlos0 commented on #334
closing due to inactivity

[2017-08-25 12:42] #334 closed

[2017-08-25 12:43] caarlos0 commented on #300
@peeyushsrj any news?

[2017-08-25 12:47] caarlos0 commented on #263
Yeah, not even this works:

[code]

So, not a goreleaser issue. Closing :)

[2017-08-25 12:47] #263 closed

[2017-08-25 12:48] caarlos0 commented on #263
BTW: this probably happens because when cross-compiling CGO is disabled...

[2017-08-25 12:49] peeyushsrj commented on #300
The setup was messy, could not reproduce! I hope to do that mistake some time in nearby future. For time being issue can be closed. @caarlos0

[2017-08-25 13:18] caarlos0 commented on #300
@peeyushsrj ok, thanks....

I think it may be an old version of git or something... I was re-implementing the git part with a git library written in Go but it doesn't have all the features we need yet...

If you see the problem again, please re-open :)

Thanks again!

[2017-08-25 13:18] #300 closed

[2017-08-25 18:43] skisulli opened #344 "Support for uploading to Artifactory"
We use [JFrog Artifactory](https://www.jfrog.com/artifactory/) to store all our build artifacts. It would be great if goreleaser could upload to an Artifactroy server and add a link to the binaries in the release notes on GitHub.

This could probably work by just allowing for a generic server destination. In our case, we usually upload to Artifactor by just calling `curl -uUSERNAME:PASSWORD -T FIL

[2017-08-27 09:15] bep commented on #342
@caarlos0 yes, but I would not spend too much time on "magic logic"; what would be cool if you could add a "tap template" so project owners could script the "govendor etc. logic" themselves.

[2017-08-27 10:09] hugoShaka opened #345 "Wrong architecture in .deb when building for arm"
The only architectures goreleaser supports when using fpm are x86_64 and i386.
When building for arm architectures the .deb package generated won't be installed by dpkg :
For example, here I have ARM binaries but the package is flagged for amd64 :
[code]
Those lines are responsible of the Architecture choice when calling fpm :
https://github.com/goreleaser/goreleaser/blob/42446c807989f83b98f4fa11a

[2017-08-27 16:19] caarlos0 commented on #345
Thanks for reporting this @hugoShaka !

#346 should fix it :)

[2017-08-27 16:21] caarlos0 commented on #333
I've seen this happening in goreleaser build sometimes as well...
AFAIK your config is right... maybe it's a bug in fpm?

[2017-08-27 16:29] #345 closed

[2017-08-27 16:57] #322 closed

[2017-08-28 00:27] #319 closed

[2017-08-28 01:19] #343 closed

[2017-08-28 12:18] bep opened #350 "Update CircleCI guide to 2.0"
As I fumbled a stupid amount before getting this right, I thought I would share my experience so you can consider updating the CircleCI info to v2.0. Which is pretty impressive once you get it.

For example project CircleCI config:

https://github.com/bep/s3deploy/blob/master/.circleci/config.yml

It uses this Dockerfile:

https://github.com/bep/dockerfiles/blob/master/ci-goreleaser/Dockerfile

Wh

[2017-08-28 14:03] caarlos0 commented on #350
Maybe we could have some sample repositories set up as well (for various CIs)

[2017-08-28 14:21] bobvanluijt commented on #334
Hi @caarlos0,

Sorry for the late response.

By adding `--verbose` it results in: `error=flag provided but not defined: -verbose`

[2017-08-28 14:29] caarlos0 commented on #334
hi @bobvanluijt sorry, its `--debug`...

[2017-08-28 14:33] bobvanluijt commented on #334
hi @caarlos0 here you go:

[code]

[2017-08-28 14:38] bobvanluijt commented on #334
@caarlos0 aha, I think I'm getting there.

The root of my mainfile is not in the same folder it is in `./server/main.go` is there any way to tell goreleaser to look in that folder?

[2017-08-28 17:09] caarlos0 commented on #334
@bobvanluijt yes, in the [build section](https://github.com/goreleaser/goreleaser#build-customization), set the `main` file/folder...

[2017-08-28 17:10] caarlos0 commented on #334
It also seems that no archives were created...

[2017-08-28 20:39] jhaynie commented on #263
@caarlos0 i apologize for taking so long to respond. i ended up having to rework my build to remove the cross compiled cgo code. it was unrelated to goreleaser and once i did that of course, goreleaser works just fine.

[2017-08-28 20:55] caarlos0 commented on #263
@jhaynie no problem, glad you figured it out :)

[2017-09-02 02:05] blacktop commented on #166
https://keybase.io would integrate nicely

[2017-09-03 01:51] #274 closed

[2017-09-04 12:42] drewsonne commented on #333
I've tried pinning my install to a few different versions of fpm, but it doesn't seem to make a difference. I will be more systematic and try a few different versions of fpm.

[2017-09-06 20:46] caarlos0 opened #351 "Update Travis instructions"
We can use the travis deploy section, like this:

[code]

[2017-09-11 13:15] caarlos0 commented on #320
The docker thing should be reasonable easy, basically:

- create a dockerfile from scratch (or assume one is created)
- docker build
- docker push

I think i'll look into that today

[2017-09-11 13:49] andygrunwald commented on #320
Yes, exactly.
The thing is more that this is kind of extendable. Because i think a lot of people have different use cases. Another use case could be to push to Artifactory or AWS S3.

I would be happy to review or test such a feature (more general or specific to docker).

[2017-09-12 03:00] caarlos0 commented on #320
hey @andygrunwald , can you take a look, plz? https://github.com/goreleaser/goreleaser/pull/355

[2017-09-12 13:26] klauern opened #356 "goreleaser init fails"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

created a project, initialized a git repository (no remote yet), added some files to it.  Then `goreleaser init` fails:

[code]

### Environment

Please paste the output of:

- `go version`
[c

[2017-09-12 13:34] caarlos0 commented on #356
@klauern if the folder a git repository?

[2017-09-12 13:58] klauern commented on #356
yes, but it does not have a remote (yet).

[2017-09-12 14:20] caarlos0 commented on #356
@klauern hmm, that's probably the issue.

errors should be better, though.

Thanks for reporting!

[2017-09-13 01:09] caarlos0 commented on #320
TODO:

- [ ] templating in the image name (e.g.: user/image:{{.Tag }}_blah)
- [ ] deal with image names when its a snapshot
- [ ] a way to also tag and push latest (eg: latest: true in the config)
- [ ] docs (after the feature is complete)
- [ ] set the docker repository url

[2017-09-15 03:00] rliebz commented on #333
I had a similar issue trying to run goreleaser locally on my macbook. @drewsonne—the line you linked to is actually just a warning (which I still get when I run fpm manually), but the actual error is thrown here: https://travis-ci.org/drewsonne/go-gocd/jobs/264257111#L910. It looks like the warning is only printed when there is an error as well.

Locally, the fix for me was using the GNU version o

[2017-09-15 18:18] tj opened #362 "307 Moved Permanently (from a renamed repo)"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

Releasing after moving a repo to a new org (apex/gh-polls).

### Environment

Please paste the output of:

Using goreleaser version 0.31.1, commit 9882da4b5756308b44ed7a5d7d73fdb2c63cccd4, bui

[2017-09-15 18:25] caarlos0 commented on #362
hmmm, I think that if you change your remote url to the new one it should work (or change .goreleaser.yml if you have the repo specified there).

I'll try to take a look at it tonight anyway :D

[2017-09-15 18:41] tj commented on #362
ahh right ok that makes sense haha, I didn't actually think of where it gets the url from. I'll try that

[2017-09-15 18:47] tj commented on #362
sweet works, thanks man!

[2017-09-15 18:47] #362 closed

[2017-09-15 18:58] caarlos0 commented on #362
Nice :D

[2017-09-16 19:07] caarlos0 commented on #320
I think this is done!

[2017-09-16 19:07] #320 closed

[2017-09-16 21:15] caarlos0 commented on #351
Maybe not: https://github.com/travis-ci/travis-ci/issues/8445

[2017-09-17 09:32] esiqveland commented on #166
I believe https://godoc.org/golang.org/x/crypto/openpgp would serve this nicely.

[2017-09-20 11:58] andygrunwald commented on #320
Thanks a lot @caarlos0!

[2017-09-20 12:00] andygrunwald commented on #344
I mentioned the Artifactory upload here a well: https://github.com/goreleaser/goreleaser/issues/320

[2017-09-20 16:12] skisulli commented on #344
#320 only covers pushing the docker image to Artifactory correct? We have two different uses cases for Artifactory. We use it as our docker image store for most of our applications, but we also use it to store arbitrary binaries. I would love to be able to set an Artifactory endpoint that the binaries pushed to GitHub would get pushed to.

[2017-09-20 18:46] andygrunwald commented on #344
@skisulli True. The PR covers only the Docker part.
#320 mention that we want to use the Artifactory part as well.
We use Artifactory the same way like you: For Docker images and single binaries, but true, #320 don't solve the original request (or maybe i was mentioning it wrong).
So, thanks for this ticket. You found a supporter :)

[2017-09-21 15:44] bobvanluijt commented on #334
That solved the issue, so I'm not sure why it gave that message, but now it works :-)

[2017-09-22 07:57] sklevenz opened #365 "Support for Github Enterprise"
### Prerequisites

* [ y] Are you running the latest version?
* [ y] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

Goreleaser fails in "RELEASING TO GITHUB" if the github host is not github.com, which is the case for github enterprise.

### Environment

OSX

Please paste the output of:

- `go version`
go

[2017-09-22 12:43] caarlos0 commented on #365
mind to try #361 ?

[2017-09-23 16:30] klautcomputing opened #368 "Release for specific endpoint"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this feature was already reported?

### Description

It would be awesome to be able to release for specific endpoint. I released to github already but would like to release the same version to homebrew and docker as well now. And that without having to issue a new tag and have to release again.

[2017-09-23 17:28] sklevenz commented on #365
Yes. Unfortunately an 3rd url is required for the download in the brew template:

api url:  https://github.mycomp.com/api/v3
upload url: https://github.mycomp.com/api/v3/upload
download url: https://github.mycomp.com

[2017-09-29 07:16] sklevenz commented on #365
Release v0.33.0 works wonderful. I think this can be closed now. Great work!

[2017-09-29 07:16] #365 closed

[2017-09-29 20:21] caarlos0 commented on #365
Nice, thanks for help testing @sklevenz 🎉

[2017-09-30 20:29] #292 closed

[2017-10-01 17:04] jorinvo opened #377 "Add Git Commit Message Guidelines to CONTRIBUTING.md"
I really like this section Hugo has which describes the format to use for commit messages:
https://github.com/gohugoio/hugo/blob/master/CONTRIBUTING.md#git-commit-message-guidelines

This would allow for generating a more useful changelog for the releases.
Would you be interested in adding this? Any specific format perferences?

[2017-10-01 17:11] jorinvo opened #378 "Automatically update docs"
I saw that there is a `make static` command. Maybe we can run it on Travis CI, every time we release a new tag and automatically push a commit to the docs repo?

[2017-10-01 17:25] caarlos0 commented on #378
right now we can't... we are using a "custom" version of static while some changes are not made into the "main" one..

surely can be done later :)

[2017-10-01 17:26] caarlos0 commented on #377
@jorinvo Yes!

I was thinking about it some days ago.

I sometimes commit with really bad messages, a way of enforcing this would also be neat...

[2017-10-01 17:26] jorinvo commented on #378
Ok, didn't know that. Guess it's easier to just wait with this instead of using our fork on Travis.

[2017-10-01 17:27] caarlos0 commented on #378
probably, will try to help @tj with it during this week to make this happen as earlier as possible :)

[2017-10-01 17:28] jorinvo commented on #377
@caarlos0 I'm afraid we can't really enforce it. All we can do is having one place and point to it whenever we see a not so nice commit message.

Should we just go with the same conventions as Hugo or do you have any other preferences?

[2017-10-01 17:42] caarlos0 commented on #378
refs https://github.com/apex/static/issues/22

[2017-10-01 17:43] caarlos0 commented on #377
Maybe using gitcop? https://gitcop.com

[2017-10-01 17:45] jorinvo commented on #377
@caarlos0 nice! That looks way better! Can give it a try. I can do the setup if you like.

[2017-10-01 17:47] caarlos0 commented on #377
Yeah, feel free to do it 🗡

I saw it here: https://github.com/pagarme/pilot/pull/187#issuecomment-324526348

It's in portuguese, but basically, the action should either be add, remove, refactor, move, bump, update or release, which I think is fine, if agree we can copy it =D

[2017-10-01 17:48] jorinvo commented on #377
@caarlos0 I cannot add the webhook.
Could you add https://hooks.gitcop.com/github
here: https://github.com/goreleaser/goreleaser/settings/hooks/new
Also need a secret. I'll send it to you in Slack ok?

[2017-10-01 17:49] caarlos0 commented on #377
@jorinvo ok 🍻

[2017-10-01 17:53] caarlos0 opened #379 "improve docker pipe tests"
`go test` may fail in the `docker` pipe if the user is not logged in with a docker account with permission into the `goreleaser` org, as reported in [here](https://gophers.slack.com/archives/C3T1JU24B/p1506799845000010).

Let's fix this!

[2017-10-01 17:55] jorinvo commented on #377
It is set up. I merged their suggested list with the one you listed above @caarlos0.
Now looks like this:
![screen shot 2017-10-01 at 19 54 26](https://user-images.githubusercontent.com/738978/31057411-8331a9a2-a6e2-11e7-8efe-cae1a6622f25.png)

[2017-10-01 17:56] jorinvo commented on #377
I will also add this to CONTRIBUTING.md

[2017-10-01 17:59] jorinvo commented on #379
Error looks like this:
[code]

[2017-10-01 19:46] #377 closed

[2017-10-01 19:57] caarlos0 commented on #377
Awesome 🎉

[2017-10-02 17:10] #251 closed

[2017-10-03 06:03] mattstratton opened #384 "Allow for pre-release option"
### Prerequisites

* [x ] Are you running the latest version?
* [x ] Did you perform a search to see if this problem was already reported?

### Description

It's great to have the config flag for `draft`...it would be useful to be also able to set a release as a "prerelease" in github :)

[2017-10-03 07:18] mattstratton commented on #15
@suntong have you gotten this working in travis by any chance? I've tried using the example you gave - I can get it working in my local terminal, but when I attempt it in Travis it has all sorts of problems (it claims it cannot open the .deb file, etc, even though I do an `ls` in travis and it sees the file in `dist` just fine).

If you have an example of a working travis setup that would be grand

[2017-10-03 16:52] suntong commented on #15
Oh yeah, I had build a simple example after this, which was aimed for people to easily follow -- [wireframe](https://github.com/go-easygen/wireframe#wireframe---wire-framing-project-for-quick-start):

[2017-10-03 20:51] dulanov opened #385 "How to push `--release-notes` in CI env"
I try something like:

[code]

but script run just `goreleaser` internally, how can I push this parameter inside the script?

[2017-10-03 20:54] dulanov commented on #385
Probably we can try - `"${TMPDIR}/goreleaser"` > `"${TMPDIR}/goreleaser $@"`

[2017-10-03 20:57] caarlos0 commented on #385
I think this is a bug in our script, actually.

It whould pass the received args to the binary.

[2017-10-03 21:04] caarlos0 commented on #385
thanks, its probably just append a `$*` here: https://github.com/goreleaser/get/blob/master/get#L28

[2017-10-03 21:07] dulanov commented on #385
I think so, `$@` or `$*` should pass.

[2017-10-03 21:22] dulanov commented on #385
Hm. not so simple, [circleio gave me that](https://circleci.com/gh/nem-toolchain/nem-toolchain/464):

[code]

Probably process substitution mechanism doesn't work between shells, in our case between original an a spawn one.

[2017-10-03 21:25] dulanov commented on #385
I will again, but with temporary file instead of process substitution...

[2017-10-03 22:26] dulanov commented on #385
`No such file or directory` was because of `"${TMPDIR}/goreleaser $@"`, when I changed it to `"${TMPDIR}/goreleaser" $@` it starts to work.

[2017-10-03 22:53] dulanov commented on #385
@caarlos0 is it work `--release-notes`? I spent a lot of time on debugging and it looks like `goreleaser` ignores that attribute:

from script:

![image](https://user-images.githubusercontent.com/39793/31152847-3c6960a6-a89e-11e7-8210-5bc47f84bb75.png)

from circleci:

![image](https://user-images.githubusercontent.com/39793/31152860-548346d4-a89e-11e7-9b8b-cec58692ac03.png)

and finally as releas

[2017-10-03 22:54] dulanov commented on #385
I will try just to send to `goreleaser` a simple string in order to test it, is it ok, nor MD, but simple text?

[2017-10-03 23:03] dulanov commented on #385
So, I change it to

![image](https://user-images.githubusercontent.com/39793/31153124-a42aa4d8-a89f-11e7-8d41-18cd487d7352.png)

and from script output took:

![image](https://user-images.githubusercontent.com/39793/31153141-bf854382-a89f-11e7-97c4-9423d313ab74.png)

by result the same:

![image](https://user-images.githubusercontent.com/39793/31153152-cae5c4a4-a89f-11e7-951d-1d7a25afd338.png)

Wh

[2017-10-03 23:23] dulanov commented on #350
I cant create a patch to this issue, for me right now work this variant:

[code]

[2017-10-04 06:54] bep commented on #350
I would strongly suggest that you create a Docker image for this. This is all about reproducible builds/releases, and always pulling in the latest Goreleaser sounds fine and dandy, but it will break at some point for someone.

Look at this: https://github.com/gohugoio/hugo/blob/master/.circleci/config.yml

If I don't need any of the new and shiny Goreleaser versions, I can just release with this c

[2017-10-04 13:54] caarlos0 commented on #385
hmm, this seems like a bug...

lemme check

[2017-10-04 14:02] caarlos0 commented on #385
@dulanov seems like it is working as expected:

[code]

https://github.com/caarlos0/test/releases/tag/v13.0.0

[2017-10-04 14:03] caarlos0 commented on #385
I'll add an additional debug to see the contents of the file, maybe its empty when passed to goreleaser for some reason (that would explain it be ignored)

[2017-10-04 15:23] dulanov commented on #385
It's very strange, but start to work:

![image](https://user-images.githubusercontent.com/39793/31184026-95c2284c-a928-11e7-876c-991fa88f6428.png)

![image](https://user-images.githubusercontent.com/39793/31184041-9cce10a6-a928-11e7-8a8a-b3d5ea780b39.png)

Great, I start to prepare pullrequest for `get`.

[2017-10-04 16:50] #385 closed

[2017-10-04 16:51] caarlos0 commented on #385
Thanks @dulanov !

[2017-10-04 19:47] Southclaws opened #387 "scoop.sh App Manifest Generation"
### Prerequisites

* [x] Did you perform a search to see if this suggestion already existed?
* [x] Do you think GoReleaser is awesome?

### Description

Hi! Absolutely loving GoReleaser so far! I actually found the tool from [this blog post](https://medium.com/from-the-couch/adventures-in-go-ba217c29b51d) which talked about cross-platform deployment and installation! Great, just what I needed, it

[2017-10-04 20:35] caarlos0 commented on #387
Scoop seems awesome!

I don't have a windows machine to test all that, unfortunately. I can though help/guide you if are willing to work on this :D

[2017-10-04 21:04] Southclaws commented on #387
Alright then, since I have a windows machine I'll have a crack at this
tomorrow or Friday hopefully!

On 4 Oct 2017 9:35 pm, "Carlos Alexandro Becker" <notifications@github.com>
wrote:

[2017-10-04 21:05] caarlos0 commented on #387
Nice, thanks @Southclaws =D

lemme know if you need anything, you can also join goreleaser on the gophers slack :)

[2017-10-05 09:01] Southclaws commented on #387
Working on this in https://github.com/Southclaws/goreleaser

I'm basically copying the Brew pipeline as it's pretty much the same process:

- Generate a file based on yaml loaded into `ctx.Config`
- Push that file to a repo the user has access to

[2017-10-05 09:28] Southclaws commented on #387
I'm wondering what's the best way to get the binary URLs from the GitHub release pipeline so I can add those URLs as binary downloads for the scoop manifest: https://github.com/Southclaws/goreleaser/blob/master/pipeline/scoop/scoop.go#L83

[2017-10-05 10:12] jorinvo commented on #387
@Southclaws do I understand it correctly, scoop needs an URL directly to a binary?

[2017-10-05 10:16] Southclaws commented on #387
Yes, but it works with a zipped binary too. I have an example here: https://github.com/Southclaws/scoops/blob/master/sampctl.json which uses the URL of a GoReleaser release.

`url` and `bin` can also be either strings or arrays of strings.

I guess generating the URL would work, I don't expect GitHub to change the URL structure any time soon. Something like this should work: `https://github.com/{u

[2017-10-05 10:24] jorinvo commented on #387
Yes, that looks good. Maybe you need to also make the format variable since it can also be `zip`. When downloading from that URL you need to make sure to follow redirects. With curl it is `curl -L`, not sure how to do for Windows. All variables you can get from the `Config`. `user` and `repo` can be used from the `release` config. I think it's best if  you generate that url in your pipeline. Can s

[2017-10-05 11:37] caarlos0 commented on #387
@Southclaws you can take a look at the brew template, as it has those situations covered already (as far as I remember)

[2017-10-05 13:20] jorinvo commented on #15
Just leaving this here for reference: https://github.com/laher/goxc/blob/master/tasks/bintray.go
Guess we can have a look at this since it's basically what we wanna do.

[2017-10-05 13:37] jorinvo commented on #290
I did some more research.
Seems pretty easy to do the diff itself using this package: https://godoc.org/github.com/kr/binarydist
What I am struggling with is what to generate the diff of.
I was thinking that it probably is reasonable to only generate the diff to the latest version.
Then we still need to do so for all generated binaries. And in the case of archives, I guess we have to still generat

[2017-10-05 13:41] jorinvo commented on #384
Good idea @mattstratton! I will add an option `release.prerelease: true`.

[2017-10-05 13:51] caarlos0 commented on #384
We may also use this in goreleaser itself.

I have in my mental backlog that the script to get the latest version of goreleaser may fail during a release, because the release may be there but the assets aren't uploaded yet...

This would help fix that I guess :)

[2017-10-05 13:52] caarlos0 opened #391 "Release as pre-release first"
check https://github.com/goreleaser/goreleaser/issues/384#issuecomment-334471245

[2017-10-05 13:53] mattstratton opened #392 "Provide ability to update title of release"
Since I have a multiple-step release process, I would like to have the ability to tell `goreleaser` to not update the description of the release.

To help understand what I'm talking about, here's what's happening - I have builds that run on both travis and appveyor (travis builds my darwin and linux binaries, and appveyor builds the nuget and msi's).

The problem is that first appveyor creates th

[2017-10-05 13:54] jorinvo commented on #391
To make sure I understood this correctly, we should upload a release as `prerelease` first, then after everything is up, we change uncheck the `prerelease` checkbox manually?

[2017-10-05 13:58] caarlos0 commented on #391
that was what I was thinking... but let's let the idea mature for a while :)

[2017-10-05 14:00] jorinvo commented on #392
So maybe it would be enough to provide an option to skip setting any
release note - `skipnote: true`?

[2017-10-05 14:19] #384 closed

[2017-10-05 14:45] jorinvo opened #393 "Changelog: Ignore merge commits by default"
I think the changelog would look better if we ignore the `Merge pull request ...` commits by default.
I am not sure if we should make this the default for everyone or if we should simply adopt the script we use for GoReleaser itself.
Changing the default for everyone might also be good since the majority of projects use Github to merge pull request.
What are your thoughts on this?

[2017-10-05 16:35] mattstratton commented on #391
To be honest, I'd prefer if this was configurable (if you look at the github release providers in both travis and appveyoer, they let you set it as a flag).

[2017-10-05 16:36] mattstratton commented on #392
That would be helpful. I also would like the ablity to control the name of the release, which the gh release providers in both travis and appveyor provide. I like to name my releases `myapp-version-0.1.0` instead of `0.1.0`. Just more flexibility for the end user of `goreleaser`.

(For the record, I'm super into taking a look at these issues myself and submitting some PR's...I'm a big believer in

[2017-10-05 16:41] mattstratton commented on #391
Oh! I totally misread this issue - you’re talking about this project itself. I just saw the PR that added this functionality. Thanks!

[2017-10-05 17:15] caarlos0 commented on #393
maybe we should rebase commits instead of merging to avoid that?

[2017-10-05 17:27] jorinvo commented on #392
@mattstratton you could add a `release.name_template` config field similar to `archive.name_template`.
Would be great if you like to give it a try. Just let us know if you run into any issues!

[2017-10-05 17:27] tj commented on #290
FWIW it's probably not really worth implementing, most Go bins are pretty small, but it would be interesting to try

[2017-10-05 17:30] jorinvo commented on #393
I don't mind the merge commits in the actual commit log. I only think that in the changelog it looks nicer if they are not listed. But we can do it either way.

[2017-10-05 18:59] jorinvo commented on #290
I would also not mind leaving this waiting until someone has an actual use case they need it for. Personally, I don't think I will encounter a situation where are whole Go binary is too big to ship.

[2017-10-05 19:03] caarlos0 commented on #290
I agree. Not a common use case I guess

[2017-10-06 17:03] mattstratton commented on #333
I'm getting this erratically when running in travis, myself.

https://travis-ci.org/devopsdays/devopsdays-cli/builds/284277489

[2017-10-06 17:23] jorinvo commented on #333
We also still get this on Travis for the goreleaser repo itself. For now, all we can to is restart these builds.
In the last 7 days we got this error 3 times out of 39.
https://travis-ci.org/goreleaser/goreleaser/builds/282349303
https://travis-ci.org/goreleaser/goreleaser/builds/282331489
https://travis-ci.org/goreleaser/goreleaser/builds/282192408

[2017-10-07 20:25] mattstratton commented on #379
I'm not sure that #381 fixes this - it's not about having docker, it's about having credentials that can push to that dockerhub org...

[2017-10-07 20:27] jorinvo commented on #379
No #381 was not a fix for this. Just marked it as related. This issue here is still open and unsolved :/

[2017-10-07 20:37] caarlos0 commented on #379
just opened a PR that may fix this: #395

[2017-10-07 21:16] drewsonne commented on #333
@rliebz how did you specify the GNU version of tar? or are you controlling the build environment so `tar` links to `gtar`?

[2017-10-08 02:26] #379 closed

[2017-10-08 05:41] jorinvo commented on #379
Thank you @caarlos0!

[2017-10-08 11:40] rliebz commented on #333
@drewsonne This wouldn't fix it on Travis, but if you're doing things on macOS:

[code]

And just make sure you set your path in your `.bash_profile` or any time you run `fpm`.

As for Travis, it looks like from your logs that it's the `tar` step that failed, but it's not necessarily true that the reason the command failed for you is the same reason it failed for me—all the logs really indicate is

[2017-10-10 06:11] andygrunwald commented on #356
@caarlos0 I would love to give it a try, if you don't mind.

[2017-10-10 14:25] caarlos0 commented on #356
I didn't like that implementation... not sure how is the better way to handle this.

[2017-10-10 20:05] bobvanluijt opened #397 "Goreleaser fails in Travis"
Running: `curl -sL http://git.io/goreleaser | bash` in Travis-ci results in:

[code]

https://travis-ci.org/weaviate/weaviate/builds/286194879

Any tips / hints what I'm doing wrong? Goal is to run `goreleaser --rm-dist --snapshot --skip-validate`

Thanks!

[2017-10-10 20:30] caarlos0 commented on #397
`Either add a tag or use --snapshot`?

[2017-10-10 20:47] jorinvo commented on #397
You should probably run GoReleaser only for tags, not every build.
Can do it like this: https://github.com/qvl/ghbackup/blob/master/.travis.yml

[2017-10-11 09:14] bobvanluijt commented on #397
Thanks @jorinvo!

Also created this: https://github.com/goreleaser/goreleaser/pull/398

For simple n00bs like myself :-P

[2017-10-11 09:14] #397 closed

[2017-10-15 21:40] caarlos0 commented on #356
This will still fail, but will have a coherent error message now.

Thanks for reporting!

[2017-10-15 21:40] #356 closed

[2017-10-15 21:46] caarlos0 commented on #393
@jorinvo check the latest release.

I think we can close this. If someone wants to have those removed, he/she can use the `--release-notes` flag.

We can also deal with this issue in the future in the issue #284.

[2017-10-15 21:46] #393 closed

[2017-10-15 21:49] caarlos0 commented on #284
@jorinvo I agree, but I also think that most what people want to do is remove commits that match some regexp.

I'll try to hack something for this so we can ask around how people like it or not =)

[2017-10-16 12:44] caarlos0 commented on #284
hey ho folks, check out https://github.com/goreleaser/goreleaser/pull/401 :D

cc/ @tj @jorinvo

[2017-10-16 17:43] dpastoor opened #403 "git detection for non-top-level goreleaser file failing"
### Prerequisites

* [x] Are you running the latest version?
* [ ] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

as discussed in https://github.com/goreleaser/goreleaser/commit/529af6fe72a391207ab25ef6ca7676eaf4c45954#commitcomment-25011866 the problem comes when goreleaser is not at a top level director

[2017-10-16 18:02] caarlos0 commented on #403
this shall be fixed in v0.34.4

[2017-10-16 18:02] #403 closed

[2017-10-16 19:17] #392 closed

[2017-10-17 15:08] thehowl commented on #110
To recap some of the info I shared on Slack, regarding this issue:

1. GitLab does not provide a way to really attach release binaries to tags/releases - the only thing you can really do is using "attach a file", which uploads the file to GitLab's server and then uses its link and places it as markdown. This definitely feels like a hack. [image](https://user-images.githubusercontent.com/4681308/31

[2017-10-18 16:14] caarlos0 commented on #284
TODO:

- [ ] check for invalid configs
- [ ] add sorting support

@tj any other features you find useful having here? I ask because you have many projects and therefore lots of experience with this (I guess) 🍻

[2017-10-18 17:45] tj commented on #284
sorting might be cool too, assuming people stick with prefixes that make sense. That might be too arbitrary though, but I manually sort like https://github.com/apex/up/releases/tag/v0.2.4 so all the `add`s etc are in one spot

[2017-10-18 17:50] caarlos0 commented on #284
yeah, that makes a lot of sense!

I'll add this feature as well =)

thanks

[2017-10-18 19:06] tj commented on #284
dope! Thanks man

[2017-10-19 08:36] rliebz commented on #333
After trying to automate my releases, I was running into the same error on CircleCI reproducibly. I believe in my case it was permission issues based on how I was able to fix it.

- Same error as above is here: https://circleci.com/gh/rliebz/tusk/75#config/containers/0
  - While CircleCI doesn't let me link lines, the command I ran is on line `63`
- Successful version is here: https://circleci.com

[2017-10-19 22:57] caarlos0 commented on #333
[code]

https://travis-ci.org/goreleaser/goreleaser/builds/290224710#L1065

maybe is something related to the concurrency? maybe fpm doesn't handle it very well...

[2017-10-19 22:58] #284 closed

[2017-10-19 23:33] caarlos0 commented on #333
check #407

I ran:

[code]

before and after my changes.

Before it broke after 5min or so.

After, I let it run for 15min and it didn't failed. I'm assuming the concurrency is the issue here :/

[2017-10-19 23:40] caarlos0 commented on #284
Done 🎉

[2017-10-19 23:45] #333 closed

[2017-10-22 14:12] caarlos0 opened #409 "FPM should use gnu-tar on macOS"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

FPM wouldn't work as expected with the bsd tar that comes within macOS. We should detect that
and error it as well fix the PATH in the fpm execution so it would use the gnu-tar.

[code]

### E

[2017-10-27 14:45] sfaujour commented on #110
Are you currently working on it? :)

[2017-11-07 21:41] tj opened #413 "Version override without relying on GIT tag"
Hey!

My use-case is a little strange, but I need to release Up's Pro binaries to my own release storage on S3, so I'm doing:

[code]

But the since I may have `v0.1.0` for the OSS version, and `v0.1.0` in the "pro" branch, they obviously conflict so I can't version. I'm not sure what the best solution would be, maybe to support tag prefixes like `pro-v1.0.0`, or `--version v1.0.0` to specify this

[2017-11-08 11:52] caarlos0 commented on #413
Hi @tj

Yeah, I haven't predicted this kind of use case... let me think about this for a while :P

[2017-11-09 04:17] tj commented on #413
I'll think on it too hahah. Supporting a prefix miiiight be the simplest, `--skip-publish` is fine for my case, I have a little tool for uploading to my system already so that part isn't a big deal.

Happy to figure out a PR if that sounds reasonable

[2017-11-09 16:53] caarlos0 commented on #413
@tj yeah, if I understood it right, this seems like the simplest way...

would be awesome if you could provide a patch (you can also "test it in production" in your codebase hehe)

let me know if you need help with anything :P

[2017-11-09 23:19] dulanov opened #414 "Main file distributed to separate files doesn't work"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

After I split my `main.go` into `main.go` & `account.go`, goreleaser stop to build it correctly.

### Environment

Please paste the output of:

- `go version`

- `uname -a`

[code]

### Steps

[2017-11-09 23:20] dulanov commented on #414
![image](https://user-images.githubusercontent.com/39793/32634632-dbebccec-c5ac-11e7-811a-715920309ae0.png)

![image](https://user-images.githubusercontent.com/39793/32634638-e5b4c530-c5ac-11e7-8f00-a1e76e33e152.png)

[code]

[2017-11-10 00:30] caarlos0 commented on #414
I think you need to change the `main` property from `cmd/nem/main.go` to `cmd/nem`... can you try that please?

[2017-11-10 07:47] dulanov commented on #414
[code]

[2017-11-10 07:49] dulanov commented on #414
I also tried simply `cmd/nem` but without success.

[2017-11-10 11:15] caarlos0 commented on #414
`cmd/nem`, remove the `...`

[2017-11-10 11:25] jorinvo commented on #414
Isn't it `cmd/nem/...`

[2017-11-10 11:26] dulanov commented on #414
For `cmd/nem`:

[code]

[2017-11-10 11:29] caarlos0 commented on #414
`go build ./cmd/nem`

does this work?

whatever works on `go build` will work if you set it as `main` in the goreleaser config.

[2017-11-10 11:29] caarlos0 commented on #414
maybe `go build ./cmd/nem/.` or `go build ./cmd/nem/...` as @jorinvo pointed out...

[2017-11-10 11:31] caarlos0 commented on #414
I'm not really sure because I usually don't have other go files siblings to `main.go`

[2017-11-10 11:31] dulanov commented on #414
no, I changed my Makefile and now use `go build ./cmd/nem/...`

[2017-11-10 11:34] dulanov commented on #414
Makefile:

[code]

.goreleaser.yml:

[code]

[code]

[2017-11-10 12:28] caarlos0 commented on #414
[code]

[2017-11-10 12:39] dulanov commented on #414
@caarlos0 ah man, sorry for that, I just tried many times not `./cmd/nem/...`, but `cmd/nem` and `cmd/nem/...` instead. You variant works perfect, thank you very much!

[2017-11-10 12:39] #414 closed

[2017-11-10 13:03] caarlos0 commented on #414
No problem :)

[2017-11-12 19:48] tdewolff opened #415 "Goreleaser will happily compile Go source without main()"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

`goreleaser` will happily compile a Go directory that has no `main` function. I forgot to add the `main` setting withing `builds`, and took me half-an-hour to figure out why I couldn't execute

[2017-11-13 10:44] caarlos0 commented on #415
goreleaser just calls `go build`, it won't check for anything...

this may be a suggestion to the go team maybe...

[2017-11-13 11:52] tdewolff commented on #415
`go build` can be used for generating both executables and object files, but `goreleaser` should only work for executables, otherwise it is meaningless. I think the check should be in `goreleaser`.

[2017-11-13 12:48] caarlos0 commented on #415
yeah I guess that kind of make sense

[2017-11-13 19:20] febbraro opened #416 "Improper formatting of Homebrew formula dependencies"
### Description

When building/deploying my application with multiple homebrew depenedencies, all of the `depends_on` statements are output on the same line. This is an invalid homebrew formula and it will not install.

I believe the problem is on this line in the homebrew template:
https://github.com/goreleaser/goreleaser/blob/master/pipeline/brew/template.go#L34

### Environment

I'm running gor

[2017-11-13 19:43] caarlos0 commented on #416
oops, thanks for reporting!

[2017-11-13 19:44] jorinvo commented on #416
Thanks @febbraro!
@caarlos0 can you have a look in Slack?

[2017-11-13 20:02] #416 closed

[2017-11-15 18:51] tj commented on #413
ah weird I think this is a non-issue actually. I think I had an older build of goreleaser which sorted the versions so 0.3.0 would be > 0.1.0-pro and it would error thinking that commit was not v0.3.0. Seems ok now!

[2017-11-15 18:51] #413 closed

[2017-11-18 17:01] caarlos0 commented on #415
can check #418 please?

[2017-11-21 10:27] #415 closed

[2017-11-22 10:42] aidenkeating opened #419 "Allow overriding the config file as an option"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

Currently all configuration must be defined in a configuration file. It would be great to allow for overrides.

Happy to make these changes myself, just looking for some feedback on the idea.

[2017-11-25 18:47] goenning opened #421 "Allow configuration of archive output dir"
Right now ./dist is the default and only option for output of archives. I’d like to see a way to configure this. In my use case, I already have a dist folder used for something else.
Thanks.

[2017-11-25 21:04] caarlos0 opened #422 "metalinter started to fail"
Seems like a new check on gometalinter broke our build:

[code]

[2017-11-26 22:40] #422 closed

[2017-11-27 00:20] #421 closed

[2017-11-28 08:03] tisba opened #425 "Only build binaries?"
I'm trying to add docker releases for our CLI.

I had some problems with missing certificates and debugging so the minimal dockerfile that you suggest, did not really do the job. My goal is that I want to mainly use goreleaser via travis, but also have the option to do that locally. I did not succeed with static linking the go binary (various reasons).

My current approach is

[code]

Maybe you ca

[2017-11-28 11:45] caarlos0 commented on #425
yeah, the scratch image doesn't have any, you can either add them via code or use another base image (like alpine) and make sure the certificates are installed.

[code]

this in theory should work.

The reason it works when compiling inside the golang:alpine docker image is that it probably already have the ca-certificates installed.

[2017-11-30 10:32] andygrunwald commented on #344
@skisulli @caarlos0 I just want to let you know that i am working on this right now (in the evenings an hour here and there).
I have it running version already locally. I need to clean it up, document it, write down my trade offs / decisions and prepare the PR. So i will need a couple of hours for this.
Just to avoid that someone starts working in between.

[2017-11-30 14:26] diegobernardes opened #426 "Using custom environment variables"
### Prerequisites

* [ ] Are you running the latest version?
* [X] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

Don't know if this is possible, but would be nice to use custom environment variables with goreleaser. In my case, my build has alot of ldflags, the built in variables are too limiting.

Or go

[2017-12-01 08:21] magiconair commented on #166
FWIW, I'm signing the checksum file with GPG for https://github.com/fabiolb/fabio. I'm looking into using goreleaser now since it's super useful but that's missing. I can work around this though until the feature is there.

[2017-12-01 08:25] magiconair commented on #342
As a first step it might be sufficient if you could template a formula. Between releases the formula usually only changes in the checksums. If I could provide a template which goreleaser fills and uploads then I'm mostly there.

[2017-12-02 17:28] leighmcculloch opened #428 "Add support for generating Linuxbrew"
What
===
Include the Linux binaries in the generated Homebrew formulas.

Why
===
`goreleaser` generates Homebrew formulas that work with the macOS Homebrew and Linuxbrew, but the formulas don't contain a URL for the Linux binary and so installing with Linuxbrew results in the macOS binary being installed.

Related discussion
===
[#goreleaser](https://gophers.slack.com/archives/C3T1JU24B/p151219160

[2017-12-02 21:21] andygrunwald commented on #344
Checkout #429

[2017-12-03 10:20] andygrunwald commented on #266
From my thoughts, the implementation can be quite similar to #429.
If this will be a success, we may can move some functionality to the goreleaserlib (e.g. making the http call). Anyhow. #429 could possibly used as a base, because S3 is just similar to Artifactory (if you see them just as an object storage)

[2017-12-03 10:23] andygrunwald commented on #426
Can you provide a practical example here? This would help the team to understand the usecase more in detail. Like how does your ldflags look like right now? How do you execute your builds?
Maybe a real life example from your application. Thank you.

[2017-12-03 10:26] andygrunwald commented on #368
@klautcomputing Isn't this the `--snapshot` parameter for? Or do i miss understand something here?

[2017-12-03 10:58] andygrunwald commented on #110
Seems that no one has a work in progress online right now.
I might be benefit from this feature as well, but self hosted gitlab instances should be supported, too.

When someone starts working on this, can we agree that you post it quickly here to avoid double work on this? Would be sad to spend several hours and than finding out that someone else is working on it, because i think the time can spe

[2017-12-03 12:56] diegobernardes commented on #426
This is the output of `version` from one of our applications:
[code]

During the CI we inject the pipeline number that generated the binary, the user that triggered the build and the go version.

[2017-12-03 12:58] caarlos0 commented on #426
I think it's a doable feature. Will work on it once I finish #430

[2017-12-04 11:23] #426 closed

[2017-12-04 16:27] gedw99 opened #432 "Support Google cloud builder CI"
### Prerequisites

* [ ] Are you running the latest version?
* [ ] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

[Description of the bug or feature]

### Environment

Please paste the output of:

- `go version`
- `uname -a`
- `goreleaser --debug`

### Steps to Reproduce

1. [First Step]
2. [Second Step]

[2017-12-04 16:48] caarlos0 commented on #432
in theory you should be able to call goreleaser and it should work...

I don't know what is the issue here exactly...

[2017-12-04 16:52] gedw99 commented on #432
None really.
Just more thinking me and others need examples of how to integrate into
different CI and CAN systems.

I can send you the script when done.

You also might be interested in the bitrise golang code for integration
into goreleaser.
It builds mobiles. If you want I can send you that script too.

On Mon, 4 Dec 2017, 17:48 Carlos Alexandro Becker, <notifications@github.com>
wrote:

[2017-12-04 19:21] caarlos0 opened #433 "Docker: allow to customize the tag format"
Right now it creates it with the version (without the `v` prefix).

Some people may prefer to have the `v` in there.

Maybe we should add this option? Or even better, make configurable via templates :)

[2017-12-04 19:22] caarlos0 opened #434 "Brew: add the brew instructions to the release notes"
Since we have the docker images, we could also add the `brew cask install path` to the changelog.

And of course, make it configurable (or in this case hidden-able (is that even a word?)).

[2017-12-05 16:49] #433 closed

[2017-12-05 23:43] caarlos0 commented on #391
I think we can keep going as-is. If it turns into a problem we can always change it later.

Closing for now!

[2017-12-05 23:43] #391 closed

[2017-12-05 23:56] magiconair opened #439 "TestChangelogSort is broken"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

[code]

`git bisect` returns this as the first bad commit

[code]

    to group together our commits by prefix or just to sort them...

    Closes #284

:040000 040000 29eccd67829d64bf1b1b7043

[2017-12-05 23:58] magiconair commented on #439
Try this:

[code]

[2017-12-06 00:15] caarlos0 commented on #439
@magiconair Hi :)

that was the commit the introduced the feature, actually - check PR #406

it is also passing on the CI and working as expected in production... whats the environment you running the test against (git version, go version, OS, etc)?

[2017-12-06 00:17] magiconair commented on #439
[code]

[2017-12-06 00:18] caarlos0 opened #441 "improve goreleaser output"
I think useful features would be:

- provide the time taken by each pipe
- provide a way to "tab" the text of the pipe, so it would look like:

[code]

what do you guys think?

[2017-12-06 00:21] caarlos0 commented on #439
that's weird, I have the exact same versions and tests pass just fine here:

[code]

I don't even know where to look at...

[2017-12-06 00:25] magiconair commented on #439
I think it is my git settings. hang on.

[2017-12-06 00:26] magiconair commented on #439
Yeah, I have `log.decorate=true` in my global `~/.gitconfig` and that breaks it.

[2017-12-06 00:28] magiconair commented on #439
this fixes it:

[code]

[2017-12-06 00:49] #439 closed

[2017-12-06 00:49] caarlos0 commented on #439
oh yeah, that makes total sense :D

thanks for figuring this out !

[2017-12-06 01:39] caarlos0 commented on #378
closed too early

[2017-12-06 02:29] caarlos0 commented on #378
first fully-automated release: https://travis-ci.org/goreleaser/goreleaser/builds/312190980

[2017-12-06 02:29] #378 closed

[2017-12-06 02:33] caarlos0 opened #446 "use commitlint probot instead of gitcop"
pros:

- gitcop has its config via web interface while commitlint probot is configurable via config files
- commitlint seems more versatile

cons:

- ?

@jorinvo what do you think?

[2017-12-06 02:39] caarlos0 commented on #446
actually seems like right now the commitlint bot don't read the config files https://github.com/ahmed-taj/commitlint-bot/issues/1

[2017-12-06 03:09] caarlos0 commented on #338
@probonopd willing to contribute with a pull a request? 😄

[2017-12-06 03:11] caarlos0 commented on #314
right now there is not.

I personally don't feel the need for it right now. If you do, I'll be happy to accepts PRs :D

[2017-12-06 03:13] caarlos0 commented on #131
@lox sorry, totally forgot to reply you here.

I don't know how chocolatey works, but assuming it looks like homebrew, you can duplicate the brew pipe and change the implementation...

Other than that I can happily guide you through specific questions you may have during the process 👍

[2017-12-06 03:14] caarlos0 commented on #281
no one ever asked for this (or +1 or whatever), should I implement it?

[2017-12-06 03:15] caarlos0 commented on #278
I did take a look at that time and couldn't find a way of doing this with go tar package... anyone?

[2017-12-06 03:16] caarlos0 commented on #351
will try this again.

[2017-12-06 03:16] caarlos0 commented on #351
/remind me take a look at this in 18 hours

[2017-12-06 03:42] ahmed-taj commented on #446
Hey @caarlos0, glad you like commitlint bot.

Yes, it doesn't support custom confrontation yet, I'm working on it, with help of @marionebl the author of commitlint  package

Disclaimer: I didn't use Gitcop but I can see it's a business so I will assume there is an effort to keep the service running 24/7. But for my commitlint bot, I can't afford hosting costs, so it will only be running on a free

[2017-12-06 04:07] suntong commented on #332
still waiting...

[2017-12-06 04:25] #299 closed

[2017-12-06 07:41] tisba commented on #425
I actually tried that. We run goreleaser on Travis, which runs on Ubuntu Trusty. So coping the binary does not work, unless the binary is statically linked (libc vs libmusl). But the nessessary ldflag options broke the builds for Windows on Travis.

At this time, I just stopped and we ended up doing just:

[code]

The initial question I wanted to ask is, if there is a way to invoke goreleaser just

[2017-12-06 10:54] caarlos0 commented on #425
I think this is happening because you're building a linux binary from a linux machine, so it is not really cross-compiling.

I always force it by setting `CGO_ENABLED=0`:

https://github.com/goreleaser/goreleaser/blob/master/.goreleaser.yml#L4