[2021-09-14 20:29] mieubrisse commented on #2487
Updating to 0.179.0 fixed this

[2021-09-14 20:29] #2487 closed

[2021-09-14 21:44] mieubrisse opened #2488 "[Bug]: Homebrew tap's autogenerated `install` doesn't use binary name"
### What happened?

I build a binary (named `kurtosis`) that gets packaged into an archive, uploaded as a Github release to a repo (https://github.com/kurtosis-tech/kurtosis-core-release-artifacts), and is then downloadable via Homebrew formula (https://github.com/kurtosis-tech/homebrew-tap/blob/master/cli.rb). The issue is that the generated formula has:
[code]
which is incorrect - the name of th

[2021-09-14 21:48] mieubrisse commented on #2488
This seems to be due to https://github.com/goreleaser/goreleaser/blob/b661a57105765b1b754b7fcc1780dcbfef65ea3d/internal/pipe/brew/brew.go#L87 . It seems like this should 1) find the artifact(s) being packaged inside this formula 2) find the build(s) that the artifact(s) contain 3) generate an `install` statement for each binary from the build(s)

[2021-09-15 18:07] justinharringa opened #2491 "[Bug]: buildpack docker backend still requires Dockerfile"
### What happened?

Hey there folks! First, the support for buildpacks added in #2461 is really cool. Unfortunately, this appears to require that there is a `Dockerfile` in the repo (unless I'm missing some configuration).

After adding `pack` to my runner via:
[code]

And switching to buildpack, I got the following before it started to build: `failed to copy dockerfile: failed to copy Dockerfile

[2021-09-15 18:38] caarlos0 commented on #2491
hmm, indeed

a workaround for now is either create an empty Dockerfile or set `dockerfile` to any other file, since its not being used, it should work.

cc/ @developer-guy we should think about a solution to this 🤔

maybe a `defaulter` interface inside the docker package, with one impl for docker and another for buildpacks? wdyt?

[2021-09-15 18:38] #2479 closed

[2021-09-15 18:42] justinharringa commented on #2491
cool - thanks for the quick response @caarlos0!

[2021-09-15 19:18] caarlos0 commented on #2484
should be fixed by https://github.com/goreleaser/goreleaser/pull/2486

[2021-09-15 19:18] #2484 closed

[2021-09-15 20:36] developer-guy commented on #2491
we have to take care of this problem @Dentrax @erkanzileli.

[2021-09-15 20:37] developer-guy commented on #2491
@caarlos0 would you mind to assign this issue to me ?

[2021-09-15 21:03] erkanzileli commented on #2491
as I understand, you're saying that in the Buildpacks **defaulter** we should create an empty Dockerfile?
I thought if we do that and if the user doesn't ignore the Dockerfile from the .gitignore file this causes a dirty **git** state, I guess it will fail us because it isn't expected.

Maybe we can change [this code](https://github.com/goreleaser/goreleaser/blob/master/internal/pipe/docker/docker

[2021-09-16 11:00] caarlos0 commented on #2491
Sounds good as well 🙏

[2021-09-16 12:17] developer-guy commented on #2454
I'm closing this issue too, we discussed the reason in the related PRs comments.

[2021-09-16 12:17] #2454 closed

[2021-09-16 22:18] #2491 closed

[2021-09-17 19:16] jbain opened #2496 "[Bug]: build fails when copying symlinks"
### What happened?

Within a docker build it is failing on copying a symlink within an `extra-files` directory. The desired behavior is that the symlink is copied as is, not followed. This worked up until v0.174.0 and appears to have been broken by https://github.com/goreleaser/goreleaser/commit/f37c045052023d34222369f2391aa8ba06482e32

[code]

### How can we reproduce this?

Create a symlink in a

[2021-09-17 21:53] zwass commented on #2391
This is a good summary of my concerns. Our intent is that users can minimize the number of trust links in the supply chain, and as of now GoReleaser is a potential weakness.

[2021-09-19 18:03] developer-guy opened #2497 "Enable supporting Cloud Native Application Bundles to build and push container images by using Porter"
**Is your feature request related to a problem? Please describe.**
It isn't related to a problem, it is a feature request.

**Describe the solution you'd like**
[CNAB](https://cnab.io) Cloud Native Application Bundles is a spec for packaging distributed apps. CNABs facilitate the bundling, installing, and managing of container-native apps — and their coupled services. There are different implement

[2021-09-19 18:30] dirien commented on #2497
Cool idea! 👍🏻 But I cant imagine right now a workflow... Can you elaborate the idea a little bit more? Is it just scanning the different mixins (in porter speak) and update the version nummer? So it would be more of a git create PR feature for goreleaser.

Acutally this is somthing i would welcome for homebrew-core. I dont want to write a bot to update the Forumla and crate a PR...

[2021-09-20 18:45] ryancurrah opened #2498 "filter pipes by id on the command line"
**Is your feature request related to a problem? Please describe.**
Some Go modules within our company have a lot of micro-services, it can take a while to build all of them. Sometimes devs would like to only build and deploy a single service in order to save time.

**Describe the solution you'd like**
We would like a way to filter pipes that get ran by their IDs by passing a `--filter-ids` argumen

[2021-09-20 19:05] caarlos0 commented on #2498
the build command accepts and `id` arg, the others, idk, this seems like you should have 1 file per service...

[2021-09-21 13:22] vandmo opened #2500 "Allow dirty commits without disabling other validation"
**Is your feature request related to a problem? Please describe.**
I am generating a buildinfo.go file which makes GoReleaser complain that my repository is dirty.
I know that is possible to pass the information using ldflags, but I find it easier and cleaner to generate a file instead.
I can also see other scenarios where code will be generated as well.

**Describe the solution you'd like**
Being

[2021-09-21 21:23] carolynvs commented on #2497
I'm one of the Porter maintainers and would be happy to help with this. I'm not quite clear on what workflow you are aiming for but can help answer questions on how to use Porter/bundles in general, or integrating with it through mixins.

[2021-09-22 01:49] caarlos0 commented on #2500
skip validate only skips the git dirty check and allows ([for now](https://goreleaser.com/deprecations/#skipping-semver-validations)) a non-semver version, so its basically the requested behavior already...

[2021-09-22 01:51] caarlos0 commented on #2488
currently, these defaults are generated before the build actually happens, and since the binary name is templateable, we can't just use it before.

will need to check if that's possible without breaking other stuff

[2021-09-22 01:52] caarlos0 commented on #2395
closing as per previous comment.

[2021-09-22 01:52] #2395 closed

[2021-09-22 01:55] #2391 closed

[2021-09-22 04:52] vandmo commented on #2500
I am actually mostly interested in not missing out on any new validation added in the future.

[2021-09-22 12:24] developer-guy commented on #2497
@carolynvs thanks for your interest, really appreciate that. Let me explain my idea here. Please fix me if I'm wrong but at the end of the day, Porter needs `porter.yaml` with a bunch of information to install the bundle. Here, to build and push container images, we should use docker-mixin in Porter, so I was thinking that if I create a `porter.yaml` file with the information that I take from the

[2021-09-22 16:19] carolynvs commented on #2497
It sounds like that you would like to have the bundle help with part of users CI workflow: building docker images with their go binary and then publishing them. I'm assuming to help build/publish the [images specified in goreleaser](https://goreleaser.com/customization/docker/) but if I'm wrong, ignore everything I'm about to say. 😁

[code]

The most efficient way to do this with Porter would be t

[2021-09-23 02:58] caarlos0 commented on #2500
will keep it in mind if we add more stuff into `--skip-validate`. If/when that happens, will add an specific flag for each validation to skip.

As of #2503 `--skip-validate` now skips only the git checks if they fail.

Closing for now.

Thanks!

[2021-09-23 02:58] #2500 closed

[2021-09-23 07:38] zhonghuaxunGM opened #2504 "[Bug]: failed to publish artifacts to private Gitlab with ENV GITLAB_TOKEN"
### What happened?

I USE PRIVATE GITLAB.
I chose one of the Personal Access Tokens in  User Settings .  It's Scope  included api, read_user, read_repository, write_repository .

I ALSO HAS Set my Environment Variable.

TERMINAL:
$ export GITLAB_TOKEN=Ws2syxxxxxxxxxxxPxmsy
$ env|grep GIT
GITLAB_TOKEN=Ws2syxxxxxxxxxxxxmsy

ALSO I SET Personal Access Tokens  in configuration file which is located on

[2021-09-23 07:44] zhonghuaxunGM commented on #2504
i  suppose  the message  GET https://gitlab.com/api/v4/projects/xxxx/xxxxxx . but actually my registery is http://gitlab.xxxxxx.org/xxx/xxx

[2021-09-23 11:42] #2504 closed

[2021-09-23 21:01] mmllc-jsilverman opened #2506 "[Bug]: publishing multiple artifacts broken from v0.178.0 to v0.179.0"
### What happened?

I have a build that creates two tarballs, one for Darwin and one for Linux

The tarballs get created, a checksums file gets created OK

On publish, the upload step uploads checksums and Darwin tarball OK

But the Linux tarball gets the following error (I sanitized the names of the repo and org. Also, this error is all on one line -- i broke lines to make it easier to read):

[c

[2021-09-24 00:12] caarlos0 commented on #2506
Can you share your config file?

[2021-09-24 14:06] mmllc-jsilverman commented on #2506
Howdy. I'm not sure if you mean github actions workflow or something else? The github workflow is as follows:

[code]

Where it currently says `          version: v0.178.0` -- it used to say `          version: latest`

Pinning it to `v0.178.0` fixed the issue I was having

[2021-09-24 16:36] caarlos0 commented on #2506
Hey, sorry, I meant the  goreleaser.yaml...

The full log output with --debug would help a ton as well

[2021-09-24 17:07] mmllc-jsilverman commented on #2506
Hey. I'm not sure how to get this with --debug -- this runs on a github actions runner. I am unlikely to run this again with the broken goreleasrer since this is producing production artifacts and it is now working for me.

(I've sanitized the following content to remove institution-specific names.)

Here is the Github Actions log output from the broken run:

[code]

Here is the .goreleaser.yml:

[2021-09-24 18:44] caarlos0 commented on #2506
oh, I think I know

you are running goreleaser against all commits and PRs... your config should be:

[code]

see https://goreleaser.com/ci/actions/#run-on-new-tag for more info.

What likely happened is that it started multiple jobs and one "mess" with the other...

Closing as not a bug.

[2021-09-24 18:44] #2506 closed

[2021-09-25 13:52] caarlos0 commented on #1538
this is now available with the `--nightly` flag on goreleaser-pro.

closing

[2021-09-25 13:52] #1538 closed

[2021-09-25 13:54] caarlos0 commented on #1454
`goreleaser build` was added a couple of weeks/months ago... which might help.

we also have an issue for a proper "test" workflow:  #2355

that being said, will close this. Please reopen if you think it's needed. Thanks!

[2021-09-25 13:54] #1454 closed

[2021-09-25 13:55] caarlos0 commented on #2498
seems like for this use-case you would be better of with multiple goreleaser config files... the filters stuff can get messy real quick, rather not add it now.

Thanks for the issue anyway

cheers!

[2021-09-25 13:55] #2498 closed

[2021-09-25 15:20] sriio commented on #1538
@caarlos0 Any chance to get it on oss version ?

[2021-09-25 18:28] mmllc-jsilverman commented on #2506
Thank you; this suggestion worked. And I think I understand the race condition that occurred.

[2021-09-25 23:54] caarlos0 commented on #1538
not for now, no.

[2021-09-26 15:04] mrz1836 opened #2513 "[Bug]: field slack not found in type config.Announce"
### What happened?

I attempted to add a slack announce configuration but I keep getting an error:

[code]

### How can we reproduce this?

Here is the config file I am using:

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree

[2021-09-26 15:07] mrz1836 commented on #2513
Duh! Wrong goreleaser version :P

Sorry!

[2021-09-26 15:07] #2513 closed

[2021-09-26 16:09] twpayne opened #2514 "[Bug]: panic in internal/pipe/scoop.dataFor"
### What happened?

I did a test release of my project using the GitHub Goreleaser Action with Goreleaser version 0.180.0 and got a panic in Goreleaser. Selected log entries:

[code]

Links:
* [Full test log](https://github.com/twpayne/chezmoi/runs/3713443818?check_suite_focus=true) (see Build Release step).
* [`.goreleaser.yaml`](https://github.com/twpayne/chezmoi/blob/f42866bc/.goreleaser.yaml)

[2021-09-26 21:58] utkuozdemir commented on #2514
Having the same issue. If you need more details, feel free to inspect my build configuration in these repos:

- https://github.com/utkuozdemir/pv-migrate/pull/96/checks?check_run_id=3705825038#step:11:63
- https://github.com/utkuozdemir/nvidia_gpu_exporter/pull/36/checks?check_run_id=3713469331#step:10:59

[2021-09-27 11:13] #2514 closed

[2021-09-27 12:01] caarlos0 opened #2519 "[Bug]: docs wrong behavior if entering without a trailing /"
### What happened?

if you go to, say, goreleaser.com/customization/build (notice the lack of / in the end), the menus inside the `customization` folder are all wrong (they eat the "customization" part of the url).

### How can we reproduce this?

- access goreleaser.com/customization/build
- click in some link the left menu

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser c

[2021-09-27 12:02] twpayne commented on #2514
Thanks for the super-speedy fix!

[2021-09-27 12:05] stack72 opened #2520 "[Bug]: couldn't guess project_name, please add it to your config"
### What happened?

Since upgrading from v0.179 to v0.180, I have started getting the error:

[code]

No code has changed in my .goreleaser.yml file

[code]

### How can we reproduce this?

Error with v0.180.0 - https://github.com/pulumi/pulumi-azuread/runs/3719835886?check_suite_focus=true#step:9:50

Successful build with v0.179.0 - https://github.com/pulumi/pulumi-azuread/runs/3626082281?check_s

[2021-09-27 13:14] #2520 closed

[2021-09-27 13:21] caarlos0 opened #2523 "skip all anouncers on patch releases"
would be nice to have a way to skip announce based on a template, e.g.

[code]

[2021-09-27 18:31] miquella opened #2526 "[Bug]: loading go mod information fails when invoked outside `go.mod` directory"
### What happened?

We have a repository layout something akin to:
- `.goreleaser.yml`
- `module1/go.mod`
- `module1/cmd/cmd1/…`
- `module2/go.mod`
- `module2/cmd/cmd2/…`

The Goreleaser config then looks something like:
[code]

However, when running `goreleaser release`, an error is reported at the `gomod` step:
[code]

At a cursory glance through the code, it appears that the `go list -m` call i

[2021-09-28 02:09] caarlos0 commented on #2519
related: https://github.com/vercel/vercel/discussions/6783

[2021-09-28 02:19] #2519 closed

[2021-09-28 06:48] dirien opened #2532 "[Bug]: panic on publish when no Github token is set"
### What happened?

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x14c0c17]

goroutine 10 [running]:
github.com/goreleaser/goreleaser/internal/client.(*githubClient).CreateFile(0xc000712070, 0xc0005b7830, {{0xc00043eab8, 0x0}, {0xc000043230, 0x0}}, {{0xc00043ea68, 0x6}, {0xc00043ea90, 0xa}}, ...)
        /Users

[2021-09-28 12:11] #2532 closed

[2021-09-28 13:05] 3choBoomer opened #2537 "[Bug]: fails with error=github/gitlab/gitea releases: failed to publish artifacts: using v0.180.0 or later"
### What happened?

our CI script always gets the latest version of goreleaser via `curl -sL https://git.io/goreleaser | sh`

Prior to yesterday, we last released 28 days ago with no issue.

Yesterday, we attempted to release and we experienced the following error:

[code]

We made no changes to our goreleaser configuration between the two release attempts.

After updating our CI build to pass in

[2021-09-28 13:06] p53 commented on #2537
have this issue too

[2021-09-28 13:13] caarlos0 commented on #2537
hey, can you share how your `git remote -v` output?

[2021-09-28 13:19] caarlos0 commented on #2537
FWIW, its likely this is the cause: https://github.com/goreleaser/goreleaser/pull/2474

[2021-09-28 13:22] 3choBoomer commented on #2537
Output of `git remote -v`:

[code]

[2021-09-28 13:25] caarlos0 commented on #2537
thanks @3choBoomer ... but its weird, that case is well covered in tests...

does `git ls-remote --get-url` outputs the same URL?

[2021-09-28 13:29] 3choBoomer commented on #2537
[code]

[2021-09-28 13:30] ernestre commented on #2537
I have this issue too. In my case the error only appears when running goreleaser in gitlab's CI. Works fine from a local machine though.

[2021-09-28 13:35] caarlos0 commented on #2537
@3choBoomer doesn't make much sense, something somewhere must be prefixing the url with auth at some point (notice in the error there is a `@` in the url)...

@ernestre can you get the `git ls-remote --get-url` output from your CI?

[2021-09-28 13:41] ernestre commented on #2537
[code]

I've hidden the domain parts, because I'm using a self hosted gitlab

[2021-09-28 13:43] caarlos0 commented on #2537
ah, @ernestre your case must have been fixed in https://github.com/goreleaser/goreleaser/pull/2527

[2021-09-28 14:16] caarlos0 commented on #2537
will release .3 with that fix, lets see if it persists then

[2021-09-28 14:48] caarlos0 commented on #2537
can you please try with https://github.com/goreleaser/goreleaser/releases/tag/v0.180.3 ?

thanks!

[2021-09-28 14:48] caarlos0 commented on #2526
fixed on https://github.com/goreleaser/goreleaser-pro/releases/tag/v0.180.3-pro

[2021-09-28 14:48] #2526 closed

[2021-09-28 14:51] 3choBoomer commented on #2537
@caarlos0

We do have a URL rewrite in place that adds our github token to the URL so that we can access our private repos:

`git config --global url."https://$GITHUB_TOKEN:@github.com".insteadOf "https://github.com"`

I moved the statements you asked about after the config change and here's the new output:

[code]

My guess is that you guys changed how you're parsing the URL and it no longer work

[2021-09-28 14:58] 3choBoomer commented on #2537
It looks like https://github.com/goreleaser/goreleaser/pull/2527 resolved the issue.

Thanks for the prompt turn around on this!

[2021-09-28 16:56] caarlos0 commented on #2537
Yeah, that's it @3choBoomer . It should be fixed on latest.

Let me know when you test it, thankss 🙏

[2021-09-29 01:33] #2523 closed

[2021-09-29 01:34] caarlos0 commented on #2420
done in #2509

[2021-09-29 01:34] #2420 closed

[2021-09-29 02:24] caarlos0 commented on #2421
as pointed out on #2422, rather not do this right now. Closing, thanks for the issue though 🙏

[2021-09-29 02:24] #2421 closed

[2021-09-29 02:24] caarlos0 commented on #2537
will assume its fixed, please ping/reopen other wise.

thanks everyone! 🤘

[2021-09-29 02:24] #2537 closed

[2021-09-29 19:08] henrikno commented on #2453
Just wanted to note that the fix made downloading older releases (v0.176.0 and older) with the script fail because it can't find the checksums.txt. Bumping the version fixes it of course, but wanted to mention it since it broke our CI for a minute since it was pinning the version but not the script.

[2021-09-30 21:52] ecordell opened #2546 "Dependency-free docker image builds"
**Is your feature request related to a problem? Please describe.**
Most docker images built for running go binaries are exceedingly simple: a minimal OS of some sort + the pre-built binary + maybe a config file or two.

The current docker image build strategies pull in a large set of dependencies and features that aren't needed for lots of go programs (I imagine this is the case for many current g

[2021-10-02 01:59] caarlos0 commented on #2546
kind of dupe of #2322 ?

[2021-10-04 23:05] jawnsy opened #2552 "Integrate with GitHub auto-generated release notes"
GitHub recently launched a new feature for [automatically generating release notes for releases](https://github.blog/2021-10-04-beta-github-releases-improving-release-experience/). This is an issue to discuss what, if anything, GoReleaser might want to do in order to support this.

**Describe the solution you'd like**
I'd like to understand what impact the new GitHub auto-generated release notes m

[2021-10-05 00:18] caarlos0 commented on #2552
Yeah I was just playing with it, should be easy enough to integrate.

Also see #2548

[2021-10-05 01:28] caarlos0 commented on #2552
ps, usage with curl is something like:

[code]

[2021-10-05 02:01] caarlos0 commented on #2552
FWIW, raised a pr to go-github adding it as a feature: https://github.com/google/go-github/pull/2114

[2021-10-05 02:01] caarlos0 commented on #2388
this is merged, will be released on next.

Closing

thanks everyone!

[2021-10-05 02:01] #2388 closed

[2021-10-05 10:13] developer-guy opened #2554 "[Feature Request]: Add WhatsApp to announces"
**Describe the solution you'd like**

Whatsapp is another communication channel widely used today. So, we (w/@dentrax @erkanzileli) thought that it'd be nice to support Whatsapp as a brand new announcer. We have Go SDK for Whatsapp API[^1], so we can use it while adding this support.

**Additional context**
[^1]: https://github.com/Rhymen/go-whatsapp

[2021-10-05 10:51] Dentrax opened #2555 "[Feature Request]: Add Telegram as a new announcer"
**Is your feature request related to a problem? Please describe.**
Similar to #2554

**Describe the solution you'd like**
Telegram is another communication channel widely used today. [^1] We have Go SDK for [Telegram Bot API](https://github.com/go-telegram-bot-api/telegram-bot-api), so we can use it while adding this support.

@developer-guy @erkanzileli

[^1]: https://t.me/durov/147/

[2021-10-05 13:28] developer-guy opened #2556 "[Feature Request]: add google/ko as brand new builder engine for building and pushing container images"
**Describe the solution you'd like**

ko[^1] is a simple, fast container image builder for Go applications.

It's ideal for use cases where your image contains a single Go application without any/many dependencies on the OS base image (e.g., no cgo, no OS package dependencies).

**Additional context**
[^1]: https://github.com/google/ko

cc: @dentrax @erkanzileli @imjasonh

[2021-10-05 13:34] imjasonh commented on #2556
The `ko` codebase has made some changes recently to make it more easily consumable as a library by other Go programs, mainly to support Skaffold (see https://github.com/google/ko/pull/348). This should also help goreleaser embed its logic, if it wanted to.

Happy to help however I can!

[2021-10-05 14:30] caarlos0 commented on #2554
this lib seems like it would require the user to scan a QR code on each release...

imho we could use the api, but its just for businesses https://www.whatsapp.com/business/api

not sure if its worth it...

[2021-10-06 03:37] caarlos0 opened #2560 "[Bug]: publishing both armv6 and armv7 rpms to fury fail"
### What happened?

https://github.com/goreleaser/goreleaser/runs/3810420198?check_suite_focus=true

### How can we reproduce this?

enable both armv6 and v7 builds on goreleaser and try to release

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

[2021-10-06 04:16] #2560 closed

[2021-10-06 14:05] pmareke commented on #2556
@developer-guy @imjasonh maybe a can help here. The idea is replace `Docker` using `ko` right?

[2021-10-09 00:25] #2488 closed

[2021-10-13 18:50] michaljurecko opened #2575 "[Bug]: Cannot install by shell script on Mac Os"
### What happened?

Goreleaser cannot be installed on Mac Os 11 by
https://goreleaser.com/install/#shell-script

### How can we reproduce this?

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to follow this project's Code of

[2021-10-14 02:05] aubelsb2 opened #2579 "[Bug]: Universal Binaries doesn't handle a multi-binary repo well due to name_template defaults"
### What happened?

As far as I can tell, least in a multi-binary repo, universal_binaries aren't handled well without overwriting the package names.

https://github.com/aubelsb2/goreleaser-universal-binaries/runs/3889732305?check_suite_focus=true
[code]
With
https://github.com/aubelsb2/goreleaser-universal-binaries/blob/666490c4ad458717506a34a5ed2beb0d77c26565/.goreleaser.yml

I have to rename th

[2021-10-14 02:33] #2575 closed, assigned to caarlos0

[2021-10-14 17:04] caarlos0 commented on #2575
it should be working already @emiliza

[2021-10-15 11:00] developer-guy opened #2585 "[Bug]: consider using top level environment variables within env section in docker section"
### What happened?

I noticed that while I was working on an issue about adding `google/ko` support to one of the supported builder engines. There is a special variable called `KO_DOCKER_REPO` and I wanted to define this variable within the top-level `env` section and use it within the `docker` section like the following `.goreleaser.yml`:

<details>
<summary>.goreleaser.yml </summary>

[code]
</d

[2021-10-15 11:17] missinglink opened #2586 "[Bug]: unable to determine version of go binary (go): fork/exec /usr/local/bin/go: not a directory"
### What happened?

[code]

### How can we reproduce this?

As a first time user, I accidentally confused `builds.dir` with `builds.main` in my `yaml` file.

Incorrectly setting `builds.dir` to a file path (rather than a directory path) results in a confusing error message:

this was difficult to track down and fix (I assumed there was something wrong with my go installation, but there wasn't).

#

[2021-10-15 20:16] caarlos0 commented on #2586
feel free to give it a try @pmareke

[2021-10-15 20:33] pmareke commented on #2586
Done! Thanks @missinglink for you explanation!

[2021-10-15 21:00] anGie44 opened #2588 "[Bug]: versions > 0.179.0 not updating Github release's release-notes when passed as an argument"
### What happened?

In our Github Actions workflow, we are using the `goreleaser-action` github action and passing in a markdown file containing the release notes e.g.

[code]

When using this Github Action a while ago (goreleaser `v0.179.0`) , the release notes used to be pasted into the github release visible in the UI
<img width="1158" alt="Screen Shot 2021-10-15 at 4 21 02 PM" src="https://use

[2021-10-16 02:52] anGie44 commented on #2588
ahh this was totally user error 🙃 ! Setting
[code]
does the trick. Diff behavior than in `v0.179.0` but it makes sense given the intention is for the changelog to be updated not skipped.

Feel free to close this!

[2021-10-16 04:21] caarlos0 commented on #2588
Glad you figured it out 🙏

Will close, thanks!

[2021-10-16 04:21] #2588 closed

[2021-10-16 07:23] pmareke commented on #2341
Also the yaml template is ok?

[code]

Instead of:
[code]

[2021-10-17 00:42] #2586 closed

[2021-10-19 19:03] dirien opened #2592 "[Bug]: fix: add windows and arm 6/7 to invalid target"
### What happened?

Goreleaser creates a windows binary for arm 6 / 7 architecture. AFAIK only windows 10 supports ARM64.

### How can we reproduce this?

Create a build with

[code]
![image](https://user-images.githubusercontent.com/38325136/137974113-c7a981ca-d475-4e82-8f17-67abad338d6c.png)

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

[2021-10-19 19:06] caarlos0 commented on #2592
windows/arm is a valid combo as per `go tool dist list`:

[code]

So, I think this is not an issue... valid path is for users to ignore it if they don't want it...

[2021-10-19 20:18] pmareke commented on #2585
@developer-guy @caarlos0 Do you think I can give it a try? Maybe too difficult?

[2021-10-19 20:25] developer-guy commented on #2585
Please go ahead @pmarek, it should not be too complicated, but I'm looking forward to get @caarlos0 response to start on working this issue because his responses can lead us to the right place to get start 👌🙏

[2021-10-19 20:29] pmareke commented on #2585
For sure!.

Sorry if you  were waiting, I can help you with anything you need.

[2021-10-20 05:22] mhutter opened #2595 "[Bug]: "bottle :unneeded" in homebrew manifests is deprecated"
### What happened?

When calling `brew upgrade` or `brew cleanup`, brew reports the following deprecation messages for goreleaser and goreleaser-generated manifests:

[code]

### How can we reproduce this?

1. Install goreleaser via `brew install goreleaser/tap/goreleaser`
2. Call `brew cleanup`

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Sear

[2021-10-20 05:25] mhutter commented on #2595
Fixed in #2591

WTF it is too early for me to search in issues AND PRs 🤦

[2021-10-20 05:25] #2595 closed

[2021-10-21 09:10] VinodAnandan opened #2597 "[Proposal] SBOM generation"
The proposal is to publish SBOM (“Software Bill of Materials”) artifacts for goreleaser as part of each release.

e.g.:  https://github.com/CycloneDX/cyclonedx-gomod#goreleaser-
https://github.com/CycloneDX/cyclonedx-gomod/releases/tag/v1.0.0

[2021-10-21 13:49] caarlos0 commented on #2597
FWIW, `go version -m` can have a wrong output if using `go mod vendor`.

https://carlosbecker.com/posts/supply-chain-goreleaser-go-mod-proxy/

[2021-10-21 22:10] dirien opened #2598 "[Proposal] krew support"
I wanted to preflight the idea of supporting krew in goreleaser.

So i could imagine some scenarios:

1.) Create krew file for your own index -> https://krew.sigs.k8s.io/docs/developer-guide/custom-indexes. This would be similar to our brew / gofish

2.) Create the .krew.yaml file for the krew-release-bot -> https://github.com/rajatjindal/krew-release-bot

With 2. you need to first manually create

[2021-10-24 20:38] yevgenypats opened #2600 "[Bug]: one tap can handle only archive of an OS/Arch combination. Consider using ids in the brew section"
### What happened?

Hi folks,

Looks like goreleaser v0.183.0 broke our build.

Here are the logs: https://github.com/cloudquery/cloudquery/runs/3990546970?check_suite_focus=true

Also reverting it to v0.182.1 version in goreleaser action doesn't work as well https://github.com/cloudquery/cloudquery/blob/main/.github/workflows/release.yml#L36 as it still downloads the latest goreleaser (v0.183.0).

[2021-10-24 21:17] #2600 closed, assigned to caarlos0

[2021-10-24 23:43] miniscruff opened #2601 "[Bug]: Docker images and custom release notes file don't seem to mix"
### What happened?

Created a new release for Changie which writes its own release notes file and passes it to goreleaser. In the latest release I also added docker releases and the body of the release only has the docker image details and not the contents of the release notes file.

I edited the release so below is what the output was versus what I expected.

Output was:
[code]

Expected: ( relea

[2021-10-25 17:28] dirien opened #2603 "[Bug]: goFish check for same OS/Arch is unnecessary"
### What happened?

Currently we check for binaries with the same OS / Arch combination. This is actually possible, when you work for e.g with ID because you want to create multiple binaries.

This can be deleted

### How can we reproduce this?

Run the current `cosign` gorelease build:

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Searc

[2021-10-26 00:42] #2603 closed, assigned to caarlos0

[2021-10-26 03:46] opvexe opened #2605 "[Bug]: flag provided but not defined: -tags"
### What happened?

[code]

### How can we reproduce this?

[code]

Run:

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Additional context

_No response_

[2021-10-26 22:41] ecordell opened #2606 "[Bug]: `docker_manifest` stage can't reference unpublished images from `dockers` stage"
### What happened?

Adding `skip_push: true` to docker steps causes the subsequent manifest step to fail:

[code]

### How can we reproduce this?

This is the config we have currently for publishing multi-arch images:

[code]

This works well, but it publishes three tagged images (for example):

- `quay.io/authzed/spicedb:v1.1.1-amd64`
- `quay.io/authzed/spicedb:v1.1.1-arm64`
- `quay.io/authzed/sp

[2021-10-27 01:44] #2605 closed, assigned to caarlos0

[2021-10-27 02:10] #2579 closed, assigned to caarlos0

[2021-10-28 13:50] LukaZagar1995 opened #2608 "[Bug]: Can't install goreleaser with apt"
### What happened?

I am running ci and in docker image I can't install goreleaer with apt.

### How can we reproduce this?

echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
sudo apt update
...
W: Failed to fetch https://repo.goreleaser.com/apt/InRelease  Connection failed [IP: 172.67.220.131 443]
...
sudo apt install goreleaser
E: Unab

[2021-10-28 17:08] #2608 closed, assigned to caarlos0

[2021-10-29 18:03] pgundlach opened #2610 "[Bug]: documentation and command differ"
### What happened?

Page https://goreleaser.com/cmd/goreleaser_jsonschema/ mentions this:

outputs goreleaser's JSON schema

    goreleaser jsonschema [flags]

but running  `goreleaser jsonschema` I get:
     ⨯ command failed            error=unknown command "jsonschema" for "goreleaser release"

### How can we reproduce this?

Run `goreleaser jsonschema`

### goreleaser version

[code]

### GoRel

[2021-10-29 20:31] dirien opened #2612 "docs: add USERS.md to track users of goreleaser"
Idea:

It would be great to have a list of all organizations using goreleaser.

Having USERS file to keep track of who is using goreleaser via a PR could be nice way to to do this. Maybe add them later to the docs page too?

Nothing more. 😄

[2021-10-29 20:52] #2612 closed

[2021-10-30 01:27] caarlos0 commented on #2610
oh, the version with this was not released yet... should be this weekend

[2021-10-30 01:27] caarlos0 commented on #2610
that's a long issue of ours: not having versioned docs... but so far it hasn't been too big of a problem...

[2021-10-30 09:09] pgundlach opened #2616 "[Bug]: Difficult to search in documentation"
### What happened?

I go to the main page at

https://goreleaser.com/

and type in the word `archives` in to the search box. I get a message ”No matching documents“.

I'd expect to see the page https://goreleaser.com/customization/archive/ and perhaps others in the search since this word is contained in that page.

### How can we reproduce this?

See above

### goreleaser version

[code]

### GoRe

[2021-10-30 12:50] #2616 closed

[2021-10-30 12:51] caarlos0 commented on #2616
Thanks, for some reason mkdocs was not indexing properly pages that use frontmatter. Changed it all to regular markdown and it seems to work better now.

Thanks for letting me know :)

[2021-10-30 12:53] caarlos0 commented on #2610
closing as it will be fixed on next release. thanks for the issue!

[2021-10-30 12:53] #2610 closed

[2021-10-30 13:39] pgundlach commented on #2616
Thank you very much for fixing that and thank you for the awesome tool!

[2021-10-31 20:17] tricky42 opened #2617 "Add support for replacements in builds section"
**Is your feature request related to a problem? Please describe.**
I wanted to add sbom generation to the Ory Kratos projects which uses goreleaser. The goal is to create a SBOM file with the same name as the release archive. In the Kratos `.goreleaser.yml` file several `replacements` get defined: https://github.com/ory/kratos/blob/bf80e9614b048a3d846615b2eb2ca61ac7703800/.goreleaser.yml#L168

SBO

[2021-10-31 23:08] caarlos0 commented on #2617
we already have an issue to add BOM support to goreleaser... build-level replacements is unlikely to happen, so, closing this...

#2597

[2021-10-31 23:10] #2617 closed

[2021-11-01 00:18] caarlos0 commented on #2597
please take a look at #2618

[2021-11-02 00:02] dirien opened #2621 "Transfer of ownership for Azure Devops Extension"
Hi,

i would like to transfer the ownership of the GoReleaser Azure Devops Extension https://github.com/dirien/goreleaser-azure-devops-extension to the goreleaser organization.

If its okay, this would mean you need to create an Azure DeveOps Marketplace Entry and we need to change some of the properties in the json files:

https://github.com/dirien/goreleaser-azure-devops-extension/blob/5fe4ec048

[2021-11-02 00:44] caarlos0 commented on #2621
It sounds good to me. I can add you as a contributor in the org with write access to it so you can manage that as well, wdyt?

[2021-11-02 07:35] dirien commented on #2621
@caarlos0, sounds perect. You let know:

- when i can transfer the codebase
- how we create the marketplace entry (maybe creating a user with yor info-mail?)

[2021-11-02 12:32] pgundlach opened #2622 "[Bug]: Twitter announce incorrect URL"
### What happened?

I use twitter announce (which works fine), but it posted the incorrect URL.

### How can we reproduce this?

This is most likely not a bug in Goreleaser and probably not released to Twitter announce, but to the value of `.GitURL`.

When importing a new repsitory on Github, it suggest to add a remote like:

    git remote add origin https://github.com/speedata/ets.git

(notice t

[2021-11-02 15:37] wagoodman commented on #2597
_(this comment is meant to be a follow on to https://github.com/goreleaser/goreleaser/pull/2618#issuecomment-957825874 from the POC PR)_

While chatting the POC over with @spiffcs and @luhring we started to wonder if it made sense to explore the idea of raising SBOMs as a first-class artifact type. This new `sbom` artifact type would be defined as "a description of another artifact or set of artif

[2021-11-02 18:14] developer-guy commented on #2622
You can assign it to us @pgundlach if you don't mind @caarlos0? Because we found the code that caused that issue, we also noticed that there were other bugs. For example, the default template URL for GitLab is also wrong.

[2021-11-02 18:15] caarlos0 commented on #2622
oh nice, sure go ahead @developer-guy

[2021-11-02 20:04] developer-guy commented on #2622
We addressed some of the bugs in PR #2623. The other bug that we found is that we're using a `defaultMessageTemplate` variable store message of the announce, but this URL within this template is suitable for GitHub; in GitLab, the URL is a bit different, GitLab uses `/-/releases/v0.1.3.` for releases. So, we ensure that we are using the correct message template according to the git URL configured

[2021-11-02 23:03] #2622 closed

[2021-11-02 23:05] caarlos0 commented on #2622
I would say that to ensure correctness, the best idea is for the user to use the actual HTTPS URL on the template, as if the repo is cloned via SSH, `.GitURL` will be the SSH URL...

[2021-11-02 23:08] caarlos0 commented on #2597
@wagoodman your idea indeed looks better/cleaner...

do you want to create a PoC for it? Otherwise I can do it :)

[2021-11-02 23:10] caarlos0 commented on #2598
I would say to go ahead with 1.

for reference, there is also #1819, but I now think this would be nice to have natively...

[2021-11-03 01:30] caarlos0 commented on #2621
@dirien invited you to the org, you should be able to transfer the repo at any time... worst case it'll ask me to "accept it", which is fine :)

Once we done that, we can work on next steps, maybe we can discuss the details on discord/slack as well :)

[2021-11-03 08:23] Dentrax opened #2625 "[Bug]: announce: ensure correctness of the GitURL"
### What happened?

If the repo is cloned via `SSH`, `.GitURL` will be the SSH URL, which will be consumed by `announce` pipe and send a notification to target. Eventually there will be an SSL URL instead of HTTP URL. [^1] [^2]

[^1]: https://github.com/goreleaser/goreleaser/issues/2622#issuecomment-958358917
[^2]: https://github.com/goreleaser/goreleaser/pull/2623#pullrequestreview-795989193

###

[2021-11-03 08:25] Dentrax commented on #2622
Thanks for merging the PR and pointing out this concern! We just threw an issue, so we don't forget! https://github.com/goreleaser/goreleaser/issues/2625

[2021-11-03 12:49] developer-guy commented on #2625
@caarlos0 can you please assign it to us, we can work on it, greetings 🙋🏻‍♂️🙏

[2021-11-03 13:22] caarlos0 commented on #2625
not sure we can safely do that...

probably both, and only set `GitHTTPURL` if the URL is a HTTP one (we can parse it with `url.Parse`)

[2021-11-03 15:00] wagoodman commented on #2597
Thanks! I'll start a PoC branch and shout out when I have questions (and when there is something ready to kick the tires on).

I think there is still at least one outstanding item to think/chat about:

- Do we like the idea of SBOM generation stage happening after the signing stage? This means that we couldn't leverage goreleaser signing capability to sign SBOMs directly. It would need to be out-o

[2021-11-03 19:24] caarlos0 commented on #2597
good question... and I honestly don't know the answer as well...

I would say to run it before signing 🤔

[2021-11-03 19:44] dirien commented on #2621
Done -> https://github.com/goreleaser/goreleaser-azure-devops-extension

[2021-11-03 19:44] #2621 closed

[2021-11-04 13:28] kinoute commented on #2552
Would it be possible at the same time to add an option in order to generate changelog entries as a list ? (eg. with the use of "-" or "*"). It looks better that way:

<img width="555" alt="Capture d’écran 2021-11-04 à 14 25 47" src="https://user-images.githubusercontent.com/623763/140321300-c2fd2173-1de1-4cd9-abb4-b10db393e287.png">

I think Github auto-generates changes as a list too. I make a

[2021-11-05 10:35] dirien opened #2633 "doc: add GoReleaser Extensions for Azure DevOps to docs"
**Is your feature request related to a problem? Please describe.**
The current documentations of the Azure DevOps integration, dont mention the usage of the official [goreleaser extension](https://marketplace.visualstudio.com/items?itemName=GoReleaser.goreleaser).

[2021-11-05 12:02] developer-guy opened #2635 "add cosign public key to releases"
**Is your feature request related to a problem? Please describe.**
It is not a problem. It is a feature.

**Describe the solution you'd like**
People need to verify GoReleaser binaries by using cosign and public key of the GoReleser. In the meantime, the public key of the GoReleaser is stored within the codebase. So, we(w/@dentrax @erkanzileli) thought that it'd be nice to add it to the releases a

[2021-11-05 13:47] #2633 closed

[2021-11-05 20:10] #2635 closed

[2021-11-06 18:39] #2625 closed

[2021-11-06 19:55] caarlos0 commented on #2552
@kinoute can you please open another issue about it? Thankss

[2021-11-07 00:04] #2428 closed

[2021-11-07 02:09] caarlos0 commented on #2598
check #2639

[2021-11-07 15:53] #2552 closed

[2021-11-07 17:48] caarlos0 opened #2641 "homebrew, gofish et al should handle universal binaries better"
right now we get both `darwin/all` and `darwin/amd64` and `darwin/arm64`, if they exist.

we should probably do something like:

[code]

ideally, we should either get the `all` archive, or both the amd64 and arm64 ones...

[2021-11-08 10:41] shibumi opened #2642 "[Bug]: Missing permissions to publish on Github"
### What happened?

I am working on keyless signatures with cosign and goreleaser for the in-toto project.
The signing part works well, but the release via goreleaser throws the following error:

[code]

### How can we reproduce this?

The related project is here: https://github.com/shibumi/in-toto-golang/tree/shibumi/add-go-releaser

The github action file looks like this:
[code]

The goreleaser

[2021-11-08 10:43] shibumi commented on #2642
@caarlos0 Is it possible that this error gets triggered via the Github OIDC Issuer?
For using the OIDC Issuer I had to change the permission for id-token to `write`.
Is it possible that the OIDC issuer overwrites the Github token in the Github Action and that's why I don't have permission to publish it?

[2021-11-08 15:23] dirien opened #2645 "Proposal: Rename master to main"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I would like to preflight with the goreleaser community the idea to rename the `master` branch to `main` and ask @caarlos0 if if will be a huge technical change?

**Describe alternatives you've considered**
Stay with `master`

**Additional context**
[Inclusion Starts at the Codebase](https:/

[2021-11-08 17:17] caarlos0 commented on #2642
I have no idea, but on our docs we have just:

[code]

I'm not sure what `id-token` does...

https://goreleaser.com/ci/actions/

[2021-11-08 17:27] till commented on #2642
For context: I think the `id-token` is a new thing, but I've been trying to find out more and haven't been. Where did you enable that @shibumi?

[2021-11-08 17:33] till opened #2647 "[Bug]: changelog is too long"
### What happened?

I am re-publishing an old code base that hasn't been tagged before and currently the github release fails as it exceeds the number of allowed characters for the changelog:

[code]

### How can we reproduce this?

Have a changelog with more than `125000` characters. Unfortunately I can't give you access to the builds.

The workflow I am using is very straight forward:

[code]

E

[2021-11-08 18:03] dirien commented on #2647
Hi @caarlos0, i can have a look into it.

I would suggest, if this is a hard cap from the github api to truncate the text to the max char size.

[2021-11-08 18:17] wagoodman commented on #2597
@caarlos0 I made a couple of draft PRs that encapsulates both approaches (#2648 and #2649), I've only tried them out in a non-publishing capacity, so would need to double check a few more things. Also these draft PRs are meant to be illustrative, I'll write/update tests if this path is adopted and we have the approach finalized.

[2021-11-08 18:39] caarlos0 commented on #2647
yes, that would be my idea as well...

feel free to tackle this :)

[2021-11-08 18:55] till commented on #2647
Thanks, both of you! :)

Easy fix is good fix.

[2021-11-08 20:06] shibumi commented on #2642
@till https://github.com/shibumi/in-toto-golang/tree/shibumi/add-go-releaser

file: .github/workflows/goreleaser.yaml

[2021-11-08 23:17] dirien commented on #2647
thanks @caarlos0. Will tackle this first thing.

[2021-11-09 02:18] caarlos0 commented on #2645
I have no idea what the side effects are... if anyone has done it on other go projects, I would love to hear they process and if/what went wrong...

[2021-11-09 18:29] mattmoor commented on #2642
`id-token` is the new permission that's required to get OIDC tokens during Github Actions, which can be used by `cosign sign` (and friends) to do keyless signing.

[2021-11-09 18:31] shibumi commented on #2642
This has been solved by adding the `contents: write` permission.

[2021-11-09 18:31] #2642 closed

[2021-11-09 21:07] Dentrax opened #2651 "goreleaser pipeline should fail by default in case `cmd` not found"
**Is your feature request related to a problem? Please describe.**

Consider the following configuration:
[code]

Notice that we used `cmd` variable here, which means _pipeline_ will call the `cosign` in the current step. But in case if we did not install the "given cmd" before in the system, goreleaser skipping the current step and does not error out.

What we expected is that command should fail

[2021-11-09 21:11] bflad commented on #2645
GitHub does a lot for you automatically when renaming the default branch -- you can find more details here: https://github.com/github/renaming

At my employer, we have renamed a large amount of Go module repositories without issue.

[2021-11-09 21:16] rnikoopour opened #2652 "[Bug]: Goreleaser silently for invalid credentials on S3 uploads"
### What happened?

When doing a release with S3 my credentials were not set properly.  goreleaser ran to completion and did not raise any errors that the S3 uploads fail.

### How can we reproduce this?

1. Create a .goreleaser.yml that uploads to an S3 bucket.
2. Remove credentials that give write access to that bucket
3. Run goreleaser

This should run to completion without alerting that the S3

[2021-11-09 21:39] bflad opened #2655 "Ability to Use Templates With checksum and release extra_files"
**Is your feature request related to a problem? Please describe.**

As part of the required release process for newer Terraform Providers, a "manifest" file that matches the versioned naming convention of other release files must be included so the Terraform Registry ingest process works correctly: https://www.terraform.io/docs/plugin/framework/publishing.html#add-a-version-manifest

It's currentl

[2021-11-09 21:57] bflad opened #2656 "Ability to Remap Source Names with checksum and release extra_files"
**Is your feature request related to a problem? Please describe.**

As part of the required release process for newer Terraform Providers, a "manifest" file that matches the versioned naming convention of other release files must be included so the Terraform Registry ingest process works correctly: https://www.terraform.io/docs/plugin/framework/publishing.html#add-a-version-manifest

This file is

[2021-11-10 00:31] caarlos0 commented on #2651
It should actually fail, seems like a bug to me 🤔

Feel free to tackle it if you want :) thanks 🤘

[2021-11-10 07:08] Dentrax opened #2657 "support passing environments to "signs""
This is a follow-up issue for the https://github.com/google/ko/issues/491, dropping here so we don't forget!

---

**Is your feature request related to a problem? Please describe.**
Currently, we don't have the support for passing `env` variables to [signing pipeline](https://goreleaser.com/customization/sign/).

**Describe the solution you'd like**
Add a `KV` support for the `signs` [config struc

[2021-11-10 07:40] butuzov opened #2658 "[Bug]: Darwin based install failed"
### What happened?

have run command to install goreleaser from the makefile I used before.

[code]

for in response:
[code]

### How can we reproduce this?

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to follow this proj

[2021-11-10 08:00] developer-guy opened #2659 "Support Cosign keyless signing & verification"
**Is your feature request related to a problem? Please describe.**
It is not related to a problem. It's a feature request for signing and verifying with Keyless Mode.[^1]

**Describe the solution you'd like**

GoReleaser can use the `cosign` tool as a command in the `sigs` section.  In order to enable Keyless mode in `cosign`, we need to pass an environment variable called `COSIGN_EXPERIMENTAL=1`.

[2021-11-10 08:53] developer-guy commented on #2659
here is an example for it, seems it's using the keyless mode:

https://github.com/in-toto/in-toto-golang/pull/128/files

[2021-11-10 09:45] shibumi commented on #2659
@developer-guy yes, this is correct. I specify the `COSIGN_EXPERIMENTAL=1` variable in my Github Actions Workflow.
Also, make sure to give the github actions workflow enough permissions. You will need: `id-token: write` and `contents: write`.

I hope the cosign_experimental var is not necessary anymore in the future... the sigstore team is working towards stable features right now.

[2021-11-10 10:17] lukehinds commented on #2659
As soon as we hit 1.0 in rekor, it's out of experimental. The main aspect for 1.0 is an API change and an operational procedure to shard the tlog.

[2021-11-10 10:31] developer-guy commented on #2659
@shibumi can you explain a bit about how you can verify-blob once you sign the blob? On locally, we got the certificate from the output of the sign-blob command, then used it with the `--cert` flag of the verify-blob command while verifying the signature. In GoReleaser flow, how can we get the certificate for later use of verifying signature?

cc: @dentrax @dlorenc @imjasonh @hectorj2f

[2021-11-10 11:37] developer-guy commented on #2659
According to this, we've opened a PR to output the certificate, which we can use while verifying the signature; please [see](github.com/sigstore/cosign/pull/1021). Once it is merged, eventually, we can add this short-lived certificate to the releases. But we are not sure about it because once this certificate gets expired it might be a problem for the end-users. So, this is another topic that we s

[2021-11-10 11:44] Dentrax commented on #2659
Eventually, we will be able to pass this _certificate_ file to goreleaser _artifacts_, and expect 3 files after each release to use later using cosign to verify: `checksum.txt`, `checksum.txt.sig`, `cosign.cert`.

[2021-11-10 12:30] caarlos0 commented on #2658
hey, that's not a valid instalation method anymore

[2021-11-10 12:30] #2658 closed

[2021-11-10 12:32] caarlos0 commented on #2657
the idea is to avoid passing envs you don't want to 3rd party command lines...

e.g. you might want COSIGN_EXPERIMENTAL set at one point but not on another (you can have multiple sign entries), or you might just make sure that your `cmd` does not see the secrets you don't want it to see...

[2021-11-10 13:04] aeneasr opened #2660 "[Bug]: Global after hooks do not work in goreleaser-pro"
### What happened?

Goreleaser global hooks do not [work as documented](https://goreleaser.com/customization/hooks/).

### How can we reproduce this?

Create a file `foo.yml`

[code]

Run goreleaser check:

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### C

[2021-11-10 13:08] caarlos0 commented on #2660
oh, my bad, typo in the yaml config...

will release a fix soon.

in the meantime:

[code]

[2021-11-10 13:08] #2660 closed

[2021-11-10 13:09] caarlos0 commented on #2660
Thanks for reporting @aeneasr! 💙

[2021-11-10 13:17] aeneasr commented on #2660
That was quick, thank you! :)

[2021-11-10 13:31] shibumi commented on #2659
Hi @developer-guy, with GoReleaser it's a little bit difficult. I have created a PR for cosign that will allow storing the generated public certificate on disk for OIDC-issuers: https://github.com/sigstore/cosign/pull/1016

I just realized that you have created a PR for this, too :D Two people with thesame idea.

The next cosign release will automatically retrieve the certificate via searching thr

[2021-11-10 13:35] shibumi commented on #2659
I would suggest something like this:
[code]

[2021-11-10 13:58] developer-guy commented on #2659
GoReleaser does not support it yet. Should we open a PR to enable this @shibumi, or did you already work on it 😜

[2021-11-10 14:39] shibumi commented on #2659
For GoReleaser I do not have a PR. Feel free to open one :)

[2021-11-10 16:34] caarlos0 commented on #2659
so, to summarize the idea:

- we add a "certificate" env/var to signs
  - possibly also allow the user to name this file
- cosign writes the key to that file
- goreleaser should add this file to its artifact list and publish it on the release

if that's it, I have an idea on how to impl it, can do it later today

[2021-11-10 18:20] shibumi commented on #2659
@caarlos0 Yep, this is correct.

[2021-11-10 18:42] dirien commented on #2647
hi @till and @caarlos0, sorry took a day longer :/

[2021-11-10 18:52] developer-guy commented on #2659
Exactly! But let's wait for the maintainer's thoughts first; if they agree on this idea, we can start to work on this; we are also really excited about the developments in this area; we also want to develop this feature if you let us do that.

[2021-11-10 18:54] dirien commented on #2657
Looking forward for this!

[2021-11-10 19:05] dirien commented on #2659
Totaly love this feature! Going to be awsome! thx @developer-guy, @Dentrax and @shibumi! 👍🏻👍🏻👍🏻

[2021-11-10 19:32] lukehinds commented on #2659
Here is the deal with keyless and certificate expiry, fulcio certs are designed to be very short lived by design (I think its currently 30 seconds).

We go through the following flow:

user generates key pair -> contacts fulcio  -> fulcio provides them with an OpenID session (login with google, github etc) -> user also sends a challenge (there email) encrypted with their key pair.

Fulcio then req

[2021-11-10 19:36] lukehinds commented on #2659
You should really use rekor for storing the artifacts or at least ensure the entries are in rekor.

[2021-11-10 21:09] developer-guy commented on #2659
Thank you so much, @lukehinds, for getting involved in this and sharing your thoughts with us; they are accommodating. However, IIAC, according to your sayings, we can't or shouldn't use these certificates for long-term verification, like storing it in the releases together with the binaries and sharing it with people to check our binary whether it is has been tampered with, right?

I know I asked

[2021-11-10 21:19] shibumi commented on #2659
IIRC, cosign uploads everything to rekor automatically. If not, it is possible to just add the `--rekor-url` parameter. I talked about this with @dlorenc and we came to the conclusion that having both (the transparency log in rekor AND a certificate on disk) might be useful.

As far as I know short-term certificates just mean that you validate if an artifact got signed in this specific timeframe.

[2021-11-10 21:22] shibumi commented on #2659
@developer-guy

This is an example from my blog post from the 7th of november:

[code]

As you see.. the binary is still valid, although the certificate has already expired, because the signature got created in this short-lived time frame. :)

[2021-11-10 21:27] developer-guy commented on #2659
OMG! Everything is now clear 🙋🏻‍♂️ thank you so much @shibumi! That was super helpful information, so lucky to meet you 🤝

cc: @Dentrax @erkanzileli

Okay then, @caarlos, would you mind letting us to implement it to GoReleaser, or will you take care of it? We are so excited about the development, so, please feel free to assign it to us 🤝

[2021-11-10 21:50] Dentrax commented on #2659
Thanks for such a nice clarification Luke, and supporting the concept with a demonstration Christian! I clearly see now where we lost and thought in different way! 🧡

[2021-11-10 22:05] till commented on #2647
Seems like it should do the trick. Thank you so much! 🥳

[2021-11-11 00:03] caarlos0 commented on #2657
I'll tackle this as well

[2021-11-11 00:08] caarlos0 commented on #2659
already working on it @developer-guy , will open the pr soon :D

[2021-11-11 01:19] caarlos0 commented on #2659
check https://github.com/goreleaser/goreleaser/pull/2662

[2021-11-11 01:19] caarlos0 commented on #2657
check https://github.com/goreleaser/goreleaser/pull/2662

[2021-11-11 05:46] lukehinds commented on #2659
@developer-guy actually @shibumi blog describes it really well. Just an extra to what shibumi outlines, with github ODIC (which I believe you might be planning on using here), instead of the email, the CI run is captured

![image](https://user-images.githubusercontent.com/7058938/141244521-ae310d4b-b491-4c42-bfd9-7c1367d5a2fe.png)

[2021-11-11 08:27] shibumi commented on #2659
@lukehinds this was one of my major questions about workload identities. Thank you! I always thought, that the OIDC ID from the project maintainer will transition to the workload identity. But letting the workload identity itself be the identity makes more sense.
:exploding_head: this makes sense now, too.

[2021-11-11 08:35] lukehinds commented on #2659
I have just been playing with `trimpath` and some other flags and we could have reproducible signed builds then (maybe goreleaser already does this)

This way you could compile a go binary (or wget it from somewhere), look up entries in rekor by the digest and see the same digest was signed by cosign in a github action.

[2021-11-11 08:48] shibumi commented on #2659
@lukehinds goreleaser is already reproducible (At least our Arch Linux release is reproducible. We are testing all packages for reproducibility):

![https://kurisu.shibumi.dev/share/img-2021-11-11-09-47-14.png](https://kurisu.shibumi.dev/share/img-2021-11-11-09-47-14.png)

[2021-11-11 08:55] butuzov commented on #2658
don't want to duplicate issues but go install @latest also fails now

[code]

[2021-11-11 09:59] developer-guy commented on #2659
IIAC, @caarlos0, according to your PR#2662, this `certificate` field will be named as `pem`, right?

[2021-11-11 12:31] #2647 closed

[2021-11-11 12:32] caarlos0 commented on #2658
painn, I just can't reproduce that :|

whats in your `go env GOPROXY`?

[2021-11-11 12:34] caarlos0 commented on #2659
bad prop rename, will be `certificate`

[2021-11-11 12:37] #2598 closed

[2021-11-11 14:42] developer-guy commented on #2659
We are ready for the new releases 😋https://github.com/google/ko/pull/498/commits/06fb65dfd596444dd01c9b6f4750c76ee6981c16

[2021-11-11 14:44] caarlos0 commented on #2659
noiceee

will likely release this later today, or in the worst case, over the weekend

[2021-11-12 01:33] caarlos0 commented on #2645
similar issues:

- https://github.com/kubernetes/enhancements/issues/2853
- https://github.com/kubernetes-sigs/promo-tools/issues/424

Seems like we need only to rename the branch via the github ui, fix the CI jobs et al filtering for master, and, finally, existing clones need to change to the new branch...

Seems like not much of a big deal

https://docs.github.com/en/repositories/configuring-bra

[2021-11-12 01:56] #2657 closed

[2021-11-12 01:56] #2659 closed

[2021-11-12 02:23] caarlos0 commented on #2659
more likely :|

[2021-11-12 03:05] caarlos0 commented on #2645
We can also do it on the other active projects!

[2021-11-12 03:16] dlorenc commented on #2659
Who releases the releaser!?!? :)

[2021-11-12 03:46] caarlos0 commented on #2652
if someone wants to take a look at this, please feel free to do so :)

[2021-11-12 03:58] #1315 closed

[2021-11-12 13:35] shibumi commented on #2659
I am sure we can release goreleaser with goreleaser + cosign in the future, too :D

[2021-11-12 14:04] caarlos0 commented on #2659
It already signs with cosign, just not keyless - yet...

[2021-11-12 14:20] shibumi commented on #2659
@caarlos0 pretty sure @developer-guy  or me can donate a PR for this. The only question is if we should wait until the new production ready sigstore instances are ready. What do you think @dlorenc ? Does it make sense to sign keyless already with the "test" instances?

[2021-11-12 14:31] dlorenc commented on #2659
I don't expect anything to change with the sigstore instances - they'll still be at the same hostnames and the data will all still be present. So feel free to use them now!

The messaging is more around cautioning people to not rely on them being 100% stable all the time until we finish up a bit more productionization work.

[2021-11-12 14:33] developer-guy commented on #2659
there is an already PR for this @shibumi, and @caarlos0 already merged it to the main.
please see: https://github.com/goreleaser/goreleaser/pull/2662

[2021-11-12 14:38] shibumi commented on #2659
@developer-guy yep, but the github action workflow for keyless signatures for goreleaser is still missing. That's what I meant.

[2021-11-12 20:20] caarlos0 commented on #2645
to update locally:

[code]

[2021-11-12 20:26] caarlos0 commented on #2645
note: had to rename on codecov as well...

[2021-11-12 21:49] Dentrax opened #2666 "Brainstorming: Running reproducible-build checks just before publishing"
**Is your feature request related to a problem? Please describe.**
Several days ago, @naveensrinivasan created something noticeable https://github.com/sigstore/cosign/issues/1019 issue to [cosign](https://github.com/sigstore/cosign). This project has been using [goreleaser](https://github.com/sigstore/cosign/blob/main/.goreleaser.yml). So, we (@developer-guy @erkanzileli) decided to move the discu

[2021-11-12 22:12] naveensrinivasan commented on #2666
@Dentrax  This is cool!

[2021-11-12 22:40] shibumi commented on #2666
Hi @Dentrax, very cool idea. I am not sure about the exact purpose of this. Do you want to make goreleaser build reproducible binaries or do you want to **test** go programs for reproducible builds via goreleaser? The second one is very very difficult.

If we speak about the latter, we have to address a few issues:

1. You have to provide an isolated build environment: Setting a constant system ti

[2021-11-13 01:34] kpcyrd commented on #2666
I think @shibumi summarized it very well, if you want to detect possible problems you could use:
[code]

This would:
- copy Makefile and the contents of src/ into a temporary build folder
- run `make build`
- compare `./a.out` of both builds for differences

To implement this:

You'd need to consider that the system you're rebuilding on might be using a different operating system, different versio

[2021-11-13 03:23] caarlos0 commented on #2645
done!

[2021-11-13 03:23] #2645 closed

[2021-11-14 22:26] blacktop opened #2669 "CHANGELOG categories 🙏"
I think it would be cool to sort the commits in the CHANGELOG by type.

I've taking to using your style of `labeling` my commits with `feat:` or `fix:` etc etc and I think it'd be cool for goreleaser to auto create Markdown sections based on how I am labeling my commits for example:

- fix: bug in parser
- feat: one word... 🌈 rainbows!
- chore: updated deps
- chore: reorg of file parser folders

W

[2021-11-15 08:49] Dentrax commented on #2666
Thanks for such great explanations! I clearly understood the concerns and pretty much the idea. One point that I have been wondering:

I slightly confused here. Please correct my if I'm wrong: To verify my build is reproducible, I have to use the same environment to compile source. If goreleaser use Linux ARM v7 with Go 1.17 to build my source, then I need to recompile the source using exactly the

[2021-11-15 10:08] developer-guy commented on #2659
@caarlos0, does the v1.0.0 release of the GoReleaser include this issue? I couldn't find this issue in the release notes?

[2021-11-15 10:18] aalmiray commented on #2669
FYI https://www.conventionalcommits.org/en/v1.0.0/

[2021-11-15 10:50] dirien commented on #2645
Many thanks @caarlos0 !

[2021-11-15 10:51] dirien commented on #2669
uhh i like this, @caarlos0 can i take this one?

[2021-11-15 10:52] dirien commented on #2652
@caarlos0, I will do. if its okay?

[2021-11-15 13:05] developer-guy commented on #2659
@shibumi will you open another issue to track this?

[2021-11-15 13:49] caarlos0 commented on #2659
I was planning on doing this once cosign have `--output-certificate` or similar, so we can still upload the pub key to the release and users can still validate the signatures on air-gapped environments...

[2021-11-15 13:49] caarlos0 commented on #2652
sure, go ahead @dirien

[2021-11-15 13:51] caarlos0 commented on #2669
sure @dirien !

the only thing I would say here is to make this work only with "our own" changelog (i.e. not github-native), as it would break goreleaser if they change their format..

[2021-11-15 13:56] caarlos0 commented on #2666
If the idea is to create reproducible builds, goreleaser can already do this

For instance, goreleaser builds themselves are reproducible:

<img width="1194" alt="image" src="https://user-images.githubusercontent.com/245435/141793699-949d5ba4-72e6-420f-802f-821a3a466b59.png">

That's after building 2 times with `go run . build --single-target --rm-dist`

The keypoints are here: https://goreleaser.

[2021-11-15 14:23] caarlos0 commented on #2666
https://github.com/sigstore/cosign/pull/1053

The other bits were already there, just go mod proxy was missing

[2021-11-15 17:20] dirien commented on #2669
ok!

[2021-11-15 18:39] dirien commented on #2652
Hi @rnikoopour,

i try to recreate your scenario, but i can't recreate it to see the same as you:

What did i do:

1. Create an AWS S3 (Question 1: Are you using aws s3 or an s3 compatible storage?)
1. Postivie Test with full access (r+w)
![image](https://user-images.githubusercontent.com/38325136/141836286-b5694fb5-1336-4933-8700-7e797d8634c4.png)
1. Remove Write Access
[code]

Do you have some m

[2021-11-15 20:33] dirien commented on #2669
hi @blacktop and @caarlos0, created a first suggestion https://github.com/goreleaser/goreleaser/pull/2670 looking for your feedback :)

[2021-11-15 22:56] rnikoopour commented on #2652
I was using AWS S3.

What more information do you need regarding the settings?

Off the top of my head I don't really have more information.  I never removed write access for the credentials that were being used.  I may have had expired AWS credentials in my `~/.aws/credentials` but I didn't have a profile set when I tried to upload and it failed silently.

My colleague was able to reproduce the e

[2021-11-16 03:04] rustycl0ck opened #2671 "Support GitHub's automatically generated release notes"
**Is your feature request related to a problem? Please describe.**
Github now allows to automatically generate release notes for releases. I would like to use this feature. - https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes

**Describe the solution you'd like**
An option to automatically add the release notes generated by github, while crea

[2021-11-16 03:05] caarlos0 commented on #2671
this is already implemented https://goreleaser.com/customization/changelog/

github-native on the changelog settings does the trick :)

[2021-11-16 03:05] #2671 closed

[2021-11-16 03:07] rustycl0ck commented on #2671
Ah sorry, I overlooked that in the config file. Thank you!

[2021-11-16 07:37] dirien commented on #2652
hi @rnikoopour,

that will be helpful. Currently i test with setting the AWS_SECRET_ACCESS_KEY and AWS_ACCESS_KEY_ID but try to rebuild your scenario!

Thanks

[2021-11-16 19:22] radist commented on #2341
Have a similar problem. GitLab project identifier must be number or encoded url (/api/v4/projects/radist%2Fimgproxy-build/releases/v0.0.1/assets/links). Goreleaser generate decoded url (/api/v4/projects/radist/imgproxy-build/releases/v0.0.1/assets/links) and it breaks app. To fix it, you just need to add id string encoding.

Source: https://docs.gitlab.com/ee/api/index.html#namespaced-path-encodin

[2021-11-16 20:15] dirien commented on #2652
hi @rnikoopour, i tried it with temp. credentials via aws cli

`aws sts assume-role --duration-seconds 900 --role-arn arn:aws:iam::343319427887:role/s3 --role-session-name "RoleSession1"`

[code]

And i get the feedback:

`⨯ release failed after 13.74s error=blobs: failed to publish artifacts: failed to write to bucket: blob (key "minectl/v0.12.0/minectl_0.12.0_linux_amd64.tar.gz") (code=Unknown):

[2021-11-16 21:28] dorner commented on #2652
I'm seeing the same issue. My output looks slightly different, but same overall problem - no errors are reported.

<img width="704" alt="image" src="https://user-images.githubusercontent.com/1986893/142055866-a8b5069e-a946-495a-975b-4af2d83280e9.png">

[2021-11-16 22:00] rnikoopour commented on #2652
@dirien thanks for digging into this and trying to repro.  The photo from @dorner is the same output I had.

[2021-11-16 23:39] dirien commented on #2652
@dorner and @rnikoopour are you using some kind of oidc to provide the credentials?

@dorner: can you explain your setup? are you using the aws cli for auth? That would help me much to reconstruct the issue to find a solution.

[2021-11-17 14:18] dorner commented on #2652
@dirien nope, just plain environment variables. In this case it turns out the variables were set to empty strings but I had no idea.

[2021-11-17 14:18] dorner commented on #2652
This is running on GitHub Actions by the way.

[2021-11-17 14:42] dorner commented on #2652
hmm... something else is weird here. When I replace the GoReleaser code with a straight `aws s3 cp` command line call, it uploads fine. But GoReleaser shows the "publishing" line and nothing else.

Also, with debug logs off the blobs show nothing at all in the publishing section.

[2021-11-17 17:45] dirien commented on #2652
So I tested every scenarion, and I get all the time a correct error message. I could not trigger a scenario, where the underlying library did not come up with an error message.

Maybe it helps understand, that goreleaser uses

[code]

https://goreleaser.com/customization/blob/#s3-provider

different locations for the credentials. In your case @dorner it could be still that the .aws/credentials are

[2021-11-17 17:48] dorner commented on #2652
Hmm... but in this case, the env variables *are* there and I'm still not seeing the blobs being published correctly. So there's some disconnect between how the AWS command line library reads them and how GoReleaser reads them. :(

[2021-11-17 17:59] caarlos0 commented on #2652
GoRelaser uses https://github.com/google/go-cloud

I see no relevant issues there regarding s3... maybe you can try to build a reproducible using your problematic keys in a main.go using them?

Something like:

[code]

(straight copied from their help page)

Then we can see if its something there, something on goreleaser, or something else entirely...

[2021-11-17 18:22] dirien commented on #2652
i like this idea @caarlos0!

[2021-11-17 20:36] wagoodman commented on #2597
After letting these draft PRs simmer for a week, I'm leaning towards the "before signing" approach too... it's more idiomatic to the staging that is already in place.

Having the ability to create SBOMs for container images is really enticing (and I think necessary in the long run) but doesn't seem like enough of a reason to put SBOM generation after signing. This can be solved later by adding a s

[2021-11-18 00:13] caarlos0 commented on #2597
yeah, sounds like a good idea indeed!

[2021-11-18 00:14] caarlos0 commented on #2597
thanks for the work on this @wagoodman 🙏

[2021-11-18 08:04] abdennour commented on #2597
i tried to [package bom.json](https://github.com/ElmCompany/seal-cli/blob/master/.github/workflows/release.yaml), but goreleaser threw the error :  release failed after 0.01s error=git is currently in a dirty state, please check in your pipeline what can be changing the following files:
?? bom.json

[2021-11-18 08:16] nscuro commented on #2597
@abdennour `bom.json` must be listed in your `.gitignore`. See https://github.com/CycloneDX/cyclonedx-gomod#goreleaser-

GoReleaser expects your repo to be clean (no unstaged / uncommitted changes).

[2021-11-18 17:33] caarlos0 opened #2674 "improve git dirty error message"
we could probably add more context to the dirty error message, maybe linking to a page on our docs

I think every week someone has questions/doubts about it, maybe adding a link that explains the error would help.

Thinking out loud, maybe even a whole "errors" section under our docs, then we could easily point out to `https://goreleaser.com/errors/dirty` for example

[2021-11-18 17:34] caarlos0 opened #2675 "use milestones to track releases"
now that v1 is out, maybe we can have a bit more planning for each release... so having milestones would probably be helpful.

goreleaser can already auto-close milestones while releasing, so that's nice as well.

[2021-11-18 17:38] caarlos0 commented on #2320
for that you could likely use `goreleaser release --skip-publish` and then run again without the `--skip-publish` flag.

This might help: https://carlosbecker.com/posts/goreleaser-prebuilt/

[2021-11-21 15:32] #2321 closed

[2021-11-21 15:34] #2675 closed

[2021-11-21 15:47] #2674 closed

[2021-11-21 15:53] caarlos0 commented on #2666
closing as explained on previous comments.

Thanks for the writeup @Dentrax !

[2021-11-21 15:54] caarlos0 commented on #2606
For now there is not much we can do here... will improve docs though.

[2021-11-21 15:57] #2606 closed

[2021-11-21 16:00] caarlos0 commented on #2462
The way goreleaser works is splitting this process in 2 phases:

- building things
- publishing things

IF the user purposefully puts `--push` or `--publish` on their configs, and later its pushed again, the second push should be a noop and therefore not a problem assuming a successful release.

The biggest concern here is, IMHO, if the image is built and push, but some other step later fails befo

[2021-11-21 16:29] caarlos0 commented on #2655
check #2677

[2021-11-21 16:48] caarlos0 commented on #2656
check https://github.com/goreleaser/goreleaser/pull/2678

[2021-11-21 18:20] caarlos0 commented on #2651
hmm, I just tested this, and it does error 🤔

[code]

[2021-11-21 22:05] neomantra commented on #2006
It seems that [go-gitlab:#1100](https://github.com/neomantra/go-gitlab/commits/nm-1100) is moving along now.

I've rebased  the [nm-2006 branch](https://github.com/neomantra/goreleaser/tree/nm-2006) to the latest `goreleaser main` and updated it for changes to that  `go-gitlab` branch.   Once accepted in `go-gitlab`, I'll make a PR here....

[2021-11-21 23:15] patdowney opened #2679 "Add Hooks to UniversalBinary builder"
**Is your feature request related to a problem? Please describe.**
I would like to build and sign (using `gon`) a universal binary. The current documentation for signing using `gon` is to use post build hooks to execute `gon` (https://goreleaser.com/customization/sign/#with-gon). The `universal_binaries` builder doesn't support `hooks`

**Describe the solution you'd like**
I would like the ability

[2021-11-22 05:36] blacktop commented on #2669
I was able to add a `github` style changelog summary to my current CHANGELOG with the following:

[code]

I set the env vars in my Makefile using:

[code]

@caarlos0 I see you have `{{ incpatch .Version }}`, would it be possible to add `{{ decpatch .Version }}` ? 🙏

[2021-11-22 12:04] caarlos0 commented on #2669
you could use `{{ .Tag }}` for the current version, we could add previous version as a field too... we know that info anyway :)

[2021-11-22 15:54] binwiederhier commented on #2606
Thanks folks for the example above. I got it to work with this: https://github.com/binwiederhier/ntfy/commit/2a057151070e31249b52e73cd76bcfd44e7e53fa

[2021-11-22 16:58] blacktop commented on #2669
Awesome!!! ❤️

[2021-11-22 17:53] #2655 closed

[2021-11-23 09:38] SuperQ opened #2685 "Allow output template changes for single-target mode"
**Is your feature request related to a problem? Please describe.**

For `--single-target` builds where the user wants to just get a binary output, it would be nice to be able to override the `dist` and `name_template`. This way our project can have a simple `make build` that outputs a `./project_name` binary.

**Describe the solution you'd like**

A configuration option like this:

[code]

**Descr

[2021-11-23 10:07] roidelapluie opened #2686 "Horizontal sharding of builds"
**Is your feature request related to a problem? Please describe.**

`--parallelism` is limited in parallelism for one machine. In CI, it is sometimes easy to pop more machines in parallel that a big machine.

**Describe the solution you'd like**

Introducing `--parallelism-thread` to shard the builds by parallelism thread.  `--parallelism 6 --parallelism-thread 1` would run builds 3,4,5.

**Descri

[2021-11-23 10:13] roidelapluie commented on #2686
Note: Not sure if goreleaser can split the build - release pattern

[2021-11-23 10:46] omerlewitz opened #2687 "[Bug]: cross compilation fails"
### What happened?

I'm trying to release my project in both `linux` and `windwos` machines without success.

I have tried to explicitly define the `-CC` to few options but non of them worked in both machines.

Pre installed packages:

  sudo apt-get install build-essential
  sudo apt-get install gcc-multilib g++-multilib
  sudo apt-get install gcc-mingw-w64

In the project i'm using `c` code whic

[2021-11-23 10:54] hellt opened #2688 "[Bug]: schema validation expects some fields to be capitalised"
### What happened?

false errors during json schema validation for `.build.hooks.pre/post`
https://github.com/goreleaser/goreleaser/blob/808b603506008f119da9b2346cbb0f3c0bad9381/www/docs/static/schema.json#L296

### How can we reproduce this?

Check vscode reports for a build that has pre/post hooks defined

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no erro

[2021-11-23 12:12] datosh opened #2690 "Include or download cosign CLI when required"
**Is your feature request related to a problem? Please describe.**
I am using the goreleaser/goreleaser Docker image to build my application. Now, I want to include container & binary blob signing using cosign, but the required CLI is not available in the image. (unless I missed something?)

I could go ahead and maintain my own image, where I extend goreleaser image with cosign CLI, but I image ma

[2021-11-23 12:19] cpanato opened #2691 "[Bug]: When skipping the build and extraf iels for checksums is not working"
### What happened?

when having a config that skip the build but what to generate checksums for extra files the checksum is not being generated

### How can we reproduce this?

simple config file

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Con

[2021-11-23 12:19] caarlos0 commented on #2687
We don't magically make CGO builds work (it seems its not even legal 😥), as stated in our docs: https://goreleaser.com/limitations/cgo/

There are links to stuff you do to make it work on that page, although its not something we actively support.

Closing...

[2021-11-23 12:19] #2687 closed

[2021-11-23 12:28] caarlos0 commented on #2686
hey @roidelapluie

this is something I've been wanting to work on for a while, right now it can't join the outputs back together and continue the release process from there... at least not without being very hacky about it.

That said, this is definitely something to work on, but its more likely to come next year only

[2021-11-23 12:40] #2691 closed

[2021-11-23 12:42] caarlos0 commented on #2690
It will be on the next version thanks to @cpanato :)

https://github.com/goreleaser/goreleaser/blob/main/Dockerfile#L14

closing as already fixed.

[2021-11-23 12:42] #2690 closed

[2021-11-23 13:18] #2688 closed

[2021-11-23 14:03] caarlos0 commented on #2651
closing as not reproducible...

[2021-11-23 14:03] #2651 closed

[2021-11-23 14:29] SuperQ commented on #2685
@caarlos0 Not sure how involved this would be. Or if it would be better to build the binary directly to the target location, or build and mv.

[2021-11-23 17:40] caarlos0 commented on #2685
I need to take a look, but I was thinking that maybe when using `--single-target` we could build to `.` by default (or move after built automatically) and also name the binary as `go build` would... 🤔

OR, accept a `-o` flag like `go build` does...

[2021-11-23 18:53] #2679 closed

[2021-11-23 19:29] dirien commented on #2669
Hi @blacktop, I love your recipe github sytle changelog!

Would you mind, if you or i add this to the cookbook section https://goreleaser.com/cookbooks/contributing/ so it does not get lost?

[2021-11-23 19:42] blacktop commented on #2669
Thank you! You can add it, although, we might want to wait for @caarlos0 's #2683 to merge as it will make is SUPER easy to do?

[2021-11-23 21:24] patdowney commented on #2679
wow quick work, nice one!

[2021-11-24 01:17] caarlos0 commented on #2679
thanks @wesleimp for working on it 🙏

[2021-11-24 01:18] #2656 closed

[2021-11-24 01:23] #2669 closed

[2021-11-24 01:33] caarlos0 commented on #2669
yeah, will finish it up now :)

[2021-11-24 02:04] caarlos0 commented on #2669
OK, #2683 ready to be reviewed :)

[2021-11-24 13:42] #2585 closed

[2021-11-24 22:52] dirien opened #2697 "chore: Rename yml to yaml"
**Is your feature request related to a problem? Please describe.**
According to [yaml.org FAQ](https://yaml.org/faq.html):

**Describe the solution you'd like**
Rename `.golangci.yml` and `.goreleaser.yml` to `.golangci.yaml` and `.goreleaser.yaml`

Unfortunatly is Taskfile not supporting yaml atm -> https://github.com/go-task/task/issues/584

[2021-11-24 23:34] #2697 closed

[2021-11-25 03:16] caarlos0 commented on #2685
what do you think about #2701 @SuperQ ?

[2021-11-26 01:34] caarlos0 commented on #1384
finally happening #2702

[2021-11-26 12:59] #1384 closed

[2021-11-27 04:27] iJebus opened #2704 "[Bug]: Incorrect parsing of Gitea URL with port number"
### What happened?

I found a few other closed issues regarding 404's at this stage but none seemed quite the same.

When using the following block in a goreleaser config, goreleaser fails to release with an error.

[code]

[code]

However, after adding the release config block below the release is successful.

[code]

I think this relates to the port number as I have a separate Gitea instance tha

[2021-11-28 13:35] #2704 closed

[2021-11-29 00:33] caarlos0 opened #2707 "[proposal] do not automatically list docker images on release notes"
In the beginning, GoReleaser didn't had customization options regarding the release notes - like footer and header.

That's one of the reasons why we always listed the docker images in the release notes.

Now, we have those options and it would be easy to add them as a footer.

The reason I propose this is that, if you want to add something to the footer that is related to the changelog, it will a

[2021-11-30 00:31] ghostsquad opened #2710 "[Bug]: Unexpected build does not build docker images"
### What happened?

[code]

builds my go binaries, but not my docker image

and

[code]

builds my docker images

---

from a developer experience standpoint, I found it unexpected that `goreleaser` did not build the docker images as part of the `build` phase. As I'm attempting to simplify my processes for building the binary and docker image, but also maintain unification between local developmen

[2021-11-30 00:37] caarlos0 commented on #2710
this is by design, not sure if we're going to allow to build the docker images as well...

if that's what you need, probably having a second goreleaser config just for that is better...

[2021-11-30 00:52] ghostsquad commented on #2710
ya, I spent the afternoon learning about goreleaser for the first time. It's been on my radar for quite a while, and with 1.0.0 released just 2 weeks ago, I thought I would look at this again, and introduce it to my company.

As I worked through the documentation, I realized it took me awhile to develop a mental model of the steps the goreleaser was going to do, and specifically maybe the terms "b

[2021-11-30 00:55] ghostsquad commented on #2710
There's no `publish` subsection in the config, instead it's just a series of individual keys based on the publishing _method_, such as a "github `release`"

`announce` though is itself a section, with subkeys for the different ways to produce the announcement. That makes sense.

[2021-11-30 00:59] ghostsquad opened #2711 "HTTP Announcer"
**Is your feature request related to a problem? Please describe.**
If I had a custom service that accepted an HTTP request, I'd like to be able to send an "announcement" by sending an arbitrary HTTP request to a service I own.

**Describe the solution you'd like**
Support to send an http request as part of the "announcement" step.

**Describe alternatives you've considered**
A custom publisher per

[2021-11-30 01:01] ghostsquad opened #2712 "Custom Announcers"
**Is your feature request related to a problem? Please describe.**
XYZ is not currently supported by goreleaser as an announcement method

**Describe the solution you'd like**
Support custom announcers similar to custom publishers

**Describe alternatives you've considered**
A custom publisher perhaps? But announcing is a step _after_ publishing.

**Additional context**
n/a

[2021-11-30 01:04] caarlos0 commented on #2710
you're right, yeah, docs on that manner should be better... the idea behind `goreleaser build` was to replace the `go build` stuff in most makefiles...

Announce has its own section because it makes sense for it, but some of the others mix a bit, e.g. docker section setups both docker image builds and publishing, and yeah, 100% it can be confusing.

About the specific case of `goreleaser build`, w

[2021-11-30 01:07] ghostsquad commented on #2710
@caarlos0 thank you for helping me out. I think it helped that I just wrote this down in an issue. Creating an accurate mental model of something sometimes takes several steps:

1. read the docs
2. try it yourself
3. try to explain it to someone else (in this case, in the form of a github issue)

so ya... it took me all the way to step 3 to really nail this down!

Is there a way I can contribute t

[2021-11-30 01:13] caarlos0 commented on #2710
sure thing! For the `--help` itself, you can edit [here](https://github.com/goreleaser/goreleaser/blob/main/cmd/build.go#L46) (the markdown files are auto-generated from it, so you don't need to worry about it).

Other pages you might want to edit are within the `www` folder: https://github.com/goreleaser/goreleaser/tree/main/www/docs

You can use `task docs:serve` to preview it locally (needs doc

[2021-11-30 01:16] caarlos0 commented on #2710
fwiw, if you need more guidance and rather chat about it, we have a channel on gophers slack and also a discord channel (discord is kind of preferred as we have more control there): https://goreleaser.com/links/

[2021-11-30 01:20] ghostsquad commented on #2710
Within this vein, I imagine that `changelog` is kind of like an artifact that is "published" as part of a "release".

I have the following in my config:

[code]

I'd like to see what the Changelog would look like. I assumed I'd be able to do that (with the new mental model of using `goreleaser release --rm-dist --snapshot --skip-publish`) but once again, I'm not sure if a changelog is actually bei

[2021-11-30 01:34] caarlos0 commented on #2710
Almost!

`--snapshot` skips the changelog generation, and `--skip-publish` is implied by `--snapshot`.

But you can run `release --rm-dist --skip-validate --skip-publish`, and that should result in you having a `dist/CHANGELOG.md`. You can see its generated early in the process, so you can cancel the workflow once you see the logs if you don't want to wait for the whole thing...

[2021-11-30 18:12] developer-guy opened #2713 "use keyless approach while signing and verifying GoReleaser checksums.txt file"
**Is your feature request related to a problem? Please describe.**
It is not related to a problem.

**Describe the solution you'd like**
A similar approach has been taken in cosign project[^1], thanks to @cpanato. Now, we can use this approach while signing and verifying the checksums.txt file of the GoReleaser.

Also thanks to @cpanato, he already prepared a repository[^2] to show people how they

[2021-11-30 18:12] developer-guy commented on #2713
similar projects that try to achieve the same thing:

* https://github.com/google/ko/issues/491

[2021-11-30 21:06] ghostsquad opened #2714 "Machine readable output"
**Is your feature request related to a problem? Please describe.**
I'd like to know what artifacts were generated as part of the release in a machine readable format, such as JSON

**Describe the solution you'd like**
Write a file to disk perhaps in the `dist/` folder?

**Describe alternatives you've considered**
n/a - There's no machine API for goreleaser to interact with other tooling

**Additio

[2021-12-01 00:13] #2707 closed

[2021-12-01 00:20] caarlos0 commented on #2713
pushed what I had laying around on my stash here... cc/ @developer-guy

[2021-12-01 09:18] mavogel commented on #2341
@radist can you provide thee following information please
- GoReleaser Version [goreleaser --version]:
- GitLab version (if using a private hosted one)

[2021-12-01 12:54] #2714 closed

[2021-12-01 16:25] myitcv commented on #2606
We appear to be seeing the same issue with the CUE project:

https://github.com/cue-lang/cue/actions/runs/1526667405

@caarlos0 I'm not clear from the above what the suggested fix is here. Am I missing something obvious? You talk about improving the docs, but the docs reference this issue... and I'm not clear from the response what the "answer" is 😄

[2021-12-01 16:34] myitcv commented on #2606
Ah, I see where we've gone wrong. Our image and manifest template names do not match up.

[2021-12-02 20:10] vincentbernat opened #2721 "[Bug]: ARMv6 should be armhf and ARMv5 should be armel"
### What happened?

Since GoReleaser v1.0.0, armhf is mapped to armv7 while armel is mapped to armv6. However, Raspbian, a derivative of Debian still used today, considers armhf to be armv6. Therefore, the Debian packages generated by GoReleaser does not work and users get "Illegal instruction" errors.

### How can we reproduce this?

We are using this configuration file: https://github.com/nextdn

[2021-12-02 23:45] blacktop opened #2723 "[Bug]: changelog sort bug"
### What happened?

I created a release here - https://github.com/blacktop/ipsw/releases and it's CHANGELOG is missing a commit.

`chore: minor reorg of sym/str in ipsw macho info and dyld macho cmds`

commits can be seen in the Summary here - https://github.com/blacktop/ipsw/compare/v3.1.21...v3.1.22

### How can we reproduce this?

[code]

### goreleaser version

[code]
[code]

[2021-12-02 23:46] blacktop commented on #2723
🤦 it was because `reorg`

[2021-12-02 23:46] #2723 closed

[2021-12-03 13:59] caarlos0 commented on #2721
GoReleaser get those names because of https://github.com/goreleaser/goreleaser/blob/main/.goreleaser.yaml#L170

Shouldn't arm7 be armhf?

Those arches come from here: https://github.com/goreleaser/nfpm/blob/main/deb/deb.go#L36-L45

[2021-12-03 14:05] caarlos0 commented on #2721
yeah, its wrong, arm7 is armhf, arm6 is armel, no idea what arm5 is supposed to be

[2021-12-03 14:11] caarlos0 commented on #2721
seems like also armhf...

[2021-12-03 14:12] vincentbernat commented on #2721
For Debian, armhf is arm7 while for Raspbian, armh is arm6, so better use arm6→armhf and arm5→armel.

[2021-12-03 14:13] caarlos0 commented on #2721
see https://github.com/goreleaser/nfpm/pull/412

[2021-12-03 18:10] dirien commented on #2711
@caarlos0, I like the idea of a generic Webhook with a the message in the Post Body.

It should support Auth (via Header) too.

I would like to implement this.

[2021-12-03 18:12] dirien commented on #2652
Should we close this issue? Or what I can offer is, to do a Teams/Webex/Slack session to see the error live in action :) Most of the time this helps me to gather more infos. C'mon, what works and work should work in OSS too? 😛

[2021-12-03 18:14] dorner commented on #2652
I actually gave up on GoReleaser and am using the AWS command line right now. The pipeline is working. Moving it back is a bit risky at this point. I might have another path to test this in a week or two.

[2021-12-03 18:28] Dentrax commented on #2711
+1, I liked the idea! A bit advanced for goreleaser but dropping [falcosidekick's generic HTTP client](https://github.com/falcosecurity/falcosidekick/blob/master/outputs/client.go) here anyway, maybe it can help us.

[2021-12-03 18:48] caarlos0 commented on #2711
go for it @dirien !

cool link @Dentrax !

[2021-12-03 21:04] dolmen opened #2726 "Release description from the Git tag message"
**Is your feature request related to a problem? Please describe.**

I don't want a changelog produced from Git commit messages because they are only for maintainers, not for end users.

When I prepare a release I do a Git tag with a commit message that contains the changelog defined by the maintainer:
[code]
I would like to use the content of that message which is attached to the Git tag as the de

[2021-12-04 10:54] catthehacker opened #2727 "[Bug]: incorrect casing in JSON schema"
### What happened?

![image](https://user-images.githubusercontent.com/31106839/144706840-7cb1e372-fb17-4a10-8aa7-08e52058682b.png)

### How can we reproduce this?

config:
[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to f

[2021-12-04 12:33] caarlos0 commented on #2727
good catch @catthehacker , thanks!

fix is on #2728

[2021-12-04 15:32] #2727 closed

[2021-12-04 18:51] caarlos0 commented on #2726
check #2730

please check if in your repo if

[code]

yields the expected results :)

[2021-12-06 01:42] #1802 closed

[2021-12-06 02:23] #2726 closed

[2021-12-06 08:19] developer-guy opened #2737 "[Proposal] add provenance document creation support based on in-toto attestations"
**Is your feature request related to a problem? Please describe.**
This is a feature, not related to a problem.

**Describe the solution you'd like**

Attestations are more like a document/record to give details about how the software was built. [in-toto](https://github.com/in-toto/attestation) provides/defines very detailed documents for it, so, GoReleaser can generate software provenance documen

[2021-12-06 10:53] dolmen opened #2738 "[Bug]: GitLab documentation should advice project scoped tokens"
### What happened?

The [documentation](https://goreleaser.com/scm/gitlab/#api-token) says to create a GitLab personal token.

But this creates a token which has too much power.
In GitLab it is now possible to create token which have only the project scope.

GitLab CI now even exposes a `$CI_JOB_TOKEN` variable that _may_ already have all the credentials needed.
https://docs.gitlab.com/ee/ci/jobs/

[2021-12-06 13:01] caarlos0 commented on #2738
Can you open a PR documenting that? I have little experience with gitlab.

The file to edit are:
- https://github.com/goreleaser/goreleaser/blob/main/www/docs/ci/gitlab.md
- https://github.com/goreleaser/goreleaser/blob/main/www/docs/scm/gitlab.md

thanks!

[2021-12-06 15:21] dolmen commented on #2726
@caarlos0 Well, I need the full message:

[code]

[2021-12-06 15:26] dolmen opened #2742 "Add GitLab 'release-cli' tool in goreleaser Docker image"
**Is your feature request related to a problem? Please describe.**

In a GitLab CI job I would like to use `goreleaser` for build, but use GitLab CI [`release` settings](https://docs.gitlab.com/ee/ci/yaml/#release) (which needs GitLab' [`release-cli`](https://gitlab.com/gitlab-org/release-cli/-/tree/master/docs) tool) for publishing the release.

**Describe the solution you'd like**
Add [`release-

[2021-12-06 15:32] dolmen commented on #2738
I am currently experimenting with `$CI_JOB_TOKEN` (because this means that we would not have to manually create a token) which is supposed to have [API access since GitLab 1.14](https://about.gitlab.com/releases/2021/10/22/gitlab-14-4-released/#improve-security-of-cijobtoken-with-bots-and-more).

Unfortunately, no success on GitLab 1.14.1 so far (error 401 when attempting to publish a release with

[2021-12-06 16:14] ngotchac opened #2743 "Use Gitlab's CI_JOB_TOKEN"
**Is your feature request related to a problem? Please describe.**

So far, to push a release to Gitlab, one needs to setup a new API token, and configure the pipelines with it. However, there is already a job token available, via the `CI_JOB_TOKEN` env-var. It could be used to create a new release, but needs a special header to be set.

Right now, goreleaser uses [`gitlab.NewClient`](https://gith

[2021-12-06 19:35] caarlos0 commented on #2742
I'm sorry, rather not. The image is already very big, don't want to bloat it too much.

If you need custom tools, you can always `FROM goreleaser` and build from there...

thanks for the suggestion though...

[2021-12-06 19:35] #2742 closed

[2021-12-06 19:36] caarlos0 commented on #2743
cc/ @mavogel wdyt?

[2021-12-06 19:59] caarlos0 commented on #2743
also, related to https://github.com/goreleaser/goreleaser/issues/2738 ?

[2021-12-06 20:00] caarlos0 commented on #2710
will close as docs are improved a bit, @ghostsquad feel free to open PRs with things you find could be better, if you still have any 🤘

Thanks!

[2021-12-06 20:23] caarlos0 commented on #2726
✅

[2021-12-06 21:38] ngotchac commented on #2743
Okay so actually I tried and there's only a last piece missing here... So for Gitlab, `gorelease` uses the Release link API right now to add the assets to a given release, after it was created. However, using `JOB-TOKEN` for this API isn't supported yet, cf. https://gitlab.com/gitlab-org/gitlab/-/issues/250819
So one option for `goreleaser` would be to upload the files before creating the release,

[2021-12-07 01:33] caarlos0 commented on #2743
I would say to wait then...

[2021-12-07 08:22] dolmen commented on #2743
I was about to reported this after #2738.

I think the GitLab tasks should fallback to `CI_JOB_TOKEN` if `GITLAB_TOKEN` is not defined.

[2021-12-07 16:49] neomantra commented on #2006
This feature has landed in `go-gitlab` so I made the PR.

[2021-12-07 19:53] chetan opened #2746 "[Bug]: error uploading artifacts to github releases"
### What happened?

Artifacts sometimes fail to upload, due to github API failures.

This is similar to the issue reported in #2506. AFAICT, it's an issue on github's end. Here's a larger log of output from my build running in a github action:

[code]

I cleaned up and sorted the output so its easier to read. It seems that in each case, a `5xx` error is followed by `422` on each successive retry.

[2021-12-08 00:53] #2641 closed

[2021-12-08 22:06] dirien commented on #2322
is here still interest?

[2021-12-09 00:10] caarlos0 commented on #2322
I think we can discuss this one in the community thing next month

[2021-12-09 01:49] maxmcd commented on #2746
I've been getting this error today as well: https://github.com/maxmcd/bramble/runs/4465299050?check_suite_focus=true

[2021-12-09 04:08] shibumi opened #2751 "[Bug]: goreleaser tries to publish a pem file of the checksum file"
### What happened?

I am running the following `signs` configuration with cosign for keyless signatures:
[code]

This leads to a fail of goreleaser, because it tried to publish the `checksum.pem` file:
See logs:

[code]

### How can we reproduce this?

I use the following goreleaser config:

[code]

The release github actions workflow looks like this:

[code]

### goreleaser version

[code]

### G

[2021-12-09 11:13] caarlos0 commented on #2751
This is a bug on cosign 1.4.0, the pem file is empty 🧐

I already fixed it and it should be out on cosign 1.4.1 🙏

[2021-12-09 17:23] shibumi commented on #2751
Cool! Then, we can close this one here, right?

[2021-12-10 02:19] caarlos0 commented on #2751
Yeah!

[2021-12-10 02:19] #2751 closed

[2021-12-11 04:21] jlucktay commented on #2746
Same here: https://github.com/jlucktay/stack/runs/4491068251?check_suite_focus=true

[2021-12-11 23:59] richmailYT opened #2756 "[Bug]: failed build: exit status 2: too many errors"
### What happened?

I ran `goreleaser release --snapshot --rm-dist` and recived error
`too many errors`

I exspected it to run without error and give me exacutables for all platforms

here is the full error log

[code]

### How can we reproduce this?

https://github.com/richmailYT/Golang-AutoClicker

You're going to have to run `go mod init github.com/richmailYT/Golang-AutoClicker` and `go get git

[2021-12-12 00:23] caarlos0 commented on #2756
not a bug, its something in your program that is failing to compile.

[2021-12-12 00:23] #2756 closed

[2021-12-12 01:14] richmailYT commented on #2756
Whats failing to compile? `go build` works fine

[2021-12-12 01:37] caarlos0 commented on #2756
my guess is that go-vgo/robotgo uses CGO, so `go build` in your local machine will work. You config probably specifies `CGO_ENABLED=0`, and if you run `CGO_ENABLED=0 go build` it likely fails.

you can see the exact go build command being used running `goreleaser release` with the `--debug` flag.

- https://carlosbecker.com/posts/goreleaser-lessons-learned/ naming things subtopic
- https://github.

[2021-12-12 14:47] richmailYT commented on #2756
setting `CGO_ENABLED` to `1` gives me a different error when compiling
``
   ⨯ release failed after 14.98s error=failed to build for linux_386: exit status 2: # runtime/cgo
linux_syscall.c:67:13: error: implicit declaration of function 'setresgid' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
linux_syscall.c:67:13: note: did you mean 'setregid'?
/Library/Developer/CommandLineTools/SD

[2021-12-12 18:56] caarlos0 commented on #2756
Not a goreleaser issue.

[2021-12-13 10:15] shibumi commented on #2556
I would love to see this in goreleaser as well

[2021-12-14 02:31] troian opened #2759 "[Feature]: Support multiple ids within same universal binary"
Following this [conversation](https://gophers.slack.com/archives/C3T1JU24B/p1639154901035400)

**Describe the solution you'd like**

For now `universal_binaries` assumes all binaries for different arch created within the same build id
[code]

unfortunately, cross-compile cases put a limit in form of specific C/C++ compiler to be set for the particular arch
[code]

such a case could be resolved wit

[2021-12-14 17:54] tredfield opened #2761 "[Feature]: configure brews.commit_author.name (and/or email) from template/pipeline"
**Is your feature request related to a problem? Please describe.**
I would like to configure `brews.commit_author.name (and/or email) using pipeline. For example

[code]

running `goreleaser check` this produces

[code]

**Describe the solution you'd like**
Setting commit_author name and email from pipeline works like other fields

**Describe alternatives you've considered**
NA

**Additional conte

[2021-12-14 22:01] aeneasr opened #2762 "[Bug]: After Hooks Env (Pro) does not work as advertised"
### What happened?

Following https://goreleaser.com/customization/hooks/ I wrote a hook like this:

[code]

Running `goreleaser check` though results in:

[code]

### How can we reproduce this?

See above

### goreleaser version

[code]

### GoReleaser Check

- [ ] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of C

[2021-12-14 22:27] dirien commented on #2761
Cool idea, @caarlos0 I can take this over, if its okay?

[2021-12-15 18:39] caarlos0 commented on #2761
go ahead @dirien :)

[2021-12-15 18:40] caarlos0 commented on #2762
oh, bad documentation, `env` should be an array:

[code]

this should work :)

[2021-12-15 18:57] caarlos0 commented on #2762
yeah, will update docs!

[2021-12-15 18:59] aeneasr commented on #2762
Awesome, thank you for the quick help as always @caarlos0 :)

[2021-12-15 19:04] #2762 closed

[2021-12-15 19:28] caarlos0 commented on #2556
we can discuss this  in the next (and first) goreleaser community call

https://github.com/goreleaser/community/pull/2/files

[2021-12-16 09:24] aeneasr opened #2763 "`dockers.#.dockerfile` does not support env var substitution in Pro"
### What happened?

I am trying to use var substitution in Goreleaser Pro because I need to customize the Dockerfile source:

[code]

However, the template is used as a literal, so it's trying to find `./{{ .dockerfile }}` on the file path.

### How can we reproduce this?

See above

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I d

[2021-12-16 12:44] ekristen opened #2764 "[Idea] Make Changelogs Smarter - Diff between non-pre-release tags only"
**Is your feature request related to a problem? Please describe.**
No, this is an idea to enhance the changelog feature.

**Describe the solution you'd like**
As it stands the changelog feature presumably (based on testing) generates a diff between the current tag and the previous tag, regardless of the meaning of the tag in semver.

For example, if the previous tag was v2.0.0-rc2 and the current

[2021-12-16 16:41] caarlos0 commented on #2763
not a bug, the field is not templateable on OSS as well...

[2021-12-16 16:43] #2713 closed

[2021-12-16 16:50] aeneasr commented on #2763
My bad, sorry!

[2021-12-16 16:56] caarlos0 commented on #2597
done in https://github.com/goreleaser/goreleaser/pull/2648

[2021-12-16 16:56] #2597 closed

[2021-12-16 19:42] developer-guy opened #2765 "[Feature Request]: add base image annotations to container images while building them"
**Is your feature request related to a problem? Please describe.**
It's a feature, not related to a problem.

**Describe the solution you'd like**
We've been living for a long time without knowing what my containers are built on, and the problems that they can cause. In more softly, let's say without caring about them as much. An awesome folk whose name is @imjasonh came with a brilliant idea (as

[2021-12-16 19:49] developer-guy opened #2766 "[Feature Request] use anchore/sbom-action to download syft instead of curl"
**Is your feature request related to a problem? Please describe.**
No, it is not related to a problem.

**Describe the solution you'd like**
In the meantime, GoReleaser uses the curl commands to install Syft, as you can see from [here](https://github.com/goreleaser/goreleaser/blob/505888f41be5308eb7d5c6fb25df82a1bda4cc1a/.github/workflows/build.yml#L89-L92), but there is an alternative way of inst

[2021-12-16 21:17] bflad opened #2768 "Extra Files Support with Custom Publishers"
**Is your feature request related to a problem? Please describe.**

Our `.goreleaser.yml` makes use of the `extra_files` configuration of the `release` pipe as well as a custom publisher:

[code]

The extra files are added to the release, but not published using the custom publisher. This appears to be because the release pipe, which adds those artifacts to the internal Context, runs after the cus

[2021-12-16 22:59] jonwhitty opened #2769 "[Bug]: Odd build behavior when build flags are involved"
### What happened?

I have a [sample gist project](https://gist.github.com/jonwhitty/9702684faef14d99029c4698ad8a1e7a) that uses the go [mongodb driver](https://github.com/mongodb/mongo-go-driver) and it uses the [client-side encryption (cse)](https://www.mongodb.com/developer/how-to/field-level-encryption-fle-mongodb-golang/) integration from the driver. The cse support is compiled in if you prov

[2021-12-16 23:44] puerco commented on #2765
This is pretty @developer-guy @Dentrax I'm doing some tests around this idea too, happy to chat one day :)

[2021-12-17 00:02] caarlos0 commented on #2769
that seems to be because the mongodb driver uses CGO...

https://goreleaser.com/limitations/cgo/

not a bug.

[2021-12-17 00:02] #2769 closed

[2021-12-17 00:04] #2766 closed

[2021-12-17 00:05] caarlos0 commented on #2765
we should totally discuss this in our community meeting :D

[2021-12-17 01:43] bflad commented on #2768
Took a swing at proposal 2 since it seemed like the lowest hanging and least risky: https://github.com/goreleaser/goreleaser/pull/2770

I will also try to submit proposal 3, although that is much more invasive.

[2021-12-17 03:21] bflad commented on #2768
Here's a swing at proposal 3: #2771

[2021-12-17 13:46] Khushbukela opened #2774 "[Bug]:"
### What happened?

failed to upload artifact, will retry artifact=sample-go-consumer_Windows_arm64.zip error=POST https://uploads.github.com/repos/khushbukela/sample-go-consumer/releases/55531790/assets?name=sample-go-consumer_Windows_arm64.zip: 422 Validation Failed [{Resource:ReleaseAsset Field:name Code:already_exists Message:}] try=1

### How can we reproduce this?

it was working fine earlie

[2021-12-17 16:10] caarlos0 commented on #2774
you are running goreleaser release multiple times against the same tag.

Please search before opening issues...

https://github.com/goreleaser/goreleaser/issues?q=already_exists

[2021-12-17 16:10] #2774 closed

[2021-12-19 03:16] kwyn commented on #2764
Been trying to find a standalone changelog go tool that does this well and have been struggling. So the unfortunate thing is that this would be a change to https://github.com/goreleaser/chglog not goreleaser but they're within he same project if not GitHub repo.

So that being said I think chglog the underlying tool would require updates not goreleaser itself except for propagating some of this co

[2021-12-20 12:11] Khushbukela opened #2775 "GitHubPrivateRepositoryDownloadStrategy"
Currently, we can access any repo through git token. and URL supports is https
but do we have support through ssh way access repo?

In a general way my team also wants to use the same package which I have created. but for that they all have to create github_token so
having ssh way access will be fine.

[2021-12-20 13:29] caarlos0 commented on #2775
if I understand correctly, you want to install homebrew taps using a SSH key? I don't know if that's possible, pretty sure it isn't. Also, its not related to goreleaser as goreleaser do not generate any download strategies, just the tap itself.

---

in the future, please follow the templates when filling issues.

for questions use https://github.com/goreleaser/goreleaser/discussions

[2021-12-20 13:29] #2775 closed

[2021-12-20 14:07] Khushbukela commented on #2775
Sure @caarlos0 will use the discussion feature.
wanted to know can we specify URL like this in the brew formula
`git@github.com:Khushbukela/homebrew-sample.git
`

[2021-12-21 02:28] #2721 closed

[2021-12-21 07:41] developer-guy opened #2777 "[Feature Request] open PR instead of git push when my formula is hosted on homebrew-core"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
so, let's assume that my project's formula is hosted on homebrew-core, and I want to still continue making new releases of my formula with GoReleaser, how people can do that? Something an option like "o

[2021-12-21 11:50] sundowndev opened #2778 "[Bug]: custom release notes does not skip the changelog generation"
### What happened?

We use goreleaser `v0.173.2` to release our tool [driftctl](https://github.com/snyk/driftctl). We built a script to generate a custom changelog at each release. In an attempt to automate this script with goreleaser, we used the flag `--release-notes` like so :

[code]

But then the GitHub releases is created with the release note of goreleaser. [The docs says](https://gorelease

[2021-12-21 12:11] caarlos0 commented on #2778
this should work, can you test in a newer goreleaser version?

also, worth checking if maybe your release notes file is empty

[2021-12-21 13:51] cdhunt opened #2780 "[Bug]: Custom release header doesn't remove built in header"
### What happened?

I'm using [`--release-header`](https://github.com/StackExchange/dnscontrol/blob/fix/release/.circleci/config.yml#L129) and a [file](https://github.com/StackExchange/dnscontrol/blob/fix/release/.circleci/header.md) with a single line of text. It produces release notes as I expect, but also still includes the default "What's Changed" text. Can I make goreleaser not generate the "

[2021-12-21 13:59] caarlos0 commented on #2780
maybe you're looking to replace the whole release notes instead?

but no, there is no way to remove the title for now, and likely will not be

[2021-12-21 14:01] cdhunt commented on #2780
I like the notes as generated. I just don't need two headers.

[2021-12-21 17:21] #2780 closed

[2021-12-22 05:34] kbudde commented on #2707
@caarlos0 it would be nice to have some documentation on how to add the docker images to the footer back again. For everybody relying on them.

[2021-12-22 11:42] caarlos0 commented on #2707
You can basically set the footer to something like:

[code]

[2021-12-22 16:13] prabhatsharma opened #2783 "[Bug]: Invalid track while publishing to snapcraft"
### What happened?

How can I publish to default or latest tracks? schema does not provide any mechanism.

Here is the app - https://github.com/prabhatsharma/open-telemetry1

I get below error during publishing.

[code]

### How can we reproduce this?

https://github.com/prabhatsharma/open-telemetry1

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

###

[2021-12-22 16:49] dirien commented on #2777
hi @developer-guy, what is the idea behind this extra step?

[2021-12-22 17:44] caarlos0 commented on #2777
Thats a good question... because the recipes in the way goreleaser builds them are not accepted in homebrew core et al, so that's not a valid use case...

[2021-12-23 20:33] caarlos0 commented on #2778
any updates on this @sundowndev ?

[2021-12-23 20:34] caarlos0 commented on #2768
hey, just fwiw, will review the PRs et al only in January. v1.2 was the last feature release of the year, only bugfixes for a couple of weeks now :)

[2021-12-24 01:20] billcoding opened #2787 "About `circleci` release `401 Bad credentials`"
### What happened?

I pushed a new tag into Repo

### How can we reproduce this?

The `repo` on `https://github.com/billcoding/vip-video-downloader`

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to follow this project's Code of Co

[2021-12-24 01:45] #2787 closed

[2021-12-24 01:46] billcoding commented on #2787
Sorry, the `GITHUB_KEY` was expired.

[2021-12-24 09:15] sundowndev commented on #2778
I'm waiting the next release to see how it goes, it seems to be a mistake on our hand. I'll close the issue myself if you don't mind.

[2021-12-24 09:40] AyushIITR007 opened #2788 "Error in checksum verification"
### What happened?

I tried downloading goreleaser using https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh file. But I am getting error:

[code]

### How can we reproduce this?

`RUN curl -sfL https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh | sh`

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I di

[2021-12-24 12:54] caarlos0 commented on #2778
Yeah, I've tested it on one of my projects and it worked... so likely an issue on your side, yes...

[2021-12-27 22:32] marcauberer opened #2792 "nFPM(deb): Empty directory are generated wrongly"
### What happened?

My Goreleaser config contains the following nfpm configuration section:
[code]

Goreleaser does create the Debian packages successfully, but if I try to install them via the apt-get package manager, the installation fails with the following error message:

[code]

### How can we reproduce this?

The broken debian package to reproduce the issue can be found [here](https://github

[2021-12-28 11:56] avelino commented on #2746
I am having the same problem at [prestd](https://github.com/prest/prest)
https://github.com/prest/prest/runs/4649770692?check_suite_focus=true#step:15:426

[2021-12-28 12:01] caarlos0 commented on #2746
when this happens, it usually means that goreleaser ran multiple times against the same tag, as the files are already there...

we should probably drop the retries in this case though

[2021-12-28 12:30] caarlos0 commented on #2746
hmm, seems to be this https://github.com/google/go-github/issues/2113

[2021-12-28 13:01] avelino commented on #2746
If the file already exists and you are generating a "new" release, shouldn't you overwrite it?

Thinking that you are consuming an upload api you should delete the existing file and upload it again

[2021-12-28 13:14] caarlos0 commented on #2792
I tried multiple versions of your package, the last working version was 1.2.1

[code]

these are the results:

[code]

My guess is this:

[code]

still investigating though

[2021-12-28 13:23] caarlos0 commented on #2792
the only thing "weird" seems to be the order, actually

[code]

[code]

also before dirs had a trailing `/`

any ideas @erikgeiser?

[2021-12-28 13:29] caarlos0 commented on #2792
changing your config to

[code]

fixes the issue it seems (as a workaround)

[2021-12-28 13:39] caarlos0 commented on #2792
pretty sure its the ordering

[code]

[2021-12-28 14:05] erikgeiser commented on #2792
I haven't had the time to debug it myself yet but maybe I can give some pointers.

* First the contents are sorted (primarily by destination) after expanding the globs
* Then we loop over all `dir` entries and create them, with trailing `/`:
  `normalizedName := normalizePath(strings.Trim(file.Destination, "/")) + "/"`
* Then we loop over **all** contents (including `dir`s) again and create the pa

[2021-12-28 14:12] caarlos0 commented on #2792
yeah, just found that tout as well, also found the same thing happens on apk, and fixed there too. RPMs don't seem to care about it, though

https://github.com/goreleaser/nfpm/pull/431

[2021-12-28 14:15] caarlos0 commented on #2746
too destructive, rather not... who knows why the file already exists... it may not even have been created by goreleaser

[2021-12-28 14:42] marcauberer commented on #2792
Thanks for the quick response and the fix pr 👍
I can confirm that the workaround works.

[2021-12-28 19:20] theganyo commented on #2788
+1. Also seeing this.

[2021-12-28 19:54] caarlos0 commented on #2788
last log line says this script is deprecated

refs https://github.com/goreleaser/godownloader/issues/207

[2021-12-28 19:55] #2788 closed

[2021-12-29 08:22] ahmetb opened #2794 "Consider removing "setting defaults" from the output"
### Is your feature request related to a problem? Please describe.

The following part of the `goreleaser` output has always left me scratching my head. It shows me all these technologies I have not configured in my `.goreleaser.yml` file and it surely takes more than half of my `goreleaser` output.

I also don't know the answer to this but: does setting defaults ever fail? If not, this output is

[2021-12-29 08:24] developer-guy commented on #2794
maybe we can make that optional by tying it to a special flag. Would it make sense?

[2021-12-29 08:25] ahmetb commented on #2794
I think with the arguments provided, I see more reasons to hide it by default than showing it by default (which is often done by -v/--verbose type of flags).

[2021-12-29 08:26] developer-guy commented on #2794
SGTM

[2021-12-29 08:30] developer-guy commented on #2794
We have the `Skip()` method to make pipes compliant with an interface, so, we can add verbosity control over there:

https://github.com/goreleaser/goreleaser/blob/df0216d5855e9283d2106fb5acdb0e7b528a56e8/internal/pipe/defaults/defaults.go

[2021-12-29 08:32] avelino commented on #2746
@caarlos0 if we put a parameter to force (aka `--force`) the replacement of the file?

in my case that solves it, all builds are (and will be) generated _"automatically"_ via pipeline (github actions), if there is one, it was because of some error in the middle of the process, it's ok to overwrite.

[2021-12-29 08:48] developer-guy commented on #2794
PTAL @caarlos0

[2021-12-29 17:45] caarlos0 commented on #2794
the skip thing would skip the entire thing... I'm up for removing these logs, though, they are not useful anyway

[2021-12-29 17:50] caarlos0 commented on #2778
I'll close this for now, if you find that its something on goreleaser please reopen 🙏

[2021-12-29 17:50] #2778 closed

[2021-12-29 19:12] #2792 closed

[2021-12-30 22:04] rpothier opened #2800 "artifacts.json has user read/write permission only"
### What happened?

When the artifacts are created, most items are create with 644 `-rw-r--r--` permissions, however the new
artifacts.json file is created with 600 `-rw-------`, which I believe is set [here](https://github.com/goreleaser/goreleaser/blob/main/internal/pipe/artifacts/artifacts.go#L27)

The problem is if the files are created and another process like Jenkins tries to copy the files

[2021-12-31 16:48] caarlos0 commented on #2800
Will try to fix and release Thai today... shouldn't have been 0600 🤔

[2021-12-31 18:05] #2800 closed

[2021-12-31 18:12] rpothier commented on #2800
Thanks for the quick response!

[2022-01-03 06:33] AyushIITR007 commented on #2788
Hi, @caarlos0 I tried installing go releaser using
go install github.com/goreleaser/goreleaser@latest
But it is giving error that:

[code]

I checked in the github.com/vartanbeno/go-reddit/ the latest version is 2.0.0.
How should I proceed?

[2022-01-03 11:57] caarlos0 commented on #2788
that seems to be an issue on that dep, I think they recreated the tag https://github.com/vartanbeno/go-reddit/issues/26

depending on which gosum db you are using it seems to cause problems... you can also install goreleaser from the binaries

[2022-01-03 12:13] caarlos0 commented on #2788
I changed the version we are using, can you retry the go install bit @AyushIITR007 ?

[2022-01-03 20:17] twpayne opened #2804 "Generate source RPMs"
### Is your feature request related to a problem? Please describe.

@dngray in https://github.com/twpayne/chezmoi/issues/1800 requested that a project released with Goreleaser should be available in [Copr](https://copr.fedorainfracloud.org/coprs/). Copr builds RPMs for multiple RedHat-like distributions, and takes a source RPM (`.src.rpm`) [from a public website as input](https://docs.pagure.org/c

[2022-01-03 20:17] twpayne opened #3136 "Generate source RPMs"
### Is your feature request related to a problem? Please describe.

@dngray in https://github.com/twpayne/chezmoi/issues/1800 requested that a project released with Goreleaser should be available in [Copr](https://copr.fedorainfracloud.org/coprs/). Copr builds RPMs for multiple RedHat-like distributions, and takes a source RPM (`.src.rpm`) [from a public website as input](https://docs.pagure.org/c

[2022-01-03 23:15] caarlos0 commented on #2804
not sure how much effort is required for this, will have to investigate...

[2022-01-04 10:56] AyushIITR007 commented on #2788
Hi @caarlos0 I retried the go install but it is again giving the same error.
`go: downloading github.com/goreleaser/goreleaser v1.2.5
go install github.com/goreleaser/goreleaser@v1.2.5: github.com/goreleaser/goreleaser@none updating to
	github.com/goreleaser/goreleaser@v1.2.5 requires
	github.com/vartanbeno/go-reddit/v2@v2.0.1: reading github.com/vartanbeno/go-reddit/go.mod at revision v2.0.1: unk

[2022-01-04 13:01] caarlos0 commented on #2788
I think you'll need to try `go install github.com/goreleaser/goreleaser@main`

[2022-01-04 15:16] ccremer opened #2805 "Add Git Owner and Repository names in templates"
### Is your feature request related to a problem? Please describe.

When configuring docker images and manifests, it's a quite a pain to maintain the image names and tags, especially if also including prereleases.
See the following example:

[code]
The string `vshn/go-bootstrap` is repeated over and over.

### Describe the solution you'd like

Add a `{{ .Owner }}` and `{{ .RepositoryName }}` to th

[2022-01-04 17:12] developer-guy commented on #2805
Hello @ccremer, thanks for the issue 🙋🏻‍♂️ IMHO, this is something that you can accomplish without having these types of properties provided by GoReleaser. Maybe this can help you to solve the problem you have. PTAL @caarlos0

👉 https://goreleaser.com/cookbooks/override-image-name/

[2022-01-04 17:25] ccremer commented on #2805
Hm, I wasn't aware of this cookbook and yes, using Envs totally works in my case, I haven't thought of this. Thanks for the suggestion!

Feel free to close this issue, unless you think it's still a good idea to have the new properties.

[2022-01-05 00:41] caarlos0 commented on #2805
yeah, using envs is better, as we can't always guess owner/repo depending if using, e.g. github enterprise, gitlab with subgroups, etc.. thanks for pointing to it @developer-guy 🙏

closing :)

[2022-01-05 00:41] #2805 closed

[2022-01-05 18:01] developer-guy opened #2808 "support generating an additional SBOM file based on CycloneDX format"
### Is your feature request related to a problem? Please describe.

No, it is not related to a problem.

### Describe the solution you'd like

We have many tools that can allow us to generate an SBOM file based on CycloneDX format. So, let's add that support to GoReleaser. IMHO, when people specify command [cyclonedx-gomod](https://github.com/CycloneDX/cyclonedx-gomod) instead of syft, we can use

[2022-01-05 18:51] bradrhod commented on #2768
The external 2.2.0 version issue with terraform 0.12 still has terraform init broken.
"Provider "external" v2.2.0 is not compatible with Terraform 0.12.31."
terraform 0.12 will require everyone to pin their versions of external provider and that can be a lot of work.   Hoping this fix, or a different fix can be considered to fix cli version 0.12

[2022-01-05 19:41] caarlos0 commented on #2768
this will be looked on for next release

[2022-01-05 20:03] dirien commented on #2808
Sounds good!

[2022-01-05 20:09] bflad commented on #2768
Hi @bradrhod 👋  I'm still waiting on another internal team to make the required fix in the Terraform Registry. This issue will be closed when that is done. If there is no progress made by tomorrow morning, I will cut a new patch release that should not have this issue for Terraform CLI 0.12.

[2022-01-05 20:14] jonasagx commented on #2808
On alternatives:
Syft, as of v0.34.0, supports the following flags for output: json, text, table, cyclonedx (for xml), cyclonedx-json, spdx-tag-value, spdx-json.

There is also a Syft-based GitHub action to generate SBOMs https://github.com/marketplace/actions/anchore-sbom-action

[2022-01-06 08:24] VinodAnandan commented on #2808
Thank you @developer-guy , when I created the issue with the SBOM generation proposal ( https://github.com/goreleaser/goreleaser/issues/2597 ), it was primarily focused around CycloneDX SBOM support and the initial implementation from @caarlos0  ( https://github.com/goreleaser/goreleaser/pull/2618 ) was using CycloneDX official tools. But the final implementation is not compatible with CycloneDX,

[2022-01-06 11:39] caarlos0 commented on #2808
@VinodAnandan what do you mean don't work? what happens?

[2022-01-06 13:23] VinodAnandan commented on #2808
It is not generating a CycloneDX SBOM.

[2022-01-06 15:58] wagoodman commented on #2808
It seems to be related to https://github.com/goreleaser/goreleaser/pull/2798 which changes behavior for `artifacts: binary`. With the sample config:
[code]

The artifact types seen when observing the `catalogTask` call are:
- `dist/app_darwin_amd64/app`: `Binary`
- `dist/app_linux_amd64/app`: `Binary`
- `dist/app_windows_amd64/app.exe`: `Binary`
- `dist/app_0.0.0-SNAPSHOT-8bc4d32_darwin_amd64.tar.

[2022-01-06 16:28] wagoodman commented on #2808
Digging a little deeper, after allowing `Binary` type back in the SBOM Pipe, it looks like there is a problem with evaluating the `${artifact}` variable --this looks to be an issue from my original PR in how the `catalogArtifact` function deals with templating the artifact path and ensuring that it is always within the `dist` directory.

Once both of these issues are fixed it looks like this would

[2022-01-06 17:14] caarlos0 commented on #2808
problem with leaving binary there is: if the user uses `archives[0].format: binary`, it'll have duplicated sboms.

Also its a bit weird that the sbom is for a binary but the release has only archives, imho.

doesn't `cyclonedx-gomod` needs to run within the context of a `go.mod` file? maybe that's part of the issue?

[2022-01-06 18:14] wagoodman commented on #2808
is this what the definition of an `UploadableBinary` type is? If so, maybe we can write a filter function that deduplicates `Binary` artifacts based on the existence of `UploadableBinary` artifacts?

[2022-01-06 18:17] nscuro commented on #2808
No, not in this case. The `bin` command expects a binary. It uses `go version -m` under the hood. See https://github.com/CycloneDX/cyclonedx-gomod#bin. In general, cdx-gomod is a tool specific to Go module projects. It doesn't deal with archives, containers, or other files outside Go modules and their binaries itself.

Agreed, but it's also weird to request `binary` and get an archive instead.

[2022-01-06 18:22] VinodAnandan commented on #2808
@caarlos0 , the cyclonedx-gomod supports multiple subcommands ( app, bin, mod, etc. ) which helps to generate SBOMs for different use cases. More information can be found below.
[code]

Source:  https://github.com/CycloneDX/cyclonedx-gomod#usage .

I prefer the app mode/subcommand as it can capture the build constraints and dependency tree information and it helps to produce accurate SBOMs. But wi

[2022-01-06 18:22] caarlos0 commented on #2808
yeah, maybe we should rename it... but basically:
- if archives[*].format is `binary`, you'll get an `UploadableBinary`
- otherwise, and `UploadableArchive`

[2022-01-06 18:23] caarlos0 commented on #2808
on goreleaser, if you enable the `gomod.proxy` setting it will have the info 🙏

[2022-01-06 18:27] caarlos0 commented on #2808
you shouldn't get archives when selecting `binary`... what might happen is getting nothing depending on your archive config

[2022-01-06 18:32] #2794 closed

[2022-01-06 18:34] #2763 closed

[2022-01-06 19:54] VinodAnandan commented on #2808
@caarlos0 How can we have the "go version -m" information for a universal binary? Is there any other config other than `gomod.proxy`?

IMO, we should prioritise the SBOM during the build phase ("cyclonedx-gomod app") over the pre-build or post-build ones. The build time can contain the most accurate and authentic data along with the build flags/attributes for an SBOM.

[2022-01-06 20:10] caarlos0 commented on #2808
I think its not possible, as the binary format is not recognized by `go version`

[2022-01-07 01:04] #2768 closed

[2022-01-07 01:11] #2006 closed

[2022-01-07 01:36] caarlos0 commented on #2746
I don't like the idea...

* if its a flag, it would require the user to either change their CI config and retag (which is not good) or run from their machines instead of CI (also not that good)
* if its a config, to be safe, they would have to always have that set there... which would still lead to retag if its not there beforehand, or to accidental destruction actions if it is always there...

to

[2022-01-07 01:50] caarlos0 commented on #2743
maybe this is fixed on v1.3 which supports the generic registry?

[2022-01-07 01:51] caarlos0 commented on #2777
given my previous comment, closing this!

[2022-01-07 01:51] #2777 closed

[2022-01-07 01:54] caarlos0 commented on #2764
https://github.com/goreleaser/chglog is not used to generate goreleaser's changelogs...

workaround: you can set a `GORELEASER_PREVIOUS_TAG` env if you can get it easily via some command or something

[2022-01-07 12:16] #2759 closed

[2022-01-08 01:49] ekristen commented on #2764
Oh that's an interesting idea. That would be easy enough. Still think first class support would be great! Thanks for the amazing tool

[2022-01-08 17:46] #2711 closed

[2022-01-09 15:15] chetan commented on #2746
@caarlos0 Is there a way to re-release a specific tag? In my case, when I ran into this issue, I had to manually delete the release from github and then run goreleaser again.

goreleaser already fails-fast when a release already exists, so if it's gotten to the point of uploading artifacts, it means that the release was created during the current run. If that's the case, I don't see any reason why

[2022-01-10 00:50] caarlos0 commented on #2746
it does not...

[2022-01-10 01:20] rafaribe opened #2815 "Docker pushing: denied: not_found: owner not found"
### What happened?

I'm trying to setup a CI pipeline for this open source repository. Still no code yet, just evaluating this tool.
It all works fine up until the docker image push.
This only works if I create a tag with `semver`, it won't fail otherwise.

[code]

### How can we reproduce this?

[Github Workflow](https://github.com/HeliumDIY/lightweight-dashboard/blob/ci/.github/workflows/release

[2022-01-10 01:39] caarlos0 commented on #2815
`ghcr.io/helium-diy/lightweight-dashboard`

I think its because `helium-diy` is not a valid github username/org.

This has nothing to do with goreleaser, its a ghcr limitation.

[2022-01-10 01:39] #2815 closed

[2022-01-10 08:46] pacoorozco opened #2821 "Verification checksum error when installing goreleaser"
### What happened?

Using the goreleaser install script a **verification checksum error** is raised:
[code]

### How can we reproduce this?

Just run
[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to follow this project's Co

[2022-01-10 08:50] pacoorozco commented on #2821
The `sha256sum` of the downloaded file `/tmp/tmp.itCQFvvyu4/goreleaser_Linux_x86_64.tar.gz` is fine:
[code]

[2022-01-10 08:58] pacoorozco commented on #2821
The problem seems to be when the expected checksum is obtained from the checksums file. Two values are obtained:

[code]

The previous grep matches two lines:

[code]

[2022-01-10 09:38] pacoorozco commented on #2821
I've seen that my installation method was deprecated #2788

[2022-01-10 09:38] #2821 closed

[2022-01-10 09:45] pacoorozco opened #2822 "Errors when trying to install using go install method."
### What happened?

This bug is related to the #2788 which is closed but the provided solution I don't think is good enough.
Following the documentation, there's a way to install the `goreleaser` using go install.
[code]
and the `goreleaser` command **is not installed**

### How can we reproduce this?

Do
[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no

[2022-01-10 13:40] caarlos0 commented on #2822
https://github.com/vartanbeno/go-reddit/issues/26#issuecomment-985060736

you'll need to use the default go mod proxy...

[2022-01-10 14:10] #2822 closed

[2022-01-10 15:19] chetan commented on #2746
Sorry, you're right, I'm misremembering the sequence from when I was troubleshooting and don't have those logs any more. I just re-ran a release for an existing tag manually and I see this message:

[code]

All of the artifact uploads indeed fail immediately (only 422 errors, no 5xx) as they already exist. I think in this case, I agree with what @avelino said above -- if it's a new release, overwr

[2022-01-10 16:36] caarlos0 commented on #2746
this happens more often than not, people setup goreleaser on commit to main AND tag, and get concurrent releases... if we allow to override, who knows what the end release will look like

the issue seems to be within go-github https://github.com/google/go-github/issues/2113

[2022-01-10 16:59] pacoorozco commented on #2822
Hi @caarlos0
I'm not using any custom go mod proxy (see it bellow). Which one should I use to install the goreleaser:

[code]

[2022-01-11 01:18] pzduniak opened #2827 "apt-get repos use an expired certificate in their chain"
### What happened?

I'm running Ubuntu 20.04 in WSL2

[code]

### How can we reproduce this?

[code]

### goreleaser version

Can't do. I also lied about the GoReleaser check!

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-11 07:00] suddendust opened #2828 "Enable Publishing SNAPSHOT Builds"
### Is your feature request related to a problem? Please describe.

We simply want GoReleaser to build a Docker image on every commit push to a PR. This helps us test the Docker image in our staging environment before we actually merge the PR. GoReleaser's `SNAPSHOT` builds do not allow publishing artefacts right now. A [request](https://github.com/goreleaser/goreleaser/issues/727) for this featur

[2022-01-11 11:41] caarlos0 commented on #2828
this feature already exists https://goreleaser.com/customization/nightly/

PS: only on goreleaser pro at the moment

[2022-01-11 11:41] #2828 closed

[2022-01-11 12:15] #2761 closed

[2022-01-11 12:19] caarlos0 commented on #2827
weird... I don't get that error here... can you check if it's still happening?

Our repo is managed by gemfury, so maybe its something on their end

[2022-01-11 22:16] bflad opened #2829 "Conditional Build Handling Based on OS Running goreleaser"
### Is your feature request related to a problem? Please describe.

We have a `goreleaser` configuration that is setup with a single cross-compilation `build` section. We are in the process of trying to conditionally enable CGO/netcgo if the `goreleaser` process is running on the same OS that is being built (or very particularly in our case, if it is running on `darwin`). Builds for other OS shoul

[2022-01-12 12:47] dirien opened #2830 "Evaluate to add goreleaser container to artifacthub"
### Is your feature request related to a problem? Please describe.

no

### Describe the solution you'd like

ArtifactHub has a new feature called Container images repositories.

In this issue, I would like to add gorleaser container to ArtifactHub

https://artifacthub.io/docs/topics/repositories/#container-images-repositories

### Describe alternatives you've considered

-

### Search

- [X] I di

[2022-01-12 12:48] dirien commented on #2830
@caarlos0, If its okay I would like to evaluate this.

[2022-01-12 13:21] caarlos0 commented on #2830
don't know how that works, feel free to explore ✌️

[2022-01-12 14:13] ekristen opened #2831 "homebrew will not create branch if it does not exist"
### What happened?

If you specify a branch under the brews sections for the Formula to be pushed to and it does not exist, it just errors out with a 404.

### How can we reproduce this?

Try the homebrew tap feature, set a non-existent branch and run goreleaser

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other o

[2022-01-13 18:50] caarlos0 commented on #1245
at this point this is likely not worth it anymore, as we have integration with github's changelog and several improvements in our own.

chglog is still useful for deb/rpms/etc

that said, closing

[2022-01-13 18:50] #1245 closed

[2022-01-13 18:54] lucacome commented on #1245
Maybe a way to pass the changelog from GitHub to nfpm would be a nice addition 🙂

[2022-01-13 19:13] lucacome commented on #1245
Right now if I want to build deb packages with goreleaser, for example, there's not a way to pass down the changelog that is generated in goreleaser to nfpm to have in the package, if I'm not mistaken.

[2022-01-13 23:24] caarlos0 commented on #1245
problem is that, AFAIK, the changelog needs to be in a specific format (yaml from chglog)... maybe @djgilcrease has some input on it?

[2022-01-14 08:57] matteosilv commented on #2743
I tried to build and run the v1.3 on gitlab with `use_package_registry: true` and a patch i wrote to use `CI_JOB_TOKEN` as @ngotchac suggested, but goreleaser is still using the link api and fails

[2022-01-14 12:26] caarlos0 opened #2833 "gomod proxy fails when build main is templated"
### What happened?

if you have a config like:

[code]

GoReleaser tries to proxy using the literal template instead of its result, which fails with:

[code]

### How can we reproduce this?

apply this patch to goreleaser itself:

[code]

and run

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and

[2022-01-14 13:33] #2833 closed

[2022-01-14 21:55] caarlos0 opened #2835 "output a `release.json` (or other name) with relevant info"
### Is your feature request related to a problem? Please describe.

Would be nice to output more info on the github action (e.g. https://github.com/goreleaser/goreleaser-action/pull/318), and having this would help.

### Describe the solution you'd like

We already have a `dist/artifacts.json`, maybe we could merge that and have a `release.json` with some (tags, versions, commit hash, if its snaps

[2022-01-19 21:18] wagoodman commented on #2808
I've opened a PR that addresses some of the asks here https://github.com/goreleaser/goreleaser/pull/2839

@VinodAnandan I missed your earlier ask about getting `app` to work. As I understand it `cyclonedx-gomod` works by looking at a source directory, in which case there are a couple options:

1. if you want to use the source directory that goreleaser is referencing:
[code]

This works by using `a

[2022-01-20 11:39] developer-guy opened #2840 "Feature Request: support GitHub Action Contexts built-in"
### Is your feature request related to a problem? Please describe.

GoReleaser has its kind of [templating logic](https://github.com/goreleaser/goreleaser/blob/2c6b51cc652ccf1831d173841f119b551909c06b/internal/tmpl/tmpl.go#L73) and provides a bunch of valuable fields that we can use in our .goreleaseer.yml file, please see [Name Templates](https://goreleaser.com/customization/templates/). Also, Gi

[2022-01-21 12:34] VinodAnandan commented on #2808
Thank you, @wagoodman . You are awesome as always :). I can't wait for the SBOM generated during the build process, I think it will contain the most accurate and authentic data. It will be nice to capture the build constraints as well.

[2022-01-23 19:42] #2835 closed

[2022-01-27 01:20] caarlos0 commented on #2355
Another possible idea of implementation, which I think lives here as well: IMHO, the `test` command should be able to check the environment variables as well.

E.g., I use an `{{ .Env.FOO_KEY }}` somewhere, if I run `goreleaser test` without setting it, it should exit 1 telling me I'm missing that.

At least for me, most of my mistakes consist of forgetting to wire some environment variable in som

[2022-01-27 08:35] myitcv commented on #2355
I think this case is somewhat more tricky. Because often people rely on the semantics of an environment variable not being return `""` from https://pkg.go.dev/os#Getenv.

What might be interesting to explore is whether, with CUE-based configured/constraints, "required" environment variables that must be set (to a non-empty string value) would help.

[2022-01-27 22:13] gwvandesteeg commented on #2738
After some trial and error:

You can use either a Group or Project Access token as long as they are at the Maintainer role level and have the API scope permission.

[2022-01-28 07:48] miniscruff commented on #2601
Would like to reopen this issue as I just released another version and my release notes are completely empty this time. I have debug mode enabled but can't seem to find anything out of the ordinary.

Here is the build: https://github.com/miniscruff/changie/runs/4977241697?check_suite_focus=true
Here is the release: https://github.com/miniscruff/changie/releases/tag/v1.3.0
My only guess would be to

[2022-01-28 13:31] caarlos0 commented on #2601
hmm, should probably add more logs... it seems like it should have worked...

[2022-01-28 19:10] miniscruff commented on #2601
I will create a small demo project mimicking the same setup to see if I can reproduce it with a smaller repo ( and one i don't mind releasing for no reason at all ). Since I don't release my project too often any suggestions will be hard to go through with resolving.

[2022-01-28 19:27] caarlos0 commented on #2601
sounds like a plan!

[2022-01-29 22:37] dirien opened #2856 "ORAS support"
### Is your feature request related to a problem? Please describe.

I would like to add [ORAS](https://oras.land/) support to GoReleaser so we can "publish" the artifacts and any additional metadata to an OCI storage.

### Describe the solution you'd like

Adding native(!) ORAS support to goreleaser

### Describe alternatives you've considered

-

### Search

- [X] I did search for other open and

[2022-01-30 02:41] miniscruff commented on #2601
Ok setup a much smaller project with a more minimal setup hopefully and the issue seems to happen again. Here is that project and build https://github.com/miniscruff/gekko/runs/4994509579?check_suite_focus=true, ( it is just a dumb little echo CLI ). One more maybe hint, the release description isn't 100% empty, there is an empty line. So maybe something failed to read or write but got one line in

[2022-01-30 09:05] dirien opened #2857 "Name Templates should support LICENSE"
### Is your feature request related to a problem? Please describe.

Currently, we dont have in the Name Templates a license field

### Describe the solution you'd like

If there is a License File in the Source Code root folder, GoReleaser should pick this up and add the SPDX intendifer (https://spdx.org/licenses/) as a variable to use via the Name Templates

### Describe alternatives you've consid

[2022-01-30 14:17] caarlos0 commented on #2857
I'm not sure...  what should happen...

- if the repo has multiple license files?
- or a license file with multiple licenses in it?
- or some files with different license headers?

imho, it'll be hard to get it right, and it seems easy enough to do something like:

[code]

or, with goreleaser pro:

[code]

[2022-01-30 14:21] caarlos0 commented on #2856
Can you describe what you have in mind on how to achieve this?
Also, what would the advantages to do so be?

[2022-01-30 14:24] caarlos0 commented on #2601
pretty sure this behavior was never changed... at least not intentionally... that skip actually skips the whole changelog thing, not only the generation

if you set a changelog via flags, it skips the generation already... will make this clear on the docs though

[2022-01-30 14:28] #2601 closed

[2022-01-30 17:26] caarlos0 commented on #2840
Although its cool, I'm not sure its worth it...

Doing so would make some configs impossible to run locally and on other CIs as well... so I'm leaning to a no here 🤔

[2022-01-30 17:32] caarlos0 commented on #2829
this seems reasonable to me, will work on it.

this is also a good idea IMHO, will work on it as well.

[2022-01-30 17:37] dirien commented on #2857
Fair enough! I think the var / env way is currently fine! I agree, that all the ege cases would be hell to get it right!

[2022-01-30 17:37] #2857 closed

[2022-01-30 17:38] miniscruff commented on #2601
Ok, the new docs are much more clear, thanks as always.

[2022-01-30 19:32] caarlos0 commented on #2829
can you take a look at @2859 and  #2869

[2022-01-30 19:43] caarlos0 commented on #2712
fixed sometime ago, we now have the webhook announcer, which should be enough

https://goreleaser.com/customization/announce/webhook/

[2022-01-30 19:43] #2712 closed

[2022-01-30 19:44] caarlos0 commented on #2827
I guess this is not happening anymore as no one complained about it anymore... so... closing...

[2022-01-30 19:44] #2827 closed

[2022-01-30 21:55] staticdev opened #2861 "Description not being used for deb nfpm"
### What happened?

I created a `.goreleaser.yaml` configuration with:

[code]

Then I use `lintian` to validade Debian compatibility of the deb packages I get:

[code]

The parameters description and license could be used to have a compatible package.

### How can we reproduce this?

Repo: https://github.com/staticdev/cleancontacts/releases

### goreleaser version

[code]

### GoReleaser Check

-

[2022-01-31 00:37] caarlos0 commented on #2861
That seems odd, goreleaser itself has everything set as expected:

[code]

I also cloned your repo and tested it, and it seems to work just fine:

[code]

I have no idea why deb is complaining... maybe new fields we need to fill now?

[2022-01-31 00:47] caarlos0 commented on #2831
not a bug, it was never implied it would create the branch, more like a feature request - which is a good one imho

[2022-01-31 01:14] ekristen commented on #2831
Gotcha. The docs say otherwise.

[2022-01-31 01:17] caarlos0 commented on #2831
hmmm wrong docs then :D

or maybe in the past the github api did it automatically

[2022-01-31 01:26] caarlos0 commented on #2831
will update the docs in the meantime...

[2022-01-31 05:07] pzduniak commented on #2827
Thanks for investigating anyways, I suppose I hit some cached cert. I confirm that I can't reproduce it anymore.

[2022-01-31 16:20] prabhatsharma opened #2863 "build args for docker are not being passed during container image builds"
### What happened?

build_flag_templates:
    - "--build-arg=VERSION={{.Version}}"
    - "--build-arg=COMMIT_HASH={{.FullCommit}}"
    - "--build-arg=BUILD_DATE={{.Date}}"
    - "--platform=linux/arm64/v8"

platform arg is being passed to Docker build process but not the build-arg

### How can we reproduce this?

https://github.com/prabhatsharma/tf-goreleaser-ecr

contains the .goreleaser and Dock

[2022-01-31 17:32] staticdev commented on #2861
Olá @caarlos0 vi aqui que é br, então vou continuar em pt.

Sobre os erros descobri que o primeiro erro é porque o Debian espera que o campo description tenha no mínimo 2 linhas: https://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-description

Consegui resolver no goreleaser com:

[code]

Talvez seja uma boa colocar um warning no `goreleaser check` ou um exemplo com duas linhas na d

[2022-01-31 17:52] staticdev commented on #2861
@caarlos0 update: dps de resolver o problema da extended description agora aparece um warning [description-starts-with-leading-spaces](https://lintian.debian.org/tags/description-starts-with-leading-spaces)

isso acontece pq antes de cada frase na description o goreleaser adiciona dois espaços e o padrão é 1 espaço =(

Se vc der dpkg -I nesse exemplo vai aparecer:

[code]
Exemplo do nmap do [repos

[2022-01-31 18:11] caarlos0 commented on #2861
pretty sure this needs to be:

[code]

https://yaml-multiline.info

[2022-01-31 18:18] staticdev commented on #2861
@caarlos0 it didn't make any difference for me having `|-` instead of `|`. I tried many things to get around the error. Still puts two spaces before every line. Probably the packaging code needs to be changed.

[2022-01-31 18:30] caarlos0 commented on #2861
seems like we indeed prefix with 2 spaces on `deb.go`

<img width="824" alt="image" src="https://user-images.githubusercontent.com/245435/151851771-1acf2fd7-6e85-4e29-93bc-21eb60c17229.png">

what's the output of your `dpkg --version`? I can't reproduce these errors here...
which

[2022-01-31 18:36] staticdev commented on #2861
[code]

[2022-01-31 18:53] caarlos0 commented on #2863
your dockerfile is building the binary again, which is not the way to use docker with goreleaser, the binary was already built, you only need to copy it and the envs you're passing as ldflags are also available in the build section,

that said, all args are being passed, goreleaser does not filter anything out.

I created a test project here and it works just fine:

[code]

[code]

[code]

[code]

[2022-01-31 18:55] caarlos0 commented on #2861
same version here... no idea why it doesn't complain here...

[2022-01-31 19:08] staticdev commented on #2861
@caarlos0 I get the error using `lintian` not `dpkg`.

[2022-01-31 22:24] dirien commented on #2856
TBH, its just another medium to archive the binary. Rather then the classic image, which can be executet in a container based CI system or localy.

[2022-02-01 11:44] attachmentgenie opened #2868 "Single artifact variables are not exposed to the blobs release phase"
### What happened?

I am trying to release a program as a homebrew package, with the $package.rb artifact going into a git repo and the $package.tar.gz artifact being stored in s3.

When running `goreleaser release ` with a `.goreleaser.yml ` excerpt as provided below, the process terminates with the following error

`release failed after 290.99s error=blobs: failed to publish artifacts: template:

[2022-02-01 14:15] caarlos0 commented on #2868
the usecase for `.os` et al is mostly the binary name, its not accepted in other fields.

[2022-02-01 14:15] #2868 closed

[2022-02-01 20:14] mitalipaygude opened #2870 "Create Pull Requests for brew formula update"
### Is your feature request related to a problem? Please describe.

I used goreleaser for automating my brew formula update, but I did not come across an option to create a pull request for that update. The only thing we can do is directly commit to a given repository.

### Describe the solution you'd like

An additional feature request for be able to create a pull request for brew formula updates

[2022-02-01 20:29] caarlos0 commented on #2870
happy to accept a PR with this

[2022-02-02 03:01] caarlos0 commented on #2829
TODO: see if we can do the same for environment variables

[2022-02-02 06:37] prabhatsharma commented on #2863
You are right. goreleaser does  pass the ARGS. However I had to do following to get the values:

ENV VERSION=$VERSION
ENV COMMIT_HASH=$COMMIT_HASH
ENV BUILD_DATE=$BUILD_DATE

[2022-02-02 06:37] #2863 closed

[2022-02-02 15:03] jsirianni opened #2871 "Make nfpm bindir optional or support multiple bindir (one per built binary)"
### Is your feature request related to a problem? Please describe.

Goreleaser has a wrapper parameter [bindir](https://github.com/goreleaser/goreleaser/blob/65289482176b368365560cfb814f07876fde2a3a/internal/pipe/nfpm/nfpm.go#L48) that is used to instruct the nfpm package where to place the binaries previously built by Goreleaser's `build` stage. This is great if you have a single binary, or multi

[2022-02-02 15:20] hdstich commented on #2322
yes, of course, so are there any news regarding this issue?

[2022-02-03 02:06] caarlos0 commented on #2871
you can set `nfpms.meta=true` and manually add the binaries

[code]

does that work?

[2022-02-03 19:34] aeneasr opened #2875 "[Pro] Global Hooks do not show stdout/stderr"
### What happened?

I am running a bash script aspart of the after hook

[code]

and the script is not doing what it should. It would be easy to identify what is going on but unfortunately goreleaser is not showing the stdout of the command.

### How can we reproduce this?

Create `script.sh`:

[code]

and config:

[code]

then

[code]

The output is then:

[code]

and I can not find "hello world"

[2022-02-04 10:34] cardil opened #2876 "Procedure for verification of release files lacks verification of public key"
### What happened?

The procedure for verification of release files lacks verification of public key:

https://github.com/goreleaser/goreleaser/blob/9cc1bb1595fc6ab726595ebbbe7e9611de3949c6/www/docs/install.md#L156-L162

The attacker could easily replace all files, including the public key. Without checking the public key is valid, users can't be sure the downloads are valid. Public key needs to b

[2022-02-04 13:20] caarlos0 commented on #2876
Thanks @cardil

Feel free to PR this if you want, otherwise I'll do it when I have some time :)

[2022-02-04 13:20] caarlos0 commented on #2875
I think we can add an option, as we did on the signing step, to always output.

Thanks for the suggestion @aeneasr 🙏

[2022-02-04 13:50] jsirianni commented on #2871
@caarlos0 that worked perfectly, can't believe I missed that option. Thanks!

[2022-02-04 13:50] #2871 closed

[2022-02-04 14:41] caarlos0 commented on #2871
amazing, no problem @jsirianni , glad I could help!  ✨

[2022-02-05 20:45] caarlos0 commented on #2861
fixed on nfpm v2.12, and also merged in here.

next version of goreleaser will have this fixed as well.

to fix other lintian issues, you can refer to #2883

thanks again for the report!

[2022-02-05 20:45] #2861 closed

[2022-02-05 20:46] caarlos0 commented on #2875
fixed, will be out on next version!

thanks again @aeneasr 🙏

[2022-02-05 20:46] #2875 closed

[2022-02-05 20:47] caarlos0 commented on #2830
is this done @dirien ?

[2022-02-05 20:56] caarlos0 commented on #2829
unfortunately, its not possible... we use the env for templates and thing that happen before we even get to the build line stuff... so, we'd had to break compatibility or do something else that would also be probably confusing.

refs https://github.com/goreleaser/goreleaser/pull/2583

---

that said, as the other things were implement, will close this one for now.

if we eventually find out we rea

[2022-02-05 20:56] #2829 closed

[2022-02-05 20:57] caarlos0 commented on #2746
is this still happening?

[2022-02-05 21:03] caarlos0 commented on #2652
@dorner did you test it again by any chance?

[2022-02-05 21:07] avelino commented on #2746
No reply, I had no more problem (after I reported, ANY more releases were generated using goreleaser)

[2022-02-05 21:11] caarlos0 commented on #2290
this depends on https://github.com/goreleaser/goreleaser/issues/1295, which I don't know when (or if) will happen.

Closing this one and leaving the former as an unbrella

[2022-02-05 21:12] caarlos0 commented on #1963
this depends on https://github.com/goreleaser/goreleaser/issues/1295, which I don't know when (or if) will happen.

Closing this one and leaving the former as an umbrella

[2022-02-05 21:12] #1963 closed

[2022-02-05 21:12] caarlos0 commented on #1295
This would allow:
- winget support https://github.com/goreleaser/goreleaser/issues/1295
- chocolatey support #1963

[2022-02-05 21:13] caarlos0 commented on #2746
ok, will close this then

thanks all!

[2022-02-05 21:13] #2746 closed

[2022-02-05 21:16] caarlos0 commented on #1854
not really worth it

[2022-02-05 21:16] #1854 closed

[2022-02-05 21:19] #2685 closed

[2022-02-05 21:21] caarlos0 commented on #2764
thanks @ekristen , at this time will not implement this in goreleaser itself.

users can always pipe the output of other changelog tools into goreleaser (via `--release-notes` flag), and just building release notes is already something with a rather big scope, so I'd rather keep it as simple as possible for now.

cheers!

[2022-02-05 21:21] #2764 closed

[2022-02-06 10:19] staticdev commented on #2861
Thanks a lot @caarlos0, this tool is very good. I will spread it around!

[2022-02-06 16:04] caarlos0 commented on #2856
lets wait for now, judging by number of stars its very popular right now...

maybe in the future.

[2022-02-06 16:04] #2856 closed

[2022-02-06 16:18] caarlos0 commented on #2831
seems like there isn't an API for it anymore 🤔

https://docs.github.com/en/rest/reference/branches

the go-github lib also does not have a create branch repo https://github.com/google/go-github/blob/master/github/repos.go

that said, not much we can do here. The docs were updated, at least.

thanks for letting me know of this issue!

cheers

[2022-02-06 16:18] #2831 closed

[2022-02-06 16:22] caarlos0 commented on #2870
seems like there is no API to create a branch, hence, we cannot create pull requests

https://github.com/goreleaser/goreleaser/issues/2831

an alternative would be to rewrite this using git directly, but that's not something I'm planing in doing any time soon.

that said, closing this, for now at least

thanks for the suggestion though.

[2022-02-06 16:22] #2870 closed

[2022-02-06 16:24] caarlos0 commented on #2738
nice, @gwvandesteeg , do you mind documenting this in one of these files?

- https://github.com/goreleaser/goreleaser/blob/main/www/docs/ci/gitlab.md
- https://github.com/goreleaser/goreleaser/blob/main/www/docs/scm/gitlab.md

thanks

[2022-02-06 16:25] caarlos0 commented on #2341
is this still happening?

[2022-02-06 19:35] dorner commented on #2652
Unfortunately not. I have something that works now and I don't even have the write access to test this again right now. :(

[2022-02-07 00:43] caarlos0 commented on #2652
ok, no problem @dorner

since we weren't able to reproduce, and no one else stepped up with the same issue, will close this for now.

Thanks for the issue anyway 🙏

[2022-02-07 07:26] dirien commented on #2830
@caarlos0, I wait for the next release.

Currently it fails, of the missing labels.
![image](https://user-images.githubusercontent.com/38325136/152743332-4836d0db-eef5-4d43-85ac-4619df2a7616.png)

Btw: You should create an ArtifactHub account, so I can transfer later the ownership to the GoReleaser Orga.

[2022-02-07 11:43] caarlos0 commented on #2830
ah, ok @dirien

already have one: `caarlos0` 🙏

[2022-02-08 01:04] szechyjs opened #2890 "Universal Binary hooks missing build options"
### What happened?

When using any of the build options as template variables in an `universal_binaries`  post command it results in a error.

` ``
⨯ release failed after 14.88s error=post hook failed: template: tmpl:1:19: executing "tmpl" at <.Path>: map has no entry for key "Path"
[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

-

[2022-02-08 01:41] caarlos0 commented on #2890
not a bug, rather a feature request.

[2022-02-08 02:45] szechyjs commented on #2890
If it's not a bug, should probably update the docs to remove the mention of `.Path` and `.Arch`

[2022-02-08 02:52] caarlos0 commented on #2890
the universal binary docs have only one ref to `Path` on the post hook, which is probably a bad copy/paste...

in any case, #2891

[2022-02-08 16:27] cardil commented on #2876
The question would be: How users can make sure the public key they are downloading is valid? If attacker can replace release files, surly he can also craft a public key, or make changes to the website.

Cosign keyless mode solves this issue by utilizing rektor log.

Gpg public keys can be stored on keys.opengpg.org and search by email, and that gives quite strong signal the key is valid.

[2022-02-08 16:48] developer-guy commented on #2737
maybe we can approach this issue from a different angle, we can use [slsa-provenance](https://github.com/philips-labs/slsa-provenance-action/blob/main/cmd/slsa-provenance/main.go) CLI from philips-labs to generate an SLSA provenance, then we can sign and attach it using cosign under the hood instead of generating it our own in GoReleaser.

cc: @marcofranssen @shibumi @dentrax

[2022-02-08 17:03] caarlos0 commented on #2737
I think we can experiment running the action before running goreleaser, then just adding the file to the release and signing it

[2022-02-08 17:11] caarlos0 commented on #2737
scratch that, it needs to run after... so, not sure if we use the action directly or integrate it more properly with goreleaser

maybe its possible to use the signs config for it? 🤔

[2022-02-08 23:53] SantiagoTorres commented on #2737
I think the slsa-provenance type could work (it's still an in-toto type). Let me know if  there is anything I can help w/ it

[2022-02-09 16:14] zbindenren opened #2895 "RPM Sign fails since Version 1.2.0"
### What happened?

I upgrade go releaser to latest version 1.4.x and RPM signing does not work:

[code]

### How can we reproduce this?

With the command:

[code]

### goreleaser version

[code]

### GoReleaser Check

- [X] goreleaser check shows no errors

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to follow this proje

[2022-02-09 17:53] caarlos0 commented on #2895
could you provide a reproducible? (minimal possible config/code/etc)

[2022-02-10 06:11] zbindenren commented on #2895
hi @caarlos0

yeah I created a project here: https://github.com/zbindenren/gorleaser-sign

How I ran the command is written in the README.

[2022-02-10 12:11] marcofranssen commented on #2737
Happy to have a chat on how we can integrate slsa-provenance with goreleaser.

We are using goreleaser as well for releasing the slsa-provenance-action. "chicken and egg" problem to release our own thing with goreleaser, once the provenance feature is added.

[2022-02-10 12:18] caarlos0 commented on #2737
hey @marcofranssen , feel free to ping me on our discord! https://discord.gg/RGEBtg8vQ6

[2022-02-11 18:57] Dentrax commented on #2556
Friendly ping here. 🤞

[2022-02-12 02:05] caarlos0 commented on #2895
OK, pinned down the issue to the upgrade of `github.com/ProtonMail/go-crypto v0.0.0-20210512092938-c05353c2d58c // indirect` to `github.com/ProtonMail/go-crypto v0.0.0-20211112122917-428f8eabeeb3 // indirect`.

Will revert this upgrade for now, but, right now I have no idea why it breaks.

[2022-02-12 02:10] #2895 closed

[2022-02-12 02:16] caarlos0 commented on #2556
yep, we need to discuss this.

My understanding is: we should probably use ko as a lib.

We don't need to build the binaries again, we already have them. We just need to craft the manifest.

I did start looking into ko's source code, but I'm not sure there's an "easy api" for this. Would be nice to collaborate with folks over there to get this done.

On GoReleaser side, we should probably just add

[2022-02-12 02:18] caarlos0 opened #2903 "Sign our own apks, deb and rpms"
### Is your feature request related to a problem? Please describe.

Currently we don't sign our linux packages. We should.

### Describe the solution you'd like

sign them.

### Describe alternatives you've considered

n/a

### Search

- [X] I did search for other open and closed issues before opening this.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Additiona

[2022-02-13 14:29] yannh opened #2904 "Docker image should contain gpg for signing"
### What happened?

Trying to sign artifacts following this documentation https://goreleaser.com/customization/sign/ and the Docker image, I get an error that gpg is missing in the image:

 ⨯ release failed after 468.49s error=sign: gpg failed: exec: "gpg": executable file not found in $PATH:

### How can we reproduce this?

$ docker run --entrypoint /bin/bash -it goreleaser/goreleaser:v1.5.0
bash

[2022-02-13 16:21] dirien commented on #2830
Done :)

https://artifacthub.io/packages/container/goreleaser/goreleaser

[2022-02-13 16:21] #2830 closed

[2022-02-13 16:37] caarlos0 commented on #2904
closed in #2904

thanks!

[2022-02-13 16:43] yannh commented on #2904
That was super fast, thank you so much :heart_eyes:

[2022-02-13 20:13] staticdev opened #2909 "lintian /usr/local errors"
### What happened?

By default Debian errors on any packages that has folder /usr/local (https://lintian.debian.org/tags/dir-in-usr-local) and especially is something is installed in it (https://lintian.debian.org/tags/file-in-usr-local).

I see that /usr/local/bin happens to be the default for nfpm. The default for Debian packages is to be installed in /usr/bin instead. I though of making a PR fo

[2022-02-14 11:52] caarlos0 commented on #2909
see #2910

[2022-02-15 00:54] #2909 closed

[2022-02-15 18:22] francislavoie opened #2911 "Optionally run `go mod vendor` for source archives?"
### Is your feature request related to a problem? Please describe.

We were asked on the Caddy project https://github.com/caddyserver/caddy/issues/4573 to provide a source bundle including vendored dependencies, so that builds can be produced without additional downloads.

### Describe the solution you'd like

An optional flag like `vendor: true` in https://goreleaser.com/customization/source/ wou

[2022-02-15 18:58] ryancurrah commented on #2159
Our company is starting to ship M1's to developers and when they are installing our internal tools through brew formula created by go releaser they are running into the same problem.

[2022-02-15 23:54] caarlos0 commented on #2911
not sure if its possible... we use `git archive` to create the source archive... so, if vendor is gitignored, it won't get picked - AFAIK

not sure if there's a way around this...

[2022-02-16 00:03] francislavoie commented on #2911
Hmm. We could remove `vendor/` from `.gitignore` on the Caddy repo, I don't think there's any reason for it to be there. But we definitely don't want to commit the vendor to the repo anymore (we did for Caddy v1 and it was a total mess).

https://stackoverflow.com/a/54036395/846934 suggests maybe we can just throw `vendor` in afterwards?

[2022-02-16 00:07] francislavoie commented on #2903
Unfortunately gemfury doesn't handle signing, although they had it listed as a planned feature. We (Caddy) tried to reach out to them multiple times by email and got radio silence from them...

We moved to CloudSmith for Caddy instead, and they do signing on their end after the upload (we had to upload a subkey so their system would do it).

[2022-02-16 17:17] caarlos0 commented on #2903
so, if I upload a signed deb to gemfury, it just breaks? thats too bad

thanks for letting me know @francislavoie 🙏

Will look into cloudsmith too.

[2022-02-16 17:20] francislavoie commented on #2903
From their docs:

https://gemfury.com/help/gemfury-cli/

[2022-02-16 17:27] caarlos0 commented on #2903
ah, that's too bad :|

[2022-02-16 19:17] dkoshkin opened #2913 "New --output flag should be optional"
### Is your feature request related to a problem? Please describe.

This PR https://github.com/goreleaser/goreleaser/pull/2701 introduced a new `--output` flag but it defaults to the local directory.
We already generate binaries into the `dist/` directory, it would be great to skip this new behavior.

### Describe the solution you'd like

Instead of defaulting to the local directory when `--output

[2022-02-17 00:58] caarlos0 commented on #2911
That's assuming tar, but it could be a myriad of formats.

You could, in theory, remove vendor from the gitignore, and run `go mod vendor` in a global before hook.

The vendor folder will be used to build - which shouldn't be a big deal, and will also be included in the source archive

[2022-02-17 03:40] ryancurrah commented on #2159
That's something we discussed. Some tools use CGO and it isn't easy to support arm for them. So that's a challenge.

I know this is inherently not  goreleasers fault.

[2022-02-17 04:09] mieubrisse opened #2914 "Formulas generated by Goreleaser that only install a binary seem to require Xcode"
### What happened?

Our users are consistently showing that they need to have Xcode installed to install [this formula](https://github.com/kurtosis-tech/homebrew-tap/blob/master/kurtosis-cli.rb). One user's Xcode was out of date, and Homebrew wouldn't let him install at all:

[code]

I _think_ this started happening after https://github.com/goreleaser/goreleaser/issues/2595 .

### How can we repro

[2022-02-17 06:11] mohammed90 commented on #2911
The `git archive` command only packs tracked and committed files. So unignoring the `vendor` directory won't help, neither will running `go mod vendor` to create the directory. It can pack extra/untracked files with the flag `--add-file`, but that'll need to be repeated for as many files in the vendor dir.

[2022-02-17 12:41] caarlos0 commented on #2914
afaik this is a homebrew requiring xcode, not the tap per se

[2022-02-17 12:47] caarlos0 commented on #2159
https://github.com/goreleaser/goreleaser/pull/2278 would probably be a better fix for it. I can rebase it at some point this week/weekend if you're willing to help testing it...

[2022-02-17 13:10] caarlos0 commented on #2911
ah, indeed

[2022-02-17 13:15] caarlos0 commented on #2911
then, if we do this, we might need to implement the archiving ourselves instead of relying on `git-archive`...

[2022-02-17 14:56] ryancurrah commented on #2159
For sure we can test it.

[2022-02-17 14:59] mohammed90 commented on #2911
I think you could still piggy back on `git archive` by performing subsequent operations to append/remove file/dirs using github.com/mholt/archiver/v4, no?

[2022-02-18 23:25] chainlink opened #2918 "Plug-in / hook to generate other artifacts (helm charts) etc"
### Is your feature request related to a problem? Please describe.

It's currently tricky to coordinate the release of non-go related artifacts (helm charts, etc) along with the go release. Right now, you need to run go releaser to produce the GH release, then manually edit that release to add the additional artifacts. It would be nice if this could be accomplished within goreleaser.

### Describe

[2022-02-19 03:52] Tuxdude opened #2919 ".TagSubject and .TagContents are using the underlying commit subject/contents instead of the ones from the annotated tag"
### What happened?

`.TagSubject` and `.TagContents` in Release output are using the underlying commit subject/contents instead of the ones from the annotated tag.

[Here is a test repo](https://github.com/Tuxdude/go-scratch-gh/tags) where you can see this bug in action in the release notes generated, with the release for either of tags:
- [v0.3.0](https://github.com/Tuxdude/go-scratch-gh/releases

[2022-02-19 04:04] Tuxdude commented on #2919
Another data point from my side. Using `.TagSubject` in a different field in the config, eg. `archives.name_template` works. I do see the tag subject correctly being used in the generated artifact file names.

I am beginning to suspect if this is something specific to my github workflow/action.

[2022-02-19 05:03] Tuxdude commented on #2919
This seems to be an issue with the github workflow and checkout.

When the workflow is triggered based on a tag push, the checked out repository doesn't seem to contain the tag annotation metadata (although is aware of the tag name itself) only for the latest tag (which also triggered the github event for the workflow) but does contain this data for all prior tags.

I dumped this from the github w

[2022-02-19 05:15] Tuxdude commented on #2919
Root cause is https://github.com/actions/checkout/issues/290

Adding a github workflow steps which runs `git fetch --force --tags` fixes this.

[2022-02-19 06:20] Tuxdude commented on #2919
https://github.com/Tuxdude/go-scratch-gh/commit/f31ca61a7ce73b3c84c91f00db70a15646d78855 commit should give an idea for the fix to apply if anybody else runs into this issue.

Just like how setting `fetch-depth: 0` against `actions/checkout@v2` is [documented](https://goreleaser.com/ci/actions/#workflow), I feel it would be a good idea to also document this given that goreleaser does read the meta

[2022-02-19 09:05] Tuxdude opened #2920 ".TagContents also includes the signature (along with the tag message body) if the tag is signed"
### What happened?

`.TagContents` also includes the signature (along with the tag message body) if the tag is signed. You can see the example output in the release notes [here](https://github.com/Tuxdude/go-scratch-gh/releases/tag/v0.4.9).

My `.goreleaser.yml` includes the following snippet for the release notes header:

[code]

## Issue

`.TagContents` is populated from the output of `git tag -

[2022-02-19 15:49] dirien commented on #2918
Can you not use the hook function from either the build phase (https://goreleaser.com/customization/build/#build-hooks)

or the general hooks fn -> https://goreleaser.com/customization/hooks/

`after hook` is only in the Pro version available, but could be good time to buy the pro version?

[2022-02-19 15:51] dirien commented on #2914
Did not encountered this with goreleaser formula generation. As it is "only" the generation of the ruby file for homebrew tap

[2022-02-19 17:27] chainlink commented on #2918
Ah nice! Apologies I missed those in your docs 🙈  That should solve the build piece, but what about the idea of additional artifacts on the GH release?

[2022-02-19 18:10] #2913 closed

[2022-02-19 18:11] caarlos0 commented on #2914
yeah, that's most likely a homebrew issue... pretty sure if you `brew install` anything it asks for xcode.

Closing.

[2022-02-19 18:11] #2914 closed

[2022-02-19 18:12] caarlos0 commented on #2918
@chainlink there are options for it as well: https://goreleaser.com/customization/release/

check `extra_files`.

[2022-02-19 18:40] dirien commented on #2918
@caarlos0 thanks for the refresher on the extra_files tag! I forgot about this one! 👍

[2022-02-19 19:45] chainlink commented on #2918
Ah! We use `extra_files` in the docker section already, didn't think to look under the `release` section for the same. Next time I will have a closer read of the manual. Thanks for the help!

[2022-02-19 19:45] #2918 closed

[2022-02-20 01:07] caarlos0 commented on #2159
please check out  #2922

[2022-02-20 03:08] caarlos0 commented on #2919
oh, cool finding, should definitely document this...

[2022-02-21 13:52] jettero opened #2925 "documentation bug"
### What happened?

I asked about this as a comment on some other issue, but I can't now find that comment or the issue. I believe it was a closed issue, whatever it was.

I want to cross compile a binary using CGO. The dependency that requires this has a library (.a) for linux and another for darwin and it compiles fine if I do everything by hand. I believe features were added to goreleaser to al

[2022-02-21 18:56] caarlos0 commented on #2925
You might want to look into https://github.com/goreleaser/goreleaser-cross

Your issue does not explain what are the configs you tried, so its very hard to help further...

cc/ @troian

[2022-02-21 19:10] rare-magma opened #2927 "[Feature Request] add flatpak package building support"
### Is your feature request related to a problem? Please describe.

Some linux distributions use Flatpaks by default or don't have snap installed.

### Describe the solution you'd like

It would be great if goreleaser supported generating flatpak packages.
Similar to what is currently done for snaps.

### Describe alternatives you've considered

N/A
Haven't considered any alternatives

### Search

[2022-02-21 19:18] caarlos0 commented on #2927
if someone wants to work on it, go ahead... I don't currently have the bandwidth

[2022-02-22 14:23] zepatrik commented on #2920
Example release containing the signature: https://github.com/ory/keto/releases/tag/v0.8.0-alpha.1

[2022-02-23 22:38] haad opened #2934 "Docker manifests failing"
### What happened?

During build of my application docker_manifest stage is failing.

https://github.com/haad/confd/runs/5310917070?check_suite_focus=true

[code]
Configuration file

[code]

To me it looks like a race condition where original docker images ghcr.io/haad/confd:{{.Version}}-amd64/arm64v8 were pushed to repository but are not yet visible. I have seen this same code finish successfully

[2022-02-24 12:35] caarlos0 commented on #2934
at first glance it seems correct to me... will try to debug over the weekend

[2022-02-25 01:40] caarlos0 commented on #2159
@ryancurrah were you able to give this a try?

[2022-02-25 01:57] #2920 closed

[2022-02-25 15:22] ryancurrah commented on #2159
@caarlos0 I just did this morning and it does not address our issues. I posted a comment in the PR https://github.com/goreleaser/goreleaser/pull/2922#issuecomment-1050945941.

[2022-02-26 01:41] #2919 closed

[2022-02-28 11:40] stack72 opened #2943 "Goreleaser pulling incorrect tag information"
### What happened?

In the past 3 days Goreleaser 1.5 has started killing incorrect tag information causing the builds to fail.

Goreleaser now seems to pull an SDK/<name> tag as the latest tag when previously it ignored these. This has started happening since the latest release of the GitHub Action

previously: https://github.com/pulumi/pulumi-azure-native/runs/5333434160?check_suite_focus=true#s

[2022-02-28 12:00] caarlos0 commented on #2943
cc/ @crazy-max

I don't see why it started breaking now, though...

in any case, do we really need this? https://github.com/goreleaser/goreleaser-action/compare/v2.8.1...master#diff-4fab5baaca5c14d2de62d8d2fceef376ddddcc8e9509d86cfa5643f51b89ce3dR61

seems to me that, if the user sets it, goreleaser will get it from the parent process, and if doesn't , this is getting in the way of how goreleaser

[2022-02-28 12:14] crazy-max commented on #2943
Hum looks like there is an issue with `GORELEASER_CURRENT_TAG`. Will take a look.

[2022-02-28 12:19] stack72 commented on #2943
@caarlos0 we are setting the GORELEASER_CURRENT_TAG but it's not being respected

https://github.com/pulumi/pulumi-azure-native/runs/5358588814?check_suite_focus=true#step:10:31

[2022-02-28 14:24] #2943 closed

[2022-02-28 14:27] caarlos0 commented on #2943
oh, sorry, I misunderstood...

released @crazy-max's fix at v2.9.1, can you verify @stack72?

[2022-02-28 15:01] stack72 commented on #2943
Will check now @caarlos0 :) thanks to you and @crazy-max

[2022-02-28 19:56] stack72 commented on #2943
Circling back here - sorry for being late - this does indeed fix the issue! thank you

[2022-02-28 21:11] caarlos0 commented on #2943
amazing!

thanks for reporting!

[2022-03-01 20:36] jsirianni opened #2946 "Glob error when copying files with brackets in the name: '[show].js.nft.json'"
### What happened?

Fail to copy a directory that has weird file names (file names with brackets)

config snippet from Goreleaser
[code]
Error
[code]
The files it is complaining about
[code]

It seems the brackets in the file name is tripping up nfpm. Unfortunately, I do not have control over the file names.

### How can we reproduce this?

Attempt to build a package with a source directory contai

[2022-03-01 23:57] #2946 closed

[2022-03-02 15:35] jsirianni commented on #2946
Appreciate the fast fix, this will let me implement my work without my workaround.

[2022-03-04 08:00] LeSuisse commented on #2895
FYI I took a quick look at this (I encountered the same issue in another project), it appears that recent version of the library sets the critical bit on the issuer subpacket. This does not seems to play well with RPM...

Signature done with a recent version of the library:
[code]

Signature done with an older version of the library:
[code]

[2022-03-04 10:14] anilmisirlioglu opened #2954 "GitLab Brew Tap Problem"
### What happened?

Hi, I'm trying to create a new brew tab on GitLab and getting some errors.

When I looked into the problem, I noticed that;

normally pattern should be like this: `/api/v4/projects/:projectId/repository/files/:file_path?ref=branch` ([GitLab API Docs of the related endpoint](https://docs.gitlab.com/ee/api/repository_files.html#get-file-from-repository))
but goreleaser is sending

[2022-03-05 22:28] gennaro-tedesco opened #2959 "goreleaser fails for android_386"
### What happened?

I am using `goreleaser` via GitHub actions to build go executables for different architectures. The build fails with
[code]
whereas it works for all other systems except android.

### How can we reproduce this?

- [GitHub actions release yml](https://github.com/gennaro-tedesco/gh-s/blob/master/.github/workflows/release.yml)

`.goreleaser.yml` of the form
[code]
Run failure can

[2022-03-06 00:53] caarlos0 commented on #2959
seems like your build need CGO.

`GOOS=android GOARCH=386 go build` will likely fail on your action as well

this is not a goreleaser bug.

---

more info about cgo: https://goreleaser.com/cookbooks/cgo-and-crosscompiling

[2022-03-06 00:53] #2959 closed

[2022-03-06 10:57] gennaro-tedesco commented on #2959
Thank you for your quick reply. Does this amount to changing the value of
[code]
exclusively, or are other changes required too (say the actions need being changed)? If not, with `CGO_ENABLED=1` I get a different exception
[code]
which leads me to think that `CGO` must be enabled for some `GOOS` only and not for others?

[2022-03-06 17:03] caarlos0 commented on #2959
that something specific to your project...

[2022-03-06 18:38] gennaro-tedesco commented on #2959
what are you referring to, in particular? Previous builds with `CGO_ENABLED=0` for netbsd did work. Must one specify the `cgo` option depending on the `goos`? I have browsed the docs again but could not find specific examples where this is indicated (sorry if I missed them).

[2022-03-06 18:55] caarlos0 commented on #2959
I mean: the issue you're facing is some dependency on your project that seems to require CGO on android/386, and I can't help you with that, as this is something about your project.

as mentioned before, running `GOOS=android GOARCH=386 go build` will probably fail your build already, probably maybe even locally.

no, its for the entire build, you can, however, specify multiple `builds` with diffe

[2022-03-06 20:59] Akaame commented on #2954
An `owner/name` pair does not identify a GitLab repository. Old versions of goreleaser had `brew.github` yaml path to identify a GitHub repo to create formulae files on. Now, `brews.[:id].tap` is a `RepoRef` that is a collection of `owner/name/branch` which does not make sense for GitLab impl.

The following query returns a 404:

`https://gitlab.com/api/v4/projects/gitlab-org/gitlab-foss/repositor

[2022-03-06 21:03] caarlos0 commented on #2954
cc/ @mavogel

if anyone wants to work on a pr, happy to review/assist

[2022-03-07 06:27] developer-guy commented on #2954
@caarlos0 you can assign it to me, I can take care of that one.

[2022-03-07 10:17] caarlos0 commented on #2954
Done, thanks 🙏

[2022-03-10 14:07] cpheps opened #2970 "Support Homebrew Service block"
### Is your feature request related to a problem? Please describe.

The `brews` section currently supports an embedded plist file. It would be nice if you could alternately specify a hombrew service block, detailed [here](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#service-files). For those unfamiliar with plist files it's much more user friendly to use the Hombrew servic

[2022-03-12 01:40] caarlos0 commented on #2934
ah, I think you'd need to enable `DOCKER_CLI_EXPERIMENTAL`, like this: https://github.com/goreleaser/goreleaser/blob/main/.github/workflows/build.yml#L20

also, there is no arm64/v8 - https://github.com/haad/confd/runs/5310917070?check_suite_focus=true#step:3:241

[2022-03-12 01:40] caarlos0 commented on #2934
those would be the first things I would try to fix, and see how it goes from there

[2022-03-12 01:48] caarlos0 commented on #2840
since that would break outside github actions, and this can be already emulated by passing each needed value as an environment variable, lets leave this out for now.

we can always discuss this again later

[2022-03-12 01:48] #2840 closed

[2022-03-12 01:50] caarlos0 commented on #2876
hey, I'm using keyless only...

[2022-03-12 02:35] caarlos0 commented on #2911
seems to be in alpha, and at least on readme there is no example on how to add files with specific permissions, correct?

I need to test, but maybe our internal archiving library already works :P

[2022-03-14 11:32] Scapal opened #2974 "Go private repository support with SSH Agent"
### Is your feature request related to a problem? Please describe.

I am unable to build project containing dependencies hosted on private repositories with GoRelease.

### Describe the solution you'd like

There are 2 ways of doing this, both involve Git configuration using the insteadOf configuration:

- by including the HTTPS username and password
- by using SSH

I'll focus on the later as it i

[2022-03-14 13:57] z3v3 commented on #2322
Yes, is there any progress/roadmaps/updates on this issue?

[2022-03-14 19:15] caarlos0 commented on #2974
Have you tried to pass the `SSH_AUTH_SOCK` to the container (probably also needs to add it as a volume)?

I believe that should do the trick already... you'd setup the ssh-agent outside and just pass it down to the container...

[2022-03-15 14:04] forestsword opened #2975 "Unable to Ignore Non-GoModule Vendor Directory"
### What happened?

I use jsonnet and jsonnet-bundler to bring in dependencies for deployment. This populates the `vendor` directory. There's no way currently to tell goreleaser to ignore it with `-mod=mod` as I can using the go binary directly. I can normally ignore it in builds like

[code]

But this does not affect listing of the module here: https://github.com/goreleaser/goreleaser/blob/42258c

[2022-03-15 14:18] caarlos0 commented on #2975
good catch, thanks!

[2022-03-15 14:45] dirien opened #2976 "Proposal: Removal of buildpack option"
### Is your feature request related to a problem? Please describe.

I wanted to preflight with the community and @caarlos0 the question: Should we remove the support for buildpacks for the container build step?

I tried it, and I dont see any values in this feature. Why?

- The binary gets rebuild again during the buildpack build.
- No ARM support.

What are your thoughts? Should we deprecate the

[2022-03-15 15:02] caarlos0 commented on #2976
yeah, I think so... this has the same problem as the current proposal for adding ko... rebuilding the binaries et al, I'm not a fan...

IMHO, lets deprecate it, which has a 6-month period, and then remove it

[2022-03-15 16:42] dirien commented on #2976
I would create the PR for it, what is your process for deprecation?

[2022-03-15 18:30] caarlos0 commented on #2976
nice!

- add it to the list here -> https://github.com/goreleaser/goreleaser/blob/main/www/docs/deprecations.md
- use the `deprecate` api to notice the deprecation on the logs if its being used -> https://pkg.go.dev/github.com/goreleaser/goreleaser@v1.6.3/internal/deprecate#Notice

That's pretty much it :)

[2022-03-15 21:40] caarlos0 commented on #2290
Ah nice! Let's see how that goes!

[2022-03-16 15:49] remyleone commented on #2652
I got the issue with a non-AWS s3. Did somebody successfully make goreleaser work with a non-aws s3?

[2022-03-16 17:11] caarlos0 commented on #2652
the goreleaser s3 tests run agains a minio, so it should work...

[2022-03-16 23:09] gesquive opened #2980 "post_install only properly indents the first line"
### What happened?

If you create a goreleaser file with multiple lines in the post_install specified, only the first line is indented properly in the generated formula. This causes syntax errors and the formula does not install properly.

If your goreleaser config has the following:
[code]

The generated formula outputs the following:
[code]

Instead of the expected:
[code]

### How can we reprod

[2022-03-17 00:12] #2970 closed

[2022-03-17 00:40] #2980 closed

[2022-03-17 00:55] caarlos0 commented on #2903
well, since we basically can't do this rn without a ton of work, closing it for now...

[2022-03-17 00:55] #2903 closed

[2022-03-17 00:56] caarlos0 commented on #2808
I think this should be fixed, correct?

[2022-03-17 02:30] wagoodman commented on #2808
I think so 🙌 what's your take @VinodAnandan and @developer-guy ?

[2022-03-17 07:33] fredbi opened #2986 "slack notifications options"
### Is your feature request related to a problem? Please describe.

I'd like to announce releases to our slack channels with a cleaner message than just providing a few links.

Unfortunately, only plain text is currently sent by the goreleaser pipeline. Expanding the markdown release notes in the message is not something that renders nicely.

### Describe the solution you'd like

The slack Webhook

[2022-03-17 10:55] #2976 closed

[2022-03-17 11:51] caarlos0 commented on #2986
Sounds good @fredbi , go for it! :)

[2022-03-17 11:53] #2975 closed

[2022-03-17 13:06] fredbi commented on #2986
yay! @caarlos0  I'll do that overnight. Hopefully I don't meet too many tweaks with the slack API

[2022-03-19 19:23] caarlos0 commented on #2934
closing for lack of activity

[2022-03-19 19:23] #2934 closed

[2022-03-19 19:24] caarlos0 commented on #2808
nice, will close, please reopen/ping if needed 🙏

thanks everyone :)

[2022-03-19 19:24] #2808 closed

[2022-03-19 20:44] #1913 closed

[2022-03-19 20:45] caarlos0 commented on #2341
closing due to innactivity

[2022-03-19 20:45] #2341 closed

[2022-03-19 20:50] #2738 closed

[2022-03-19 20:57] caarlos0 commented on #2743
would #2993 help?

[2022-03-19 21:27] VinodAnandan commented on #2808
@wagoodman  sorry for the late reply, it is fixed !! thanks a lot for your help.

[2022-03-20 14:08] omrishtam opened #2994 "Publish goreleaser images with Go 1.18 support"
### Is your feature request related to a problem? Please describe.

I tried to upgrade my repository to use go 1.18 but my release stage fails when building using goreleaser v1.6.3

This is my release stage configuration in `.gitlab.yml`:
[code]
The output (and the error) is:
[code]

### Describe the solution you'd like

I'd like to know if you could create a new tag, build and publish new docker

[2022-03-21 00:01] caarlos0 commented on #2994
was planned for today, its being released rn :)

[2022-03-21 00:02] #2994 closed

[2022-03-21 08:48] developer-guy opened #2997 "create an SBOM attestations using syft and attach them to container image using cosign"
### Is your feature request related to a problem? Please describe.

No, it is not.

### Describe the solution you'd like

Since [Syft v0.40.0](https://github.com/anchore/syft/releases/tag/v0.40.0),  Syft can generate and sign SBOM attestations, then by making use of cosign, we can attach the attestation generated by Syft to a container image.

To get more detail about the development and the conce

[2022-03-21 10:29] haad commented on #2934
Ah sorry for me problem was that I actually saw a build which was successful. [1] To me it looks like there is a race condition there not a miss configuration.

[1] https://github.com/haad/confd/actions/runs/1866349671

[2022-03-21 12:33] caarlos0 commented on #2934
hmm, judging by the log, it seems it was a warning, so maybe the process still exit 0 🤔

[2022-03-24 09:31] fredbi opened #3005 "upgrade yaml dependency to v3"
### Is your feature request related to a problem? Please describe.

No particular problem. Just upgrade to newer dependencies.

### Describe the solution you'd like

Currently, the codebase depends on gopkg.in/yaml.v2.
There is a major release available gopkg.in/yaml.v3.

There are some breaking changes in the API, so I am suggesting wrapping yaml usage in some internal package, at least while we

[2022-03-24 16:52] ngotchac commented on #2743
Hey! Thanks for the update, I think it's going in the right direction, but it's still not working :/ This is mostly on Gitlab's end, since their Release Link API is still not available via thei CI_JOB_TOKEN. I built an example repo, with the failed pipeline you can check here: https://gitlab.com/ngotchac/goreleaser-tester/-/jobs/2247096351

The issue is this one: https://gitlab.com/gitlab-org/gitl

[2022-03-26 11:05] haad commented on #2934
Can we add simple retry option to manifest part. My guess is that it takes some time to have original arch images visible on destination oci repository and that's why manifest step fails.

Simple test would be to add sleep/retry to either manifest or between push and manifest.

[2022-03-27 20:44] clemensg opened #3007 "Support a goamd64 field in the build settings"
### Is your feature request related to a problem? Please describe.

Not related to a problem

### Describe the solution you'd like

Since Go 1.18 we can specify GOAMD64 to build for more modern CPU architectures if GOARCH=amd64.
This is similar to GOARM or GOMIPS and would allow us to automatically build both a GOAMD64=v2 and a GOAMD64=v3 binary for the amd64 architecture.

### Describe alternativ