[2017-12-06 10:59] tisba commented on #425
hmm, I think I also tried `CGO_ENABLED=0`, but I'll give this another try and report back. Thanks!

[2017-12-07 10:06] caarlos0 commented on #351
/remind me this in 3 days

[2017-12-08 18:49] Southclaws commented on #387
I'm picking this up again after a busy few weeks 👍

Is there any nice way I can smoke-test this without actually triggering releases to a live repo? Like, see the generated files? I noticed there is `--skip-publish` but that completely removes things like brew from the process.

I have an open PR for this too: #427

[2017-12-08 19:31] caarlos0 commented on #387
@Southclaws `--snapshot` should do the job :)

[2017-12-08 19:31] caarlos0 commented on #387
or `--skip-validate --skip-publish``

[2017-12-08 19:37] Southclaws commented on #387
Thanks!

It's going well so far, it's generating builds! 🎉

https://github.com/Southclaws/scoops/commits/master/sampctl.json?author=goreleaserbot

[2017-12-08 22:37] caarlos0 opened #455 "Redesign context package"
Right now, our `context` package is bloated and is complex. It is starting to "poison" other portions of the code because it was not very well thought.

The most critical part is the `binaries`, `artifacts`, `dockers`, `brews` and etc part.

Most of the packages code is to deal with those things.

- Binaries are supposed to be the artifacts built by `go build`.
- Artifacts is supposed to be anythi

[2017-12-08 22:41] magiconair commented on #455
An artifact can also just be the binary, e.g. `goreleaser_linux_amd64` and you need to take into account that allowing env vars in name templates make the artifact names less predictable since they depend on external variables. (go version in the binary name). This can have implications for downstream pipelines like docker which depend on previously built artifacts.

The other downstream issue are

[2017-12-08 23:49] #441 closed

[2017-12-08 23:58] caarlos0 commented on #419
I don't have any use case for this, but some people might.

I can agree to this if we can output the actual config file to the dist folder as well - this should help the user to understand what's happening.

Maybe an option to upload the file to the release as well (since it kind of represents the release)?

@aidenkeating I'll work on writing the config file to the dist folder (this should be pain

[2017-12-09 00:00] caarlos0 commented on #419
Oh, one more thing I just remembered: `helm`, for example, allows those overrides with `--set` flag:

[code]

maybe we can use the same approach? I think it is easier to write than the actual JSON - and we get to keep only the yaml format for config...

[2017-12-10 02:43] aidenkeating commented on #419
@caarlos0 Thanks for the feedback. The `--set` approach makes sense to me. I'll get a PR up over the next few days.

[2017-12-10 12:40] caarlos0 commented on #419
nice, I'm already working on the writing the effective config file on #457

[2017-12-10 12:52] caarlos0 commented on #351
yeah, this still need hacks around rvm and such... I'm rather keep doing it the old way as this might break in the future.

Let's hope for a fix on the travis side :)

[2017-12-10 16:45] caarlos0 commented on #344
Thanks to @andygrunwald , this can finally be closed 🎉

[2017-12-10 16:45] #344 closed

[2017-12-10 16:46] caarlos0 commented on #432
@gedw99 understood.

well, feel free to open a PR adding it to the docs if you want to :) other user would probably appreciate :P

Since there is nothing I can do here, I'll close the issue. Feel free to reopen if needed.

[2017-12-10 16:46] #432 closed

[2017-12-10 16:47] caarlos0 commented on #425
I'll close this for now. Let me know if you need more help!

cheers

[2017-12-10 16:47] #425 closed

[2017-12-11 15:59] evilsocket opened #459 "Conditional build flags or per-build hooks."
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

For a [project of mine](https://github.com/evilsocket/arc), I need to override the `CC` variable with `arm-linux-gnueabi-gcc` but *only* when `GOARCH ' is `arm` (otherwise it'd override the C

[2017-12-11 17:16] caarlos0 commented on #459
Hi, I think you can hack around this with multiple builds:

[code]

let me know how that work out for you :)

[2017-12-11 17:20] evilsocket commented on #459
wow I did not think about that :D will check it asap and let you know :D

[2017-12-11 17:26] evilsocket commented on #459
btw, even if this hack works, do we agree that the point of using a tool like goreleaser is exactly to avoid such type of redundancy, don't we? :P

Also, think about conditional ldflags per OS ( on windows you might want to link against some libraries which do not exist on other operating systems ) ... I believe you'll need to implement it at some point ;)

[2017-12-11 17:32] caarlos0 commented on #459
indeed, but probably only on v2.

I'm trying to make it stable enough to be a solid 1.0.0 at some point :)

For v2 I can change the config format and etc more freely then :P

[2017-12-11 17:33] caarlos0 commented on #459
also I'm not sure how to make this conditional without repeating things... at some point you'll have to say which variables are for which builds...

the current way allows more robust configurations I think...

[2017-12-11 17:35] evilsocket commented on #459
Make it hierarchical, as it should be, like (just brainstorming here):

[code]

m2c

[2017-12-11 17:38] caarlos0 commented on #459
yeah, makes sense... well, for v2 I'll think about it =D

[2017-12-11 17:38] caarlos0 commented on #459
BTW: did my suggestion work on your case?

[2017-12-11 17:38] evilsocket commented on #459
testing it right now, will update asap

[2017-12-11 17:44] evilsocket commented on #459
like a charm, if we ever meet remember i owe you a beer 👍

![itworked](https://user-images.githubusercontent.com/86922/33845306-4da0bf78-dea3-11e7-9f40-8be266360b33.png)

[2017-12-11 17:45] caarlos0 commented on #459
Sweet!

Thanks for reporting the issue =D

[2017-12-12 11:25] caarlos0 commented on #455
so, the build pipe builds the binaries.

i think that after that all other things are artifacts - including the binaries when archive mode is binary. In that case, the archive pipe adds the binaries as artifacts as well (like what happens today).

so we may still have two types of things here:

- *build artifacts*: what came out from the build pipe
- *upload artifacts*: everything else

[2017-12-13 03:11] #290 closed

[2017-12-13 09:59] caarlos0 commented on #350
not stale 📦

[2017-12-13 10:00] caarlos0 commented on #270
not stale

[2017-12-15 11:02] leandro-lugaresi opened #461 "Docker alias for major and minor versions"
When we use semantic versions and create docker images we end up with versions like this:
- v1.2.4, v1.2.5
- v1.3.1
- v2.2.1
In some cases, people will not like to use the latest version and will get a specific version but this will be a patch version like v1.2.4.
I would like to set alias for just the major and minor, and every time I make a new tag these tags are updated to the newest image
exam

[2017-12-15 19:09] andygrunwald commented on #455
I think it would be quite useful to store information like Platform, OS, Arch and Arm as separate fields in the context per artifact.
In this way the pipelines can use this to offer more possibilities to use templates in configurations and enable custom behaviour.

E.g. the Artifactory pipeline can benefit from it.

[2017-12-16 19:51] #166 closed

[2017-12-17 20:05] caarlos0 opened #464 "standarize goos, goarch, goarm and other env names"
There are several functions and fields named `Goos`, `goos` or just plain `OS`, while they all refer to the `GOOS` environment variable.

As @magiconair pointed out in the comment refer bellow, we should refactor them in one way only, possibly using `GOOS` (all caps) to make it clear that it refers to the `GOOS` env.

 https://github.com/goreleaser/goreleaser/pull/463#issuecomment-352275442

[2017-12-17 23:41] caarlos0 commented on #409
Something like:

[code]

[2017-12-17 23:59] caarlos0 commented on #446
@jorinvo hello 👋 can you give me permissions on gitcop? I can't edit anything..

I would like to remove the need of a commit body... it is extremely annoying while doing big refactories.

Also the bot is commenting 2 times for every commit...

[2017-12-18 00:00] caarlos0 commented on #446
oh: it was because the webhook was duplicated... just removed one... should be ok now...

[2017-12-18 01:14] caarlos0 opened #466 "document how to run the sign pipe tests locally"
running it locally I got errors, as pointed out here -> https://github.com/goreleaser/goreleaser/pull/463#issuecomment-352288085

maybe @magiconair can help on that?

PS: CI passes as expected.

[2017-12-18 01:17] caarlos0 opened #467 "where Env is accepted, break if the env is empty"
Right now there are already some places where the user can inform things like `.Env.FOO` on a template.

Problem is that if that variable is not available, the user might get things like `<no value>` somewhere but the process itself don't fail.

[2017-12-18 01:20] caarlos0 opened #468 "environment variables and secrets"
right now any env is accepted, meaning that the user can expose values he doesn't want to.

I think the right thing to do is to have a whitelist of envs accepted... maybe even inferred from `.Env.FOO` statements...

[2017-12-18 01:20] caarlos0 commented on #468
maybe this isn't even worth it BTW

[2017-12-18 01:40] caarlos0 opened #469 "custom name templates for fpm packages"
we should allow it probably!

[2017-12-18 01:40] caarlos0 opened #470 "custom name templates for snap packages"
we should probably allow this as well.

[2017-12-18 05:55] jorinvo commented on #446
@caarlos0 I disabled the required body.

The Gitcop interface seems super basic. Can't see any way to add multiple people. If you like, you can setup a new account and I remove mine. But adding two people doesn't seem to work unfortunately :/

[2017-12-18 05:58] jorinvo commented on #446
Can also setup commitlint of course. Can see if it does everything we want. Then we can remove Gitcop all together. For me it doesn't really matter since they seem to just do their job, both of them :D

[2017-12-18 07:01] magiconair commented on #466
This works for me. I can have a look.

[2017-12-18 08:11] magiconair commented on #468
I don't see the attack vector. The user still has to control the `.goreleaser.yml` file and the signing key and there are env vars outside goreleaser which drive the build.

[2017-12-18 10:33] caarlos0 commented on #468
yeah, I think I was just needing to sleep...

closing

[2017-12-18 10:33] #468 closed

[2017-12-18 10:34] caarlos0 commented on #446
thanks @jorinvo, commitlint is not configurable yet :/

when they do that, I'll be glad to make the migration, since we can then have the config as code =)

[2017-12-18 11:27] caarlos0 opened #471 "should we make context cancelable or with timeout?"
maybe it's worth taking a look on it... like, what happens when I hit ctrl+c? Maybe we should cancel the ctx first...

idk just throwing thoughts here so I don't forget

[2017-12-18 21:36] automaticgiant opened #472 "enterprise broken?"
### Prerequisites

* [x] Are you running the latest version? (39)
* [x] Did you perform a search to see if this problem was already reported?

### Description

enterprise support seems broken.

### Environment

* homebrew, freshly tapped
* `Darwin f45c89bd73ab 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64`

### Steps to Reproduce

`

[2017-12-18 22:37] caarlos0 commented on #472
Hi @automaticgiant

How dows your `goreleaser.yml` file looks like?

this `creating or updating release repo=git@github.redacted:automaticgiant/c1cacert ` log doesn't seem right...

[2017-12-18 22:39] #455 closed

[2017-12-19 22:30] caarlos0 commented on #469
does FPM need replacements like archive does?

[2017-12-19 22:31] caarlos0 commented on #316
dupe #469

[2017-12-19 22:31] #316 closed

[2017-12-19 22:32] caarlos0 commented on #470
does Snapcraft need replacements like archive does?

cc/ @elopio

[2017-12-19 22:33] caarlos0 commented on #332
ref #470 #469

maybe worth refactoring this to also support other pipes?

[2017-12-20 03:03] Southclaws opened #476 "Recent update resulted in release asset names changing"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

The app name seems to have been removed from all the assets on the latest release:

![image](https://user-images.githubusercontent.com/1636971/34189169-2a4deb78-e532-11e7-8f56-ea6c5c56b1fa.png

[2017-12-20 10:59] caarlos0 commented on #476
hi @Southclaws, any chance you are using the long-deprecated `{{ .Binary }}` in your archive name_template?

[2017-12-20 11:01] caarlos0 commented on #476
either way, I'll make it work again for now..

it never really printed anything saying "Hey I'm deprecated", so...

[2017-12-20 11:19] todo[bot] opened #478 "name template: refactor"
https://github.com/goreleaser/goreleaser/blob/d0f29c48367b1bd4a9bfbe575dc30118813ff585/internal/nametemplate/name.go#L16-L21

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in d0f29c48367b1bd4a9bfbe575dc30118813ff585. It's been assigned to @caarlos0 because they committed the code.

[2017-12-20 11:19] todo[bot] opened #479 "finally remove .Binary from the supported fields?"
https://github.com/goreleaser/goreleaser/blob/d0f29c48367b1bd4a9bfbe575dc30118813ff585/internal/nametemplate/name.go#L36-L41

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in d0f29c48367b1bd4a9bfbe575dc30118813ff585. It's been assigned to @caarlos0 because they committed the code.

[2017-12-20 11:21] caarlos0 commented on #479
it's hard because people don't look at the deprecations :(

[2017-12-20 11:29] Southclaws commented on #476
Ah, I didn't know it was deprecated, I copied it from the readme a while ago. Thanks for the update!

[2017-12-20 11:29] #476 closed

[2017-12-20 11:33] caarlos0 commented on #476
NP, I'll re-add it for now anyway... just in case.

[2017-12-20 12:31] todo[bot] opened #481 "this should be refactored alongside with other name template related todos"
https://github.com/goreleaser/goreleaser/blob/f210a28ff92724259aa7a5d78e9fddc357f5f5ed/internal/nametemplate/name.go#L16-L21

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in f210a28ff92724259aa7a5d78e9fddc357f5f5ed in #480. cc @caarlos0.

[2017-12-20 12:31] todo[bot] opened #482 "deprecated, remove soon"
https://github.com/goreleaser/goreleaser/blob/f210a28ff92724259aa7a5d78e9fddc357f5f5ed/internal/nametemplate/name.go#L36-L41

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in f210a28ff92724259aa7a5d78e9fddc357f5f5ed in #480. cc @caarlos0.

[2017-12-20 12:32] caarlos0 commented on #482
dupe #479

[2017-12-20 12:32] #482 closed

[2017-12-20 12:33] caarlos0 commented on #481
dupe #478

[2017-12-20 12:33] #481 closed

[2017-12-26 01:27] todo[bot] opened #485 "this could be done lazily and the real job could be done in the"
https://github.com/goreleaser/goreleaser/blob/32ca896a244e9182c338390fa88edb42ae8b49d1/internal/artifact/artifact.go#L144-L149

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 32ca896a244e9182c338390fa88edb42ae8b49d1. It's been assigned to @caarlos0 because they committed the code.

[2017-12-26 01:30] todo[bot] opened #486 "are the rest of the params relevant here?"
https://github.com/goreleaser/goreleaser/blob/d96d321c7909fdb4a25363e7426e12ccc4677d8c/pipeline/docker/docker.go#L232-L235

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in d96d321c7909fdb4a25363e7426e12ccc4677d8c. It's been assigned to @caarlos0 because they committed the code.

[2017-12-26 01:47] #485 closed

[2017-12-27 00:16] todo[bot] opened #490 "could probably pass artifact.Goarch here"
https://github.com/goreleaser/goreleaser/blob/a7a290fb63b57e280b1622d908c0dbf02614177f/pipeline/fpm/fpm.go#L67-L72

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in a7a290fb63b57e280b1622d908c0dbf02614177f. It's been assigned to @caarlos0 because they committed the code.

[2017-12-27 00:16] todo[bot] opened #491 "should add template support here probably... for now, let's use archive's templa..."
https://github.com/goreleaser/goreleaser/blob/a7a290fb63b57e280b1622d908c0dbf02614177f/pipeline/fpm/fpm.go#L81-L86

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in a7a290fb63b57e280b1622d908c0dbf02614177f. It's been assigned to @caarlos0 because they committed the code.

[2017-12-27 11:56] #409 closed

[2017-12-27 11:56] todo[bot] opened #493 "remove this when fpm have its own name template"
https://github.com/goreleaser/goreleaser/blob/ba68011b55ccd04284e4b835e224b6806f65a84e/pipeline/fpm/fpm_test.go#L47-L52

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in ba68011b55ccd04284e4b835e224b6806f65a84e in #492. cc @caarlos0.

[2017-12-27 12:22] #470 closed

[2017-12-27 12:22] #478 closed

[2017-12-27 12:22] #479 closed

[2017-12-27 12:22] #469 closed

[2017-12-27 12:22] #491 closed

[2017-12-27 12:22] #493 closed

[2017-12-29 16:58] caarlos0 opened #494 "docker: avoid infinite loops"
Check https://github.com/goreleaser/goreleaser/pull/484#issuecomment-354339579

[2017-12-29 17:07] #486 closed

[2017-12-29 17:10] #490 closed

[2017-12-30 00:54] caarlos0 commented on #314
hey @lrstanley, I tried the `--config-files` thing, but it seems buggy:

[code]

running this:

[code]

I always get this error:

[code]

the file exists though.

dunno what fpm is trying to do here...

[2017-12-30 01:01] lrstanley commented on #314
I believe https://github.com/jordansissel/fpm/issues/1440 (recently merged PR: https://github.com/jordansissel/fpm/pull/1443) may be related. Looks like it's specifically related to config files and **deb** files. Can you confirm if you're running the latest fpm version, and/or if it works with just **rpm**? Not sure exactly how the fpm folks handle fpm releases, in regards to their packages withi

[2017-12-30 12:00] caarlos0 commented on #314
@lrstanley yeah, the last release is from august, I think we'll have to wait for the new release...

[2018-01-01 20:20] andygrunwald opened #496 "Generalize this tool for multiple languages"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you perform a search to see if this problem was already reported?

### Description

This tool is great and is a big help for everyone who writes golang apps. It automates an important task and enables everyone to ship early, ship often.

The basic idea of this issue is to **discuss** to generalize this tool for multiple languag

[2018-01-02 19:37] #471 closed

[2018-01-02 21:01] #467 closed

[2018-01-04 21:05] hacdias opened #498 "Ignore Git Status"
Hello!

Is there a way to ignore git "dirtiness"? Here is my script:

[code]

I'd like to remove the "shut up goreleaser" part.

[2018-01-05 02:45] caarlos0 commented on #498
The most right way is to add those generated files to .gitignore probably.

[2018-01-06 10:08] #498 closed

[2018-01-06 10:09] hacdias commented on #498
Unfortunately I can't add that file to `.gitignore`. I'll keep doing the releasing process as I used to do. 😄 Still we Goreleaser but not the way I pictured it.

[2018-01-06 13:48] wxio opened #499 "Ensure tag has been pushed to github"
I've just started playing with goreleaser and managed to push a release to github, but I hadn't pushed the tag to origin. The source zip is therefore out of sync with the release as there were missing commits.

Is this a valid feature request?
i.e. the validation should (optionally) check that the github has the tag and commit being built.

Or is there something about git I am misunderstanding.

[2018-01-06 20:49] caarlos0 commented on #499
I remember that there was some discussion about this some time ago... I think the problem is to do this with sane defaults... like.. what should we do if there are multiple remotes and the tag is pushed to just one of them?

Not saying we shouldn't do this... just that I don't know the best way to do it...

[2018-01-07 11:31] millergarym commented on #499
I think that In the context of a github release there are some sane default.
That is the source and the release both refer to the same repository.
Github automatically creates a zip and tar of the source related to the release (I assume the source archive is at the same tag). Now if the commit haven't yet been pushed that source archive can't match.  The release change log shows this inconsistency

[2018-01-09 08:26] embano1 commented on #499
Good discussion. Having the same mixed feelings here.

@caarlos0 wrt multiple remotes
IIRC, .goreleaser.yaml only accepts one destination repo. So one could check whether remote and src repo (branch) are in sync (i.e. no diff). May be make it a default flag, where one can opt out.

Just brainstorming here...

[2018-01-09 18:01] caarlos0 opened #500 "dependency on external tools"
Right now, we depend on several things:

- git
- fpm (so also ruby and friends)
- snapcraft
- docker

Two of these bother me:

- fpm (because it depends on ruby and a lot of other stuff)
- git (because different configs/versions can yell different outputs sometimes - and we had bugs like this before)

So, my idea is:

- give go-git another try (refs #311)
- re-implement deb and rpm packaging in go

[2018-01-09 21:05] caarlos0 opened #501 "brew: write formula to dist as well"
see https://github.com/ksonnet/ksonnet/issues/270#issuecomment-355862692

[2018-01-12 21:24] #501 closed

[2018-01-13 21:12] drgrib opened #504 "error=PUT https://api.github.com/repos/[user]/homebrew-tap/contents/[project].rb: 404 Not Found []"
I followed the instructions on the [main page](https://goreleaser.com/) and am getting this:

[code]

I'm confused because the documentation says all of these homebrew files will be generated for me but then the program errors out because I don't have them.

Here are the contents of my `goreleaser.yml` file:

[code]

[2018-01-13 22:22] drgrib commented on #504
Got it. Didn't know I had to create a `homebrew-tap` repo.

[2018-01-13 22:22] #504 closed

[2018-01-16 17:00] mattmoyer opened #505 "Support multiple Docker tags using the same Dockerfile"
### Describe the feature and how you think it should work.
I have multiple Docker images that use the same binary, but build on top of different upstream base images. For example, I can set these up easily with something like:
[code]

This will tag, for example:
 - `myrepo/myimage:v1.0.0-debian-stretch`
 - `myrepo/myimage:v1.0.0-debian-jessie`
 - `myrepo/myimage:v1.0.0-alpine-3.6`
 - `myrepo/myima

[2018-01-16 23:02] caarlos0 commented on #505
hey @matthewmueller

yeah, I think this makes sense...

it may also align with #461

will try to look into this the following days, I'm just coming back from vacations 🏖

[2018-01-17 01:43] wxio opened #506 "Colour (color) in windows cmd.exe - escape chars showing"
### Prerequisites
* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?
(sorry if this is a repeat, but if it is I didn't find it)

### Description

Color formatting not working in windows cmd.
Is possible change to
* github.com/robertgzr/color or
* github.com/mattn/go-colorable (used by robertgzr) or
* github.com/fatih/color

See exa

[2018-01-17 08:37] loa opened #507 "Enable Homebrew to download releases from private GitHub repo"
We plan using goreleaser + homebrew for handling new internal tools. We will be using a private homebrew tap and private repos for the tools on GitHub. Homebrew added the functionality to download release assets from private GitHub repos last year [Homebrew 1.2.0](https://brew.sh/2017/05/01/homebrew-1.2.0/).

Can we add an option to the brew provider to be able to support this?

Example options:
[

[2018-01-17 11:42] caarlos0 commented on #507
I like the more verbose because it won't require changes if the user wants other strategies...

[2018-01-17 11:43] caarlos0 commented on #506
I was looking into a good reason for using fatih/color besides the fact that the code looks better... seems like now I have one :)

[2018-01-17 11:43] caarlos0 commented on #506
/remind me this in 8 hours

[2018-01-17 11:43] caarlos0 commented on #507
/remind me this in 9 hours

[2018-01-17 19:48] caarlos0 commented on #506
oh, problem is bigger than expected... apex/log doesn't use fatih/color it seems...

will talk to @tj and see if he accepts a PR for that :)

[2018-01-17 21:24] #506 closed

[2018-01-17 21:29] caarlos0 commented on #506
@wxio fixed to use fatih/color. Can you check the latest version, please?

[2018-01-17 21:30] caarlos0 commented on #506
also thanks @tj for the quick accept on apex/log :)

[2018-01-17 21:45] #507 closed

[2018-01-18 01:52] caarlos0 commented on #297
maybe we could even keep godownloader, but for repos that don't use goreleaser only...

[2018-01-18 01:59] caarlos0 commented on #297
also we should mind that for example goreleaser script downloads and runs it instead of installing it, this should probably be an option somehow

[2018-01-18 02:16] caarlos0 commented on #505
yeah, the multiple tag_templates would also solve issue #461 if we had some more fields:

[code]

so I'll give this one priority and then will use the solution here to add close #461 🎉

[2018-01-18 06:59] loa commented on #507
Light speed! Thanks @caarlos0

[2018-01-18 10:36] caarlos0 commented on #507
np @loa :)

[2018-01-18 13:27] caarlos0 opened #510 "New logo"
I feel like goreleaser needs a new logo. The current gopher is cool but it doesn't remind anything related to what goreleaser does.

I suck at drawing and etc, but, maybe someone wants to contribute?

[2018-01-18 13:57] amihaiemil commented on #510
@caarlos0 if you are willing to pay, I can recommend someone. She made my avatar, for instance, and her style seems in the theme of go's logos :)

[2018-01-18 16:30] caarlos0 commented on #510
@amihaiemil hmm, it depends how much would it cost (BRL is worth nothing idk)

[2018-01-18 16:37] caarlos0 commented on #510
I'm setting up an opencollective, maybe people donate and then I can use that money to pay for those things 😄

https://opencollective.com/goreleaser/

[2018-01-18 19:43] caarlos0 commented on #505
@mattmoyer can you check if #512 does the thing for you?

[2018-01-18 20:23] caarlos0 commented on #510
My wife @carinebecker will try to design something again as well :D

[2018-01-18 23:40] #505 closed

[2018-01-18 23:41] caarlos0 commented on #505
well, merged =D

[2018-01-19 01:16] mattmoyer commented on #505
@caarlos0 sorry for the late reply, but this looks great! I'll give it a try ASAP.

[2018-01-19 01:38] caarlos0 commented on #505
I'll make a release

[2018-01-19 01:39] caarlos0 commented on #505
v0.44.0 will be the one ;)

[2018-01-19 02:02] caarlos0 commented on #505
done!

[2018-01-19 02:05] todo[bot] opened #513 "deprecate docker.tag_template in favor of docker.tag_templates"
https://github.com/goreleaser/goreleaser/blob/675e2ea211998c6970dc5cb8eaab13e80816a886/pipeline/docker/docker.go#L39-L44

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 675e2ea211998c6970dc5cb8eaab13e80816a886. It's been assigned to @caarlos0 because they committed the code.

[2018-01-19 02:05] todo[bot] opened #514 "deprecate docker.Latest in favor of multiple tags?"
https://github.com/goreleaser/goreleaser/blob/675e2ea211998c6970dc5cb8eaab13e80816a886/pipeline/docker/docker.go#L52-L57

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 675e2ea211998c6970dc5cb8eaab13e80816a886. It's been assigned to @caarlos0 because they committed the code.

[2018-01-19 02:07] caarlos0 commented on #461
@leandro-lugaresi can you check if #515 does the trick for you? Thankss

[2018-01-19 02:57] #513 closed

[2018-01-19 02:57] #514 closed

[2018-01-19 04:12] leandro-lugaresi commented on #461
Yes! That is what I was looking for!
:shipit:

[2018-01-19 20:04] caarlos0 commented on #510
I was thinking on something like a gopher riding a 🚀  or something like that...

[2018-01-19 20:30] amihaiemil commented on #510
And with a helmet on its head, you used to play american footbal, right?

[2018-01-19 20:51] caarlos0 commented on #510
that would be neat haha

[2018-01-20 01:28] deranjer opened #517 "Specify folder to include in tar.gz"
### Describe the feature and how you think it should work.

There might be an option for this but can't seem to find it anywhere.  I have a folder structure with a bunch of files that I want to bundle into my tar.gz file for release.  I could add all of them manually under "files:" but I was wondering if there was a way to add a folder there instead of all the files manually.

[2018-01-20 02:43] deranjer commented on #517
Nevermind, maybe if I read the documentation closer I would know how to add a folder with /*

[2018-01-20 02:43] #517 closed

[2018-01-20 02:58] deranjer commented on #517
Well, this doesn't work for a multiple folder structure, just for the files directly in that folder... might be something to add to the documentation.

[2018-01-20 13:49] caarlos0 commented on #517
hey @deranjer

yeah, that's it :D

maybe we can make the docs somewhat clearer about this?

[2018-01-20 20:19] andygrunwald commented on #496
Tonight i started working on this with @mre and @timglabisch.
We got a quick and hacky version running. The goreleaser version in https://github.com/andygrunwald/goreleaser/tree/multiple-languages-496 is able to compile and ship rust.

A quick hello world app was released here: https://github.com/andygrunwald/rust-hello/releases
(excuse my commits).

We will keep you up to date to on the results o

[2018-01-20 20:39] mre commented on #496
To make usage even easier for Rust, we created a simple [proof-of-concept cargo command](https://github.com/mre/cargo-ship) for it. Now you can simply call `cargo ship` and it will use goreleaser in the background.

[2018-01-20 23:07] andygrunwald commented on #496
I developed a short prototype in #520 for Rust. Far from perfect or good, but a first try.
Feedback welcome @caarlos0

[2018-01-21 03:59] nicerobot opened #521 "zip archive doesn't preserve executable flag"
### Prerequisites

* [x] Are you running the latest version?

      goreleaser version 0.45.0, commit fcbdaf32c8ee377c2ae8c4c4dae8e7309a7c3ba0, built at 2018-01-19T10:42:08Z

* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

Using:

      archive:
        format: zip

The zip doesn't preserve the execu

[2018-01-21 14:58] caarlos0 commented on #521
found another bug: files were being duplicated inside the zip file... will fix it in a moment

[2018-01-21 15:27] caarlos0 commented on #521
@nicerobot should be good now, thanks for reportign!

[2018-01-21 22:07] todo[bot] opened #523 "check if we can use UnmarshalStrict instead of the manual checkOverflow"
https://github.com/goreleaser/goreleaser/blob/4c33e488ba634c5bdf499e959364e8e265083e77/config/config.go#L294-L299

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 4c33e488ba634c5bdf499e959364e8e265083e77. It's been assigned to @caarlos0 because they committed the code.

[2018-01-24 11:54] caarlos0 opened #525 "goreleaser init looks funky"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

goreleaser init shows defaults pipe logs which doesnt make much sense in the init phase

### Environment

Please paste the output of:

* `go version`
* `uname -a`
* `goreleaser --debug`

### S

[2018-01-24 11:59] caarlos0 opened #526 "snapshoting with no tags"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

when doing a snapshot release if there are no tags the user might get an error like this:

[code]

probably we should set a `v0.0.0` or something.

### Environment

Please paste the output of:

[2018-01-26 00:11] lrstanley opened #527 "github dep causes go-get to fail"
With master, it looks as though goreleaser is no longer `go get`'able.

[code]

Full output: http://dropb.in/t/kinreh

Looks like this may be due to upstream commit https://github.com/google/go-github/commit/e48060a28fac52d0f1cb758bc8b87c07bac4a87d

[2018-01-26 02:56] zcong1993 commented on #527
seems to me

[2018-01-26 11:37] #527 closed

[2018-01-26 11:56] caarlos0 commented on #527
hey 👋

should be good now, thanks for reporting.

ps: you shouldn't use the master to release your projects, as the master can be broken at times... use the release binaries 🍻

[2018-01-27 13:50] daenney opened #529 "Getting Invalid object name 'warning' when attempting to release"
### Prerequisites

* [X] Are you running the latest version?

I ran a `go install` just prior to issuing the command.

* [X] Did you perform a search to see if this problem was already reported?

All reports referencing "warning" do not seem to match this issue and nothing is matching the whole "Invalid object name 'warning'" message.

### Description

When attempting to release I get:

[code]
Add

[2018-01-27 14:14] daenney commented on #529
I tried fetching the latest release, blowing away `.goreleaser.yml`, running a `goreleaser init` and then a `goreleaser --skip-publish --skip-validate` and I'm still getting the same error.

[2018-01-27 17:51] caarlos0 commented on #529
hmm, seems like something gets parsed wrong from your git repo... I'll push the release v0.45.4 with more logs on the git parts, can you try to run that release with `--debug` and paste the output here?

Thanks for reporting, btw :)

[2018-01-27 19:55] pcarranza opened #530 "Support multi-platform docker images"
I would like go-releaser to support releasing [multi-platform docker images](https://blog.docker.com/2017/09/docker-official-images-now-multi-platform/) using something like https://github.com/estesp/manifest-tool

This way, if the project is being built for multiple platforms, we will only use a single docker repository.

[2018-01-28 00:40] caarlos0 commented on #530
To be honest I don't know this docker feature very well, so I'll have to study and see if/how it fits :)

but thanks for suggesting it anyway =D

[2018-01-28 00:40] caarlos0 commented on #523
fixed on #528

[2018-01-28 00:40] #523 closed

[2018-01-28 00:44] daenney commented on #529
Nice, now we're getting somewhere:

[code]

[2018-01-28 02:28] caarlos0 commented on #529
Hmm, can you also paste the output of git tag here?

Or if the repository is public, just point me out to it and I’ll invesgate as well :)

[2018-01-28 11:35] daenney commented on #529
Here you go: https://github.com/hemtjanst/hemtjanst.

[code]

I think I might've accidentally created a light weight tag the first time around and then annotated it or something to try and fix it, causing the issue.

[2018-01-28 13:50] caarlos0 commented on #529
yeah, that seems to be it... this `show` tag... either way, goreleaser should not break because of that...

[2018-01-28 14:42] caarlos0 commented on #529
should be good on v0.45.5

[2018-01-28 14:42] #529 closed

[2018-01-28 15:05] pcarranza commented on #530
Hah, neither do I XD

I have to investigate it myself, next month I can yield out what the results of my investigations are as I am already building lots of ARM docker images myself for multiple things, so it would be neat to just have goreleaser dealing with it all automagically, we already have the binaries built anyway.

[2018-01-28 20:06] #496 closed

[2018-01-29 04:22] millergarym commented on #499
@caarlos0 we already have a GIT TOKEN else it wouldn't be possible to create a release. It might be that the token needs different access right, but this isn't a big issue.

@embano1 isn't it enough to check that the head hashs are the same?

[2018-01-29 11:28] caarlos0 commented on #499
yeah, but the user might not be using github...

[2018-01-29 13:27] julienduchesne opened #532 "Archives are being not compressed anymore"
We have some packages that went from 14MB to 70MB
Fixed by https://github.com/goreleaser/archive/pull/1

[2018-01-29 13:32] #532 closed

[2018-01-29 13:32] caarlos0 commented on #532
hey @julienduchesne

sorry for the trouble, should be fixed on the next release (which I'll release now)

[2018-01-29 13:33] julienduchesne commented on #532
No problem! Thanks for the quick response.

[2018-01-29 19:08] gcstang opened #533 "Where do builds happen?"
Are the builds happening on servers somewhere else?
I apologize if I missed this part but thank you for any information.

[2018-01-29 19:22] caarlos0 commented on #533
it happens wherever your run goreleaser.

so if you run on travis, it will build on travis.

if run locally, it will build locally.

hope that clarifies that for you :D

[2018-01-29 19:22] #533 closed

[2018-01-30 16:05] jaxxstorm opened #534 "Ability to skip build sections"
Currently with goreleaser, I have a configuration file which uses fpm and rpmbuild which is a pain to use on OS X.

It'd be nice if I could do something like `goreleaser --snapshot --skip-publish --rm-dist --no-fpm` which would do everything EXCEPT the rpm portion

[2018-01-30 16:30] caarlos0 commented on #534
so, basically, skip entire sections?

I'll think about it.

Anyway, the idea is to re-implement the fpm pipe without using fpm - yeah, native go impl.

Unfortunately, probably rpmbuild will still be required, but I don't find it to be a pain to use in macos, I just `brew install rpmbuild` and it works as expected... can you clarify what problems you are experiencing?

thankss

[2018-01-30 22:09] daenney commented on #529
Awesome. Thanks so much for the quick replies and fix!

[2018-01-31 02:06] caarlos0 commented on #529
thanks for reporting the issue =D

[2018-02-01 00:55] elyscape opened #535 "Support for reading GitHub token from a file"
Creating a GitHub release currently requires the `GITHUB_TOKEN` environment variable to be set. This is great for CI environments, but less so on a development machine; it means that I either need to set `GITHUB_TOKEN` in my shell profile, in which case it's trivially exposed to every process I run, or use some external system like [direnv] to load it on-demand. By contrast, GitHub's hub tool [sto

[2018-02-01 11:51] caarlos0 commented on #535
I think this is a valid feature!

Thanks for the suggestion!

[2018-02-01 14:32] andygrunwald commented on #266
Comment to prevent that the stale bot closes this. I still think this is useful.

[2018-02-01 14:32] andygrunwald commented on #110
Comment to prevent that the stale bot closes this. I still think this is useful.

[2018-02-02 09:33] tombh commented on #333
I'm using `go get -u github.com/goreleaser/goreleaser`, which I assume pulls master? But I just got this same error as described in this thread: https://travis-ci.org/tombh/texttop/builds/336471125

[2018-02-02 11:35] caarlos0 commented on #333
hey @tombh

the error is actually different as it seems, but is also related to tar.

[code]

I'm working on stop using fpm for those reasons. I already have a native impl of deb but I still need to implement RPM before I can replace fpm entirely.

For now, I think you can check if [fpm issues on tar](https://github.com/jordansissel/fpm/search?q=tar&type=Issues&utf8=%E2%9C%93), there are lots of t

[2018-02-02 22:09] nicerobot opened #538 "Template-process the builds.binary string"
### Describe the feature and how you think it should work.

I'd like to be able to create binaries that include template variables. e.g.

    builds:
      -
        binary: drum-roll_v{{.Version}}-{{.Commit}}

[2018-02-03 02:20] caarlos0 commented on #535
@elyscape can I have your thoughts on #539?

[2018-02-03 04:56] tombh commented on #333
Oh sorry I didn't look closely enough. Woah, fpm has a lot of open tar issues! Ok, I'll wait, thank you :)

[2018-02-04 00:35] alecthomas opened #540 "Binaries that use import path checking cannot be installed"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

Because the `main` key in `.goreleaser.yml` requires a relative path it seems to be impossible to install binaries with [import path checking](https://golang.org/pkg/cmd/go/#hdr-Import_path_ch

[2018-02-04 10:48] probonopd commented on #338
Hi @caarlos0 at the moment I don't have neither the knowledge about Go nor the time to do everything on my own, but I am happy to help if someone works on this and gets stuck on the AppImage-specific aspects.

[2018-02-04 17:38] caarlos0 commented on #338
Hi @probonopd, me neither, but if anyone wants to do this I'm happy to help :)

[2018-02-06 22:48] adeesent commented on #110
Totally agree!

[2018-02-07 21:16] #428 closed

[2018-02-08 11:58] #368 closed

[2018-02-09 12:03] #535 closed

[2018-02-10 11:34] pcarranza commented on #530
@caarlos0 I did some digging, the way this docker feature works is by grouping all the images in one manifest, so there is a single _docker image_ that is grouping them all an providing different archs and/or features, then docker itself picks what it needs.

It is still necessary to push different images, one for each arch, this can be done in the same repo or in different repos, meaning that you

[2018-02-11 04:34] #131 closed

[2018-02-11 04:34] #281 closed

[2018-02-11 04:34] #278 closed

[2018-02-11 14:00] caarlos0 commented on #281
if anyone need is, reopen :)

[2018-02-12 20:37] todo[bot] opened #549 "Make this default global"
https://github.com/goreleaser/goreleaser/blob/b914f08301e4380d3b92b396c5aa8a0facef7147/pipeline/scoop/scoop.go#L104-L109

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in b914f08301e4380d3b92b396c5aa8a0facef7147. It's been assigned to @caarlos0 because they committed the code.

[2018-02-12 22:35] caarlos0 commented on #540
heey @alecthomas

sorry for the late response!

I first thought this was an issue with the code that checks if the file has a `main` func, but seems like that's not the case.

[code]

apparently `go build` itself is failing.

I tried it myself (removing all flags basically) in gometalinter's source tree:

[code]

and the same error occurred.

Looking further, it seems that what's missing is the GO

[2018-02-12 22:41] caarlos0 commented on #540
did a single change:

[code]

and ran:

[code]

and it worked as expected...

[2018-02-12 23:20] alecthomas commented on #540
The GOPATH for gometalinter has two entries: eg. `/Users/aat/.go:/Users/aat/Projects/gometalinter/_linters`. I do this in the `.travis.yml` because there is currently no way to change the `GOPATH` based on environment variables outside `goreleaser`. It looks like `go build` does not like this:

[code]

 However! It looks like #550 will actually solve all of my problems, and is exactly what I've be

[2018-02-12 23:24] caarlos0 commented on #540
neaat!

let me know if you need anything else =D

[2018-02-13 18:12] caarlos0 commented on #540
will close this for now, let me know if there is still some work to do @alecthomas !

[2018-02-13 18:12] #540 closed

[2018-02-13 18:13] caarlos0 commented on #472
closing due to lack of info and inactivity

[2018-02-13 18:13] caarlos0 commented on #387
this is done!

thanks @Southclaws !

[2018-02-13 18:13] #387 closed

[2018-02-13 18:15] caarlos0 commented on #534
may ref to #543

[2018-02-14 12:43] Lngramos opened #552 "Artifactory not uploading all archive types"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

Archives created by the `fpm` pipeline aren't being pushed to Artifactory, only those created by the `archive` pipeline are.

I can only confirm that this is the case with deb formats in parti

[2018-02-14 13:13] todo[bot] opened #553 "improve all tests bellow by checking wether the mocked handlers"
https://github.com/goreleaser/goreleaser/blob/b086a3d49ab19b8e3666d69600387f6532289a1e/pipeline/artifactory/artifactory_test.go#L50-L55

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in b086a3d49ab19b8e3666d69600387f6532289a1e. It's been assigned to @caarlos0 because they committed the code.

[2018-02-14 13:25] #552 closed

[2018-02-15 01:25] caarlos0 commented on #538
@nicerobot like #544 ?

[2018-02-15 01:49] #525 closed

[2018-02-15 01:49] caarlos0 commented on #434
this is probably not needed, I think

[2018-02-15 01:49] #434 closed

[2018-02-15 02:34] #549 closed

[2018-02-15 06:15] #538 closed

[2018-02-15 11:41] caarlos0 commented on #538
releasing v0.50.0

[2018-02-15 15:00] #351 closed

[2018-02-15 15:00] #419 closed

[2018-02-15 15:37] basgys opened #557 "Add a flag to override Github release artefacts"
Using `goreleaser --skip-validate` allows to have rolling releases and publish a new binary or docker container under the last tag version. However, when `goreleaser` attempts to publish the artefacts on Github, it throws this error:

[code]

Whether it is a good idea or not to override an existing release is debatable, but for people who have rolling releases it would be really useful. Or perhaps

[2018-02-16 02:18] caarlos0 commented on #464
not stale

[2018-02-16 11:02] caarlos0 commented on #446
not stale

[2018-02-17 14:16] caarlos0 commented on #500
fpm dependency is being replaced -> https://github.com/goreleaser/goreleaser/pull/543

[2018-02-17 16:10] todo[bot] opened #562 "add config_files to nfpm settings"
https://github.com/goreleaser/goreleaser/blob/1f8300ae3173900af701c5d7bc9b03f8f882c19d/pipeline/nfpm/nfpm.go#L107-L112

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 1f8300ae3173900af701c5d7bc9b03f8f882c19d. It's been assigned to @caarlos0 because they committed the code.

[2018-02-17 20:16] todo[bot] opened #565 ".*|SkipNow|nolint:.*' ."
undefined

---

https://github.com/goreleaser/goreleaser/blob/181258db55b125726a4dd6851ec677ae7f65b3fc/Makefile#L79-L84

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 181258db55b125726a4dd6851ec677ae7f65b3fc. It's been assigned to @caarlos0 because they committed the code.

[2018-02-17 20:17] #565 closed

[2018-02-17 20:18] caarlos0 commented on #565
this thing is driving me nuts

[2018-02-17 20:19] caarlos0 commented on #562
refs #314

[2018-02-17 21:30] #314 closed

[2018-02-17 21:31] caarlos0 commented on #526
wrong ref

[2018-02-17 21:31] caarlos0 commented on #562
fixed on #566

[2018-02-17 21:31] #562 closed

[2018-02-17 22:00] lrstanley commented on #314
@caarlos0 Waa! Didn't know you started working on nfpm. THIS MAKES ME SO HAPPY. fpm is a huge pain to work with, and have installed on my system. I always wanted to work on an alternative, but always put it on the backburner because the lack of familiarity with how deb/rpm packaging works internally.

:+1:

[2018-02-17 22:05] caarlos0 commented on #314
yeah, same thing for me... turns out it was not so hard after all.. besides rpm, of course, it still depends on rpmbuild unfortunately...

[2018-02-18 13:43] suntong commented on #332
ok

[2018-02-19 12:12] caarlos0 commented on #530
hey @pcarranza, I haven't look into this yet.

Seems to me that the `manifest-tool push` is already covered by goreleaser in some way...

I was looking into [this](http://callistaenterprise.se/blogg/teknik/2017/12/28/multi-platform-docker-images/), and seems to me that the only thing missing is to create and push the manifest list...

Not sure yet how's the best way of doing that though

[2018-02-19 15:16] pcarranza commented on #530
@caarlos0 I think you're right, all the pieces are in the docker pipeline, particularly in the [publish](https://github.com/goreleaser/goreleaser/blob/master/pipeline/docker/docker.go#L202-L205) function is where we could be getting things in.

I only wonder (from my complete lack of knowledge) if we can build the manifest here or if we should be building it way before in [process](https://github.

[2018-02-19 15:26] pcarranza commented on #530
No, wait, after pushing we have a set of docker images in the context, we could simply add another pipeline after docker that will get all these images and build the manifest to then invoke the `manifest-tool` all the data is available right there.

[2018-02-20 12:12] caarlos0 commented on #557
I think that in this case `skip-validate` behavior is wrong, actually.

It should not be possible to override the release artifacts, that's the whole point of having a tag and all that.

I'll look into this later today.

/remind me check this issue in 8 hours

[2018-02-20 12:36] pcarranza commented on #530
Ok, I did some testing, and this is actually quite nice

[code]

This means that it's relatively easy to build a manifest and push the multi-arch docker image.

I'll do some testing without using a manifest and only use the command line.

A thing to consider, the manifest tool changes name when running on OSX or Linux, and, OSX requires to set the `--username` and `--password` flags (not on Linux)

[2018-02-20 12:49] basgys commented on #557
@caarlos0 I agree, I also prefer releases to remain unchanged. Moreover, I think the name `skip-validate` does not reveal correctly the intention behind the command.

So maybe to put it differently, I would love to see two separate flows on goreleaser. One for tagged releases and another one for nightly builds/snapshots.

I am not sure whether this feature is out of the goreleaser scope though.

[2018-02-20 12:59] caarlos0 commented on #557
yes, I agree, this is rather confusing right now...

there is --skip-validate, --skip-publish and --snapshot, we should probably improve all thatx

[2018-02-20 14:40] caarlos0 opened #569 "improve the init command"
we should probably use an example file instead of fallback to all defaults, which gives us a bloated file with some required fields actually missing (nfpm pipe needs a description, for example).

[2018-02-20 16:42] pmichali opened #570 "Unable to posts to GitHub when using SSH"
### Prerequisites

* [ ] Are you running the latest version? Yes
* [ ] Did you perform a search to see if this problem was already reported? Yes

For more information, see the `CONTRIBUTING` guide.

### Description

When I tried to create a release, I got a post error indicating 404 not found.

### Environment

Please paste the output of:

* `go version`  go version go1.9.2 linux/amd64
* `uname -a

[2018-02-20 16:44] pmichali commented on #570
From slack Carlos suggested to add the following to the .goreleaser.yml file:
[code]
Doing this resolved the issue and the push worked.

[2018-02-20 17:02] caarlos0 commented on #570
hey @pmichali , thanks for opening the issue!

can you also paste the output of `git remote -v`?

I always use SSH and I can release just fine, eg:

[code]

[2018-02-20 17:06] pmichali opened #571 "Changelog output has git colorizing control characters"
### Prerequisites

* [ ] Are you running the latest version? Yes
* [ ] Did you perform a search to see if this problem was already reported? No, but looked through all of docs.

For more information, see the `CONTRIBUTING` guide.

### Description

When pushing up a release, goreleaser is including the "git log" info for the changelog info. By default, git has colorizing on, and this is seen in the

[2018-02-20 17:23] #571 closed

[2018-02-20 18:22] caarlos0 commented on #500
this one might be related as well: #570

[2018-02-20 18:53] pmichali commented on #570
[code]

Where github-k8s maps to a SSH config that sets the host, port, user, and SSH key file.

When I added the github lines to my .goreleaser.yml file (as mentioned in previous comment), the push worked fine.

[2018-02-20 18:55] pmichali commented on #570
Is it possible that the issue is because of the redirection done with the SSH host? I do that so multiple repos for different github projects with different SSH keys, can be supported.

[2018-02-20 19:00] caarlos0 commented on #570
yes, the problem is that goreleaser assumes github.com:user/repo.git

that could probably be improved though.

thanks for reporting this!

[2018-02-20 20:54] caarlos0 commented on #557
/remind me this issue in 26 hours

no time for this today :/

[2018-02-20 21:08] pcarranza commented on #530
Nop, we can't use `from-args` because https://github.com/estesp/manifest-tool/blob/4ec9baa80b47f791ca442c1d63e5eac310761fe3/push.go#L99

I can't declare the variant for ARM builds, which makes it a deal breaker.

We will need to build a yaml file with the images we have, and then call the manifest-tool.

This means we will need to add a configuration block in which we declare the image that will b

[2018-02-20 21:15] caarlos0 commented on #530
I'm not sure.

I actually not even sure if I want to depend on one more thing (manifest tool in this case).

[2018-02-20 21:21] #570 closed

[2018-02-20 21:22] caarlos0 commented on #570
fixed on latest!

thanks!

[2018-02-20 21:22] caarlos0 commented on #571
fixed on latest, thanks!

[2018-02-20 23:40] pcarranza commented on #530
would it make sense to bring in the tool code as a dependency instead, then?

[2018-02-21 13:46] caarlos0 commented on #530
dunno, can't we do it with plain docker?

[2018-02-21 16:07] pcarranza commented on #530
not really, it's not docker itself but the registry http API: https://github.com/estesp/manifest-tool/blob/master/docker/createml.go

that would be the code to use, but I'm not sure how much sense does it make to just pull the whole file in our just use it as a dependency.

[2018-02-23 12:32] caarlos0 commented on #466
I still need to have a look at this

[2018-02-24 20:36] caarlos0 commented on #557
check #575

[2018-02-24 21:05] caarlos0 commented on #557
snapshot now replaces --skip-validation and --skip-publish, so there is no way of doing the "skip validation and publish" thing anymore (it should never have been possible to do that to be honest).

closing!

[2018-02-24 21:05] #557 closed

[2018-02-24 21:06] caarlos0 commented on #534
if the problem was fpm, it is been replaced by nfpm, which will not had those issues hopefully.

closing due to lack of further info.

[2018-02-24 21:06] #534 closed

[2018-02-25 02:39] dnaka91 opened #578 "Support short Git commit hashes"
### Describe the feature and how you think it should work.

Currently the full length commit hash is used everywhere. For file names (if `--snapshot` is used) as well as during the build process for later use at runtime.

In general the short hash is enough to identify a commit and thus a user should be able to configure to optionally use the short commit hash instead:
[code]

I already prepared t

[2018-02-25 21:50] caarlos0 commented on #270
release --snapshot still needs git, will improve this as well

[2018-02-25 22:38] caarlos0 commented on #578
Hi,

that's great, feel free to open the PR :)

[2018-02-25 23:17] #270 closed

[2018-02-26 01:07] caarlos0 commented on #569
done

[2018-02-26 01:07] #569 closed

[2018-02-26 01:08] caarlos0 commented on #510
![goreleaser](https://user-images.githubusercontent.com/245435/36649004-6a92e4c4-1a78-11e8-8542-74ee849a9e9f.png)

here it is, what do you think?

[2018-02-26 09:40] amihaiemil commented on #510
@caarlos0 nice :)

[2018-02-27 18:12] jaxxstorm opened #582 "Readd the skip-publish flag"
I use goreleaser extensively for internal builds. Because a lot of our internal tools aren't features in goreleaser, I generally use the following workflow:

- Tag a releaser
- Use the `--skip-publish` flag to build artifacts
- Use a different git pipeline to upload those artifacts to different repos etc.

It seems in fdc032ec153c992aeea9be349da4c64579fbfae7 this was removed. I understand the reas

[2018-02-27 18:45] jaxxstorm opened #583 "Generic HTTP uploads"
Instead of adding contexts for each different artifact repo being considered, would it be possible to add a generic http config option?

For example, the artifactory component looks like this:
[code]
Instead of building support for things like packagecloud.io etc, it might be worth having the option for uploading via HTTP directly, like so:

[code]

We could then work in options for adding http he

[2018-02-27 19:00] caarlos0 commented on #582
hmm, I haven't think about that before, and I think this makes sense...

will add it back, yes.

[2018-02-27 19:29] caarlos0 commented on #583
not sure if we can make this generic enough to work for all cases people will need... and if we do, i fear it will become too complex for the end user...

let me think about this for a while...

[2018-02-28 10:05] yml opened #584 ".deb generated with `--snapshot` is broken when the git tag starts with a `v`"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

When you create a git tag starting with a `v` the generated .deb is invalid

### Environment

Please paste the output of:

* `go version`
[code]
* `uname -a`
[code]

* `goreleaser --debug`
[co

[2018-02-28 10:17] ncw commented on #584
Possibly related to this https://github.com/goreleaser/nfpm/issues/9 ?

[2018-02-28 10:19] ncw commented on #584
Also the go releaser packages have this problem on my ubuntu artful laptop

[code]

[2018-02-28 11:29] caarlos0 commented on #584
fixed in nfpm, testing on goreleaser...

[2018-02-28 11:38] caarlos0 commented on #584
should be fixed in v0.57.1
thanks for reporting, was totally my bad!

[2018-02-28 11:39] #584 closed

[2018-02-28 11:54] abeMedia commented on #350
I think a general purpose CI build docker image would be great. That way it can be used on CIrcleCI 2.0 as well as GitLab CI, Drone etc.
Happy to submit a PR if you're OK with merging something like that in.

[2018-02-28 11:57] caarlos0 commented on #350
yeah, I was thinking that the goreleaser docker image right now is kind of useless, as it does not have git nor rpmbuild...

so maybe we can make only this one image that the user can use locally and that anyone could use in the CI... what do you think?

[2018-02-28 14:05] bep commented on #350
This is the docker image we use in Hugo:

https://github.com/bep/dockerfiles/blob/master/ci-goreleaser/Dockerfile

I have not had time to update Goreleaser for some time, it has just worked great ... so this is "vintage Goreleaser" with fpm -- but a Goreleaser "official image" should have enough to build a Go project (Git and Go at least). There may be ways to "compose" docker files that I'm not a

[2018-02-28 14:06] bep commented on #350
https://github.com/bep/dockerfiles/blob/master/ci-goreleaser/Dockerfile

Is what we use in Hugo (vintage Goreleaser with FPM ...).

[2018-02-28 14:29] caarlos0 commented on #350
yes, we could have an image with `goreleaser`, `git`, `rpmbuild` and maybe `go`, and the user could:

[code]

I said 'maybe go', because some people may want different versions of go for some reason, dunno if it's worth to deal with that or just document that the user should install whatever version they want...

[2018-02-28 14:30] caarlos0 commented on #350
wow, goreleaser v0.34, vintage indeed 😆

[2018-02-28 14:57] abeMedia commented on #350
My feeling would be to include the latest version of go by default. Go is backwards compatible so until v2 is out I don't see any reason why not to use the latest release.
Also I think it would be great if we base it off `docker:dind` to allow pushing to docker hub from inside a docker-based CI.

[2018-02-28 15:49] caarlos0 commented on #350
@abeMedia I agree.
So, if you're willing to open a PR, I'm gladly accepting :D

[2018-02-28 22:09] cwpearson opened #585 "`go get github.com/goreleaser/goreleaser` fails"
### Prerequisites

* [ ] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

`go get github.com/goreleaser/goreleaser` fails with `unknown field 'Format' in tar.Header`

### Environment

Please paste the output of:

* `go version`

    go version go1.9.1 linux/amd64

*

[2018-02-28 23:19] jhillyerd opened #586 "Bug: Zip archive is flat; has no directory structure."
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

### Description

https://github.com/goreleaser/goreleaser/releases/download/v0.57.1/goreleaser
_Linux_x86_64.tar.gz (current for `https://git.io/goreleaser | bash`) is building flat Zip archives.  This appears to be a regression, and changes depending on how I i

[2018-02-28 23:50] caarlos0 commented on #586
thanks for reporting this.

that's weird though, as this wasn't changed in a while...

will take a look into it anyway!

[2018-02-28 23:54] caarlos0 commented on #585
Hi @cwpearson !

So, if you intend to run goreleaser, you should probably use a pre-compile binary.

GoReleaser now compiles only with go 1.10+ (and contributing.md is also wrong, will fix that).

On the other hand, I see now that the docs are misleading in this sense, will have that fixed.

[2018-02-28 23:55] cwpearson commented on #585
Thank you, this was very helpful! I will change our use of goreleaser to use a pre-compiled binary.

[2018-02-28 23:55] #585 closed

[2018-03-01 00:01] jhillyerd commented on #586
Thanks.  I see your binaries are `Built with go version go1.10 linux/amd64` - maybe it has a bug.  I'll try go get with 1.1.0 when I have a few minutes.

[2018-03-01 00:03] caarlos0 commented on #585
No problem, sorry for the misleading docs :P

[2018-03-01 01:00] caarlos0 commented on #586
After taking a look, I think this never worked actually...

definitely a bug  👍

[2018-03-01 01:47] caarlos0 commented on #586
I think that moving the archiving thing to another project was a bad idea, and it is a bad abstraction actually.

will move it back to make this easier to fix

[2018-03-01 02:35] caarlos0 commented on #586
Fix is on the way :)

[2018-03-01 02:57] #586 closed

[2018-03-01 03:13] caarlos0 commented on #586
v0.57.2 is being released with the fix!

hope it works out now and sorry for the trouble!

[2018-03-01 04:12] #582 closed

[2018-03-01 04:14] caarlos0 commented on #582
v0.58.0 will have this feat back :)

[2018-03-01 04:33] jhillyerd commented on #586
Thanks for the quick turn around.  I tried it at home and travis-ci, both worked great.

[2018-03-01 15:43] bobvanluijt opened #588 "Problem installing Go releaser in Travis"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

### Description

When installing go releaser directly in Travis-ci (go 1.9) it recently started to return the following error:

[code]

### Environment

Please paste the output of:

`go version go1.9 linux/amd64`

### Steps to Reproduce

https://travis-ci.org/cr

[2018-03-01 16:10] caarlos0 commented on #588
Hey @bobvanluijt , this seems a dupe of  #585

Please use the binary release as per [docs](https://goreleaser.com/#continuous_integration.travis):

[code]

Let me know how it work out, cheers!

[2018-03-01 16:11] #588 closed

[2018-03-01 16:22] flyinprogrammer opened #589 "Goreleaser + Docker builder + Snapshots + no tag == :sadpanda:"
As an application developer
I want to build snapshots (and Docker containers) of new applications that have no tags
So that I can have CI working, with possible integration tests, before I cut my first release.

---

In actuality this doesn't work at the moment because the code that makes Docker tags crashes when it can't use git to obtain tag information.

[code]

The same thing happens with the

[2018-03-01 16:25] caarlos0 commented on #589
Hi @flyinprogrammer

Yes, this is an issue, I believe #580 fixes this!

I just need to do some more testing before merging it in.

svu is another project, PRs accepted of course, but goreleaser does not use it internally...

[2018-03-01 16:27] flyinprogrammer commented on #589
ah - you're two steps ahead of me. I'll close this issue as the work should just be tracked in #580. And I'll submit a PR to svu once I see what you decided on in that PR.

[2018-03-01 16:27] #589 closed

[2018-03-01 17:08] bobvanluijt commented on #588
Jep, that's it. Thanks mate

[2018-03-01 18:52] vjeantet opened #590 "build fail - unknown field 'Format' in struct literal of type tar.Header"
My travis recipe failed to build today, I did not change anything..

Do you know where this issue could come from ?

[code]

Thanks

[2018-03-01 19:34] caarlos0 commented on #590
Hi @vjeantet, seems like a duplicate of #588 and #589

[2018-03-01 19:34] #590 closed

[2018-03-01 23:42] #526 closed

[2018-03-01 23:44] caarlos0 commented on #589
should be fixed on latest :)

[2018-03-02 00:19] elyscape opened #591 "goreleaser init produces an empty file"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

### Description

Since #577 was merged, `goreleaser init` produces an empty `.goreleaser.yml` file.

### Environment

Please paste the output of:

* `go version`
[code]
* `uname -a`
[code]
* ~`goreleaser --debug`~ (not relevant)

### Steps to Reproduce

1.  Run

[2018-03-02 00:27] elyscape commented on #591
I should note that I have `goreleaser` installed using Homebrew. As a side note, it seems to me that relying on packr would result in the `main-packr.go` file not being built when installed via `go get`, which is probably suboptimal.

[2018-03-02 01:08] caarlos0 commented on #591
hey @elyscape

thanks for reporting this.

the empty init is indeed a bug.

as per the go get, you should probably use the pre-compiled binary to release your projects... if you want to hack on goreleaser, then the contributing.md covers the needed steps :)

pushing the fix right now :)

[2018-03-02 02:06] elyscape commented on #591
That didn't fix it, unfortunately. Most likely on your system packr is defaulting to development mode and pulling the file from your GOPATH.

[2018-03-02 02:10] caarlos0 commented on #591
yeah, weird. The release was actually generated on travis. It works on my machine (tm) .

Will have anther look

[2018-03-02 02:13] caarlos0 commented on #591
fuck this, it's just one file, gonna inline it.

[2018-03-02 02:51] caarlos0 commented on #591
fixed

[2018-03-02 02:51] #591 closed

[2018-03-02 12:20] caarlos0 commented on #578
closed on #581

[2018-03-02 12:20] #578 closed

[2018-03-02 23:33] caarlos0 commented on #510
ok, logo is decided, closing now :D

[2018-03-02 23:33] #510 closed

[2018-03-04 23:02] caarlos0 commented on #583
I believe it's better have specific pipes for each thing...

maybe in the future we can make these things work as plugins or something. for now, closing.

[2018-03-04 23:02] #583 closed

[2018-03-05 21:03] gexclaude opened #593 "Scoop download link misses "v" from the version-folder"
### Prerequisites

* [x] Are you running the latest version? - v0.59.0
* [x] Did you perform a search to see if this problem was already reported?

### Description

I published version v0.2.5, it got tagged and released and scoop manifesto published.
The only thing that is not correct is the download link

(0.2.5 -> v0.2.5)

### Environment

go version go1.9.2 darwin/amd64
Darwin xyz-MBP-5.fritz.b

[2018-03-05 21:05] gexclaude commented on #593
updated link to json file to a specific commit, as I fixed the link manually

[2018-03-05 21:06] caarlos0 commented on #593
thanks for reporting this!

[2018-03-05 23:55] #593 closed

[2018-03-06 07:07] ernoaapa opened #595 "Custom name for brew tap"
It would be nice if you could give custom name for the generated brew tap `.rb` file.

By default `goreleaser` [uses project name](https://github.com/goreleaser/goreleaser/blob/master/pipeline/brew/brew.go#L115) as the brew tab name.
But for example in my project [eliot](https://github.com/ernoaapa/eliot) I would like to name it as `eli`.
As an example, now user needs to `brew install ernoaapa/eli

[2018-03-06 07:48] gexclaude commented on #593
Thank you - will re-test it soon :+1:

[2018-03-06 11:29] caarlos0 commented on #595
seems like a nice feature to have... I'll be glad to accept a PR =D

[2018-03-06 17:34] #494 closed

[2018-03-07 16:19] abeMedia commented on #350
Hey, sorry about the late reply! I'll have a bash at it this weekend and submit a PR then.
Thanks!

[2018-03-07 16:24] caarlos0 commented on #350
great, let me know if you need any help =)

[2018-03-07 22:16] #595 closed

[2018-03-07 22:21] caarlos0 commented on #595
will release next asap

[2018-03-07 22:37] caarlos0 commented on #595
releasing v0.60.0

[2018-03-08 02:58] andreynering opened #599 "Feedback on the UX and the remove of --skip-validate"
Hello,

First, thanks for GoReleaser, it's a true useful and time saver tool. 😄

Something I find a bit frustrating and counter-intuitive about it is that it refuses to publish when Git is in a dirty state or the current commit is not exactly that tagged one. This sometimes get in my way:

- I want to release;
- I create a Git tag and push it;
- I call `goreleaser`;
- Some error happen like, say,

[2018-03-08 10:43] caarlos0 commented on #599
Hi, thanks @andreynering !

So, the problem with allowing a release that doesn't match the tag is that the end user of your app can't know for sure if the code represented by that is what the binaries are... not sure how much of a problem this is nor if its goreleaser responsibility to care about it.

Anyway, more people asked `--skip-validate` back, so I guess I'll just re-add it...

[2018-03-08 11:42] #599 closed

[2018-03-08 19:50] jaxxstorm opened #601 "Homebrew formular pushed an empty file"
### Prerequisites

Using latest version, can't see this reported

### Description

The last pushed version of a tool I own seems to have pushed a homebrew formula with an empty filename:

https://travis-ci.org/jaxxstorm/hookpick/builds/350987265

When using an older version of goreleaser, this didn't happen

### Environment

Adding the `--debug` flag isn't easy due to using the bash script, I can

[2018-03-08 20:08] caarlos0 commented on #601
in fact, goreleaser itself was realeased with a wrong filename https://github.com/goreleaser/homebrew-tap/blob/master/Formula/.rb

[2018-03-08 20:09] caarlos0 commented on #601
thanks for reporting this, will take a look asap

[2018-03-08 20:16] #601 closed

[2018-03-08 20:17] caarlos0 commented on #601
will release the next version

[2018-03-09 00:26] andreynering commented on #599
You're fast! Thank you!

[2018-03-09 00:58] client9 opened #602 "unexpected behavior in archive:files: section -- how to specify no additional files"
### Prerequisites

* [x] Are you running the latest version?  HEAD
* [x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

It's not clear how to specify no additional files to be included in the archive.  Bug? Doc Bug?  Feature?

### Environment

[code]

### Steps to Reproduce

i wanted "classic goreleaser"

[2018-03-09 01:19] client9 commented on #602
ha!  you are right.  It always worked that way.  I just checked some old packages I made using goreleaser.   I never noticed!

might just be a documentation bug... or maybe?? if you put the binary name only in the files section then, that's a special case.

[code]

means "just the binary" ?  Maybe that is less gross than "none*"

really not a big deal either way.  I can live with "none*"

[2018-03-10 10:04] mingrammer opened #604 "Brew formula update commit message"
The auto generated commit message for brew formula update looks like `<package name> version <version>` now. But I think it is better to add a prefix to commit message so that someone know that commit was auto generated for formula update.

Here are some candidates:
- `Brew formula update for <package name> version <version>`
- `Formula update for <package name> version <version>`
- `[Brew Formula

[2018-03-10 14:31] caarlos0 commented on #604
good idea!

[2018-03-10 17:13] #604 closed

[2018-03-10 17:18] caarlos0 commented on #602
yeah, I'm not sure as well... looking at the sources, there is not a good retro-compatible way of adding that...

I think `none*` is the better hack atm :/

[2018-03-12 00:03] caarlos0 commented on #602
I'll just point that hack down on the docs...

[2018-03-12 00:07] #602 closed

[2018-03-12 00:27] caarlos0 opened #606 "create useful docker images"
right now our images are kind of useless: they don't have any of the deps that goreleaser needs to run successfully.

if we didn't had git as a dep #500, it might work, but until then, it's useless.

I think we should have an image that has:

- goreleaser
- git
- gnupg2
- snapcraft
- rpm
- docker
- latest go version

this might as well help us on #350

[2018-03-12 10:31] george-angel opened #607 "Setting "wrap_in_directory: true" results in blank "{{ .ProjectName }}""
Using the latest goreleaser: `curl -sL https://git.io/goreleaser | bash` in Circle and setting:

[code]

the resulting archive files are in the following format: `_0.1.0-alpha1_linux_amd64.tar.gz`

.goreleaser.yml:

[code]

logs:

[code]

[2018-03-12 11:28] caarlos0 commented on #607
thanks for reporting this!

it's not actually related to `wrap_in_directory`,  but I found it and the fix is on the way

[2018-03-12 11:30] #607 closed

[2018-03-12 22:43] caarlos0 commented on #297
will favor https://github.com/goreleaser/godownloader/issues/39 over this one.

[2018-03-12 22:43] #297 closed

[2018-03-13 22:29] buchanae opened #608 "docker: make push optional"
I prefer to make draft releases, and publish them after I've reviewed the automatically generated artifacts. This works well enough for GitHub releases, but does not seem to be well supported by Docker.

A simple `nopush` config flag would be helpful, which would allow me to build the docker images via goreleaser, and then manually run `docker push` when I'm ready.

[2018-03-14 07:02] rwlincoln opened #609 "Add target fields to Docker config for multi-stage builds"
### Describe the feature and how you think it should work.

I would like to have a single Dockerfile with multiple `FROM` statements and to build multiple images. However, I can't see how the `target` argument to `docker build` can be set in the config:

https://docs.docker.com/develop/develop-images/multistage-build/#stop-at-a-specific-build-stage

Perhaps a field could be added to the Docker con

[2018-03-15 12:48] caarlos0 commented on #609
Not sure this makes sense.

GoReleaser is already building the binaries, why would you use multi-stage builds?

[2018-03-15 16:13] rwlincoln commented on #609
Perhaps I have misunderstood how this works. I was thinking of having one stage based on a Debian image that would link the binary to `glibc` and one based on Alpine that would link to `musl`.

[2018-03-15 16:22] caarlos0 commented on #609
yeah, that's currently not possible...

[2018-03-15 23:56] robinjoseph08 opened #610 "Have a way to customize the url in a brew formula"
When using the `GitHubPrivateRepositoryReleaseDownloadStrategy` download strategy for Homebrew, it requires the `HOMEBREW_GITHUB_API_TOKEN` environment variable to be set when installing the formula. We prefer using `:git` as the download strategy instead, since we already have our SSH keys configured. But with the current `url` that is set (i.e. the link to the tarball) doesn't work with `:git`.

[2018-03-17 12:17] caarlos0 commented on #609
closing based on previous comments.

[2018-03-17 12:17] #609 closed

[2018-03-18 00:22] robinjoseph08 commented on #610
Normally when we download private repos, we do so with the git URL (e.g. `git@github.com:test/example.git`), and since we've all set up our SSH keys, we don't have to enter any password or token.

So if we push up a release/tag to a private repo, we can clone it down using the git URL and we won't have to export a GitHub token. So the formula would have this line:

[code]

Ideally, there's a way t

[2018-03-18 17:58] caarlos0 commented on #610
yeah, but this will download the sources, not the tar.gz with the compiled binaries.

The current formula doesn't work that way...

[2018-03-19 14:58] caarlos0 commented on #610
I'll close this one as this is not as homebrew integration works right now.

Maybe when/if #342 is done we can get back to this one.

[2018-03-19 14:58] #610 closed

[2018-03-19 15:00] caarlos0 commented on #530
yeah, me neither.... maybe we can wait to see if more people need this?

maybe they add this to the default docker cli at some time, and then things would be easier to implement (and we will depend on less things)...

what do you say?

[2018-03-22 03:25] buchanae opened #612 "release notes generator based on PR history"
I wrote a release notes generator for our project. It generates notes based on GitHub Pull Request history. PRs are a much better source of documentation, comments, timeline, and otherwise human-readable content related to a change, in my opinion.

The code is here: https://github.com/ohsu-comp-bio/funnel/blob/master/util/github-release-notes/main.go

It's output looks like this: https://github.co

[2018-03-22 12:26] caarlos0 commented on #612
if you distribute it as a binary, you can already use it `goreleaser --release-notes <(./generator)`

the problem is that there are a lot of projects that don't use github for example. Folks also customize with sections and things like that... I think that if we add this, it will be logical to add a lot more, which I'm not sure I want to add/maintain/etc (code is a liability).

That being said, wh

[2018-03-22 14:05] buchanae commented on #612
Ya, that's how we're using it currently, and I should probably give it a clean CLI and repo/release.

And even lots of projects that don't use GitHub PRs like we do too.

I agree, probably a slippery slope.

Since it's not a clear "yes", let's close this. I'll comment here when the generator is cleaned up and put in its own repo.

[2018-03-22 14:36] caarlos0 commented on #612
OK, nice =D

I think we can put a list of changelog generators on docs to aid this as well =)

[2018-03-24 21:42] caarlos0 commented on #608
check https://github.com/goreleaser/goreleaser/pull/613

[2018-03-25 16:30] #608 closed

[2018-03-25 20:36] buchanae commented on #612
https://github.com/buchanae/github-release-notes

[2018-03-26 13:38] caarlos0 commented on #612
/remind me this issue in 8 hours

[2018-03-26 22:46] caarlos0 commented on #612
done

[2018-03-26 22:54] #612 closed

[2018-03-28 16:02] jaxxstorm commented on #606
@caarlos0 I was going to build my own images, but I'm happy to work on this. A few questions:

- I'd probably base this on the official golang image - any objections?
- How do you want the binary included? After the travis build steps, or do you want it built from source each time?
- Can this be placed in `/docker` in the repo?

[2018-03-28 16:19] caarlos0 commented on #606
@jaxxstorm I think we can release the docker image with goreleaser itself.

I was working on this some weeks ago, but couldn't get snapcraft to work.

If you want to see my WIP https://github.com/goreleaser/goreleaser/compare/docker?expand=1

[2018-03-28 16:36] jaxxstorm commented on #606
@caarlos0 it seems getting snapd running inside a container isn't really that easy.

There's an example build script here: https://github.com/ogra1/snapd-docker/blob/master/build.sh

But it requires CAP_SYS_ADMIN to work. Is it worth omitting that?

[2018-03-28 16:39] caarlos0 commented on #606
yeah, dunno.

maybe initially we can omit snapcraft (and document) and get back to this later?

[2018-03-28 16:40] caarlos0 commented on #606
The general idea is that the current image is kind of useless, so anything more useful than that is a win 🤔

[2018-03-28 16:50] jaxxstorm commented on #606
Sounds reasonable to me!

[2018-03-30 11:24] RafPe commented on #110
Hey - we use also Gitlab and would be interested in getting this worked on. I would not mind starting work on this as it would make life easier ;)

I have created fork https://github.com/RafPe/goreleaser/ and would be great if we could narrow down where would be best to start with tackling this :D

Input much welcome!

[2018-03-30 14:50] caarlos0 commented on #110
hey @RafPe , probably the starting point is to create a `gitlab` client in the clients pkg. After that, probably the `release` pipe...

[2018-03-30 16:00] RafPe commented on #110
Ok - I'm on it - Will do some play around over the weekend and see if we get something usable to test ;)

[2018-03-30 18:20] caarlos0 commented on #110
Nice, let me know if you need anything :)

[2018-03-31 19:11] RafPe commented on #110
@caarlos0 how open are we to potential changes in the way client is build ? I could come up with something like this to simplify it for future use ( its subjective point of view of course :) )

[code]

Then we create client and have access to all `release providers`. Input much welcome :D

[2018-04-02 13:30] RaynDol opened #626 "Using go releiser for command line tool"
HI,

Looks like great tool :) Some general question.

Lets assume that i've create simple command line tool with go that prints hello world.
Now I use goreleaser to provide first release on github.

How the user can use this command line tool

1. in case he have go installed he can use go get and get this tool and provide the commands to run it like 'mytool print message'
2. in case he **dont** ha

[2018-04-02 16:00] caarlos0 commented on #626
Thanks :)

yes, `go get` should still work, as it will be still a valid repo.

and the user can download the binaries from the release as well.

[2018-04-02 16:00] #626 closed

[2018-04-03 15:52] jhuntoo opened #627 "Support not using github releases"
### Prerequisites

* [x ] Are you running the latest version?
* [ x] Did you perform a search to see if this problem was already reported?

For more information, see the `CONTRIBUTING` guide.

### Description

Support for not using github releases at all, isn't quite there. Goreleaser fails if you don't set GITHUB_TOKEN, and then will fail later even though the artifactory upload succeeded.

### E

[2018-04-04 00:00] caarlos0 commented on #627
hm

The problem is that goreleaser "guess" the github repository based on the git remote, so it's never empty.

maybe something like:

[code]

fixes the issue?

[2018-04-04 09:04] jhuntoo commented on #627
So with the config...
[code]
I get an unmarshal error...
[code]

I've also tried the following but I get the original error

[code]

[2018-04-04 10:53] caarlos0 commented on #627
yes, this is the a proposed feature, it is not implemented yet, sorry for not making that clear :)

[2018-04-04 14:42] RaynDol opened #628 "How to automate the release"
Hi,

while you need to provide new release you need to do the following:

1. git add
2. git commit
3. git push master
4. git tag -a v0.0.1 -m "new release"
5. git push origin v0.1.0
6. goreleaser
Please correct me if im wrong :)

is there a way to automate it via go releaser that with one command or two it will run all the 6 steps above ?

Thanks &Best Regards,
Rayn

[2018-04-04 14:53] caarlos0 commented on #628
for questions please use slack (as stated in the issue template).

the process is documented on: https://goreleaser.com/#quick_start

about the tag auto push, check #499

[2018-04-04 14:53] #628 closed

[2018-04-04 22:18] #342 closed

[2018-04-05 10:06] jhuntoo commented on #627
I see now!  That config would work, though IMO making the `release` section optional would be better as it's more concise.

This also relates to #110.

For my 2 cents, having the github section as optional would be advantageous as it would support  the addition of gitlab, and others. So all these "release providers" would in fact be optional.

[code]

Some of the properties may be common to all re

[2018-04-05 10:42] caarlos0 commented on #627
yeah, but since right now it defaults a lot of things, making it optional would break almost everyone's workflow :/

[2018-04-05 12:47] caarlos0 commented on #627
the idea of the actual syntax would be to do:

[code]

but artifactory is so different that it got a special `artifactory` config section.

so, my idea of `github: false` is also wrong 🤔

Anyway, I have this idea of "freezing" the current config format for a proper 1.0 release.

For 2.0, I'll probably do a whole new config based on previous learnings (in which your idea makes a lot of sense).

To

[2018-04-05 13:27] jhuntoo commented on #627
That seems like a sensible thing to do, rather than trying to change the format too much here, wait for 2.0 and a "blank canvas" approach.

Ok, unless you think it's too complicated, I can make an attempt at the PR ?

[2018-04-05 13:40] caarlos0 commented on #627
sure, it should be easy :)

[2018-04-06 21:34] nicpottier opened #631 "Support using tag annotation in changelog"
### Describe the feature and how you think it should work.

We use git annotations when tagging releases to create a "formatted changelog" of sorts in markdown. This makes sure we have one truth as to the changelog for a release and leverages git's store to track those.

Would be really nice to have the option to include the tag's annotation in the generated changelog goreleaser creates for new re

[2018-04-07 00:24] twhiston opened #632 "rpmbuild fails when tag contains hyphen"
### Description

When using rpm build with a semver compatible tag such as `2.5.0-beta1` rpmbuild will currently fail because hyphens are not allowed in version numbers. It would be great if goreleaser either sanitized these automatically or offered us the option to override the version in package builds so we could keep semver compatible tags.

See https://github.com/semver/semver/issues/145 for

[2018-04-07 00:38] caarlos0 commented on #632
which version of goreleaser are you using?

this should be fixed on https://github.com/goreleaser/nfpm/releases/tag/v0.6.2 which is included on https://github.com/goreleaser/goreleaser/releases/tag/v0.64.0 .

[2018-04-07 00:48] twhiston commented on #632
my bad, didnt realize we had an old version cached on the ci. Update to newest works. Sorry!

[2018-04-07 00:48] #632 closed

[2018-04-07 02:43] caarlos0 commented on #632
no problem :)

[2018-04-07 13:14] brocaar opened #633 "Support self-hosted build artifacts"
First of all thanks for all the great work on goreleaser!

It seems that goreleaser will always upload all the artifacts to GitHub on a release. Related to this, when generating download links (e.g. for homebrew) it is assumed that the files are hosted on GitHub.

Would it be possible to have (optional) support for self-hosted artifacts? For example, I have my own downloads server so that I can ke

[2018-04-09 16:24] caarlos0 opened #635 "Support for package scripts on nfpm"
This was already added to nfpm on tag v0.7.0 (https://github.com/goreleaser/nfpm/issues/19), we just need to enable its config through goreleaser as well.

[2018-04-09 23:20] droot opened #637 "Support Platform Specific Files for generating the archives"
I have a use case where our core binary needs to be packaged with dependencies. Since dependencies are pre-built binaries specific to each platform, we need a way to specify them in archive section. Today GoReleaser supports adding all files to release archives but not in a platform specific manner.

[2018-04-10 19:08] elyscape opened #638 "Add templated asmflags and goflags fields"
It would be nice to be able to use environment variables in the `flags` field. My use case is that I'd like to be able to pass `-gcflags all=-trimpath={{.Env.GOPATH}}` and `-asmflags all=-trimpath={{.Env.GOPATH}}` to strip my `GOPATH` from the various source filenames that are recorded in the binary. At present, the `ldflags` field is treated as a template, but the `flags` field is not, making thi

[2018-04-11 10:40] nicerobot opened #639 "Provide a means to alter the date format"
There should either be a configuration for assigning the date-format used by ldflags:

    date_format: '20060102T150405Z0700'

or add template functions to allow for something like

    ldflags: -X main.date={{.Date | format "20060102T150405Z0700"}}

[2018-04-11 13:41] caarlos0 commented on #639
we already have this in other templates, maybe we can reuse that :)

[2018-04-12 09:54] bpineau opened #640 "Allow distincts nfpm "name_template" per package format"
The canonical package file names (word separator, architecture names) differs slightly depending on the package format and target distribution:
[code]

If I'm not mistaken, goreleaser allow for only one nfpm `name_template` (and arch `replacements`), shared by both deb and rpm.

It would be nice if goreleaser would provide some way to generate package names in the native/canonical format.

(origin

[2018-04-12 12:45] caarlos0 commented on #640
in your examples, there are `fc25` and `ubuntu` in the names. We don't have this information at the build time... what is the sane thing to do?

[2018-04-12 18:05] cjbassi opened #641 "Add support for the AUR (Arch Linux)"
I think it would be cool if goreleaser was able to create PKGBUILD's and also submit them to the AUR if possible. PKGBUILD's for binary blobs are actually fairly simple. [Here's](https://aur.archlinux.org/cgit/aur.git/plain/PKGBUILD?h=gotop-bin) the one I'm currently using for my project and I just update the version number each release.

Details:
* the package name should end in '-bin' by default

[2018-04-14 19:07] bpineau commented on #640
Well the `fc25` and `5ubuntu1.3` are different beast really, and the semantics differs.

For Debian/Ubuntu: the `debian_revision` part of the version number indicate changes in the packaging as opposed to changes in the upstream version ; mostly used when Debian want to publish a new package version for the same upstream version. It's optional, not mandatory:  https://www.debian.org/doc/debian-pol

[2018-04-15 23:32] #639 closed

[2018-04-17 08:04] brocaar commented on #633
@caarlos0 I'm looking to your feedback / thoughts on this :-)

[2018-04-17 13:15] caarlos0 commented on #446
it is not a problem right now, let's ignore this for now

[2018-04-17 13:15] #446 closed

[2018-04-17 13:27] brocaar commented on #633
Thanks for your response. I understand that from your side this might not have the highest priority. I just wanted to open the discussion around this feature to see if there would be interest in such feature.

I know that you can get the download counter per released file on GitHub through the API, but what I'm interested in is parsing the full access-logs as it also gives me the IP which I then c

[2018-04-17 13:38] caarlos0 commented on #633
that's interesting... didn't know about this feature...

anyway, let me think for a while, or if you want to propose a PR for this, we can see how it looks :)

[2018-04-17 14:51] caarlos0 commented on #640
I don't know when I'll have some free time to look into this, mind opening a PR?

Cheers

[2018-04-19 01:59] h8liu opened #646 "package nfpm is not updated"
When trying to build with `go get`

[code]

It might be that `go get` is not officially supported, but I also cannot find a workable `nfpm` branch/commit.

It might be that people forget to commit the changes required in the `nfpm` package?

This is found by [smallrepo.com](https://smallrepo.com). Build log:

https://smallrepo.com/builds/20180419-010033-9757bf96

[2018-04-19 02:49] caarlos0 commented on #646
goreleaser is not updated with the latest nfpm version yet.

you can either use a pre-compiled binary or use golang/dep to get the dependencies right...

[2018-04-19 06:31] #646 closed

[2018-04-20 01:52] elyscape commented on #638
Actually, it probably makes more sense to instead add `gcflags` and `asmflags` fields.

[2018-04-20 11:26] #638 closed

[2018-04-20 11:41] ewoutp commented on #530
Would love to have this feature. Supporting multi-arch images for amd64, arm, arm64 in 1 pass would be great

[2018-04-20 12:08] caarlos0 commented on #530
i like this idea!

[2018-04-20 12:45] pcarranza commented on #530
@caarlos0 👍 , I'll take a look at it later to see how to do it and send a PR along the way.

[2018-04-24 02:56] #464 closed

[2018-04-24 09:52] bweston92 opened #651 "package nfpm is not updated AGAIN"
When trying to build with go get:

[code]

I see something was done for #647 but looks to have happened again

[2018-04-24 14:09] bweston92 commented on #651
Ah currently on 1.9 maybe that is it.

[2018-04-24 14:09] #651 closed

[2018-04-24 16:05] caarlos0 commented on #651
as said in the previous issue, if you want a stable goreleaser, use the pre-compiled binary.

there is no guarantee that the master branch is working or go-getable.

[2018-04-25 03:30] caarlos0 commented on #640
As far as I understood, there is no safe way to guess that, right?

so I think we can just close this as-is for now, the users can use the name templating to provide this info if they want to...

thanks @bpineau for the PR and for bringing this issue up 🍻

[2018-04-25 03:30] #640 closed

[2018-04-25 03:39] caarlos0 commented on #212
I don't actually think this is needed... will close and will reopen if the need surge in the future.

[2018-04-25 03:39] #212 closed

[2018-04-25 03:41] caarlos0 commented on #631
so, basically, add whatever is on the annotation to the release body, if any, right?

[2018-04-25 04:07] #627 closed

[2018-04-25 11:52] ernoaapa commented on #530
Hi, I'm building multi arch images at the moment but doing it "manually" (building images with goreleaser and then using manifest-tool to push the manifest. Having that part of goreleaser would be awesome!

In the edge version of Docker there's `docker manifest` command, so it's coming up and soon you don't need the `manifest-tool` anymore https://docs.docker.com/edge/engine/reference/commandline/

[2018-04-25 14:02] nicpottier commented on #631
Right, preferably above the commit history.

[2018-04-25 14:15] caarlos0 commented on #631
OK, I did some initial code for this. AFAIK there is no way to tell if a given tag is annotated or not, right?

[2018-04-25 14:32] nicpottier commented on #631
Hrmm, not sure. Seems a light parsing of `git show` for the tag would provide it.

[2018-04-26 17:10] msabramo opened #655 "Discuss: Allow writing changelog to a file"
I mentioned this to @caarlos0 on Slack and he asked to open an issue.

### Describe the feature and how you think it should work.

I wonder if it makes sense to have the ability to write a `CHANGELOG.md` file out, in case people want to do something with that like commit it to version control or include it in a Docker image.

[2018-04-26 17:31] cv opened #656 "422 Validation Failed error on release"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you perform a search to see if this problem was already reported?

### Description

See full log here: https://circleci.com/gh/cv/sd/53

[2018-04-26 19:28] caarlos0 commented on #656
seems to be related with #643

will revert it for now

[2018-04-26 19:46] caarlos0 commented on #656
should be fixed on https://github.com/goreleaser/goreleaser/releases/tag/v0.71.1

can you validate?

[2018-04-26 20:08] cv commented on #656
Yup, this seems to have made the issue go away: https://circleci.com/gh/cv/sd/56

[2018-04-26 20:14] caarlos0 commented on #656
thanks @cv!

[2018-04-27 05:00] #656 closed

[2018-04-27 05:00] caarlos0 commented on #656
cc/ @holladay-io

[2018-04-27 15:50] caarlos0 commented on #655
you mean, the changelog of the current release only?

if yes, that's kind of easy to do, otherwise it isn't...

[2018-04-27 16:05] caarlos0 opened #657 "subcommand to check config file"
maybe we should have a `goreleaser check` command, to check if the config file is valid?

sure the user can just run `goreleaser --snapshot` to see what happens, but maybe the `check` subcommand is useful?

[2018-05-01 02:17] jrnt30 opened #658 "Allow `.Commit` resolution in Dockers build"
First off, thanks!  The project is wonderful and greatly simplifies and streamlines a lot of practices, thank you for all the work and vision here.

**Requested Enhancement**

It would be helpful to expand the current interpolation targets in `dockers[].tag_templates` to include access to the `.Commit` attribute similar to the `builds`, `snapshots`, etc.

In the past I have seen people "repurpose"

[2018-05-01 03:29] caarlos0 commented on #658
yeah, that seems doable

[2018-05-01 03:46] #658 closed

[2018-05-02 03:36] caarlos0 commented on #655
ping @msabramo

[2018-05-02 03:43] caarlos0 commented on #657
actually no need for this I think.

[2018-05-02 03:43] #657 closed

[2018-05-02 03:54] #655 closed

[2018-05-02 03:58] caarlos0 opened #661 "Add a check on every build for untracked changed files"
**Describe the bug**

Every now and then a new release fails because goreleaser won't run if git is in a dirty state.

We may add this check to every build to make sure things work smoothly.

[2018-05-02 04:02] #661 closed

[2018-05-02 04:07] caarlos0 opened #662 "Go plugin builder"
**Is your feature request related to a problem? Please describe.**

We would like to ship and use plugins within GoReleaser.

Go supports both Linux and macOS for now.

**Describe the solution you'd like**

The idea is to have a plugin builder so 3rd parties can use it to write plugins for goreleaser.

**Describe alternatives you've considered**

hashicorp's plugin system, which I believe is more

[2018-05-02 04:30] caarlos0 commented on #662
https://github.com/golang/go/issues/22462

seems like it is not that straightforward to do that... maybe hashicorp's lib is a better option indeed

[2018-05-03 16:03] caarlos0 commented on #521
weird, this hasn't changed since the PR  that fixed this issue: https://github.com/goreleaser/archive/pull/2

[2018-05-03 16:04] caarlos0 commented on #521
/remind me this issue in 8 hours

[2018-05-04 01:14] caarlos0 commented on #521
/remind me this issue in 2 hours

[2018-05-04 03:46] goodforever opened #663 "undefined: yaml.NewDecoder"
When I go get github.com/goreleaser/goreleaser
I got
# github.com/goreleaser/nfpm
../../../../../github.com/goreleaser/nfpm/nfpm.go:40: undefined: yaml.NewDecoder

[2018-05-04 03:56] caarlos0 commented on #663
several issues about this already

https://github.com/goreleaser/goreleaser/issues?q=is%3Aissue+go+get+is%3Aclosed+label%3Ainvalid

please follow https://goreleaser.com/

[2018-05-04 03:56] #663 closed

[2018-05-04 04:00] #521 closed

[2018-05-04 04:12] caarlos0 commented on #521
Fixed, thanks for reporting and sorry about breaking it multiple times :/

[2018-05-04 04:46] ntrrg opened #665 "Typo in Makefile"
Hi, this looks like a typo for me, but I am just a beginner, sorry if I filled this issue unnecessarily :sweat_smile:

https://github.com/goreleaser/goreleaser/blob/c3988a30fc96b211432d289e0bf7c6fb3b24885b/Makefile#L29-L32

[2018-05-04 04:47] caarlos0 commented on #665
Hi @ntrrg, sorry, which part specifically you think is a typo?

[2018-05-04 05:03] ntrrg commented on #665
`.PHONY: cover`, I was thinking that this should be `.PHONY: test`.

[2018-05-04 05:06] caarlos0 commented on #665
oh, indeed! Thanks!

[2018-05-04 05:07] #665 closed

[2018-05-04 05:13] ntrrg commented on #665
Great! :smiley:

[2018-05-05 12:55] probonopd commented on #338
Adding activity so that @stale goes away until this is solved.

[2018-05-07 13:05] jimeh commented on #350
Hopefully this helps. I recently experimented with getting goreleaser working correctly with CircleCI, and I ended up something like this:

[code]

It basically has two different workflows, one which runs on anything that isn't a version tag that only runs the `build` job. And another workflow that only runs on version tags thats runs the `build` and `release` jobs, requiring the `build` step to s

[2018-05-07 23:17] mohanraj-r commented on #472
@caarlos0 I am also facing the same issue
Cool project btw 👍
Wish I could get it to working..

Here is my `.goreleaser.yml`
[code]

# Output

[code]

[2018-05-08 01:16] caarlos0 commented on #472
hi @mohanraj-r, thanks for the infos!

Can you run without `--skip-validate` and paste the logs here?

[2018-05-08 13:15] tympanix opened #667 "GitHub pre-releases on alpha, beta, rc versions"
**Is your feature request related to a problem? Please describe.**
When the version tag is not stable; e.g. `1.0.0-alpha`, ` 1.0.0-beta` or `1.0.0-rc` (see [https://semver.org/#spec-item-11](https://semver.org/#spec-item-11)) I would like the github release to be a `pre-release`.

**Describe the solution you'd like**
In the github API set the `prerelease: true` option (see [https://developer.githu

[2018-05-08 18:34] elyscape opened #668 "List formats for flags, ldflags, asmflags, and gcflags"
**Is your feature request related to a problem? Please describe.**
[As of Go 1.10][go1.10]:

In other words, you can pass different flag sets to the compiler based on the package you're passing. Unfortunately, this has to be done with multiple uses of `-gcflags` et al. For example, given the following code:
[code]
Here are the source file paths included in the resulting binary:
[code]
Suppose that

[2018-05-08 18:55] mohanraj-r commented on #472
@caarlos0 Here is the output without `--skip-validate`

[code]

Made sure to clear out the existing releases/tags in github before triggering this - but that didn't seem to make a difference. The release does get created in github with specified release notes and the source code archives. Its the contents of the `dist` which don't get uploaded.

[2018-05-08 19:04] caarlos0 commented on #472
yeah, I think your upload URL is wrong on settings, it usually is something like `uploads.github.foo.bar`

[code]

https://goreleaser.com/environment/#github-enterprise

[2018-05-08 19:05] caarlos0 commented on #472
see also: https://github.com/goreleaser/goreleaser/issues/365#issuecomment-331655225

[2018-05-08 19:05] caarlos0 commented on #472
please let me know if it works, if so, I'll update the docs 😄

[2018-05-08 19:25] caarlos0 commented on #472
as long the tag is the same, if you run goreleaser again it will edit the pre-existing release.

[2018-05-08 19:30] elyscape commented on #668
Okay, we're good to go. @caarlos0, I can write up a pull request for this if you let me know which approach to take. For clarity, those are:
1. Change `ldflags`, `gcflags`, and `asmflags` to type `StringArray`, which has an `UnmarshalYAML` method that upconverts bare strings into one-element arrays, and `flags` to type `FlagsArray`, which has an `UnmarshalYAML` method that upconverts bare strings

[2018-05-08 19:34] elyscape commented on #668
Alternatively, a fourth approach:

4. Handle `flags` as in one of the preceding approaches and deprecate `ldflags`, `gcflags`, and `asmflags` in favor of some new fields that look like this:
[code]

[2018-05-08 19:43] mohanraj-r commented on #472
Thanks for the clarifications @caarlos0

Tried that - it fails with the error msg `ReleaseAsset .. already_exists`

[code]

[2018-05-08 23:40] caarlos0 commented on #472
ohhh, yeah, indeed, it doesn't override the assets... if you delete the assets and run again it will work, though...

I'm not sure if it is a good idea to delete the assets if they already exist... seems like a good thing to do but can also lead to confusion (if we override without the knowledge of the user)

so, for, now, I think this part we can leave as-is.

[2018-05-08 23:43] #472 closed

[2018-05-08 23:48] caarlos0 commented on #668
I think that not breaking compatibility is the ideal... you can for sure open a PR, I would be glad 😄

[2018-05-08 23:52] dancrumb opened #669 "GITHUB_TOKEN is required, even when release is disabled"
**Describe the bug**

In my `.goreleaser.yml` file, I have
[code]

However, I still get the error:
[code]

**Expected behavior**

I would expect this token not to be required if I am not releasing anything

**Additional context**

Discussed here: https://gophers.slack.com/archives/C3T1JU24B/p1525822410000281

[2018-05-09 00:05] elyscape commented on #668
To be clear, all of the approaches I listed preserve compatibility. Which do you think I should implement?

[2018-05-09 00:38] caarlos0 commented on #668
sorry, the `StringArray` one seems better IMO :)

[2018-05-09 02:05] elyscape commented on #668
I’ll make it happen!

[2018-05-09 12:02] caarlos0 commented on #668
thanks @elyscape 🎉

[2018-05-09 12:03] caarlos0 commented on #667
thats a neat idea!

thanks!

[2018-05-09 12:04] caarlos0 commented on #472
docs improved, thanks!

[2018-05-12 12:54] #499 closed

[2018-05-12 12:54] #553 closed

[2018-05-13 14:59] caarlos0 commented on #631
yeah, so, experimenting:

[code]

all the ways I found to get the annotation, return the commit msg when there is annotation...

any ideas?

[2018-05-13 20:02] #266 closed

[2018-05-14 16:40] areed opened #673 "Build multiple dockers with the same Dockerfile: failed to link dockerfile"
**Describe the bug**

I have two items under the `dockers` section of my goreleaser yaml and they both use the same Dockerfile. The first item builds succcessfully, but the second fails with error:

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

Docker images for both repos should be built.

**Environment (please complete the following information):**

*

[2018-05-15 02:15] caarlos0 commented on #631
hmm, seems like we just need to ignore the first line...

either way it has a tab in the beginning of each line, will try to find other ways, probably there is something on the "low level" git commands

[2018-05-15 11:12] #668 closed

[2018-05-16 20:54] nhinds opened #676 "Allow creating empty directories in RPMs"
**Is your feature request related to a problem? Please describe.**
I'm trying to build multiple RPMs which share a log and lib directory. These directories are initially empty.

With raw `.spec` files, this can be accomplished by something like this in each of the RPMs:

[code]

When either RPM is installed the directories are created, and the directories continue to exist until both RPMs are unin

[2018-05-16 22:05] nhinds commented on #676
Yes - that creates the folder and ensures it's managed by the RPM, but it creates the file on the destination system's filesystem. I suspect that each RPM would have to use a file with a different name to ensure they don't conflict, and I'd like to avoid creating these dummy files on the systems the RPM is installed on if possible

[2018-05-16 22:42] caarlos0 commented on #676
either way, will try to fix this

[2018-05-17 00:01] caarlos0 commented on #676
hey @nhinds, can you check https://github.com/goreleaser/nfpm/pull/34 ?

[2018-05-17 01:08] #676 closed

[2018-05-18 19:21] diegobernardes opened #679 "File placement inside a archive"
**Is your feature request related to a problem? Please describe.**

With this config:
[code]
I want to to chose where the files gonna stay inside the archive.

**Describe the solution you'd like**

We could do something like Docker does to volumes and ports. (`path:destination`)

[code]

If the destination is a folder, copy the file to the folder, if it's a file, copy and rename the file.

**Descr

[2018-05-23 00:41] caarlos0 opened #680 "snapcraft: should we push the snap after it pipe runs"
Should we push the file using `snapcraft push --release=stable file.snap` after the pipe runs?

[2018-05-23 12:37] caarlos0 commented on #673
as for #681, this shall be fixed =D

Thanks for reporting!

[2018-05-23 12:42] #673 closed

[2018-05-27 23:14] caarlos0 opened #683 "snapcraft: invalid arch armel"
**Describe the bug**

The snapcraft package for amrv6 is generated with the `armel` arch - which I think is for rhel.

Anyway, snapcraft does not think that's valid, so we gotta fix this.

**To Reproduce**

Try to push a armv6 goreleaser-generated snap package.

[2018-05-28 00:48] caarlos0 commented on #683
@elopio any pointers here?

[2018-05-28 19:08] elopio commented on #683
Hello @caarlos0. Snapcraft doesn't support armel. Just armhf and arm64.

[2018-05-29 05:02] TylerBrock opened #686 "Wrong sha256 used in Brew Forumula generation"
**Describe the bug**

goreleaser is using the `darwin_amd64.tar.gz` sha256 instead of the one for the source.

**To Reproduce**

Steps to reproduce the behavior:

[code]

I'm generating a formula for my project called Saw. It works fine then I add the tap and install the formula but then it says it expects the sha256 to be the darwin one instead of the one for the source tarball.

[code]

This is

[2018-05-30 20:14] caarlos0 commented on #110
@RafPe I don't like it very much, no, because the `GithubService` will have a client that also implements gitlab...

testing may get harder too, since we will need to mock more things...

also brew pipeline also uses the client, and would require a lot of change for everything to work as well...

[2018-05-30 20:14] caarlos0 commented on #110
PS: I don't know what's the best way to do this though...

[2018-05-31 10:19] joerocklin commented on #110
@caarlos0 is the idea to be able to publish to both gitlab and github from the same release process, or only supporting one at a time? (I personally don't see much use for use in a single release).

I have not spent a lot of time in the code, but it would seem like defining a `ProviderInterface` for the client to reference and then set up either github or gitlab based on the config read could work

[2018-05-31 13:44] caarlos0 commented on #110
yeah, I agree with releasing to both github and gitlab...

[2018-05-31 20:02] TylerBrock commented on #641
This would be awesome, are there any objections to supporting this or building it out?

[2018-05-31 21:13] caarlos0 commented on #641
no objections, no, just didn't had time to work into this... PRs are welcome :D

[2018-06-03 23:17] diegobernardes opened #689 "Add support for Gitlab release"
**Is your feature request related to a problem? Please describe.**
As microsoft has planned or already bought Github, we need a alternative, the goto may be Gitlab.

**Describe the solution you'd like**
The really same thing the Github provider does, but for Gitlab.

[2018-06-04 11:44] caarlos0 commented on #689
duplicate of #110

[2018-06-04 11:44] #689 closed

[2018-06-04 16:38] errordeveloper opened #690 "It should be easier to use a floating release tag"
I've spent all day trying to make `goreleaser` work with a floating tag.

Github doesn't make it easy to provide a short command to download a release artefact. You have to either find release number (e.g. using `jq`), or do something else. We've been using `latest_release` tag with some success in e.g. [Weave Net](https://github.com/weaveworks/weave/blob/master/docs/release-process.md),  however

[2018-06-04 16:43] errordeveloper opened #691 "Want to use env vars in release.name_template"
Some of the `name_template` attributes support `.Env`, but this one doesn't. It'd be amazing if it could – seems easy enough.

[2018-06-04 16:45] caarlos0 commented on #691
agree, this should be done :)

[2018-06-05 05:30] kaihendry opened #692 "Trying to install Goreleaser"
**Describe the bug**

Using the `go get` method as described on https://goreleaser.com/introduction/ on Archlinux

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

An easier install. Perhaps with rsc's `vgo`?

**Environment (please complete the following information):**

- Archlinux
- go version go1.10.2 linux/amd64

[2018-06-05 12:05] caarlos0 commented on #692
Hi @kaihendry, can you please try `make setup build`?

[2018-06-05 12:08] caarlos0 commented on #690
Hi @errordeveloper, thanks for opening the issue!

I've used weavenet in the past, great piece of software, thanks :D

---

Regarding your issue, what you do is just create two tags right, one e.g. `v1.2.3` and another `latest_release`, both pointing to the same commit, and then upload the same artifacts on both of them, right?

Have you tried:

[code]

[2018-06-05 14:29] kaihendry commented on #692
Yes, that seems to work.

[code]

[2018-06-05 17:11] #692 closed

[2018-06-05 17:11] caarlos0 commented on #692
Nice, thanks @kaihendry

[2018-06-05 22:47] errordeveloper commented on #690
Yes, I have tried this first! What happens is that goreleaser catches only
the first tag, it is how `git describe --tags` behaves, I am afraid... And
what you end up with two CI jobs competing which one will upload the
release for semver tag and which will fail uploading the release for the
same thing :(

On Tue, 5 Jun 2018, 1:08 pm Carlos Alexandro Becker, <
notifications@github.com> wrote:

[2018-06-06 01:47] kaihendry opened #694 "ADD failed: stat /var/lib/docker/tmp/docker-builder287293416/main.go: no such file or directory"
**Describe the bug**

https://s.natalian.org/2018-06-06/goreleaser-docker.mp4

**To Reproduce**

https://github.com/unee-t/apienroll/blob/master/goreleaser.yml

**Expected behavior**

Builds and publishes Docker image

**Environment (please complete the following information):**

On Archlinux

[code]

**Additional context**

[code]

[2018-06-06 03:28] kaihendry commented on #692
Surely (matter of taste), it should be easier to build/install than this? Or should I be using the pipe shell method?

[2018-06-06 12:44] caarlos0 commented on #694
Your dockerfile should't try to rebuild the app, look at the dockerfile at the root of this repo for example.

Nevertheless, we can probably improve documentation on that.

[2018-06-06 13:02] caarlos0 commented on #692
you can use brew, snap, the provided shell script or download the tar.gz and install manually... matter of taste indeed.

[2018-06-06 13:04] caarlos0 commented on #690
hmm, any suggestions on the desired UI?

adding a config `floating_tag` or something maybe?

[2018-06-06 13:27] kaihendry commented on #692
Is there a way out of interest to just get the x86-64 directly?

[2018-06-06 13:44] caarlos0 commented on #694
actually the [Docker](https://goreleaser.com/docker) section on goreleaser's docs already have a dockerfile example.

Anyway, I made the docs a little bit better.

[2018-06-06 13:44] #694 closed

[2018-06-06 13:45] caarlos0 commented on #692
Meaning?

[2018-06-06 13:54] kaihendry commented on #692
Without downloading a tarball, e.g. goreleaser_Linux_x86_64.tar.gz
Download the binary directly, e.g. https://s.natalian.org/2018-06-06/goreleaser

[2018-06-06 13:56] kaihendry commented on #694
Oh... so instead of what I had here: https://github.com/unee-t/apienroll/blob/master/Dockerfile ... i use your template:

[code]

Now I am understanding :sweat_smile:

[2018-06-06 14:19] kaihendry commented on #694
Oddly it's not finding my binary in my [test project](http://github.com/kaihendry/lk2)..

[code]

[2018-06-06 16:02] caarlos0 commented on #694
yes, now it's a matter of how your app is compiled.

this error seems to be because your app was compiled with CGO enabled, if you want to use scratch as base, you'll need to disable CGO. You can do that adding:

[code]

to your `goreleaser.yml` file `build` section.

Another option is to use another image as base, for example debian or ubuntu...

[2018-06-07 00:39] #691 closed

[2018-06-07 12:22] caarlos0 commented on #694
no, it shouldn't be default.

https://golang.org/cmd/cgo/

[2018-06-07 13:15] kaihendry commented on #694
If it's not enabled by default, why do I need to specify that in my https://github.com/kaihendry/lk2/blob/master/goreleaser.yml env ?

[2018-06-07 13:49] caarlos0 commented on #694
it is enabled by default in the Go compiler, so it is enabled by default on goreleaser as well.

`CGO_ENABLED=0` disables it, actually.

[2018-06-08 08:19] kaihendry opened #695 "Docker images missing extra files"
**Describe the bug**

I need to add the [sql/ directory](https://github.com/unee-t/invite/tree/master/sql) with my binary. Same use case with html templates.

Following https://goreleaser.com/customization/#Docker

I added the files like so
https://github.com/unee-t/invite/blob/master/goreleaser.yml

Sidenote: sql/ or sql/* would have been nicer. They don't appear to work either.

**To Reproduce**

[2018-06-08 12:47] caarlos0 commented on #695
You need to add those files to your docker file as well.

Example commit: https://github.com/caarlos0/github_releases_exporter/commit/72c728e9073a1259ad0128f8cb48d2715fbf8d1d

I think you can add the entire directory by specifying just the directory name...

---

About the `[{Resource:ReleaseAsset Field:name Code:already_exists Message:}]` error, is by design, you need to create a new tag or delet

[2018-06-09 08:27] kaihendry commented on #695
You're right! It's working with a similar project: https://github.com/unee-t/unit/blob/master/Dockerfile

Sidenote: Is it possible to get binary files name "unit" as a templated variable and inserted please?

[2018-06-09 08:27] #695 closed

[2018-06-09 21:15] tliron opened #696 "Archive files glob "**" works for .tar.gz but not for .zip"
If I add files with "**" glob to an archive, the .tar.gz adds them but not the .zip.

[code]

The workaround is to use single "*" globs and add individual directories:

[code]

- OS: linux
- OS version: Linux foucault 4.16.14-300.fc28.x86_64 #1 SMP Tue Jun 5 16:23:44 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- GoReleaser 0.76.0

[2018-06-09 23:28] errordeveloper commented on #690
Yes, that would make sense, but to me seemed like this would be mostly
about forcing releases to be recreated, or, in other words, updating an
existing release... See for yourself whatever makes sense. I suppose it
would be either about naming a particular tag with a string parameter
(`floating_tag: latest_release`) or a bolean (`allow_recreate: true`).

The project where I had to deal with this i

[2018-06-11 01:09] caarlos0 commented on #696
That's right, thanks for reporting!

[2018-06-13 12:24] tombh opened #697 "Tag is committed to master branch even if build is triggered on a different branch"
**Describe the bug**
The released tag had the incorrect date. I assumed that there was just a date issue on Travis, so I manually reuploaded the tag. However, upon reflection I now believe the tag was just committed to the repo's master branch, which is not the branch that was committed to Github.

The Travis build is here, but there doesn't seem to be any relevant info; https://travis-ci.org/tomb

[2018-06-13 21:29] tombh commented on #697
Closing. Very sorry, I mistakenly thought Gitreleaser was responsible for pushing tags, but it's not.

[2018-06-13 21:29] #697 closed

[2018-06-13 21:46] caarlos0 commented on #697
indeed, goreleaser doesn't push any tags :)

hope you find the solution anyway, cheers!

[2018-06-15 16:25] bep opened #698 "Binaries per build tag"
I tried to read up on the documentation on this ...

I may be Tweeted that Hugo is adding SASS support. This currently means Libsass and CGO. Which is unfortunate, but I really want it, so it happens.

But it will mean that

1. there will be some platforms that I cannot provide the fully featured binary
2. someone would also probably also prefer a "fully static Hugo binary". And you should need th

[2018-06-15 16:43] caarlos0 commented on #698
Hi @bep!

I saw that tweet, this will be an awesome feature!

Right now the `builds` accept multiple `build` structures. So I think you may be able to get what you need with something like:

[code]

What do you think?

[2018-06-15 16:52] bep commented on #698
Yes, that works great. Thanks for the quick response. Hugo still runs Goreleaser 0.34.2 and I'm a little behind on what it can do. You have been busy, I see. Thanks again.

[2018-06-15 16:52] #698 closed

[2018-06-15 17:43] caarlos0 commented on #698
Cool, let me know if you find any issues :D

[2018-06-17 22:49] caarlos0 commented on #631
I couldn't find a way of doing this in a reliable way, so I'll close this.

If you find a way of doing that, please let us know.

Maybe when fixing #500 we can do this as well?

[2018-06-17 22:49] #631 closed

[2018-06-18 11:45] caarlos0 commented on #633
I think #583 fixes this, no?

[2018-06-18 17:39] brocaar commented on #633
I think potentially it could, but I'm not 100% sure if this only reflects the upload part, or also the URL generation part to the artifact (e.g. used by the Homebrew recipe).

[2018-06-19 04:37] errordeveloper commented on #686
I am seeing this also.

[2018-06-19 11:46] caarlos0 commented on #686
Hi!

If you remove the `build_depencencies` it should work. The formula doesn't really need that if you will provide it as a tap.

The build_depencies are a first step into the direction of generating a brew formular that can be accepted on the homebrew core, but right now there it is buggy, and I couln't think of a good way of fixing it so far.

You can check #687 for more info :)

[2018-06-20 06:28] errordeveloper commented on #686
Ok, I see - will try that.

On Tue, 19 Jun 2018, 4:46 am Carlos Alexandro Becker, <
notifications@github.com> wrote:

[2018-06-20 06:58] errordeveloper commented on #686
Yes, it worked! 🎉

I would recommend updating the docs and removing `build_dependencies` until it becomes a usable option.

[2018-06-20 09:08] danielmorandini opened #699 "snapcraft: allow to customize `command` field"
**Problem description**
It is not possible right now to configure the `command` of a snap. This is a bit uncomfortable when publishing the app as a daemon.

**Solution**
I'm looking at the `snapcraft.go ` at [line 146](https://github.com/goreleaser/goreleaser/blob/f96315cf3f032059f34334e4fa4051843554b9bf/pipeline/snapcraft/snapcraft.go#L146), there the binary name is set as default `command`. I th

[2018-06-20 12:39] #683 closed

[2018-06-20 12:44] caarlos0 commented on #686
Agree, I'm actually thinking about removing this entire feature.

Thinking about the usability of it: AFAIK, most core formulas are created once and updated by a bot, eg: https://github.com/Homebrew/homebrew-core/pulls?q=is%3Apr+sort%3Aupdated-desc+goreleaser+is%3Aclosed

Also, this feature just don't work for now. I'll remove it and see if someone else asks for it.

[2018-06-20 18:02] buchanae opened #701 "Support a workflow that doesn't depend on git tags"
We've been using goreleaser to create draft releases on GitHub, which are then manually published after review. During this process, we create a git tag locally for goreleaser to determine the version. We never push this tag, since a tag will be created when the draft release is published. We also keep the release version in other parts of the code, for things outside the scope of goreleaser.

gor

[2018-06-21 13:29] dAnjou commented on #110
I'm currently working on a way to use GitLab CI and GitLab Pages for a releases website, a PoC is already working. Now I'm trying to do most of it with GoReleaser.

Repo: https://gitlab.com/dAnjou/goup (see `.gitlab-ci.yml`)
Website: https://danjou.gitlab.io/goup/

It's still very much a WIP, keep that in mind.

[2018-06-22 14:15] maxcnunes commented on #667
Anyone working on this? I could try to implement it.

[2018-06-22 18:17] #686 closed

[2018-06-22 23:07] deepthawtz opened #702 "thank you for this project!"
I really appreciate your work and use this project a lot. sorry to spam your issues but Thanks!

@GitCash send 0.008 BCH to @caarlos0

[2018-06-22 23:07] GitCash commented on #702
[![GitCash Tip Response](https://gitcash.io/tip/pic/128/image.png)](https://gitcash.io/claim/caarlos0)
@caarlos0

[2018-06-23 03:16] deepthawtz commented on #702
glad you received this, i'll shut this issue down now 🍻

[2018-06-23 03:16] #702 closed

[2018-06-23 14:39] caarlos0 commented on #702
Thanks @deepthawtz =D

[2018-06-24 15:39] caarlos0 commented on #530
docker 18 already have the `manifest` command :D

[2018-06-24 18:33] caarlos0 commented on #500
Still need to remove the git dep. on the other hand, we won’t be able to remove snapcraft and Docker deps I believe...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-25 00:14] caarlos0 commented on #701
I think that can be done, yes.

[2018-06-25 13:01] #699 closed

[2018-06-25 13:22] caarlos0 commented on #633
Only the upload part.

I can't think on a good way of telling brew to use one upload or another... any ideas?

[2018-06-27 22:20] tdmanv opened #705 "Create Multiple Archives"
**Is your feature request related to a problem? Please describe.**
We would like to release a server/client from a single repo using goreleaser.

**Describe the solution you'd like**
Ideally we'd be able to create multiple archives - one for the server and one for the client. When installing the client, it shouldn't be required to get the server binary as well. We should also be able to limit the

[2018-07-01 19:29] 1138-4EB commented on #530
Is this already embedded into goreleaser or should be follow the two step approach yet?

[2018-07-02 12:10] 1138-4EB opened #707 "Expand 'goos' and 'goarch' combinations in 'dockers'."
I am trying to reproduce the compact syntax of the 'build' field in order to generate multiple docker images, each one corresponding to a built binary, and all of them based on the same Dockerfile and sharing the same image name.

Given then following configuration file, I'd like multiple docker images to be created, each of them with two tags.

[code]

The problems I find are:
- Each of `goarch`

[2018-07-02 17:58] endorama opened #708 "Crossbuilding with xgo"
Hello, first of all a **big** thank you for this project. Is awesome and works like a charm.

**Is your feature request related to a problem? Please describe.**
I'm having some issues cross-compiling a go package ( [github.com/99designs/keyring](https://github.com/99designs/keyring) )

Trying to cross-build from linux to osx I needed to use [`xgo`](https://github.com/karalabe/xgo). This is due to

[2018-07-02 19:37] caarlos0 commented on #708
you don't need xgo, you just need to disable cgo.

Take a look at goreleaser's `goreleaser.yml` file: https://github.com/goreleaser/goreleaser/blob/master/.goreleaser.yml#L5-L6

Let me know if it doesn't work!

Cheers

[2018-07-02 19:40] caarlos0 commented on #707
setting each image explicitly will work, but we should indeed fix those issues.

Thanks for opening this issue!

[2018-07-02 21:35] endorama commented on #708
Hi @caarlos0 thanks for the quick reply. Unfortunately does not seem to work.

<details>
  <summary><code>.goreleaser.yml</code></summary>
  <p>

[code]
  </p>
</details>

<details>
  <summary>output</summary>
  <p>

[code]
  </p></details>
</p></details>

Issue seems in the `99designs/keyring` package importing [`keybase/go-keychain`](https://github.com/keybase/go-keychain).

I *go getted* `keyba

[2018-07-02 23:11] caarlos0 commented on #708
if it requires CGO, I think you'll need to explicitly enable it (change `0` to `1`)... can you try that as well?

[2018-07-03 22:13] endorama commented on #708
Still no luck unfortunately.

<details>
  <summary><code>.goreleaser.yml</code></summary>
  <p>

[code]
  </p>
</details>

<details>
  <summary>output</summary>
  <p>

[code]
  </p></details>
</p></details>

Any idea? Thank you for the support so far!

[2018-07-04 16:43] probonopd commented on #338
Adding activity so that @stale goes away until this is solved.

[2018-07-04 17:07] thapakazi commented on #708
:+1: @endorama there there :sweat_smile:
weird, I have the same requirements like you.

I need to do cross platform builds, and sadly my dependencies are dependent on C headers, where I can't afford to make any change. and enabling `CGO_ENABLED=1` also didn't work. and I switched to xgo, which happily does the build magics

Now I need to transport those local build to my remote release. I am writi

[2018-07-05 03:50] caarlos0 commented on #708
hmm, ok, so the problem is different from what I thought it was... will reopen it!

[2018-07-08 09:42] wxio opened #714 "nfpm on windows"
**Describe the bug**
Using goreleaser on windows produced a deb package with incorrect folder paths.
i.e. `\`s instead of `/`s

**To Reproduce**

[code]

Got
[code]

Expected
[code]

**Environment (please complete the following information):**

- OS: windows
- GoReleaser Version: 0.79.1, commit 47b6bd5f502050dd1ebd94896d009e7aa87785b1, built at 2018-07-04T15:52:18Z

[2018-07-08 20:26] bep opened #715 "Replacement does not apply to deb archives"
They used to do so before, but now after updating Hugo to the latest:

[code]
Should be:

[code]

[2018-07-08 21:04] bep commented on #708
I have done some similar work in Hugo, and I would strongly recommend keeping this out of GoReleaser.

[2018-07-09 00:12] caarlos0 commented on #708
Hi @bep, what are the reasons for that?

[2018-07-09 00:13] caarlos0 commented on #714
Thanks for the issue!

[2018-07-09 01:02] caarlos0 commented on #715
Actually, not a bug... nfpm pipe has its own replacements section now...

I've opened a PR on hugo to fix that...

[2018-07-09 01:02] #715 closed

[2018-07-09 02:51] #714 closed

[2018-07-09 04:08] caarlos0 commented on #707
#716 will fix this two items:

- `{{ .ProjectName }}` cannot be used to set the dockers image.
- Neither `{{ .Arch }}` nor `{{ .Arm }}` can be used to set tag_templates.

the other one will be fixed in another PR

[2018-07-09 06:11] bep commented on #708
I don't think it's doable. The xgo project is massive in size and complexity to support CGO crossbuilding to lots of platforms. You will need to run in Docker, for one.

[2018-07-09 06:13] caarlos0 commented on #708
hmm, that makes sense, I didn't really dug into that yet... but if it is that complicated, I think I'll just not do it...

maybe... maybe, a `xgo` builder (so people could add `language: xgo` and goreleaser would just delegate), but not sure about that either...

[2018-07-09 06:14] caarlos0 commented on #708
Anyway, thanks for the input @bep 🎉

[2018-07-09 12:55] millergarym opened #717 "nfpm on windows - file permissions & post install scripts"
**Describe the bug**

The file permissions are all `-rw-rw-rw-`.
Also, scripts don't seem to being bundled with the package.

**To Reproduce**

[code]

**Expected behavior**

I expected nfpm to magically know which files need to be executable ;-)
Not quite, I hoped to chmod the files and install the server in postinstall.sh

[code]

**Environment (please complete the following information):**

- O

[2018-07-09 14:57] caarlos0 commented on #717
hmm, probably because the tar package doesn't inherit windows file permissions or something...

will take a look!

Thanks

[2018-07-09 16:43] caarlos0 opened #718 "--skip-publish=true fails"
see bug report at https://github.com/gohugoio/hugo/issues/4918

[2018-07-09 17:09] endorama commented on #708
Hello @bep thanks for the feedback. Do you  mind sharing how you implemented this in `hugo`? I'm not getting how you are using `goreleaser` there.

I'm currently compiling using this command:
[code]

I suspect that at some point `goreleaser` is doing something similar with `go build`.
What I would propose here as a new feature goes along the line of the `language: xgo` @caarlos0 proposed.
Could al

[2018-07-09 18:50] caarlos0 commented on #717
`postinstall` didn't work? What's the error?

[2018-07-09 21:31] bep commented on #708
@endorama have a look at https://github.com/gohugoio/hugo/blob/master/goreleaser-extended.yml

I use my own Docker container to do this CGO cross builds. Think of it as a mini-xgo. So, Goreleaser works great in this context -- the real work is to get the actual builds going, which I think would be a bad fit for this project (too much work). And you pretty fast get into some hard license issues tha

[2018-07-10 09:29] TruthHun opened #719 "how to archive a folder ?"
I have many static files in a folder，and how to archive them with a folder？
thinks.

[2018-07-10 09:55] TruthHun commented on #719
OK，I have solved it by myself.
my `.goreleaser.yml`：
[code]

[2018-07-11 07:02] tombh opened #720 "Homebrew code doesn't acknowledge `format_overrides`"
**Describe the bug**
When using a main format of `binary` and a format override of `zip` the Homebrew code doesn't acknowledge override for `darwin`.

**To Reproduce**
Specify the default format as `binary` and specify the format override for `darwin` as `zip`.

[code]

**Expected behavior**
Homebrew code should run without this response:
[code]

Using `curl -sL http://git.io/goreleaser | bash`

[2018-07-11 07:45] caarlos0 commented on #720
Thanks! Opened #721

[2018-07-11 07:53] #720 closed

[2018-07-11 07:56] caarlos0 commented on #719
This is actually on docs already... any suggestions on how we can make it clearer @TruthHun ?

[2018-07-15 13:22] Southclaws opened #724 "Releasing to GitHub stage fails with 404"
**Describe the bug**

TravisCI has broken (not sure why, API outage or something) so I had to release a new version manually. Upon trying this, I'm getting the following error right at the end of the process under the `RELEASING TO GITHUB` section:

[code]

**To Reproduce**

I'm not really sure how to reproduce - maybe try running goreleaser inside https://github.com/Southclaws/sampctl/ I don't kn

[2018-07-16 10:57] pcarranza commented on #530
Oh, I've been quite busy myself lately.

I think this should be part of goreleaser itself. It's just one more command already embedded in docker in the end.

[2018-07-16 13:08] caarlos0 commented on #724
hi @Southclaws, did you renamed your repository or something?

did it happen to other repos, or just this one?

[2018-07-16 13:33] Southclaws commented on #724
No renames, and I only use goreleaser for this project.

[2018-07-16 13:48] caarlos0 commented on #724
hmmm that's weird... I just did a release 2 days ago and it worked https://github.com/caarlos0/domain_exporter/releases

will try to update the github package... not sure if it is related though...

[2018-07-16 16:14] 1138-4EB commented on #530
I thought that I had already linked this issue with goreleaser/goreleaser#707. Just doing it now because I think that the single missing enhancement there can affect the implementation of this.

Although I'm quite busy too, @pcarranza please do not hesitate to ask for help evaluating/testing any enhancements to this.

[2018-07-16 16:16] caarlos0 commented on #530
yeah, I think I'll work on that issue maybe today...

[2018-07-17 00:54] caarlos0 commented on #707
I was thinking, I'm not sure this is a good idea.

For example, most arm-based images will have another base image -> https://github.com/docker-library/official-images#architectures-other-than-amd64

So, maybe it will end up making all things overcomplicated... For builds, it is easy enough to guess which goos/goarch/goarm combos are valid or not, for docker I think it may not be that easy.

Maybe

[2018-07-17 11:16] caarlos0 commented on #707
this second proposal seems to make more sense... you could use yaml variables though...

[2018-07-17 11:45] 1138-4EB commented on #707
That makes sense. I had not thought about yaml variables!

However, in order to support using the same Dockerfile, adding a `from` field would be desirable, as it would avoid the requirement to create multiple copies which are different only because of the `FROM` line.

[code]

[2018-07-17 16:26] caarlos0 commented on #707
this would mean templating the Dockerfile as well - which also means you won't be able to manually build from that Dockerfile anymore.

I think repeating a bit of code here makes things easier to understand and to maintain later...

[2018-07-17 17:17] 1138-4EB commented on #707
What about using `FROM debian:buster-slim AS gorelease` as a template? That would allow to use the Dockerfile manually.

[2018-07-17 19:38] jsternberg opened #727 "Add a publish snapshots configuration to the docker build"
**Is your feature request related to a problem? Please describe.**
We use goreleaser to publish nightly snapshots. We have recently added docker images that are created using the nightlies. The s3 section will copy the snapshot to s3, but the docker push is skipped because snapshot disables publishing.

**Describe the solution you'd like**
A configuration option such as `publish_snapshots` that wo

[2018-07-17 19:40] jsternberg commented on #727
The code for this is pretty easy so if I just get a confirmation that a feature like this would be merged, I can do the code for it and push it up as a PR.

[2018-07-18 02:15] lzjluzijie opened #728 "wrap_in_directory with custom directory name"
For example, my project name is `websocks`. When I enable `wrap_in_directory`, the directory name inside the windows archive will be `websocks_Windows_x86_64`. I want only project name or project name with version, but I can't find anywhere for it.

Can you add a new field like "sub_directory_name"?

[2018-07-18 17:55] nicksnyder opened #729 "goreleaser produces more builds than expected"
**Describe the bug**

goreleaser produces 386 builds when I don't expect it to.

**To Reproduce**

Steps to reproduce the behavior:

[code]

`goreleaser release` produces i386 builds for darwin and linux (but not windows?)
- windows_amd64
- darwin_amd64
- darwin_386
- linux_amd64
- linux_386

https://github.com/sourcegraph/yj/releases/tag/v1.0.0

**Expected behavior**

Produce only amd64 builds si

[2018-07-18 18:52] caarlos0 commented on #729
happens to the best of us haha

maybe eventually I'll add toml as well, this is not the first time :D

[2018-07-18 19:07] caarlos0 opened #730 "docs: mentions goreleaser init on quickstart"
https://github.com/goreleaser/goreleaser/issues/729#issuecomment-406040119

[2018-07-19 23:10] jbaruch commented on #15
While deb packaging and using deb repositories in Bintray, pushing any type of file to a generic repo also makes a lot of sense. While in an essence it's nothing more than an HTTP PUT, having a native command for it would be nice.

[2018-07-19 23:21] caarlos0 commented on #15
Maybe the new http put pipe solves this issue already?

https://goreleaser.com/put/

[2018-07-19 23:22] caarlos0 commented on #728
you're the first asking for this, let's see if more people are interested...

[2018-07-19 23:22] caarlos0 commented on #727
yeah, seems ok to me...

[2018-07-19 23:23] caarlos0 commented on #708
I'll mark this as wont fix for now.

[2018-07-19 23:23] #708 closed

[2018-07-19 23:27] caarlos0 commented on #724
@Southclaws are you still being able to reproduce this?

[2018-07-19 23:28] caarlos0 commented on #217
goreleaser already releases itself and run several things on CI, I think we can skip this for now.

if it ever comes to be an issue, we can prioritize this.

[2018-07-19 23:28] #217 closed

[2018-07-19 23:32] #719 closed

[2018-07-20 00:45] jbaruch commented on #15
Functionally it sure does. The question is do we want to have a nice native command and a DSL around it. I think it makes sense, not every Bintray user realizes how easy it is to upload using HTTP PUT.

[2018-07-20 03:30] caarlos0 commented on #15
Maybe we can solve this with documentation only? I don't use bintray, if someone can add some examples on how to publish to bintray using the http put pipe, it would be awesome :D

[2018-07-20 04:00] lzjluzijie commented on #728
https://github.com/goreleaser/archive/issues/4

By the way, I found a problem with packing files in subdirectories. I want to pack all the files and files in directories in `templates` directory, but it will only pack the `home.html` file and empty directories.

[code]

[code]

[2018-07-20 13:52] lzjluzijie commented on #728
I tried but it did not work.

[2018-07-20 14:02] caarlos0 commented on #728
hm, I think then `templates/**/*`?

[2018-07-20 16:06] jbaruch commented on #15
That someone would be me :)

[2018-07-20 16:55] caarlos0 commented on #15
Cool, thanks @jbaruch :D

[2018-07-20 21:36] endorama commented on #708
@caarlos0 thank you anyway for your time looking into this.

@bep thank your for your feedbacks.

[2018-07-21 01:19] lzjluzijie commented on #728
Thanks. It works now. But I why `templates/**` does not work?

[2018-07-21 13:19] caarlos0 commented on #728
It's just how globs work, if you try for example `ls templates/**` and `ls templates/**/*` you'll see the difference... It was my fault I gave you the wrong answer first hehe

[2018-07-21 13:34] #730 closed

[2018-07-21 13:37] caarlos0 commented on #707
I rather leave things the way it is for now.

This little repetition won't hurt and support all scenarios already.

The template enhancements were valid though, and they are implemented.

That being said, I'll close this for now.

[2018-07-21 13:37] #707 closed

[2018-07-21 13:39] caarlos0 commented on #718
I think this is a bug on kingpin.

[2018-07-21 13:40] caarlos0 commented on #724
closing as I couldn't reproduce.

[2018-07-21 13:40] #724 closed

[2018-07-21 13:40] caarlos0 commented on #717
ping @millergarym

[2018-07-21 13:52] lzjluzijie commented on #728
OK, thanks.

[2018-07-21 18:40] Southclaws commented on #724
Could this be because I am trying to release an app that's stored in an organisation's repository and my token doesn't have access?

[2018-07-21 22:30] caarlos0 commented on #724
yeah, can be... you can generate a new token just to be sure... this doesn't seem to be a bug in goreleaser though...

maybe github support can help as well...

[2018-07-23 09:05] lzjluzijie commented on #728
There is still a problem. When I enabled `wrap_in_directory`, the extraction on my vps was abnormal. Something wrong with `\` and `\\`.

![image](https://user-images.githubusercontent.com/7992620/43067550-3aab11be-8e9a-11e8-826c-a6130133eb42.png)

[2018-07-23 17:11] foolin opened #734 "archive zip include subfolder files error in windows 10"
archive zip include  files error in windows 10, the project struct such as:
[code]
the config file:
[code]

the zip file screenshot：
![zip](https://user-images.githubusercontent.com/2344587/43091709-5e0f29ea-8edd-11e8-93b4-29d207147d0d.png)

This is bad zip file, it can't unzip! But when I set format "tar.gz" is going well. Is this a bug?

[2018-07-25 00:33] #734 closed

[2018-07-25 00:46] caarlos0 commented on #734
should be fixed on latest.

[2018-07-25 05:56] foolin commented on #734
@caarlos0 Thanks!

[2018-07-26 07:22] foolin commented on #708
@bep
My project is use the sqlite: https://github.com/mattn/go-sqlite3 and need cross compile with cgo，I see that config:
https://github.com/gohugoio/hugo/blob/master/goreleaser-extended.yml

[code]
How to install the compilers? Can you share it?

Thanks!

[2018-07-26 09:39] bep commented on #708
@foolin https://github.com/bep/dockerfiles/tree/master/ci-goreleaser

[2018-07-27 16:21] caarlos0 commented on #680
working on it.

[2018-07-27 16:40] caarlos0 commented on #680
https://forum.snapcraft.io/t/requesting-approval-for-goreleasers-classic-snap/6571

[2018-07-27 17:15] caarlos0 commented on #680
if they approve, I'll add the feature to goreleaser to auto-upload every artifact :)

[2018-07-27 19:17] cludden opened #737 "Snapshot artifacts do not include name_template patterns and are uploaded to s3 despite --skip-publish"
**Describe the bug**

using goreleaser with `--snapshot` is generating artifacts without honoring the `name_template` field and overwriting prior artifacts. I can see in the debug log statements that the version variable has the snapshot tag, however the resulting artifact does not. also, snapshots are published to s3 even when the `--skip-publish` flag is included. is this the expected behavior?

[2018-07-27 20:00] caarlos0 commented on #737
no, that's a bug -> https://github.com/goreleaser/goreleaser/pull/738

---

About the snapshot template, the docs are not correct, it is actually the templating for the `.Version` only, so, if your artifacts name template uses `.Version`, you can override it through snapshot name template.

Thinking now, this is probably not a good idea, a better approach would be to just allow the `archive.name_t

[2018-07-28 08:14] caalberts commented on #350
Hi, support for CircleCI 1.0 will end on August 31, 2018. I would love to help to update the documentation at https://goreleaser.com/ci/ to support CircleCI 2.0.

Where can I find the code for the documentation?
https://github.com/goreleaser/goreleaser.github.io looks autogenerated.

[2018-07-28 13:12] caarlos0 commented on #350
Hi @caalberts!

Thanks for that!

It is auto-generated by http://gohugo.io

The source is https://github.com/goreleaser/goreleaser/blob/master/www/content/ci.md

You can run `make setup` and `make serve` to develop locally :)

[2018-07-28 13:40] caarlos0 commented on #737
@cludden artifacts should no longer be updated to s3 on snapshot

[2018-07-29 01:43] #737 closed

[2018-07-29 14:54] caarlos0 opened #740 "clarify snapshot docs"
see #737

maybe we need to change it entirely though...

[2018-07-30 21:21] liftM opened #741 "Before hooks are not parsed correctly"
Before hooks are run using `exec.Command` after parsing with `strings.Fields`:

https://github.com/goreleaser/goreleaser/blob/d701179975d13add685038109c0d0507a614a153/pipeline/before/before.go#L24-L33

This makes it impossible to run arbitrary shell commands, because running e.g. `bash -c "foo bar"` is executed as `exec.Command("bash", "-c", "\"foo", "bar\"")` when it should be `exec.Command("bash

[2018-07-30 21:27] caarlos0 commented on #741
Hi @ilikebits

yes, it only supports simple scripts, you can wrap your complex scripts in a file and add a hook to call the file.

[2018-07-31 14:48] mekegi commented on #718
@caarlos0
https://github.com/alecthomas/kingpin/#boolean-values
kingpin work with bool like
[code]
or for negative
[code]
without `=true` or `=false`
looks like not a bug

[2018-07-31 15:51] caarlos0 commented on #718
yes, I think so...

will close it, thanks @mekegi !

[2018-07-31 15:51] #718 closed

[2018-08-01 20:38] jorng opened #744 "Add support for macOS Installer Packages"
GoReleaser currently can output Linux installers (`rpm` and `deb` formats), but not macOS installers. It would be nice if it could output installer packages for macOS as well.

This can be achieved, at least when running on macOS, by using the `pkgbuild` and `productbuild` commands. An example:

[code]

- `--root` is the path to the darwin binary folder.
- `--identifier` could be set in the config

[2018-08-02 16:49] mgrachev commented on #680
@caarlos0 Hi! I really need this feature. How can I help you with this?

[2018-08-02 16:54] caarlos0 commented on #680
I'm not sure yet how I would implement this...

I actually think I need to split snapcraft into two pipes, one to build artifacts and other to push them, not sure how yet...

I'll probably work on this over the weekend, for now I'm not sure how to implement this...

[2018-08-02 17:05] mgrachev commented on #680
I'd implement like Homebrew pipe with `skip_push` option.

[2018-08-02 17:24] caarlos0 commented on #680
yeah, but homebrew is the last step, snapcraft is in the middle...

[2018-08-06 04:31] foolin opened #747 "Is config "dist" support templating?"
I want to set like this, build every time in new version folder:

[code]

Is it  support?

[2018-08-06 13:17] caarlos0 commented on #747
Hi @foolin, no, it does not support templates.

What is the use case for that?

[2018-08-07 01:36] foolin commented on #747
I want to archive the folder without “—rm-dist”

[2018-08-07 01:56] caarlos0 commented on #747
yeah, but why?

[2018-08-07 16:31] caarlos0 commented on #744
I think it'll be confusing, since AFAIK we can only generate those on a macOS machine right?

[2018-08-07 17:55] jorng commented on #744
Yes, but it could be detected like other external dependencies. The downside is that, unlike the other dependencies, it is _only_ available on macOS.

The pkg format is just XML files and cpio archives, bundled into a xar file, so it could be re-implemented in go, but that’s a much more significant amount of work.

[2018-08-07 18:02] caarlos0 commented on #744
yes, I don't think it's worth it.

Also not sure I want to maintain any of that - I never really created these kinds of packages...

[2018-08-08 13:15] deimosfr opened #750 "goreleaser in travis fails: "error=tmpl: Invalid Semantic Version""
**Describe the bug**

On travis (and only on travis), I can't run successfully goreleaser after pushing a tag. Here are the logs I got:

[code]

**To Reproduce**

Steps to reproduce the behavior, here is the config:

[code]

The travis config:
[code]

**Expected behavior**

As working outside travis, I expect it to work build the binaries.

[2018-08-08 13:16] caarlos0 commented on #750
what is your tag?

[2018-08-08 13:27] deimosfr commented on #750
I made some clean in my tests and looks working when removing the 'b' letter in v0.2.16b. Is this possible?

[2018-08-08 13:44] caarlos0 commented on #750
yes, check https://semver.org/ and https://github.com/masterminds/semver

[2018-08-08 17:00] foolin commented on #747
I wan't to push every version package for self-host git repository， use “—rm-dist” option will remove the .git info. So I must change .goreleaser every time, it's very tedious.

[2018-08-08 17:47] deimosfr commented on #750
Ok thanks

[2018-08-08 18:25] caarlos0 commented on #750
I'll leave it open in order to make it cleared in the documentation..

thanks!

[2018-08-09 08:40] foolin commented on #747
Thanks!

[2018-08-09 15:41] wburningham opened #752 "Checksum header for Artifactory artifacts"
**Is your feature request related to a problem? Please describe.**
When configuring goreleaser to upload artifacts to Artifactory I noticed that the `checksum: true` option uploads a file with all the checksums, but does not send a `X-Checksum-SHA256` header. Without this header the following warning/error appears in Artifactory:

![image](https://user-images.githubusercontent.com/712078/43909208-

[2018-08-09 22:28] omerxx opened #753 "Misleading error when checking git.IsRepo"
**Describe the bug**

When running the releaser on a platform that doesn't have git installed (e.g a Drone plugin running on an alpine image), the returned error is "current folder is not a git repository".
This is not true, the error is not having git and it has to be checked (and tested).
IMHO this line - https://github.com/goreleaser/goreleaser/blob/2ea883e0c44860e14aab39c935cbd4df5a8720ca/pipe

[2018-08-10 12:01] caarlos0 commented on #753
good catch, thanks!

[2018-08-10 22:04] kgrodzicki opened #754 "Support profile and assume an IAM role with MFA prompting for token code on stdin when uploading to S3"
**Is your feature request related to a problem? Please describe.**
I have a need to use profile with assume role and MFA when uploading artifacts to S3.
So upload will work with configuration like below:
~/.aws/config
[profile cloudformation@flowlab-development]
role_arn=arn:aws:iam::11111111111111:role/service-role/cloudformation
source_profile=user
mfa_serial=arn:aws:iam::22222222222:mfa/user

~

[2018-08-13 12:27] caarlos0 commented on #754
Hi @kgrodzicki , sounds good to me ;)

[2018-08-14 03:17] tahsinrahman opened #755 "seperate tool for creating brew formula like nfpm"
**Is your feature request related to a problem? Please describe.**

We want to create homebrew formula, but do not want to use goreleaser for that purpose. We're using makefile. We are using nfpm for creating deb and rpm packages. It will be handy we could use a Homebrew specific cli to create brew formulas.

**Describe the solution you'd like**
Like what you did with nfpm, it'd be great if brew p

[2018-08-14 12:06] caarlos0 commented on #755
Hi @tahsinrahman

Thanks for the suggestion, but I don't think its worth doing that... since you'll use on a single project, is probably easier to have the file in your repo and just replace things like version and sha256 sum using `evnsubst` or something like that.

NFPM is separated because it was born a separated tool, even though it's cli is very limited.

Cheers!

[2018-08-14 12:06] #755 closed

[2018-08-14 16:19] cmoulliard opened #756 "error=yaml: line 4: did not find expected key -> binary"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

run the goreleaser command with this yaml file

[code]

Error generated

[code]

**Environment (please complete the following information):**

- OS: mac
- OS version: Darwin dabou 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
- GoReleaser Vers

[2018-08-14 16:25] caarlos0 commented on #756
you config file is wrong.

Please check the [documentation](https://goreleaser.com/customization/).

I think you wanted to do something like this:

[code]

[2018-08-14 16:25] #756 closed

[2018-08-14 16:32] cmoulliard commented on #756
Sorry for my mistake. I was thinking, according to the doc, that all the fields were aligned at the same indentation

[2018-08-15 03:16] caarlos0 commented on #747
I rather not do this for now, as at the time dist folder is defined other info required for templating are not yet available.

You can workaround using envsubtst or something like that. Pushing artifacts to a git repo is not a common usecase AFAIK. You could also copy the artifacts to another folder on each release...

[2018-08-15 03:16] #747 closed

[2018-08-15 03:25] #741 closed

[2018-08-15 03:28] #750 closed

[2018-08-16 14:33] Southclaws opened #760 "Non-obvious implicit usage of GitHub path as project name"
**Describe the bug**

I spent a while trying to figure this one out, it's quite subtle.

I have a project named "Machinehead" on [GitHub](https://github.com/Southclaws/Machinehead) - note the uppercase 'M'. The binary I am building is named `machinehead`. I set `project_name` in the config to `machinehead` but each build fails at the Docker stage because I try to `COPY machinehead /bin/machinehead

[2018-08-16 16:18] caarlos0 commented on #760
woow, good catch! THanks

[2018-08-18 16:48] Southclaws opened #763 "Template variables and environment variables not being passed to ldflags"
**Describe the bug**

I just had some bug reports from users after a new release and when I asked for them to check their version they reported `master` instead of the expected `1.8.27`. The same thing also affected an environment variable which I used to pass in a Segment.io API key at build time.

The `ldflags` field is set to `s -w -X main.version={{.Version}} -X main.segmentKey={{.Env.SEGMENT_

[2018-08-20 12:08] caarlos0 commented on #744
Following the ["yes is forever" rule](https://twitter.com/solomonstre/status/715277134978113536), I rather not do this - or at least not right now.

Thanks for the suggestion either way.

[2018-08-20 12:08] #744 closed

[2018-08-20 12:10] caarlos0 commented on #15
Hi @jbaruch , do you need my help in this one? What can I do?

Cheers!

[2018-08-20 12:12] caarlos0 commented on #332
I believe this can be hacked around using go templates, so, following the ["yes is forever" rule](https://twitter.com/solomonstre/status/715277134978113536), I rather not do this - or at least not right now.

Thanks for the suggestion either way.

Cheers!

[2018-08-20 12:12] #332 closed

[2018-08-20 12:14] caarlos0 opened #764 "prepare for vgo"
we should test if everything works fine under vgo, and possibly migrate to it, so users could `go get` under go 1.11 :)

[2018-08-20 13:32] Southclaws commented on #763
I found the cause and fixed it, turns out a missing `-` character on `ldflags` silently errored - is this a `go build` bug or a goreleaser issue? I would have expected the `go build` to fail with an invalid ldflags string.

[2018-08-20 13:58] caarlos0 commented on #763
I think it is a go build issue. If go build fails, go releaser fails as well.

You can check that running the go build command directly (if you run with `--verbose` goreleaser prints all the args).

Anyway, since it's not a bug, I'll close the issue :)

[2018-08-20 13:58] #763 closed

[2018-08-20 13:59] caarlos0 commented on #338
Following the ["yes is forever" rule](https://twitter.com/solomonstre/status/715277134978113536), I rather not do this - or at least not right now.

Thanks for the suggestion though.

I'll leave the 2.0 milestone and maybe we revisit this in the future.

Cheers!

[2018-08-20 13:59] #338 closed

[2018-08-20 14:01] caarlos0 commented on #633
homebrew now has a `url_template`, so this can be supported.

https://goreleaser.com/homebrew/

Closing!

[2018-08-20 14:01] #633 closed

[2018-08-20 16:59] michelvocks opened #765 "Duplicated docker extra_files leads to build error"
**Describe the bug**

First of all, thanks a lot for goreleaser. Awesome tool! 🤗

We are generating multiple docker images with goreleaser. Some images share files (for example `docker-entrypoint.sh` file). If you specify for every docker image via `extra_files` the same file, the release process will abort and fail with the following message:

 `release failed after 59.91s error=failed to link ex

[2018-08-20 17:03] caarlos0 commented on #765
definitely a bug!

thanks for reporting!

[2018-08-20 17:50] caarlos0 commented on #765
Proposed a fix.

It was very hacky before, now I just create a new temp dir for every docker build, so they won't have to compete for resources or whatever. Should be much more stable :)

[2018-08-20 19:03] kgrodzicki commented on #754
@caarlos0 it is a bit tricky to write proper tests for this code. What about extracting all code responsible for creating a s3 client and testing it outside of `upload` function ?

[2018-08-20 19:17] caarlos0 commented on #754
@kgrodzicki I agree, I think there is already a TODO regarding some of its behavior... if you could work on that it would be awesome!

[2018-08-20 21:58] #765 closed

[2018-08-21 02:18] #753 closed

[2018-08-21 02:25] caarlos0 commented on #752
maybe we could change the `artifacts.Add` method to calculate the sha256sum and set it to a field... that would require a lot of refactor though.

other option would be to add a `SHA256Sum` method to the `Artifact` struct, and make it lazy (or not).

Still not sure how's the best way to do the header part though.

[2018-08-21 02:51] #606 closed

[2018-08-21 22:52] jbaruch opened #773 "Add build information to JFrog Artifactory"
When deploying to JFrog Artifactory it is beneficial to add the deployed artifacts to [build info metadata](https://www.jfrog.com/confluence/display/RTF/Build+Integration).
It provides information about the build right where the artifacts are. Here's an example of how Java build-info looks like:
![Java Build Info](https://monosnap.com/image/7zmx0d2WLDjRiQzyqzflG9yLhm3X5P.png)

From the user perspe

[2018-08-22 16:11] jbaruch commented on #773
@caarlos0 we (@jfrog) will try and do a PR for this one.

[2018-08-22 16:13] jbaruch commented on #764
Sorry for the dumb question, but do you use user's `go` distribution to run? If so, from what I see, once the user has the mod file in their project, Go 1.11 will just do the right thing.

[2018-08-22 16:35] caarlos0 commented on #764
yes, I just wan't to make sure everything works as expected... also maybe use vgo in goreleaser it self, so users can `go get` it without `dep` and etc.. :)

[2018-08-22 16:37] caarlos0 commented on #773
great 🗡

let me know if I can help!

[2018-08-22 21:42] sebastianwebber opened #774 "Cannot build rpm packages"
**Describe the bug**

goreleaser cannot build rpm packages. it stops running with a `⨯ release failed after 1800.00s error=context deadline exceeded` message and keep the `rpmbuild` processes running.

![image](https://user-images.githubusercontent.com/2515929/44492238-22fb2b00-a63a-11e8-8e93-4392bfbe2864.png)
![image](https://user-images.githubusercontent.com/2515929/44492489-13301680-a63b-11e8-9

[2018-08-22 21:52] caarlos0 commented on #774
which version of rpmbuild are you using?

[2018-08-22 21:54] caarlos0 commented on #774
FWIW, goreleaser itself latest release was released as RPM as well, so it seems like some specific thing on your setup... somewhere: https://github.com/goreleaser/goreleaser/releases/tag/v0.83.3

[2018-08-23 12:26] sebastianwebber commented on #774
Hi @caarlos0 , thanks for your help!

I agree with you, i'm having this issues after I change my machine. BTW i'm using this ubuntu through windows 10, that is a problem?

About the versions that you ask:

[code]

Any Ideia about how can we debug this issue?

[2018-08-23 12:33] caarlos0 commented on #774
I'm using the same rpmbuild version and it works fine :/

I don't know how rpmbuild works within linux on windows... maybe you can try the windows build of goreleaser and see how it goes?

[2018-08-24 00:16] mwiora opened #775 "run configuration missing / single project out of multiple go files"
**Describe the bug**

I want to release software that consists out of multiple go files of the same package.
native "go build" can handle this
in GoLand I had to configure the "run kind" from "file" to "directory"

**To Reproduce**

please have a look here on the failure of the build
https://travis-ci.org/mwiora/NAMEinator/builds/419904194

[code]

**Expected behavior**

The build should complete

[2018-08-24 12:14] caarlos0 commented on #775
Hi :D

If you set the `build.main` property to the directory, it should work. https://goreleaser.com/build/
If `go build` works, goreleaser should work as well, as it just calls `go build` underneath.

If that doesn't work, please run goreleaser with `--debug` and paste here both the full output and the contents of `dist/config.yaml` as well.

[2018-08-24 15:26] mwiora commented on #775
hi man ;)

actually the magic was to remove the build-main part.
After removing it, obviously the whole directory was taken under inspection...

I just implemented the full version - delegating the whole process out to travis-ci.

It currently seems very complicated (I still do not understand why one of my test-repos which should build a windows-release-package was only building for linux and darw

[2018-08-24 16:50] caarlos0 commented on #775
to run in debug, you can change the script to `curl -sL https://git.io/goreleaser | bash -s -- --debug` :)

[2018-08-24 16:50] #775 closed

[2018-08-24 21:37] sebastianwebber commented on #774
Apparently, goreleaser has the same problem, see:

![image](https://user-images.githubusercontent.com/2515929/44608548-77cdab80-a7ca-11e8-8a6a-e703d6c70c69.png)

I call it running the commands below:

[code]
Running `rpmbuild` manually, it thows an error:

[code]
Any ideia about how can I debug `rpmbuild`?

Thanks for your help!

[2018-08-25 12:57] caarlos0 commented on #774
Maybe you could run goreleaser with —debug?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-27 14:41] #110 closed

[2018-08-27 17:24] AdamSLevy opened #781 "Error with go generate using go 1.11"
**Describe the bug**

When building with go 1.11 the following error occurs on the go generate step. This occurs regardless of whether the repo is built from inside or outside the GOPATH.

[code]

**To Reproduce**

Install go 1.11. Attempt to build using `make setup build`. You will get the above output when it reaches the go generate step.

**Expected behavior**
It should build the project succes

[2018-08-27 17:31] caarlos0 commented on #781
refs #779

[2018-08-28 16:07] mxk commented on #764
A `go mod download` step may be required before running multiple concurrent builds: https://groups.google.com/forum/#!topic/golang-nuts/HNP3Ry16oVI

I updated my CI/CD configs to do this before running goreleaser, but more people will probably be encountering this problem and it would be nice if goreleaser did this automatically.

I would also suggest adding `-mod=readonly` to the default set of b

[2018-08-28 16:35] caarlos0 commented on #764
that makes sense... documentation will probably require some changes...

[2018-08-30 20:28] bep commented on #705
Hugo really needs this ... I'm in semi-manual build mode at the moment, and that is a pain when we're doing a fair amount of releases.

[2018-08-31 01:01] #701 closed

[2018-08-31 09:49] namreg opened #783 "Issue with dockers pipeline"
**Describe the bug**

`Dockers` pipeline is not working when I run goreleaser in the docker container.
[code]

**To Reproduce**
Try to make a release with something like that command:
[code]
[code]

**Expected behavior**

I expect that goreleaser push built docker images.

**Environment (please complete the following information):**

- OS: mac
- OS version: `Darwin iMac-user.onliner 16.0.0 Darwin

[2018-08-31 12:34] caarlos0 commented on #705
I was thinking in doing something similar to the docker image:

[code]

what do you folks think?

[2018-08-31 12:35] namreg commented on #783
Ohh, I an attentively read the docs. Sorry :(

[2018-08-31 12:36] caarlos0 commented on #783
no problem :)

hopefully in the future somehow we make both docs and the docker thing better (suggestions welcome 🚀 )

[2018-08-31 12:36] caarlos0 commented on #701
is this still a thing @buchanae ?

if yes, we can re-open it... not sure when/if I'll work on it though

[2018-08-31 14:57] bep commented on #705
Not sure. In the "Hugo use case", we have a set of builds producing `hugo` (name of binary), which should be packaged in different archives.

[code]

The above is is the current archive name template. The above works because we have 2 goreleaser config: One with `project_name` `hugo`, one with `hugo_extended`.

The creator of this issue has probably a simpler requirement that fits your outline bet

[2018-08-31 16:20] buchanae commented on #701
I still think it would be nice, but I too am not sure when/if I'll work on it.

[2018-08-31 16:38] caarlos0 commented on #701
will leave the issue closed then, we can reopen at any time, ok?

[2018-08-31 16:39] buchanae commented on #701
roger that

[2018-08-31 16:41] caarlos0 commented on #705
@bep hmm

so, yeah, my example maybe wasn't good, in hugo use case it would look like:

[code]

so, in the end you'll have the `hugo` archives and the `hugo_extended` archives for each build...

[2018-08-31 16:46] bep commented on #705
Ah, OK, then I misunderstood. Yea, that looks good.

[2018-08-31 17:35] tdmanv commented on #705
That also works for our use case. Thanks!

[2018-09-01 19:09] tiger5226 opened #784 "not building windows binary"
**Describe the bug**

https://travis-ci.org/lbryio/chainquery/jobs/423438719#L766

It just skips the windows build even though I have it specified in the  yml
https://github.com/lbryio/chainquery/blob/f1e266727ffcfa37f95d578282d9354a305182b2/.goreleaser.yml#L8

Maybe I am missing something but the https://goreleaser.com/quick-start/ page shows it as I have it. Not sure what I could be doing wrong.

[2018-09-03 11:32] namreg commented on #783
@caarlos0 Hi! I linked the PR to this issue that fixes a problem with `invalid cross-device link.` Let me know what you think about it.

[2018-09-03 20:42] caarlos0 commented on #705
check the WIP on https://github.com/goreleaser/goreleaser/pull/787

[2018-09-04 12:19] #783 closed

[2018-09-04 13:02] caarlos0 commented on #783
Thanks @namreg !

[2018-09-05 00:16] nickatsegment commented on #692
So to confirm, you *must* run `make setup build` to get stringer? That sucks. Can that be added to the install docs? I shouldn't have to find this bug just for basic installation

[2018-09-05 06:55] jbaruch commented on #15
If you can generate 12 more hours a day, that would be it :)

[2018-09-05 12:30] caarlos0 commented on #692
Hi @nickatsegment

It is in the docs: https://goreleaser.com/introduction/

[2018-09-05 12:31] caarlos0 commented on #15
i could not :/

if you know anyone that can do that, please let me know haha

[2018-09-05 16:51] nickatsegment commented on #692
@caarlos0 Oh, I was talking about the `brew` method, which I failed to mention. Sorry for being an ass. :P

[2018-09-05 17:15] caarlos0 commented on #692
brew method is just the brew install... don't need to do anything else...

[2018-09-06 11:42] jbaruch opened #790 "Valid PUT ends up in error"
**Describe the bug**

An HTTP PUT successful with CURL ends up with `error=put: upload failed: getting http response location: http: no Location header in response` in goreleaser

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

Looks like the put is valid in CURL. Should work in Goreleaser as well.

**Environment (please complete the following information):**

-

[2018-09-06 14:56] dmjones opened #792 "Failing to build for darwin_amd64 with numerous "undefined" errors"
**Describe the bug**

I'm trying to release https://github.com/thales-e-security/p11tool using Goreleaser, but it fails to build darwin_amd64. Here is the debug output:

[code]

**To Reproduce**

Steps to reproduce the behavior:

Clone the repo (commit 926230c5c647a3a76afac885855883e1834525c0), then run `goreleaser --snapshot`.

Confile file: see https://github.com/thales-e-security/p11tool/blob/9

[2018-09-10 06:14] errordeveloper commented on #690
/unfreeze

On Sun, 9 Sep 2018, 9:21 am stale[bot], <notifications@github.com> wrote:

[2018-09-10 12:09] caarlos0 commented on #790
fixed on #794

[2018-09-10 15:33] jbaruch commented on #15
It is half-solved by #791, but won't it be wonderful to have a proper DSL for it.

[2018-09-10 17:49] caarlos0 commented on #15
what do you mean by proper DSL?

[2018-09-10 22:20] sungwoncho opened #795 "Cannot compile with a cgo package"
**Describe the bug**

Compiling with a cgo package succeeds with `go build` but fails when done through goreleaser.

**To Reproduce**

[This repo](https://github.com/sungwoncho/goreleaser-issue) contains a minimal reproduction.

**Expected behavior**

Goreleaser should compile if passed the same arguments and flags that are passed to `go build`

**Environment (please complete the following informa

[2018-09-11 02:40] jeffreystoke opened #796 "template support for goos and goarch"
**Is your feature request related to a problem? Please describe.**

I was trying to start a native build with CGO_ENABLED=1, and cross build with CGO_ENABLED=0, so I wrote the config like this

[code]

then I started build as

[code]

but the output (build section)

[code]

suggests the template not being replaced.

**Describe the solution you'd like**

Support environment variables (template) for

[2018-09-11 11:44] caarlos0 commented on #796
yeap, that field is not templateable...

[2018-09-11 15:13] wburningham commented on #110
@caarlos0 I started down the path of adding GitLab support. Adding a `client/gitlab.go` file is the easy part.
More complexity comes when `pipeline/release/release.go`, `pipeline/brew/brew.go`, and `pipeline/scoop/scoop.go` reference `GitHub` variables on the context/config.

Is there a _strong_ desire to support releasing to both GitHub **_and_** GitLab? The code could be simplified if the assump

[2018-09-11 15:29] joerocklin commented on #110
@wburningham This is what I was [trying to ask](https://github.com/goreleaser/goreleaser/issues/110#issuecomment-393485474) but didn't do a very good job. I don't see a lot of value in deploying to github **and** gitlab in the same release config. My use would be satisfied by releasing to one or the other in a single config.

[2018-09-11 15:34] wburningham commented on #110
My use case would also be satisfied if it released to one or the other in a single config. I don't know why you would send to both if homebrew or scoop only reference one source for downloads.

[2018-09-11 16:54] caarlos0 commented on #110
Yeah, I guess that makes sense as well... if people ask for it, we may change it later...

[2018-09-11 17:08] jbaruch commented on #790
It still fails intermediately on 0.85.2:

[code]

[2018-09-11 19:32] caarlos0 commented on #790
uh :/

maybe we should print the body when we err (at least)?

[2018-09-11 20:08] sungwoncho commented on #795
Thanks for the clarification.

[2018-09-11 20:11] caarlos0 commented on #795
No problem, sorry it doesnt work in your case :/

[2018-09-12 12:31] caarlos0 commented on #754
oh, yes, thanks!

[2018-09-12 12:32] #754 closed

[2018-09-12 18:49] caarlos0 commented on #774
last release have the verbose output of rpmbuilld on errors... can you try again?

[2018-09-13 23:49] lalloni commented on #790
Does goreleaser have some kind of verbose mode in which we can print all http requests being made and http responses being received?
In this case, it would be useful to compare the request you make with curl versus the one made by goreleaser.

hey @jbaruch any easy way to reproduce against bintray without too much setting up?

[2018-09-14 00:07] lalloni opened #799 "Disable "release" pipeline by default"
For goreleaser users which doesn't publish releases to github its against the tool that we need to disable the "release" pipeline in all projects. To make things worst the pipeline is named "release" and in the config file you end up reading "disable releases" which is not intuitive at all.

It would be nice if the release pipeline would be disabled by default as other pipelines are and get enable

[2018-09-14 13:36] caarlos0 commented on #790
@jbaruch can you verify again with the latest version and the `--debug` flag?

[2018-09-14 13:46] caarlos0 commented on #799
I understand the motivation, but most people use releases, and.. at this point, changing that would be confusing.

Versioning could be a good idea, but it also requires us to keep several documentation versions...

I rather not do this now.

Once v1 is out, we can re-think on a lot of things for v2 (already have some ideas).

Will close for now :)

Thanks!

[2018-09-14 13:46] #799 closed

[2018-09-14 13:51] caarlos0 commented on #781
refs https://github.com/golang/go/issues/24661

also check https://go-review.googlesource.com/c/tools/+/126535

[2018-09-14 20:53] jbaruch commented on #15
YAML config, like for Artifactory.

[2018-09-14 20:56] jbaruch commented on #790
Looks the same, and the `--debug` flag doesn't provide much info:
[code]

[2018-09-14 21:04] caarlos0 commented on #15
hmm, we can do it, yes... I don't have exp with bintray... are you interested in taking over this part?

[2018-09-15 20:57] lalloni commented on #790
Hey @jbaruch if you can provide some simple way of reproducing this I can check it out.

My guess is that possibly bintray requires more headers than provided (probably `Content-Type`).

Does your curl test case includes a  `Content-Type` header?

Can you please paste here the full output of the curl command you execute (with the -v flag) to upload successfuly?

[2018-09-15 21:30] caarlos0 commented on #790
Thanks @lalloni !

@jbaruch we can also add more debug info once we have a better idea of what's missing...

[2018-09-16 16:49] fsouza opened #801 "Getting "fatal: Invalid object name 'warning'." trying to release"
**Describe the bug**

I'm probably doing something wrong :) I recently upgraded the version of goreleaser and I'm seeing this error now. Output of ``--debug``:

[code]

**To Reproduce**

Repo is here: https://github.com/fsouza/s3-upload-proxy

**Expected behavior**

Get a release :D

**Environment (please complete the following information):**

- OS version: Darwin xikinbook 17.7.0 Darwin Kernel V

[2018-09-16 16:57] fsouza commented on #801
This was a problem in my environment after renaming a tag, never mind x)

[2018-09-16 16:57] #801 closed

[2018-09-16 17:27] caarlos0 commented on #801
np :)

[2018-09-17 00:46] caarlos0 commented on #781
should be fixed by #802

[2018-09-17 00:46] #781 closed

[2018-09-17 10:40] iwittkau opened #803 "HTTP PUT is not executed"
**Describe the bug**

I'm trying to send binaries to a local [`hoarder`](https://github.com/nanopack/hoarder) instance.

Without a `PUT_HOARDER_SECRET` environment variable `goreleaser` complains:

[code]

But if I set the variable the output looks like this (`--debug` flag provided):

[code]

It just does nothing. There is no request sent to the http server. I even implemented a simple http-serve

[2018-09-17 11:00] iwittkau commented on #803
I checked out c3a6c3f40d1a80bcad14ae4c6e142fc613c9da10 (mentioned in #790), built it via `make`, there is no debug output.

[code]

still

[code]

[2018-09-17 12:32] iwittkau commented on #803
Looking deeper into this: uploading archives works but the filter https://github.com/goreleaser/goreleaser/blob/master/internal/http/http.go#L142 does not seem to work.

[2018-09-17 13:54] caarlos0 commented on #803
can you provide the full config file and full output with `--debug`? can be in a gist if you prefer :)

[2018-09-17 14:55] iwittkau commented on #803
Here is my `.goreleaser.yml`

[code]

And the full output:

[code]

[2018-09-18 14:17] caarlos0 commented on #803
latest has more logs, can you try it out?

[2018-09-18 14:40] iwittkau commented on #803
Here you go:

[code]

[2018-09-18 16:35] caarlos0 commented on #803
hmm this seems to be the issue... that's odd.. is the project OSS? I would like to take a closer look...

[2018-09-18 17:52] theganyo opened #806 "Any tags that are non-semantic break goreleaser"
I see this error when I add any tag that is not a semantic version:

[code]

This happens even if I'm using the `--snapshot` or `--skip-publish` options.

[2018-09-18 17:58] caarlos0 commented on #806
yes, this is in the docs: https://goreleaser.com/semver/

[2018-09-18 17:58] #806 closed

[2018-09-18 18:31] caarlos0 commented on #806
hmm, this happens if your last tag is not semver. The snapshot name template supports `.Minor`, `.Major` and other fields, that's why it breaks.

This will probably be rework on #782.

Feedback wellcome on that issue BTW.

[2018-09-19 06:28] iwittkau commented on #803
This is a very simple test project, I have invited you as a collaborator.

[2018-09-19 14:00] caarlos0 commented on #803
ok, thanks :)

[2018-09-19 14:09] caarlos0 commented on #803
Oh, found the problem.

You need to set your archive to `binary`:

[code]

then it works.

The reason is that the Put pipe will search for `UploadableBinaries` - which is a binary enhanced by the archive pipe and marked for upload. So, that's it...

With multiple archive (#787) we will be able to have binaries and archives - probably...

[2018-09-19 14:12] caarlos0 opened #807 "Road to v1.0.0"
So, I think it is time we can start to plan v1.0.0.

What I have in mind so far is:

- [x] Support multiple archives
- [x] Clarify snapshots
- [x] Monorepo support with tag prefixes ( #723 )
- [x] split the build/packaging from the publishing phase (#816)
- [x] gitlab support ( #1038 )
- [x] wasm builds ( #1017 )

I think that once this is done and we are stable for a couple of weeks, we can cut t

[2018-09-20 19:15] kamilsk opened #810 "How to correct pass build flags (-tags)?"
**Describe the bug**

I see the documentation https://github.com/goreleaser/goreleaser/blob/master/www/content/build.md related to flags

[code]

But I take an error: `flag provided but not defined: -tags ctl
usage: go build [-o output] [-i] [build flags] [packages]` when I use it.

**To Reproduce**

Steps to reproduce the behavior:

Job: https://travis-ci.org/kamilsk/guard/jobs/431173245
Build de

[2018-09-20 20:08] kamilsk commented on #810
ok, I got it

[code]

[code]

Possible solutions:
- split by space
- add better example to the docs: `- -tags='your awesome tag'`

[2018-09-20 20:43] caarlos0 commented on #810
yeah, I think we need to fix the docs :D

Thanks for reporting!

[2018-09-20 20:44] #810 closed

[2018-09-20 20:45] kamilsk commented on #810
Wow! So fast! 🥇

Thank you @caarlos0

[2018-09-21 04:16] wburningham commented on #752
Just checking in on this. Is there anything wrong with the PR?

[2018-09-21 08:29] wayneashleyberry commented on #752
not quite sure why I was tagged in this issue, perhaps a typo?

[2018-09-21 12:46] caarlos0 commented on #752
just wanted feedback if that was what you needed...

[2018-09-21 12:46] caarlos0 commented on #752
sorry, probably yes :/

[2018-09-22 14:41] caarlos0 commented on #667
we probably could yeah, but I'm not there yet :/

[2018-09-22 19:10] caarlos0 commented on #350
I think this is fixed right?

[2018-09-24 13:59] iwittkau commented on #803
Ok, thanks!

[2018-09-24 13:59] #803 closed

[2018-09-26 14:39] #717 closed

[2018-09-30 14:04] caarlos0 commented on #740
not stale

[2018-10-01 17:03] caalberts opened #812 "Sort changelog by commit timestamp"
**Is your feature request related to a problem? Please describe.**
Currently the changelog is sorted alphabetically, in either direction based on the option.
Given that each row of the changelog starts with the commit hash, it's a learned behaviour to expect the commit hashes to be chronological, either newest first or oldest first.

**Describe the solution you'd like**
A changelog sort option to

[2018-10-01 19:52] #752 closed

[2018-10-01 19:52] caarlos0 commented on #752
merged, will be on next release.

[2018-10-01 19:53] #350 closed

[2018-10-01 21:41] tomascaslo commented on #812
I'd like to work on this.

[2018-10-02 00:49] caarlos0 commented on #812
awesome, let me know if you need anything =D

[2018-10-02 04:28] docwhat opened #813 "Add docker label-schema.org support"
It would be nice if the `dockers` section would have support either for arbitrary `docker build` flags, or explicit support for <http://label-schema.org/rc1/> (or both).

One example might be something like:

[code]

You get the idea.

[2018-10-02 04:35] docwhat opened #814 "Add description (and use it with dockers and github releases)"
Add a `description` to `.goreleaser.yml` that would be used to:

- Update the github repository (if using github releases).
- Update the "Short Description" on docker hub.

Related: Add ability to upload a file (e.g. `README.md`) as the docker hub's "Full Description".

[2018-10-02 12:55] caalberts commented on #813
i'd like to give this a shot

[2018-10-02 13:03] caarlos0 commented on #813
Great! Let me know if you need any help :)

[2018-10-02 13:43] caalberts commented on #813
I'd like to break this down a little bit more. There are 2 different sets of requirements here:
1. support arbitrary `docker build` flags (including any label)
2. support labels following label-schema convention.

The first can simply be `build-flags` as suggested. For the second, I'm thinking of a separate property `label-schema`, which makes it easier to validate the presence of `schema-version`

[2018-10-02 13:57] docwhat commented on #813
I like! In theory, just the `build-flags` are needed.

[2018-10-02 13:59] caarlos0 commented on #813
Yeah, I think we can keep just the build flags, with template support, and that's it...

If we add both, we'll have to deal with possible duplicated flags and things like that...

[2018-10-02 13:59] docwhat commented on #813
Yup.

[2018-10-02 14:04] caalberts commented on #813
👍

[2018-10-02 17:20] andscoop opened #817 "Goreleaser pushes full Changelog when using release-branch pattern"
**Describe the bug**

We are using go releaser in our https://github.com/astronomerio/astro-cli project. We recently moved into a pattern of using release branches. This means that every major release gets a new release branch and a new tag/release. Every minor and patch release get tags/releases cut against the major release branch.

This has resulted in the entire commit history being publishes

[2018-10-02 17:56] caarlos0 commented on #817
yeah, this was never tested...

[2018-10-03 13:51] caarlos0 commented on #813
fixed on #819

[2018-10-03 13:51] #813 closed

[2018-10-03 20:28] docwhat opened #820 "New Template Variables"
Some ideas for some templates:

- `.ShortCommit`: The short form of the commit.
- `.FullCommit`: The full form of the commit.
- `.Commit`: This will remain the same as it is now.
- `.GitUri`: The URI to the git repository.

Ciao!

[2018-10-03 20:30] caarlos0 commented on #820
I like the Short and Full commit... not sure how GitURI would be useful though...

[2018-10-03 20:34] caarlos0 commented on #820
about short/full commits, we have an option called `short_hash`. Will mark it as deprecated as having both Hashes is probably more elegant.

[2018-10-03 20:49] docwhat commented on #820
With the new ability to set docker container labels (see #813) we have a need for setting the GitUri (the `vcs-url` [schema-label](http://label-schema.org/rc1/)).

[2018-10-03 20:52] caarlos0 commented on #820
so, `git remote get-url origin`?

[2018-10-03 21:20] docwhat commented on #820
Close.  To use what you have above, you'd have to know the name of the remote (e.g., `origin`).

This should work better:  `git ls-remote --get-url`

[2018-10-05 00:18] conradwt opened #823 "make: brew: No such file or directory"
**Describe the bug**

Homebrew isn't installed but I have `dep` installed via `go get`

[code]

**To Reproduce**

[code]

I received the following error:

[code]

[code]

**Expected behavior**

Complete without error.

**Environment (please complete the following information):**

- OS: [e.g. mac, linux]

macOS 10.14.1

- OS version: [uname -a]
N/A

- GoReleaser Version [goreleaser --version]

[cod

[2018-10-05 01:35] caarlos0 commented on #823
this will be auto fixed on #779

[2018-10-05 02:37] docwhat commented on #820
You’re being too fast. 🙃😃

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 12:16] caarlos0 opened #827 "refactory: split packaging from publishing"
this is the general idea I have for splitting the publishing part.

---

What we gain with that:

- all the skip publish logic can be done in a single place
- we can have better error handling (packaging vs publishing)

The general idea is:

- artifact types will be basically duplicated (prefixed with something that tells that they can be published)
- the Pipes will be split between building the t

[2018-10-05 17:42] flyinprogrammer opened #832 "Docker build + multiple registries."
**Is your feature request related to a problem? Please describe.**

We build 1 container with the same content, and tags, but we have to publish it to more than 1 registry. Today that involves creating more than 1 docker block, and then that means I loose sane defaults:  https://github.com/goreleaser/goreleaser/blob/master/internal/pipe/docker/docker.go#L47

**Describe the solution you'd like**

I

[2018-10-06 13:33] caalberts commented on #827
@caarlos0 i'd like to jump in on docker, since I recently worked on it and have a pretty decent understanding of that. Perhaps once you have the package pipe set up, I could work on refactoring the docker pipe.

[2018-10-06 14:41] caalberts opened #834 "Test docker using docker in docker"
The docker tests currently push to the local Docker registry. When some tests fail, the images might remain in the registry, instead of being cleaned up.

Having test registries running locally, using something like [Docker in Docker](https://hub.docker.com/_/docker/), that would be removed after tests, might be a better approach.

This will also help in testing #832.

If you think this is a good

[2018-10-06 14:46] caalberts commented on #832
I could give this a shot, taking #834 approach to test it.

[2018-10-07 01:07] caarlos0 commented on #812
yeah, also not sure... IMHO, we can just don't do anything for now...

[2018-10-08 18:14] blacktop opened #835 "macOS codesign step"
I know you have a **signing** step for PGP signing, but Littlesnitch is becoming really annoying with non-codesigned binaries.  So I thought it would be cool to have a step or config for the signing step to using the `codesign` binary and sign go binaries with your identity etc etc

I suppose I could just use the **signing** `cmd` to do it, but thought there might be a more elegant smoothe implime

[2018-10-09 21:06] kb18951452 opened #836 "Archive contains duplicates of the binary."
**Describe the bug**

The archive contains multiple copies of the build binary.

**To Reproduce**

Run `goreleaser`
Run `unzip -l [archive.zip]`
Note multiple copies of binary

[code]

**Expected behavior**

A single copy of binary contained in [archive.zip]

**Environment (please complete the following information):**

- OS: mac
- OS version: ```Darwin kenneth-mac 17.7.0 Darwin Kernel Version 17.

[2018-10-09 21:07] frankreno commented on #836
Perhaps a regression from this issue? - https://github.com/goreleaser/goreleaser/issues/521#issuecomment-359254396

[2018-10-10 03:32] caarlos0 commented on #836
hmm, maybe...

can you run it with `--verbose`? you can also add `--skip-validate --skip-publish` to do a "local" release...

[2018-10-10 04:09] caarlos0 commented on #835
Hi!

Thanks for the kind word 😬

So, the sign pipe is supposed to be generic enough so it could be used with different signing mecanisms (and versions of them)... if you pull that off, though, it would be great if we could add examples to the documentation :D

I never used `codesign`, so no idea how to make it work haha

[2018-10-10 15:43] frankreno commented on #836
Below are the zips that contain the duplication:

sumologic-terraform-provider_0.1.1_Linux_32-bit.zip - 4 files

[2018-10-10 15:59] caarlos0 commented on #836
weird...

I just checked the latest goreleaser windows zip files and they are OK.

will check your repo locally, give me a moment

[2018-10-10 16:00] caarlos0 commented on #836
yeah, confirmed, it happens :O

[2018-10-10 16:05] frankreno commented on #836
At least we did not make a silly mistake ;)

[2018-10-10 16:08] caarlos0 commented on #836
hah, just found the problem haha

[2018-10-10 16:11] caarlos0 commented on #836
https://github.com/SumoLogic/sumologic-terraform-provider/pull/8

sorry to say, but actually is a silly mistake on the yaml file

[2018-10-10 16:13] frankreno commented on #836
doh! thank you for the help sorry for the false alarm. Ill get that merged and re-release!

[2018-10-10 16:16] caarlos0 commented on #836
I'm adding more logs to make thins smoother anyway :D

thanks!

[2018-10-10 16:18] caarlos0 commented on #834
hmm, doesnt seem to be a bad idea... but maybe its simpler to just kill and start the registry again for every test? (or just wipe it clean)

[2018-10-10 16:21] caarlos0 commented on #836
still, probably we need to "block" adding the same binary twice

[2018-10-10 16:39] caarlos0 commented on #836
@kb18951452 your config has the same errors hehe -> SumoLogic/sumologic-terraform-provider#8

anything we could make clearer on docs as well to avoid this?

[2018-10-10 17:20] frankreno commented on #836
@kb18951452 and I work on the same repo so it was the same issue :) we are just tag teaming the issue

[2018-10-10 18:02] caarlos0 commented on #836
Haha that explains why the files are equal haha

[2018-10-11 04:47] daehyeok commented on #641
@caarlos0  Are you willing to add this feature to goreleaser and nfpm? then i will trying :)

[2018-10-11 10:21] soupdiver commented on #667
I'm interested in helping out here as well. I'm currently in need of this feature.
At the moment we can define `prerelease` `true` or `false`. An option like `auto` could be used to tell `goreleaser` should determine this by itself and check if there is `rc`, `alpha` or whatever appended to the tag.

This should also be quite easy to implement and not break older versions.
Opinions on that?

[2018-10-11 11:48] caarlos0 commented on #641
we won't generate an actual package right? as fas as I know, the PKGBUILD is kind of a shell script...

That being said, I vote to do that on goreleaser itself...

I don't know, though, how to publish an AUR package and how complex it is...

[2018-10-11 17:44] cjbassi commented on #641
Yah a PKGBUILD is just a shell script.

The AUR is a git repository host, with the git repositories being the packages. In our case, the package would just include a PKGBUILD and a .SRCINFO file which is just a more easily parseable PKGBUILD. A .SRCINFO file is generated on Arch Linux with `makepkg --printsrcinfo > .SRCINFO` while in a folder with a PKGBUILD, although it shouldn't be difficult to

[2018-10-12 14:31] FredrikFolkesson opened #839 "Dry-run /non publishing run."
Hi!

Maybe I am just missing it in the docs, but I would like to try and run goreleaser as a "dry run" to just create the archives but not actually upload them to GitHub.

(I would like to run the tool and check that the output is how I want it before running it live as part of our CI pipeline)

[2018-10-12 16:32] caarlos0 commented on #839
`--skip-validate --skip-publish`  should do the trick..

[2018-10-12 20:29] caarlos0 commented on #827
@caalberts sure!

check https://github.com/goreleaser/goreleaser/pull/816, there is some work there already :D

[2018-10-13 07:28] #834 closed

[2018-10-15 13:33] caarlos0 commented on #839
possibly, yes! haha

[2018-10-17 03:41] #839 closed

[2018-10-19 13:47] cloudrkt commented on #724
Just ran into the same issue. Your token needs to acces public repo's.

[2018-10-20 16:15] caarlos0 commented on #832
fixed on #840!

[2018-10-20 16:15] #832 closed

[2018-10-20 16:16] caarlos0 commented on #774
closing due to lack of responses...

[2018-10-20 16:16] #774 closed

[2018-10-20 20:36] caarlos0 commented on #500
For now, I think we can keep using git. Most issues with it were fixed, and go-git doesn't support getting the tags in order as we need.

Snapcraft and docker we just can't get rid AFAIK.

So, let's close it 🤷‍♂️

[2018-10-20 20:36] #500 closed

[2018-10-20 20:38] #823 closed

[2018-10-21 20:00] caarlos0 commented on #814
I think this are one-time configs and have nothing to do with the release process itself.

[2018-10-21 20:00] #814 closed

[2018-10-21 20:04] caarlos0 commented on #836
so, the issue was in the config file.

will close this

[2018-10-21 20:04] #836 closed

[2018-10-24 14:11] caarlos0 opened #845 "improve log output"
When the publish pipe runs, some of the publishers descriptions start with `creating `, which makes the output weird.

We should probably drop those `creating ` prefixes.

We should also find a way to make it clearer that some logs are part of one step, eg:

[code]

its clear that `releasing to s3` and etc are under `publishing artifacts`, but it may not be clear that where on publisher starts or

[2018-10-24 14:14] caarlos0 opened #846 "docker images are not listed in the release notes anymore"
**Describe the bug**

Once upon a time we listed the published docker images within changelog:
![image](https://user-images.githubusercontent.com/245435/47436875-c45b4600-d77d-11e8-9d1d-52bf83a57d78.png)

Since v0.90.0 it stopped working, probably due to the publishing (#827) refactory.

**To Reproduce**

Just release a project with docker images.

**Expected behavior**

Same as before

[2018-10-24 18:18] jonathanlloyd commented on #846
I'd like to take a look at this :slightly_smiling_face:

[2018-10-24 18:48] caarlos0 commented on #846
Great, please go ahead! :D

[2018-10-25 13:13] #846 closed

[2018-10-25 16:36] V1shvesh commented on #845
Can I help out?

[2018-10-25 16:47] caarlos0 commented on #845
sore, at least the `creating` prefix is a low hanging fruit :)

the other part I'm not sure how to solve yet... ideas appreciated! :D

[2018-10-26 10:54] tcurdt commented on #827
I think `gorelease` is a fantastic effort - but it feels it does too many things at once. That's how I found this issue. In fact I would rather split it into three: build, package, upload.

[2018-10-26 17:07] julio-garcia-fc commented on #845
I would like to help here, but I have a few questions:

1. I am seeing problems on mac when run `make ci` or `make test`
2. Do you mean that `creating Docker images` should change to `Docker images`?
3. It seems like `creating or updating ...` should not change?

Can you clarify?

[2018-10-26 18:09] caarlos0 commented on #845
Hi, `make test` may fail, yes, it depends on several tools right now (gpg, docker, etc). You can run `make test -e SOURCE_FILES=./foo/bar/...` if you want to test only the package `foo/bar` for example. `make lint` should work though.

About the logs, yes, for now we can just remove the `creating` prefixes and leave only things like `Docker Images`, `S3`, etc..

[2018-10-27 02:59] fsouza opened #854 "`brew upgrade` fails because binary distribution isn't available for 0.91.3"
**Describe the bug**

brew upgrade fails with the following message:

[code]

[2018-10-27 16:37] #845 closed

[2018-10-27 16:39] caarlos0 commented on #854
my bad, changed the snap password and forgot to update the file here, broke things :/

fixed the file and also added a fix to prevent that from happening in the future.

next release should be good.

[2018-10-27 16:39] #854 closed

[2018-10-27 16:39] caarlos0 commented on #854
thanks for reporting TBW :)

[2018-10-28 17:12] #773 closed

[2018-10-28 23:56] akavel opened #856 "Don't overwrite published release notes by default"
**Describe the bug**

I had a release already done on github. I wanted to test goreleaser, to upload a homebrew package. I created a basic .yml and tried to run `goreleaser release`. I didn't set `release: disable: true`, because I didn't know about it yet. Running goreleaser deleted my old release notes, replacing them with a changelog. Now I don't know how to restore my old release notes, which

[2018-10-31 01:09] caarlos0 commented on #690
I still don't know a good way of implementing this :/

[2018-10-31 02:15] caarlos0 commented on #764
everything works fine.

let's also migrate goreleaser to use vgo in its own build.

[2018-10-31 02:50] #764 closed

[2018-10-31 10:48] requilence commented on #557
@caarlos0 We are using CircleCI with goreleaser, and sometimes it has network problems when uploading artefacts to Github. So goreleaser uploaded only part of files and exits, [here is an example](https://circleci.com/gh/cloudradar-monitoring/cagent/189)
Then I can't use the **Rerun** button in the CIrcleCI, because of gorelease returns  `already_exist`

I understand that it is a bad practice to o

[2018-10-31 11:51] soupdiver commented on #667
ping @caarlos0

[2018-11-01 14:31] MikeChou opened #861 "Disabling "release" pipe empties the git-inferred project name"
**Describe the bug**
Disabling "release" pipe empties the git-inferred project name:
1. `{{.ProjectName}}` will be empty.
2. NFPM will fail complaining about the empty package name

log sample:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. do not set `project_name` in `.goreleaser.yml`
2. add `disable: true` under `release`
3. run goreleaser

[code]

**Expected behavior**
`ProjectNa

[2018-11-03 11:59] sidh commented on #807
Monorepo support would be welcome.

[2018-11-03 18:37] #861 closed

[2018-11-05 18:24] threkk opened #863 "Artifacts cannot be extracted"
**Describe the bug**

Before publishing my release, I wanted to test the files. Every time I try to extract the binaries, I get the following error:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. `goreleaser release --rm-dist --skip-publish`
2. `tar -xzf dist/*.tar.gz`

[code]

**Expected behavior**

The binary should be extracted without errors.

**Environment (please complete the